Repository hut8/soar: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-install-deps, web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test, cargo-audit

web-install-deps:
  name: Install web dependencies
  entry: bash -c 'cd web && npm ci'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-format:
  name: Auto-fix web formatting (Prettier)
  entry: bash -c 'cd web && npm run format'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-lint:
  name: Run web linter (ESLint + Prettier check)
  entry: bash -c 'cd web && npm run lint'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-type-check:
  name: Run web type checking
  entry: bash -c 'cd web && npm run check'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-test:
  name: Run web tests (Playwright E2E)
  entry: bash -c 'cd web && npm test'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

web-build:
  name: Build web project
  entry: bash -c 'cd web && npm run build'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

rust-fmt:
  name: Auto-fix Rust formatting
  entry: cargo fmt
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

rust-clippy:
  name: Run Clippy
  entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo clippy --all-targets --all-features -- -D warnings'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

rust-test:
  name: Run Rust tests
  entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo test'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

cargo-audit:
  name: Run security audit
  entry: cargo audit
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

feat: add device title display and backend aircraft type filtering (#326)
  src/actions/devices.rs
  src/device_repo.rs
  web/src/lib/components/DeviceTile.svelte
  web/src/lib/formatters.ts
  web/src/routes/devices/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

perf: eliminate redundant fix queries in flight completion (#325)
  src/actions/flights.rs
  src/flight_tracker/flight_lifecycle.rs
  src/flights.rs
Due: rust-fmt, rust-clippy, rust-test

fix: add missing airport_ident to clubs query using Diesel
  src/clubs_repo.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add APRS type suppression to reduce database load
  soar-run.service
  src/commands/run.rs
  src/fix_processor.rs
  src/main.rs
Due: rust-fmt, rust-clippy, rust-test

fix: resolve build errors and a11y warnings in full-screen flight map
  web/src/routes/clubs/[id]/pilots/+page.svelte
  web/src/routes/flights/[id]/map/+layout.svelte
  web/src/routes/profile/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

feat: Full-screen flight map with smaller directional arrows (#324)
  web/src/routes/clubs/[id]/pilots/+page.svelte
  web/src/routes/flights/[id]/+page.svelte
  web/src/routes/flights/[id]/map/+layout.svelte
  web/src/routes/flights/[id]/map/+page.svelte
  web/src/routes/flights/[id]/map/+page.ts
  web/src/routes/profile/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: add missing airport_ident to clubs query using Diesel (#327)
  src/clubs_repo.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add APRS type suppression to reduce database load (#328)
  soar-run.service
  src/commands/run.rs
  src/fix_processor.rs
  src/main.rs
Due: rust-fmt, rust-clippy, rust-test

fix: downgrade WebSocket connection reset errors to info level
  src/actions/fixes.rs
Due: rust-fmt, rust-clippy, rust-test

fix: downgrade WebSocket connection reset errors to info level (#329)
  src/actions/fixes.rs
Due: rust-fmt, rust-clippy, rust-test

fix: correct flight detail map layout and positioning
  web/src/routes/flights/[id]/map/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

perf: optimize flight polling to fetch only new fixes
  src/actions/flights.rs
  web/src/routes/flights/[id]/+page.svelte
  web/src/routes/flights/[id]/map/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

refactor: separate device data from flight endpoint to reduce redundancy
  src/actions/flights.rs
  src/web.rs
  web/src/routes/flights/[id]/+page.svelte
  web/src/routes/flights/[id]/+page.ts
  web/src/routes/flights/[id]/map/+page.svelte
  web/src/routes/flights/[id]/map/+page.ts
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

fix: treat flights starting <100ft AGL as takeoff, not airborne
  src/flight_tracker/state_transitions.rs
Due: rust-fmt, rust-clippy, rust-test

fix: restore raw APRS message display in device fixes
  src/actions/devices.rs
  src/fixes_repo.rs
  web/src/routes/devices/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

chore: improve logging levels and detail
  src/commands/run.rs
  src/flight_tracker/state_transitions.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add receiver display with bounding box on operations and flight details pages
  web/src/lib/components/SettingsModal.svelte
  web/src/routes/flights/[id]/+page.svelte
  web/src/routes/operations/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

refactor: move Receiver interface to shared types file
  web/src/lib/types/index.ts
  web/src/routes/flights/[id]/+page.svelte
  web/src/routes/operations/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: extract US registrations from ICAO addresses using flydent library
  CLAUDE.md
  src/device_repo.rs
  src/devices.rs
Due: rust-fmt, rust-clippy, rust-test

feat: enhance receiver markers with validation, links, and dark mode
  web/src/routes/flights/[id]/+page.svelte
  web/src/routes/operations/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: ensure timers always start after deployment and remove duplicate schedule
  infrastructure/soar-deploy
  soar-pull-data.timer
Due: none

fix: ensure timers always start after deployment and remove duplicate schedule (#336)
  infrastructure/soar-deploy
  soar-pull-data.timer
Due: none

fix: add missing home_base_airport_ident column in club query
  src/clubs_repo.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add comprehensive database backup system with point-in-time recovery
  BACKUP-QUICKSTART.md
  DB-BACKUPS.md
  backup-env.example
  scripts/backup/backup-verify
  scripts/backup/base-backup
  scripts/backup/restore
  scripts/backup/wal-archive
  soar-backup-base.service
  soar-backup-base.timer
  soar-backup-verify.service
  soar-backup-verify.timer
Due: none

refactor: migrate backup system from AWS CLI to rclone for Wasabi
  backup-env.example
  rclone.conf.example
  scripts/backup/backup-verify
  scripts/backup/base-backup
  scripts/backup/restore
  scripts/backup/wal-archive
Due: none

fix: initialize altitudeChartInitialized flag on flight detail page
  web/src/routes/flights/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

feat: add navigation links from device list to map and flights
  web/src/lib/components/DeviceTile.svelte
  web/src/routes/operations/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

feat: implement bi-weekly backups with smart 3-week retention and upgrade to PostgreSQL 17
  backup-env.example
  rclone.conf.example
  scripts/backup/base-backup
  soar-backup-base.timer
Due: none

fix: align base backup and WAL retention to 30 days to prevent orphaned WAL files
  backup-env.example
Due: none

feat: simplify backup schedule to 1st and 15th of month and integrate with deployment script
  infrastructure/soar-deploy
  soar-backup-base.timer
Due: none

feat: add latest fix location and active flight to device API
  src/actions/devices.rs
  src/actions/views/aircraft.rs
  src/device_repo.rs
  web/src/lib/components/DeviceTile.svelte
  web/src/lib/types/index.ts
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

refactor: install backup scripts directly to /usr/local/bin instead of /scripts
  BACKUP-QUICKSTART.md
  infrastructure/soar-deploy
  soar-backup-base.service
  soar-backup-verify.service
Due: none

feat: optimize flight map rendering and redesign aircraft type filter
  web/src/routes/devices/+page.svelte
  web/src/routes/flights/[id]/+page.svelte
  web/src/routes/flights/[id]/map/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

docs: remove all AWS CLI references and replace with rclone commands
  BACKUP-QUICKSTART.md
  DB-BACKUPS.md
  backup-env.example
Due: none

refactor: replace tokio mpsc with flume and improve elevation queue
  src/actions/fixes.rs
  src/fix_processor.rs
  src/queue_config.rs
Due: rust-fmt, rust-clippy, rust-test

feat: improve flight map UI and reduce arrow clutter
  web/src/routes/flights/[id]/+page.svelte
  web/src/routes/flights/[id]/map/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

feat: improve full-screen flight map layout and controls
  web/src/routes/+layout.svelte
  web/src/routes/flights/[id]/+page.svelte
  web/src/routes/flights/[id]/map/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

feat: refactor flight profile chart into reusable component
  web/src/lib/components/FlightProfile.svelte
  web/src/routes/flights/[id]/+page.svelte
  web/src/routes/flights/[id]/map/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

style: left-align Flight Profile heading
  web/src/routes/flights/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

feat: add orange hover marker on map for flight profile sync
  web/src/routes/flights/[id]/+page.svelte
  web/src/routes/flights/[id]/map/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Path conditions:
  web-install-deps: any of: ^web/(package\.json|package-lock\.json)$
  web-format: any of: ^web/.*\.(js|ts|svelte)$
  web-lint: any of: ^web/.*\.(js|ts|svelte)$
  web-type-check: any of: ^web/.*\.(js|ts|svelte)$
  web-test: any of: ^web/.*\.(js|ts|svelte)$
  web-build: any of: ^web/.*\.(js|ts|svelte)$
  rust-fmt: any of: \.rs$
  rust-clippy: any of: \.rs$
  rust-test: any of: \.rs$
  cargo-audit: any of: ^(Cargo\.toml|Cargo\.lock)$
