Repository hut8/soar: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-install-deps, web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test, cargo-audit

web-install-deps:
  name: Install web dependencies
  entry: bash -c 'cd web && npm ci'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-format:
  name: Auto-fix web formatting (Prettier)
  entry: bash -c 'cd web && npm run format'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-lint:
  name: Run web linter (ESLint + Prettier check)
  entry: bash -c 'cd web && npm run lint'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-type-check:
  name: Run web type checking
  entry: bash -c 'cd web && npm run check'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-test:
  name: Run web tests (Playwright E2E)
  entry: bash -c 'cd web && npm test'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

web-build:
  name: Build web project
  entry: bash -c 'cd web && npm run build'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

rust-fmt:
  name: Auto-fix Rust formatting
  entry: cargo fmt
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

rust-clippy:
  name: Run Clippy
  entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo clippy --all-targets --all-features -- -D warnings'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

rust-test:
  name: Run Rust tests
  entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo test'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

cargo-audit:
  name: Run security audit
  entry: cargo audit
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

feat: add CPU profiling and performance optimization for soar-run
  Cargo.lock
  Cargo.toml
  infrastructure/grafana-dashboard.json
  src/flight_tracker/mod.rs
  src/flight_tracker/utils.rs
  src/main.rs
  src/metrics.rs
Due: rust-fmt, rust-clippy, rust-test, cargo-audit

fix: improve flights API pagination and completeness
  Cargo.lock
  Cargo.toml
  cpu-profile.svg
  src/actions/flights.rs
  src/flights_repo.rs
Due: rust-fmt, rust-clippy, rust-test, cargo-audit

feat: log entire unparsable message
  src/aprs_client.rs
Due: rust-fmt, rust-clippy, rust-test

perf: add LRU cache for elevation lookups
  Cargo.lock
  Cargo.toml
  src/elevation.rs
Due: rust-fmt, rust-clippy, rust-test, cargo-audit

refactor: rename 'destination' column to 'aprs_type' in fixes table
  migrations/2025-10-15-015413-0000_rename_destination_to_aprs_type/down.sql
  migrations/2025-10-15-015413-0000_rename_destination_to_aprs_type/up.sql
  src/fixes.rs
  src/fixes_repo.rs
  src/flight_tracker/aircraft_tracker.rs
  src/schema.rs
Due: rust-fmt, rust-clippy, rust-test

chore: longer timeout for claude with test commands
  CLAUDE.md
Due: none

fix: ensure debug symbols are uploaded to Sentry for crash symbolication
  .github/workflows/ci.yml
  Cargo.toml
  Dockerfile
Due: cargo-audit

fix: clear tracker state when deleting spurious flights
  src/flight_tracker/flight_lifecycle.rs
Due: rust-fmt, rust-clippy, rust-test

perf: increase elevation cache size and fix device insertion race
  src/device_repo.rs
  src/elevation.rs
Due: rust-fmt, rust-clippy, rust-test

fix: normalize client-side route metrics to prevent cardinality explosion
  src/web.rs
Due: rust-fmt, rust-clippy, rust-test

fix: remove Sentry test message that created false issues
  src/main.rs
Due: rust-fmt, rust-clippy, rust-test

fix: match Sentry release version between app and deployed binary
  .github/workflows/ci.yml
  soar-deploy
  src/main.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add elevation cache size metric and increase cache 10x
  src/elevation.rs
Due: rust-fmt, rust-clippy, rust-test

fix: improve flights pages UX and fix errors
  web/src/routes/flights/+page.svelte
  web/src/routes/flights/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: correct sitemap route parameter syntax
  src/web.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add Pyroscope profiling support for production
  Cargo.lock
  Cargo.toml
  src/main.rs
  src/web.rs
Due: rust-fmt, rust-clippy, rust-test, cargo-audit

feat: detect and log duplicate active flights
  Cargo.lock
  src/flight_tracker/flight_lifecycle.rs
  src/flights_repo.rs
  src/main.rs
Due: rust-fmt, rust-clippy, rust-test, cargo-audit

refactor: remove Pyroscope profiling and add aprs_messages migration
  Cargo.lock
  Cargo.toml
  migrations/2025-10-15-083717-0000_alter_aprs_messages_add_receiver_and_unparsed/down.sql
  migrations/2025-10-15-083717-0000_alter_aprs_messages_add_receiver_and_unparsed/up.sql
  src/aprs_messages_repo.rs
  src/lib.rs
  src/main.rs
  src/schema.rs
Due: rust-fmt, rust-clippy, rust-test, cargo-audit

feat: insert APRS messages before fixes and receiver statuses
  src/aprs_messages_repo.rs
  src/fix_processor.rs
  src/main.rs
  src/packet_processors/receiver_status.rs
  src/receiver_statuses.rs
Due: rust-fmt, rust-clippy, rust-test

fix: prevent race condition creating duplicate flights
  src/flight_tracker/flight_lifecycle.rs
  src/flight_tracker/state_transitions.rs
  src/flights.rs
Due: rust-fmt, rust-clippy, rust-test

fix: make flight creation synchronous to prevent FK violations
  src/flight_tracker/state_transitions.rs
Due: rust-fmt, rust-clippy, rust-test

fix: prevent infinite loop in nearby flights effect
  web/src/routes/flights/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: add per-device mutexes to eliminate race conditions in flight tracking
  src/flight_tracker/mod.rs
Due: rust-fmt, rust-clippy, rust-test

fix: extend per-device lock through database insertion
  src/fix_processor.rs
  src/flight_tracker/mod.rs
Due: rust-fmt, rust-clippy, rust-test

chore: reduce Sentry sampling to 5% to control costs
  src/main.rs
Due: rust-fmt, rust-clippy, rust-test

fix: dark mode switch
  web/src/app.css
Due: none

refactor: dramatically simplify flight tracker to use simple device->flight map
  src/flight_tracker/altitude.rs
  src/flight_tracker/flight_lifecycle.rs
  src/flight_tracker/geometry.rs
  src/flight_tracker/mod.rs
  src/flight_tracker/state_transitions.rs
  src/main.rs
Due: rust-fmt, rust-clippy, rust-test

fix: receiver location search and improve UI
  src/receiver_repo.rs
  web/src/routes/+layout.svelte
  web/src/routes/receivers/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

remove unnecessary log
  src/receiver_repo.rs
Due: rust-fmt, rust-clippy, rust-test

fix: skip timeout for flights that were already removed from active map
  src/flight_tracker/mod.rs
Due: rust-fmt, rust-clippy, rust-test

chore: remove unnecessary debug statement
  src/aprs_messages_repo.rs
Due: rust-fmt, rust-clippy, rust-test

fix: correct elevation lookup duration metric display in Grafana
  infrastructure/grafana-dashboard.json
Due: none

refactor: unify device schemas across backend and frontend
  src/actions/aircraft.rs
  src/actions/devices.rs
  src/actions/views/aircraft.rs
  src/aprs_messages_repo.rs
  src/live_fixes.rs
  web/src/lib/components/AircraftStatusModal.svelte
  web/src/lib/components/WatchlistModal.svelte
  web/src/lib/services/DeviceRegistry.ts
  web/src/lib/services/FixFeed.ts
  web/src/lib/stores/watchlist.ts
  web/src/lib/types/index.ts
  web/src/routes/devices/[id]/+page.svelte
  web/src/routes/operations/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

refactor: improve flight detection state machine
  src/flight_tracker/altitude.rs
  src/flight_tracker/flight_lifecycle.rs
  src/flight_tracker/mod.rs
  src/flight_tracker/state_transitions.rs
Due: rust-fmt, rust-clippy, rust-test

refactor: simplify aircraft_registrations by moving operations to new table
  migrations/2025-10-16-222545-0000_simplify_aircraft_registrations/down.sql
  migrations/2025-10-16-222545-0000_simplify_aircraft_registrations/up.sql
  src/aircraft_registrations.rs
  src/aircraft_registrations_repo.rs
  src/schema.rs
Due: rust-fmt, rust-clippy, rust-test

feat: replace plane icon with compass showing aircraft heading when device compass available
  web/src/lib/components/AircraftStatusModal.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

chore: upgrade @skeletonlabs/skeleton-svelte to 1.5.2
  web/package-lock.json
  web/package.json
Due: web-install-deps

fix: add defensive null/undefined checks for toFixed() calls in receiver detail page
  web/src/routes/receivers/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: make device address unique and improve spontaneous device creation
  migrations/2025-10-16-232436-0000_fix_device_address_unique/down.sql
  migrations/2025-10-16-232436-0000_fix_device_address_unique/up.sql
  src/actions/devices.rs
  src/device_repo.rs
  src/fix_processor.rs
  src/fixes_repo.rs
Due: rust-fmt, rust-clippy, rust-test

feat: improve flight details layout and add max AGL altitude
  web/src/routes/flights/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Path conditions:
  web-install-deps: any of: ^web/(package\.json|package-lock\.json)$
  web-format: any of: ^web/.*\.(js|ts|svelte)$
  web-lint: any of: ^web/.*\.(js|ts|svelte)$
  web-type-check: any of: ^web/.*\.(js|ts|svelte)$
  web-test: any of: ^web/.*\.(js|ts|svelte)$
  web-build: any of: ^web/.*\.(js|ts|svelte)$
  rust-fmt: any of: \.rs$
  rust-clippy: any of: \.rs$
  rust-test: any of: \.rs$
  cargo-audit: any of: ^(Cargo\.toml|Cargo\.lock)$
