Repository hut8/soar: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-install-deps, web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test, cargo-audit

.pre-commit-config.yaml:

repos:
  # Frontend/SvelteKit checks (matching CI test-sveltekit job)
  - repo: local
    hooks:
      - id: web-install-deps
        name: Install web dependencies
        entry: bash -c 'cd web && npm ci'
        language: system
        files: ^web/(package\.json|package-lock\.json)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

      - id: web-format
        name: Auto-fix web formatting (Prettier)
        entry: bash -c 'cd web && npm run format'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

      - id: web-lint
        name: Run web linter (ESLint + Prettier check)
        entry: bash -c 'cd web && npm run lint'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

      - id: web-type-check
        name: Run web type checking
        entry: bash -c 'cd web && npm run check'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

      - id: web-test
        name: Run web tests (Playwright E2E)
        entry: bash -c 'cd web && npm test'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-push, manual]

      - id: web-build
        name: Build web project
        entry: bash -c 'cd web && npm run build'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-push, manual]

  # Rust formatting (matching CI check)
  - repo: local
    hooks:
      - id: rust-fmt
        name: Auto-fix Rust formatting
        entry: cargo fmt
        language: system
        files: \.rs$
        pass_filenames: false
        stages: [pre-commit, pre-push]

  # Rust linting (matching CI clippy check)
  - repo: local
    hooks:
      - id: rust-clippy
        name: Run Clippy
        entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo clippy --all-targets --all-features -- -D warnings'
        language: system
        files: \.rs$
        pass_filenames: false
        stages: [pre-commit, pre-push]

  # Rust tests (matching CI test run)
  - repo: local
    hooks:
      - id: rust-test
        name: Run Rust tests
        entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo test'
        language: system
        files: \.rs$
        pass_filenames: false
        stages: [pre-push, manual]

  # Security audit (matching CI security-audit job)
  - repo: local
    hooks:
      - id: cargo-audit
        name: Run security audit
        entry: cargo audit
        language: system
        files: ^(Cargo\.toml|Cargo\.lock)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
        stages: [pre-commit, pre-push]
      - id: end-of-file-fixer
        stages: [pre-commit, pre-push]
      - id: check-yaml
        stages: [pre-commit, pre-push]
      - id: check-toml
        stages: [pre-commit, pre-push]
      - id: check-json
        stages: [pre-commit, pre-push]
      - id: check-merge-conflict
        stages: [pre-commit, pre-push]
      - id: check-added-large-files
        args: ["--maxkb=1000"]
        stages: [pre-commit, pre-push]

# Performance optimizations
default_stages: [pre-commit]
fail_fast: false

# CI configuration
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit.com hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ""
  autoupdate_commit_msg: "[pre-commit.ci] pre-commit autoupdate"
  autoupdate_schedule: weekly
  skip: []
  submodules: false

refactor: consolidate flights endpoints with completed query param
  src/actions/flights.rs
  src/web.rs
  web/src/routes/clubs/[id]/operations/+page.svelte
  web/src/routes/flights/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

perf: add index on fixes(timestamp) for query optimization
  migrations/2025-10-11-062832-0000_add_index_fixes_timestamp/down.sql
  migrations/2025-10-11-062832-0000_add_index_fixes_timestamp/up.sql
Due: none

feat: add takeoff_location_id and landing_location_id columns to flights
  migrations/2025-10-11-063129-0000_add_location_columns_to_flights/down.sql
  migrations/2025-10-11-063129-0000_add_location_columns_to_flights/up.sql
  src/schema.rs
Due: rust-fmt, rust-clippy, rust-test

refactor: modularize flight_tracker.rs into focused submodules
  src/actions/devices.rs
  src/actions/flights.rs
  src/flight_location_processor.rs
  src/flight_tracker.rs
  src/flight_tracker/aircraft_tracker.rs
  src/flight_tracker/altitude.rs
  src/flight_tracker/flight_lifecycle.rs
  src/flight_tracker/geometry.rs
  src/flight_tracker/location.rs
  src/flight_tracker/mod.rs
  src/flight_tracker/runway.rs
  src/flight_tracker/state_transitions.rs
  src/flight_tracker/towing.rs
  src/flight_tracker/utils.rs
Due: rust-fmt, rust-clippy, rust-test

fix: add takeoff_location_id and landing_location_id to flights
  src/actions/devices.rs
  src/actions/flights.rs
  src/flight_tracker/flight_lifecycle.rs
  src/flight_tracker/mod.rs
  src/flight_tracker/state_transitions.rs
  src/flight_tracker/towing.rs
  src/flight_tracker/utils.rs
  src/flights.rs
  src/flights_repo.rs
Due: rust-fmt, rust-clippy, rust-test

feat: auto-insert receivers when processing position packets
  src/aprs_client.rs
Due: rust-fmt, rust-clippy, rust-test

refactor: improve club detail page layout and update CLAUDE.md
  CLAUDE.md
  web/src/routes/clubs/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

chore: upgrade jsonwebtoken to 10.0.0 with rust_crypto feature
  Cargo.lock
  Cargo.toml
  src/auth.rs
Due: rust-fmt, rust-clippy, rust-test, cargo-audit

fix: resolve Svelte 5 reactivity warnings and improve test configuration
  web/playwright.config.ts
  web/src/lib/components/PilotSelectionModal.svelte
  web/src/routes/clubs/[id]/operations/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

run npm install before build
  build.rs
Due: rust-fmt, rust-clippy, rust-test

refactor: extract packet processors into dedicated module
  src/aprs_client.rs
  src/lib.rs
  src/main.rs
  src/packet_processors/aircraft.rs
  src/packet_processors/mod.rs
  src/packet_processors/position.rs
  src/packet_processors/receiver_position.rs
  src/packet_processors/receiver_status.rs
  src/packet_processors/router.rs
  src/packet_processors/server_status.rs
Due: rust-fmt, rust-clippy, rust-test

refactor: migrate receiver location data to locations table
  migrations/2025-10-11-092833-0000_migrate_receiver_locations_to_locations_table/down.sql
  migrations/2025-10-11-092833-0000_migrate_receiver_locations_to_locations_table/up.sql
  migrations/2025-10-11-092857-0000_remove_location_columns_from_receivers/down.sql
  migrations/2025-10-11-092857-0000_remove_location_columns_from_receivers/up.sql
  src/receiver_repo.rs
  src/receivers.rs
  src/schema.rs
Due: rust-fmt, rust-clippy, rust-test

fix: resolve receiver location migration conflict with unique constraint
  migrations/2025-10-11-092833-0000_migrate_receiver_locations_to_locations_table/down.sql
  migrations/2025-10-11-092833-0000_migrate_receiver_locations_to_locations_table/up.sql
Due: none

feat: implement receiver position updates via locations table
  src/locations_repo.rs
  src/main.rs
  src/receiver_repo.rs
Due: rust-fmt, rust-clippy, rust-test

feat: enhance flight detail page with polling and improved layout
  web/src/routes/flights/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

chore: remove club redirect if logged in
  web/src/routes/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: update ReceiverPositionProcessor to use new location update method
  src/packet_processors/receiver_position.rs
Due: rust-fmt, rust-clippy, rust-test

feat: temporarily disable geocoding for receivers and flights
  src/flight_location_processor.rs
  src/receiver_repo.rs
Due: rust-fmt, rust-clippy, rust-test

perf: optimize Rust compilation times with mold linker and build profiles
  .cargo/config.toml
  .github/workflows/ci.yml
  Cargo.toml
  clippy-fast.sh
Due: cargo-audit

chore: remove redundant log
  src/packet_processors/receiver_position.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add responsive table/card layout for clubs search results
  web/src/routes/clubs/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

refactor: improve aircraft model details layout on device page
  web/src/routes/devices/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

chore: disable takeoff/landing geocoding
  src/flight_tracker/location.rs
Due: rust-fmt, rust-clippy, rust-test

refactor: move club_id from aircraft_registrations to devices table
  migrations/2025-10-11-210513-0000_move_club_id_from_aircraft_registrations_to_devices/down.sql
  migrations/2025-10-11-210513-0000_move_club_id_from_aircraft_registrations_to_devices/up.sql
  src/actions/aircraft.rs
  src/actions/devices.rs
  src/actions/views/aircraft.rs
  src/aircraft_registrations.rs
  src/aircraft_registrations_repo.rs
  src/device_repo.rs
  src/schema.rs
  src/web.rs
  web/src/lib/types/index.ts
  web/src/routes/devices/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

feat: implement flight timeout mechanism for stale flights
  migrations/2025-10-11-223330-0000_add_timed_out_at_to_flights/down.sql
  migrations/2025-10-11-223330-0000_add_timed_out_at_to_flights/up.sql
  src/actions/views/flight.rs
  src/flight_tracker/flight_lifecycle.rs
  src/flight_tracker/mod.rs
  src/flights.rs
  src/flights_repo.rs
  src/main.rs
  src/schema.rs
  web/src/lib/components/FlightStateBadge.svelte
  web/src/routes/flights/+page.svelte
  web/src/routes/flights/[id]/+page.svelte
  web/src/routes/flights/[id]/+page.ts
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

fix: runway selection logic
  CLAUDE.md
  src/flight_tracker/runway.rs
Due: rust-fmt, rust-clippy, rust-test

fix: create flights even with unreliable altitude data
  src/flight_tracker/flight_lifecycle.rs
  src/flight_tracker/state_transitions.rs
Due: rust-fmt, rust-clippy, rust-test

feat: auto-insert newly discovered devices from APRS packets
  src/device_repo.rs
  src/fix_processor.rs
Due: rust-fmt, rust-clippy, rust-test

feat: configure Sentry for static adapter compatibility
  web/.gitignore
  web/.mcp.json
  web/src/hooks.client.ts
  web/src/hooks.server.ts
  web/src/routes/sentry-example-page/+page.svelte
  web/src/routes/sentry-example-page/+server.js
Due: web-format, web-lint, web-type-check, web-test, web-build

feat: separate active and completed flights on flights page
  web/src/routes/flights/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

feat: add nearby flights feature to flight detail page
  src/actions/flights.rs
  src/flights_repo.rs
  src/web.rs
  web/src/routes/flights/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

chore: get rid of TODO in favor of simply using github issues
  TODO.md
Due: none

fix: handle undefined coordinates in receiver page
  web/src/routes/receivers/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

add soar user if not yet exists
  provision
Due: none

fix: add 32GB memory limit to soar-run service
  soar-run.service
Due: none

perf: reduce flight tracker memory usage
  src/flight_tracker/mod.rs
  src/flight_tracker/utils.rs
Due: rust-fmt, rust-clippy, rust-test

feat: parse squawk code from ADSB packets
  src/fixes.rs
Due: rust-fmt, rust-clippy, rust-test

refactor: use ogn-parser's native squawk parsing
  src/fixes.rs
Due: rust-fmt, rust-clippy, rust-test

feat: use ogn-parser fields for turn rate, signal quality, errors, and frequency offset
  src/fixes.rs
Due: rust-fmt, rust-clippy, rust-test

feat: lowercase adsb_emitter_category enum values in database
  migrations/2025-10-14-185317-0000_lowercase_adsb_emitter_category/down.sql
  migrations/2025-10-14-185317-0000_lowercase_adsb_emitter_category/up.sql
  src/ogn_aprs_aircraft.rs
Due: rust-fmt, rust-clippy, rust-test
