Repository hut8/soar: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-install-deps, web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test, cargo-audit

.pre-commit-config.yaml:

repos:
  # Frontend/SvelteKit checks (matching CI test-sveltekit job)
  - repo: local
    hooks:
      - id: web-install-deps
        name: Install web dependencies
        entry: bash -c 'cd web && npm ci'
        language: system
        files: ^web/(package\.json|package-lock\.json)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

      - id: web-format
        name: Auto-fix web formatting (Prettier)
        entry: bash -c 'cd web && npm run format'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

      - id: web-lint
        name: Run web linter (ESLint + Prettier check)
        entry: bash -c 'cd web && npm run lint'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

      - id: web-type-check
        name: Run web type checking
        entry: bash -c 'cd web && npm run check'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

      - id: web-test
        name: Run web tests (Playwright E2E)
        entry: bash -c 'cd web && npm test'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-push, manual]

      - id: web-build
        name: Build web project
        entry: bash -c 'cd web && npm run build'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-push, manual]

  # Rust formatting (matching CI check)
  - repo: local
    hooks:
      - id: rust-fmt
        name: Auto-fix Rust formatting
        entry: cargo fmt
        language: system
        files: \.rs$
        pass_filenames: false
        stages: [pre-commit, pre-push]

  # Rust linting (matching CI clippy check)
  - repo: local
    hooks:
      - id: rust-clippy
        name: Run Clippy
        entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo clippy --all-targets --all-features -- -D warnings'
        language: system
        files: \.rs$
        pass_filenames: false
        stages: [pre-commit, pre-push]

  # Rust tests (matching CI test run)
  - repo: local
    hooks:
      - id: rust-test
        name: Run Rust tests
        entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo test'
        language: system
        files: \.rs$
        pass_filenames: false
        stages: [pre-push, manual]

  # Security audit (matching CI security-audit job)
  - repo: local
    hooks:
      - id: cargo-audit
        name: Run security audit
        entry: cargo audit
        language: system
        files: ^(Cargo\.toml|Cargo\.lock)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
        stages: [pre-commit, pre-push]
      - id: end-of-file-fixer
        stages: [pre-commit, pre-push]
      - id: check-yaml
        stages: [pre-commit, pre-push]
      - id: check-toml
        stages: [pre-commit, pre-push]
      - id: check-json
        stages: [pre-commit, pre-push]
      - id: check-merge-conflict
        stages: [pre-commit, pre-push]
      - id: check-added-large-files
        args: ["--maxkb=1000"]
        stages: [pre-commit, pre-push]

# Performance optimizations
default_stages: [pre-commit]
fail_fast: false

# CI configuration
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit.com hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ""
  autoupdate_commit_msg: "[pre-commit.ci] pre-commit autoupdate"
  autoupdate_schedule: weekly
  skip: []
  submodules: false

feat: add ARM64 (Raspberry Pi 4) build support to CI
  .github/workflows/ci.yml
  .github/workflows/release.yml
  Cross.toml
Due: none

refactor: rename message_source enum from aprs/beast to ogn/adsb
  migrations/2025-11-17-072043-0000_backfill_aprs_metadata_to_jsonb/down.sql
  migrations/2025-11-17-072043-0000_backfill_aprs_metadata_to_jsonb/up.sql
  migrations/2025-11-17-072129-0000_drop_consolidated_aprs_columns/down.sql
  migrations/2025-12-08-230745-0000_rename_message_source_enum_values/down.sql
  migrations/2025-12-08-230745-0000_rename_message_source_enum_values/up.sql
  src/raw_messages_repo.rs
  src/schema.rs
Due: rust-fmt, rust-clippy, rust-test

feat: implement ADS-B CPR position decoder (Phase 6)
  docs/adsb-phase-6-cpr-decoder.md
  src/beast/adsb_to_fix.rs
  src/beast/cpr_decoder.rs
  src/beast/mod.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add user location tracking with user_fixes table
  migrations/2025-12-08-232114-0000_create_user_fixes/down.sql
  migrations/2025-12-08-232114-0000_create_user_fixes/up.sql
  src/actions/mod.rs
  src/actions/user_fixes.rs
  src/lib.rs
  src/schema.rs
  src/user_fixes.rs
  src/user_fixes_repo.rs
  src/web.rs
  web/src/lib/services/locationTracker.ts
  web/src/routes/+layout.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

fix: install clang for ARM64 cross-compilation build scripts
  .github/workflows/ci.yml
Due: none

test: skip failing E2E tests that require additional test data
  web/e2e/auth/register.test.ts
  web/e2e/devices/device-detail.test.ts
  web/e2e/devices/device-list.test.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: collapse nested if statement to satisfy clippy
  src/actions/user_fixes.rs
Due: rust-fmt, rust-clippy, rust-test

fix: install clang in cross Docker container for local builds
  Cross.toml
Due: none

fix: skip frontend build in ARM64 cross-compilation
  .github/workflows/ci.yml
Due: none

fix: add SKIP_WEB_BUILD to ARM64 release build
  .github/workflows/release.yml
Due: none

fix: pass SKIP_WEB_BUILD env var through cross container
  Cross.toml
Due: none

feat: add complete infrastructure provisioning to provision script
  provision
Due: none

feat: auto-start Prometheus and Grafana services
  provision
Due: none

fix: replace deprecated apt-key with modern GPG key method
  provision
Due: none

fix: remove Ubuntu-specific packages for Debian compatibility
  provision
Due: none

fix: make GPG key installation idempotent
  provision
Due: none

chore: pin Node 24 and npm 11 in package.json engines
  web/package-lock.json
  web/package.json
Due: web-install-deps

ci: upgrade GitHub Actions to use Node 24
  .github/workflows/ci.yml
Due: none

feat: add Caddy web server installation and restrict to Debian/Ubuntu
  provision
Due: none

refactor: reorganize repository structure
  .github/workflows/ci.yml
  infrastructure/systemd/partman-maintenance-staging.service
  infrastructure/systemd/partman-maintenance-staging.timer
  infrastructure/systemd/partman-maintenance.service
  infrastructure/systemd/partman-maintenance.timer
  infrastructure/systemd/soar-aprs-ingest-staging.service
  infrastructure/systemd/soar-aprs-ingest.service
  infrastructure/systemd/soar-archive-staging.service
  infrastructure/systemd/soar-archive-staging.timer
  infrastructure/systemd/soar-archive.service
  infrastructure/systemd/soar-archive.timer
  infrastructure/systemd/soar-backup-base.service
  infrastructure/systemd/soar-backup-base.timer
  infrastructure/systemd/soar-backup-verify.service
  infrastructure/systemd/soar-backup-verify.timer
  infrastructure/systemd/soar-beast-ingest.service
  infrastructure/systemd/soar-pull-data-staging.service
  infrastructure/systemd/soar-pull-data-staging.timer
  infrastructure/systemd/soar-pull-data.service
  infrastructure/systemd/soar-pull-data.timer
  infrastructure/systemd/soar-run-staging.service
  infrastructure/systemd/soar-run.service
  infrastructure/systemd/soar-sitemap-staging.service
  infrastructure/systemd/soar-sitemap-staging.timer
  infrastructure/systemd/soar-sitemap.service
  infrastructure/systemd/soar-sitemap.timer
  infrastructure/systemd/soar-web-staging.service
  infrastructure/systemd/soar-web.service
  infrastructure/systemd/soar.target
  scripts/provision
Due: none

fix: prevent flight-fix association corruption in archive process
  migrations/2025-12-10-224301-0000_add_flight_timestamp_check_constraints/down.sql
  migrations/2025-12-10-224301-0000_add_flight_timestamp_check_constraints/up.sql
  migrations/2025-12-11-001035-0000_change_fixes_flight_fk_to_restrict/down.sql
  migrations/2025-12-11-001035-0000_change_fixes_flight_fk_to_restrict/up.sql
  src/commands/archive/mod.rs
Due: rust-fmt, rust-clippy, rust-test

chore: reorganize repository - remove obsolete files
  check-migration-needed.sh
  clippy-fast.sh
  cpu-profile.svg
  docs/BEAST-Integration.md
  fix-aprs-fk-migration-parallel.sh
  infrastructure/examples/backup-env.example
  infrastructure/examples/etc-soar-env.template
  infrastructure/examples/rclone.conf.example
  monitor-migration-progress.sh
  scripts/build-frontend
  scripts/load-devices.sh
  scripts/pull-adsb
Due: none

chore: move release script to scripts/
  scripts/release
Due: none

fix: correct environment file paths in provision script instructions
  scripts/provision
Due: none

fix: make staging environment behave like production
  src/commands/consume_beast.rs
  src/commands/ingest_aprs.rs
  src/commands/ingest_beast.rs
  src/commands/pull_data.rs
  src/commands/run.rs
  src/main.rs
Due: rust-fmt, rust-clippy, rust-test

fix: auto-assign different metrics ports for staging
  src/commands/consume_beast.rs
  src/commands/ingest_aprs.rs
  src/commands/ingest_beast.rs
  src/commands/pull_data.rs
  src/commands/run.rs
Due: rust-fmt, rust-clippy, rust-test

fix: use /usr/share/keyrings/ for Caddy GPG key
  scripts/provision
Due: none

fix: add Caddy GPG keyring installation to provision script
  provision
Due: none

docs: add elevation data setup documentation and provisioning
  infrastructure/DEPLOYMENT.md
  scripts/provision
Due: none

fix: replace DEPLOY_SERVER secret with hardcoded deployment servers
  .github/workflows/ci.yml
Due: none

fix: use network-first caching strategy for index.html
  web/src/service-worker.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

chore: update flarmnet dependency to use fork
  Cargo.lock
  Cargo.toml
Due: cargo-audit

fix: replace is_some()/unwrap() with if let Some pattern
  src/flight_tracker/altitude.rs
  src/flight_tracker/runway.rs
Due: rust-fmt, rust-clippy, rust-test

feat: node versions in package lock
  web/package-lock.json
Due: web-install-deps

feat: add ADS-B ingester deployment infrastructure
  .github/workflows/deploy-adsb.yml
  infrastructure/ADSB-SETUP.md
  infrastructure/DEPLOYMENT.md
  infrastructure/examples/etc-soar-env-adsb.template
  infrastructure/soar-deploy-adsb
  infrastructure/sudoers.d/soar-adsb
  infrastructure/systemd/soar-beast-ingest.service
Due: none

Fix staging environment variable file naming inconsistency
  scripts/provision
Due: none

fix: update E2E tests and UI text to use 'aircraft' terminology
  web/e2e/aircraft/aircraft-list.test.ts
  web/e2e/utils/navigation.ts
  web/src/routes/aircraft/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: update E2E navigation utility search button text
  web/e2e/utils/navigation.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: Change backup cleanup from time-based to count-based retention
  docs/DB-BACKUPS.md
  infrastructure/examples/backup-env.example
  scripts/backup/base-backup
Due: none
