Repository hut8/soar: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-install-deps, web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test, cargo-audit

web-install-deps:
  name: Install web dependencies
  entry: bash -c 'cd web && npm ci'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-format:
  name: Auto-fix web formatting (Prettier)
  entry: bash -c 'cd web && npm run format'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-lint:
  name: Run web linter (ESLint + Prettier check)
  entry: bash -c 'cd web && npm run lint'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-type-check:
  name: Run web type checking
  entry: bash -c 'cd web && npm run check'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-test:
  name: Run web tests (Playwright E2E)
  entry: bash -c 'cd web && npm test'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

web-build:
  name: Build web project
  entry: bash -c 'cd web && npm run build'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

rust-fmt:
  name: Auto-fix Rust formatting
  entry: cargo fmt
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

rust-clippy:
  name: Run Clippy
  entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo clippy --all-targets --all-features -- -D warnings'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

rust-test:
  name: Run Rust tests
  entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo test'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

cargo-audit:
  name: Run security audit
  entry: cargo audit
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

Remove screenshot assertion from members E2E test (no snapshot available)
  web/e2e/clubs/club-members.test.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

Address review: validate airportId, guard floor auto-set, improve E2E
  web/e2e/geofences/geofence-new.test.ts
  web/src/lib/components/GeofenceEditor.svelte
  web/src/routes/geofences/new/+page.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

Address second round of Copilot review feedback
  src/commands/pull_data.rs
  src/faa_nasr.rs
Due: rust-fmt, rust-clippy, rust-test

Address review feedback: extract gap logic, add tests, fix dashboard
  infrastructure/dashboards/panels/run/flight-ends-5m.json
  src/flight_tracker/state_transitions.rs
  web/src/lib/components/SettingsModal.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

Fix E2E test: scope heading selector to level 1
  web/e2e/geofences/geofence-new.test.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

Skip auth store update when user data is unchanged
  web/src/lib/stores/auth.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

Fix E2E flakiness: skip re-render when user data is unchanged
  web/src/lib/stores/auth.ts
  web/src/routes/+layout.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Update info page dashboard links and fix Grafana datasource naming
  infrastructure/grafana-provisioning/datasources/soar-postgres.yaml.template
  infrastructure/soar-deploy
  web/src/routes/info/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Fix receiver "Last heard" terminology and improve mobile tab visibility
  migrations/2026-03-05-100000-0000_add_receivers_latest_packet_at_index/down.sql
  migrations/2026-03-05-100000-0000_add_receivers_latest_packet_at_index/metadata.toml
  migrations/2026-03-05-100000-0000_add_receivers_latest_packet_at_index/up.sql
  src/receiver_repo.rs
  web/src/routes/receivers/+page.svelte
  web/src/routes/receivers/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

Replace receiver search button with type-to-search
  web/src/routes/receivers/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Fix club ops page: sorting, status label, tow link, and flight detail layout
  web/src/lib/components/TowAircraftLink.svelte
  web/src/lib/components/club/AircraftStatusBoard.svelte
  web/src/lib/components/club/AircraftStatusCard.svelte
  web/src/routes/flights/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Move flight map reset button from upper right to upper left
  web/src/routes/flights/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Fix airborne detection to use flight state instead of speed/fix heuristics
  web/src/lib/components/club/AircraftStatusBoard.svelte
  web/src/lib/components/club/AircraftStatusCard.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Fix aircraft address misidentification from OGN ID field
  src/commands/fix_address_types.rs
  src/commands/mod.rs
  src/fix_processor.rs
  src/main.rs
Due: rust-fmt, rust-clippy, rust-test

Gate club admin UI behind isClubAdmin and add member payments tab
  web/src/routes/clubs/[id]/+layout.svelte
  web/src/routes/clubs/[id]/admin/charges/+page.svelte
  web/src/routes/clubs/[id]/admin/fees/+page.svelte
  web/src/routes/clubs/[id]/admin/join-requests/+page.svelte
  web/src/routes/clubs/[id]/admin/stripe/+page.svelte
  web/src/routes/clubs/[id]/admin/users/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Fix spurious logout on page refresh: service worker and 401 handling
  web/src/lib/api/server.ts
  web/src/service-worker.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

Skip data fetches and show access restricted for non-admin visitors
  web/src/routes/clubs/[id]/+layout.svelte
  web/src/routes/clubs/[id]/admin/charges/+page.svelte
  web/src/routes/clubs/[id]/admin/fees/+page.svelte
  web/src/routes/clubs/[id]/admin/join-requests/+page.svelte
  web/src/routes/clubs/[id]/admin/stripe/+page.svelte
  web/src/routes/clubs/[id]/admin/users/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Address PR review: run conflict check in dry-run mode, add .context()
  src/commands/fix_address_types.rs
Due: rust-fmt, rust-clippy, rust-test

Add tow release height and tow flight link to flight detail page
  src/actions/views/flight.rs
  web/src/lib/types/generated/FlightView.ts
  web/src/routes/flights/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

Add tow release altitude MSL and address Copilot review feedback
  src/actions/views/flight.rs
  web/src/lib/components/TowAircraftLink.svelte
  web/src/lib/components/club/AircraftStatusBoard.svelte
  web/src/lib/types/generated/FlightView.ts
  web/src/routes/flights/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

Expose last_fix_at on FlightView API response
  src/actions/views/flight.rs
  web/src/lib/types/generated/FlightView.ts
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

Require is_club_admin on admin-only API endpoints
  src/actions/club_tow_fees.rs
  src/actions/payments.rs
  src/actions/stripe_connect.rs
  src/actions/users.rs
Due: rust-fmt, rust-clippy, rust-test

Allow site admins to see club nav tabs regardless of membership
  web/src/routes/clubs/[id]/+layout.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Address Copilot review: hadToken check, precompute timestamps, tow spacing
  web/src/lib/api/server.ts
  web/src/lib/components/club/AircraftStatusBoard.svelte
  web/src/routes/flights/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Wrap get_users_by_club response in DataListResponse
  src/actions/users.rs
Due: rust-fmt, rust-clippy, rust-test

Fix a11y warning on admin dropdown and nest charges list inside admin gate
  web/src/routes/clubs/[id]/+layout.svelte
  web/src/routes/clubs/[id]/admin/charges/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Add timezone-aware date/time formatting with user-selectable timezone
  web/package-lock.json
  web/src/lib/cesium/entities.ts
  web/src/lib/components/FixesList.svelte
  web/src/lib/components/FlightsList.svelte
  web/src/lib/components/HexSamplesModal.svelte
  web/src/lib/components/ReceiverModal.svelte
  web/src/lib/components/TimezoneSelector.svelte
  web/src/lib/components/cesium/FlightPathLayer.svelte
  web/src/lib/components/cesium/TimelineController.svelte
  web/src/lib/services/markers/AircraftMarkerManager.ts
  web/src/lib/stores/timezone.ts
  web/src/lib/utils/dateFormatters.ts
  web/src/routes/+layout.svelte
  web/src/routes/admin/data-streams/+page.svelte
  web/src/routes/airports/[id]/+page.svelte
  web/src/routes/clubs/[id]/admin/charges/+page.svelte
  web/src/routes/clubs/[id]/admin/fees/+page.svelte
  web/src/routes/clubs/[id]/admin/join-requests/+page.svelte
  web/src/routes/clubs/[id]/operations/+page.svelte
  web/src/routes/flights/[id]/+page.svelte
  web/src/routes/flights/[id]/map/+page.svelte
  web/src/routes/geofences/+page.svelte
  web/src/routes/geofences/[id]/+page.svelte
  web/src/routes/payments/+page.svelte
  web/src/routes/receivers/[id]/+page.svelte
  web/src/routes/watchlist/+page.svelte
Due: web-install-deps, web-format, web-lint, web-type-check, web-test, web-build

Fix CLAUDE.md dropdown example to show the actual mistake
  CLAUDE.md
Due: none

Fix cleanup and stale state in ReceiverCoverageMap
  web/src/lib/components/ReceiverCoverageMap.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Add receiver coverage map to receiver detail page
  web/src/lib/components/ReceiverCoverageMap.svelte
  web/src/routes/receivers/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Fix receiver coverage map: gradient, z-index, empty fixes, dropdown bg
  CLAUDE.md
  src/fixes_repo.rs
  web/package-lock.json
  web/src/routes/receivers/coverage/+page.svelte
Due: web-install-deps, web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

Clarify Skeleton UI uses preset- classes, not variant- classes
  CLAUDE.md
Due: none

Address PR review: accessibility, validation, cleanup
  web/src/lib/components/FlightsList.svelte
  web/src/lib/components/TimezoneSelector.svelte
  web/src/lib/components/cesium/TimelineController.svelte
  web/src/lib/stores/timezone.ts
  web/src/lib/utils/dateFormatters.ts
  web/src/routes/clubs/[id]/admin/join-requests/+page.svelte
  web/src/routes/receivers/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Add receiver alert subscriptions with email notifications
  migrations/2026-03-06-000000-0000_create_receiver_alerts/down.sql
  migrations/2026-03-06-000000-0000_create_receiver_alerts/up.sql
  src/actions/mod.rs
  src/actions/receiver_alerts.rs
  src/commands/run/mod.rs
  src/email.rs
  src/lib.rs
  src/receiver_alert_checker.rs
  src/receiver_alerts.rs
  src/receiver_alerts_repo.rs
  src/receiver_status_repo.rs
  src/schema.rs
  src/ts_export.rs
  src/web.rs
  web/src/lib/components/ReceiverAlertConfig.svelte
  web/src/lib/types/generated/ReceiverAlertView.ts
  web/src/lib/types/generated/UpsertReceiverAlertRequest.ts
  web/src/lib/types/index.ts
  web/src/routes/receivers/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

Address Copilot review: auth store leak, dedup user IDs, fix never-seen message
  src/receiver_alert_checker.rs
  web/src/lib/components/ReceiverAlertConfig.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

Fix migration: use CONCURRENTLY for index, remove redundant user_id index
  migrations/2026-03-06-000000-0000_create_receiver_alerts/metadata.toml
  migrations/2026-03-06-000000-0000_create_receiver_alerts/up.sql
Due: none

Add software (TOCALL) field to receivers
  migrations/2026-03-06-120000-0000_add_software_to_receivers/down.sql
  migrations/2026-03-06-120000-0000_add_software_to_receivers/up.sql
  src/actions/views/receiver.rs
  src/coverage_repo.rs
  src/nats_publisher.rs
  src/ogn/generic_processor.rs
  src/receiver_repo.rs
  src/receivers.rs
  src/schema.rs
  web/package-lock.json
  web/src/lib/types/generated/ReceiverView.ts
  web/src/routes/receivers/[id]/+page.svelte
Due: web-install-deps, web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

Address PR review feedback
  src/ogn/generic_processor.rs
  src/receiver_repo.rs
  src/schema.rs
Due: rust-fmt, rust-clippy, rust-test

Fix formatting (cargo fmt + prettier)
  src/ogn/generic_processor.rs
  web/src/routes/receivers/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

Split CONCURRENTLY index into separate migration
  migrations/2026-03-06-000000-0000_create_receiver_alerts/up.sql
  migrations/2026-03-06-000001-0000_add_receiver_alerts_index/down.sql
  migrations/2026-03-06-000001-0000_add_receiver_alerts_index/metadata.toml
  migrations/2026-03-06-000001-0000_add_receiver_alerts_index/up.sql
Due: none

Path conditions:
  web-install-deps: any of: ^web/(package\.json|package-lock\.json)$
  web-format: any of: ^web/.*\.(js|ts|svelte)$
  web-lint: any of: ^web/.*\.(js|ts|svelte)$
  web-type-check: any of: ^web/.*\.(js|ts|svelte)$
  web-test: any of: ^web/.*\.(js|ts|svelte)$
  web-build: any of: ^web/.*\.(js|ts|svelte)$
  rust-fmt: any of: \.rs$
  rust-clippy: any of: \.rs$
  rust-test: any of: \.rs$
  cargo-audit: any of: ^(Cargo\.toml|Cargo\.lock)$
