Repository hut8/soar: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-install-deps, web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test, cargo-audit

.pre-commit-config.yaml:

repos:
  # Frontend/SvelteKit checks (matching CI test-sveltekit job)
  - repo: local
    hooks:
      - id: web-install-deps
        name: Install web dependencies
        entry: bash -c 'cd web && npm ci'
        language: system
        files: ^web/(package\.json|package-lock\.json)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

      - id: web-format
        name: Auto-fix web formatting (Prettier)
        entry: bash -c 'cd web && npm run format'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

      - id: web-lint
        name: Run web linter (ESLint + Prettier check)
        entry: bash -c 'cd web && npm run lint'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

      - id: web-type-check
        name: Run web type checking
        entry: bash -c 'cd web && npm run check'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

      - id: web-test
        name: Run web tests (Playwright E2E)
        entry: bash -c 'cd web && npm test'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-push, manual]

      - id: web-build
        name: Build web project
        entry: bash -c 'cd web && npm run build'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-push, manual]

  # Rust formatting (matching CI check)
  - repo: local
    hooks:
      - id: rust-fmt
        name: Auto-fix Rust formatting
        entry: cargo fmt
        language: system
        files: \.rs$
        pass_filenames: false
        stages: [pre-commit, pre-push]

  # Rust linting (matching CI clippy check)
  - repo: local
    hooks:
      - id: rust-clippy
        name: Run Clippy
        entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo clippy --all-targets --all-features -- -D warnings'
        language: system
        files: \.rs$
        pass_filenames: false
        stages: [pre-commit, pre-push]

  # Rust tests (matching CI test run)
  - repo: local
    hooks:
      - id: rust-test
        name: Run Rust tests
        entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo test'
        language: system
        files: \.rs$
        pass_filenames: false
        stages: [pre-push, manual]

  # Security audit (matching CI security-audit job)
  - repo: local
    hooks:
      - id: cargo-audit
        name: Run security audit
        entry: cargo audit
        language: system
        files: ^(Cargo\.toml|Cargo\.lock)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
        stages: [pre-commit, pre-push]
      - id: end-of-file-fixer
        stages: [pre-commit, pre-push]
      - id: check-yaml
        stages: [pre-commit, pre-push]
      - id: check-toml
        stages: [pre-commit, pre-push]
      - id: check-json
        stages: [pre-commit, pre-push]
      - id: check-merge-conflict
        stages: [pre-commit, pre-push]
      - id: check-added-large-files
        args: ["--maxkb=1000"]
        stages: [pre-commit, pre-push]

# Performance optimizations
default_stages: [pre-commit]
fail_fast: false

# CI configuration
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit.com hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ""
  autoupdate_commit_msg: "[pre-commit.ci] pre-commit autoupdate"
  autoupdate_schedule: weekly
  skip: []
  submodules: false

Add config-file-driven ingest with hot-reload and admin UI
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  infrastructure/ingest.toml
  src/actions/data_streams.rs
  src/actions/mod.rs
  src/commands/ingest.rs
  src/ingest_config.rs
  src/lib.rs
  src/main.rs
  src/stream_manager.rs
  src/ts_export.rs
  src/web.rs
  web/src/lib/types/generated/DataStream.ts
  web/src/lib/types/generated/StreamFormat.ts
  web/src/lib/types/index.ts
  web/src/routes/admin/data-streams/+page.svelte
  web/src/routes/admin/data-streams/+page.ts
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test, cargo-audit

Update systemd service files to use config-file-driven ingest
  infrastructure/systemd/soar-ingest-staging.service
  infrastructure/systemd/soar-ingest.service
Due: none

Address Copilot review feedback
  src/actions/data_streams.rs
  src/commands/ingest.rs
  src/ingest_config.rs
  src/stream_manager.rs
  web/src/routes/admin/data-streams/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

Remove TimescaleDB retention policies; use archive process instead
  migrations/2026-02-26-203541-0000_remove_timescaledb_retention_policies/down.sql
  migrations/2026-02-26-203541-0000_remove_timescaledb_retention_policies/up.sql
  src/commands/archive/archiver.rs
  src/commands/archive/fixes.rs
  src/commands/archive/raw_messages.rs
Due: rust-fmt, rust-clippy, rust-test

Use parameterized queries for drop_chunks calls
  src/commands/archive/fixes.rs
  src/commands/archive/raw_messages.rs
Due: rust-fmt, rust-clippy, rust-test

Improve Grafana uptime panels and drop deprecated location columns
  infrastructure/dashboards/panels/ingest/process-uptime.json
  infrastructure/dashboards/panels/run/processing-rate-ratio.json
  infrastructure/dashboards/panels/web/process-uptime.json
  migrations/2026-02-26-000000-0000_drop_deprecated_location_columns/down.sql
  migrations/2026-02-26-000000-0000_drop_deprecated_location_columns/metadata.toml
  migrations/2026-02-26-000000-0000_drop_deprecated_location_columns/up.sql
  scripts/README-cleanup-orphaned-locations.md
  scripts/cleanup-orphaned-locations.sh
  src/flight_tracker/flight_lifecycle.rs
  src/flight_tracker/location.rs
  src/flights.rs
  src/flights_repo.rs
  src/locations_repo.rs
  src/schema.rs
Due: rust-fmt, rust-clippy, rust-test

Fix KML/IGC export showing wrong takeoff location
  src/actions/flights.rs
  src/fixes_repo.rs
  src/flight_tracker/runway.rs
  src/flights.rs
Due: rust-fmt, rust-clippy, rust-test

Downgrade socket send failure from error to warn
  src/commands/ingest.rs
Due: rust-fmt, rust-clippy, rust-test

Fix ADS-B Exchange import failing on duplicate registration constraint
  src/commands/load_data/adsb_exchange.rs
Due: rust-fmt, rust-clippy, rust-test

Fix deadlock errors and filter transient DB errors in Sentry
  src/commands/load_data/aircraft_registrations.rs
  src/main.rs
Due: rust-fmt, rust-clippy, rust-test

Use DatabaseErrorKind::SerializationFailure for deadlock detection
  src/commands/load_data/aircraft_registrations.rs
Due: rust-fmt, rust-clippy, rust-test

fix: address Copilot review feedback on payment code
  src/actions/payments.rs
  src/actions/stripe_connect.rs
  web/src/routes/clubs/[id]/admin/charges/+page.svelte
  web/src/routes/clubs/[id]/admin/stripe/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

Increase DB pool size to 75 and escalate aircraft lookup failures to error
  src/commands/run/beast.rs
  src/commands/run/sbs.rs
  src/main.rs
Due: rust-fmt, rust-clippy, rust-test

Include SBS workers in pool sizing comment
  src/main.rs
Due: rust-fmt, rust-clippy, rust-test

Fix APRS backpressure disconnections and WebSocket subscription deserialization
  src/actions/fixes.rs
  src/aprs_client.rs
Due: rust-fmt, rust-clippy, rust-test

Address review feedback on health state flush
  src/aprs_client.rs
Due: rust-fmt, rust-clippy, rust-test

Add distance-based crosshair sizing and watchlist highlighting to AR markers
  web/src/lib/components/ar/AircraftMarker.svelte
  web/src/routes/ar/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Add desktop Spotter view with CesiumJS first-person camera
  web/src/lib/components/spotter/LocationPicker.svelte
  web/src/lib/components/spotter/SpotterControls.svelte
  web/src/routes/+layout.svelte
  web/src/routes/spotter/+page.svelte
  web/src/routes/spotter/+page.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

Handle flight creation FK violation when aircraft deleted by merge
  src/flight_tracker/state_transitions.rs
Due: rust-fmt, rust-clippy, rust-test

Downgrade Beast connection/operation failures from error to warn
  src/beast/client.rs
Due: rust-fmt, rust-clippy, rust-test

Downgrade callsign mismatch from error to warn
  src/fix_processor.rs
Due: rust-fmt, rust-clippy, rust-test

Address Copilot review: fix FOV calc, restore credits, add E2E test
  web/e2e/spotter/spotter.test.ts
  web/src/routes/spotter/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Address review feedback on FK violation handling
  src/flight_tracker/state_transitions.rs
  src/metrics.rs
Due: rust-fmt, rust-clippy, rust-test

Fix postRender listener leak in startCameraTracking
  web/src/routes/spotter/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Group callsign mismatch errors into single Sentry issue
  src/fix_processor.rs
  src/main.rs
Due: rust-fmt, rust-clippy, rust-test

Address review: rename metric with _total suffix and initialize at startup
  src/fix_processor.rs
  src/metrics.rs
Due: rust-fmt, rust-clippy, rust-test

Fix spotter page crash: use renamed Cesium API
  web/src/routes/spotter/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Add callsign mismatches panel to run Grafana dashboard
  infrastructure/dashboards/definitions/run.json
  infrastructure/dashboards/panels/run/callsign-mismatches.json
Due: none

Fix migration: remove CONCURRENTLY from DROP INDEX
  migrations/2026-02-26-000000-0000_drop_deprecated_location_columns/metadata.toml
  migrations/2026-02-26-000000-0000_drop_deprecated_location_columns/up.sql
Due: none

Add club names, aircraft status modal, and watchlist highlights to AR/spotter
  web/src/lib/ar/calculations.ts
  web/src/lib/ar/types.ts
  web/src/lib/components/ar/AircraftListModal.svelte
  web/src/routes/ar/+page.svelte
  web/src/routes/spotter/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Add connection indicator to AR/spotter controls and show all aircraft in list
  web/src/lib/components/ar/ARControls.svelte
  web/src/lib/components/ar/AircraftListModal.svelte
  web/src/lib/components/ar/ConnectionIndicator.svelte
  web/src/lib/components/spotter/SpotterControls.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Address Copilot review feedback
  web/src/lib/components/ar/AircraftListModal.svelte
  web/src/lib/components/ar/ConnectionIndicator.svelte
  web/src/routes/ar/+page.svelte
  web/src/routes/spotter/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Retry test migrations on deadlock to fix flaky CI
  tests/common/mod.rs
Due: rust-fmt, rust-clippy, rust-test

Address second round of Copilot review feedback
  tests/common/mod.rs
  web/src/lib/components/ar/ConnectionIndicator.svelte
  web/src/routes/ar/+page.svelte
  web/src/routes/spotter/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

Fix spotter camera interactions and improve aircraft markers
  web/src/lib/ar/calculations.ts
  web/src/lib/ar/types.ts
  web/src/lib/components/ar/AircraftMarker.svelte
  web/src/routes/+page.svelte
  web/src/routes/ar/+page.svelte
  web/src/routes/spotter/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Add RF link visualization on live map
  web/src/lib/services/maplibre/RFLinkLayerManager.ts
  web/src/lib/services/maplibre/index.ts
  web/src/routes/live/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Address Copilot review feedback
  web/src/lib/services/maplibre/RFLinkLayerManager.ts
  web/src/lib/services/maplibre/ReceiverLayerManager.ts
  web/src/routes/live/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Add data-testid to AR/Spotter link for e2e testing
  web/src/routes/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Remove dead code from Beast and SBS clients
  src/beast/client.rs
  src/sbs/client.rs
  src/stream_manager.rs
Due: rust-fmt, rust-clippy, rust-test
