Repository hut8/soar: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-install-deps, web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test, cargo-audit

web-install-deps:
  name: Install web dependencies
  entry: bash -c 'cd web && npm ci'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-format:
  name: Auto-fix web formatting (Prettier)
  entry: bash -c 'cd web && npm run format'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-lint:
  name: Run web linter (ESLint + Prettier check)
  entry: bash -c 'cd web && npm run lint'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-type-check:
  name: Run web type checking
  entry: bash -c 'cd web && npm run check'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-test:
  name: Run web tests (Playwright E2E)
  entry: bash -c 'cd web && npm test'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

web-build:
  name: Build web project
  entry: bash -c 'cd web && npm run build'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

rust-fmt:
  name: Auto-fix Rust formatting
  entry: cargo fmt
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

rust-clippy:
  name: Run Clippy
  entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo clippy --all-targets --all-features -- -D warnings'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

rust-test:
  name: Run Rust tests
  entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo test'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

cargo-audit:
  name: Run security audit
  entry: cargo audit
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

debug: add bright red outlines and logging for cluster bounds
  web/src/routes/operations/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

feat: increase cluster grid to 5 degrees and improve centering
  src/actions/aircraft_search.rs
  web/src/routes/operations/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

fix: improve club autocomplete background and aircraft search results
  web/src/lib/components/AircraftTile.svelte
  web/src/lib/components/ClubSelector.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

feat: expand current flight section in aircraft status modal
  web/src/lib/components/AircraftStatusModal.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: ensure clustering works on page refresh
  web/src/routes/operations/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

feat: add clickable hex modals and fix date line crossing bug
  src/actions/coverage.rs
  src/coverage_repo.rs
  src/fixes.rs
  src/fixes_repo.rs
  src/web.rs
  web/src/lib/components/HexSamplesModal.svelte
  web/src/lib/types/index.ts
  web/src/routes/receivers/coverage/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

fix: invert compass rotation to match NOAA implementation
  web/src/routes/operations/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Update Grafana coverage dashboard with hex fixes metrics
  infrastructure/grafana-dashboard-coverage.json
Due: none

fix: improve 3D globe aircraft loading and display
  web/src/lib/cesium/entities.ts
  web/src/lib/components/cesium/AircraftLayer.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: use Axum 0.8 path parameter syntax for hex fixes route
  src/web.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add augmented reality aircraft tracking
  web/src/lib/ar/calculations.ts
  web/src/lib/ar/projection.ts
  web/src/lib/ar/types.ts
  web/src/lib/components/ar/ARControls.svelte
  web/src/lib/components/ar/AircraftMarker.svelte
  web/src/lib/components/ar/CompassOverlay.svelte
  web/src/lib/components/ar/DebugPanel.svelte
  web/src/lib/services/arTracker.ts
  web/src/routes/+page.svelte
  web/src/routes/ar/+page.svelte
  web/src/routes/ar/+page.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: hide live aircraft during globe flight playback
  web/src/routes/globe/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

test: remove flaky screenshot test from logout suite
  web/e2e/auth/logout.test.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: improve light mode visibility on globe
  web/src/routes/globe/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: correct aircraft label display on globe
  web/src/lib/cesium/entities.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

feat: enhance aircraft and flight UI with country flags and geocoded locations
  src/actions/flights.rs
  src/actions/views/aircraft.rs
  src/actions/views/flight.rs
  src/locations_repo.rs
  web/src/lib/components/AircraftTile.svelte
  web/src/lib/components/FlightsList.svelte
  web/src/lib/types/index.ts
  web/src/routes/aircraft/[id]/+page.svelte
  web/src/routes/aircraft/issues/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

fix: implement server-side hex ID search for aircraft issues
  src/actions/aircraft.rs
  src/aircraft_repo.rs
  web/src/routes/aircraft/issues/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

fix: improve globe aircraft UI and flight gaps display
  web/src/lib/components/cesium/AircraftLayer.svelte
  web/src/routes/flights/[id]/+page.svelte
  web/src/routes/globe/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

test: update login success screenshot baseline
  web/e2e/auth/login.test.ts
  web/e2e/auth/login.test.ts-snapshots/login-success-chromium-linux.png
Due: web-format, web-lint, web-type-check, web-test, web-build

refactor: standardize API response types across frontend
  web/src/lib/components/cesium/ReceiverLayer.svelte
  web/src/lib/types/index.ts
  web/src/routes/aircraft/issues/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: correct ReceiverLayer bounding box parameter names
  web/src/lib/components/cesium/ReceiverLayer.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

feat: add clustering support to globe view
  web/src/lib/cesium/entities.ts
  web/src/lib/components/cesium/AircraftLayer.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

feat: add ADSB emitter category display and squawk/flight number to fixes
  bindings/serde_json/JsonValue.ts
  src/actions/views/aircraft.rs
  src/ogn_aprs_aircraft.rs
  web/src/lib/components/FixesList.svelte
  web/src/lib/constants/adsbEmitterCategories.ts
  web/src/lib/types/generated/AdsbEmitterCategory.ts
  web/src/lib/types/generated/Aircraft.ts
  web/src/lib/types/generated/AircraftCluster.ts
  web/src/lib/types/generated/AircraftOrCluster.ts
  web/src/lib/types/generated/AircraftSearchResponse.ts
  web/src/lib/types/generated/AircraftView.ts
  web/src/lib/types/generated/ClusterBounds.ts
  web/src/lib/types/generated/index.ts
  web/src/lib/types/index.ts
  web/src/routes/aircraft/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

feat: add club tow fee management system
  CLAUDE.md
  migrations/2026-01-02-064301-0000_create_club_tow_fees/down.sql
  migrations/2026-01-02-064301-0000_create_club_tow_fees/up.sql
  src/actions/club_tow_fees.rs
  src/actions/mod.rs
  src/club_tow_fees.rs
  src/club_tow_fees_repo.rs
  src/lib.rs
  src/schema.rs
  src/web.rs
  web/src/routes/clubs/[id]/admin/fees/+page.svelte
  web/src/routes/clubs/[id]/admin/fees/+page.ts
  web/src/routes/clubs/[id]/admin/users/+page.svelte
  web/src/routes/clubs/[id]/admin/users/+page.ts
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

Improve NATS Infrastructure dashboard layout and metrics
  infrastructure/grafana-dashboard-nats.json
Due: none

Fix duplicate _total suffixes in Grafana dashboards and add Pelias metrics
  infrastructure/grafana-dashboard-coverage.json
  infrastructure/grafana-dashboard-run-geocoding.json
  infrastructure/grafana-dashboard-run-routing.json
  src/metrics.rs
Due: rust-fmt, rust-clippy, rust-test

Improve Flight Analytics dashboard: env selector, terminology, layout
  infrastructure/grafana-dashboard-analytics.json
Due: none

refactor: use auto-generated TypeScript types from Rust
  src/actions/views/aircraft.rs
  web/src/lib/components/AircraftStatusModal.svelte
  web/src/lib/components/AircraftTile.svelte
  web/src/lib/components/FixesList.svelte
  web/src/lib/components/WatchlistModal.svelte
  web/src/lib/components/cesium/AircraftLayer.svelte
  web/src/lib/components/cesium/TimelineController.svelte
  web/src/lib/services/AircraftRegistry.ts
  web/src/lib/services/FixFeed.ts
  web/src/lib/types/index.ts
  web/src/routes/flights/[id]/+page.svelte
  web/src/routes/flights/[id]/map/+page.svelte
  web/src/routes/receivers/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

Add comprehensive TODO documentation for remaining Grafana work
  infrastructure/GRAFANA-TODO-0-OVERVIEW.md
  infrastructure/GRAFANA-TODO-1-ANALYTICS.md
  infrastructure/GRAFANA-TODO-2-CODE-CHANGES.md
  infrastructure/GRAFANA-TODO-3-DASHBOARD-FIXES.md
  infrastructure/GRAFANA-TODO-4-REORGANIZATION.md
Due: none

Apply PR feedback: add TS type generation, fix authorization, and improve code quality
  src/actions/club_tow_fees.rs
  src/actions/views/club.rs
  src/club_tow_fees.rs
  src/club_tow_fees_repo.rs
  src/ts_export.rs
  web/src/lib/types/generated/Aircraft.ts
  web/src/lib/types/generated/AircraftView.ts
  web/src/lib/types/generated/ClubView.ts
  web/src/lib/types/generated/TowFeeView.ts
  web/src/lib/types/generated/index.ts
  web/src/routes/clubs/[id]/admin/fees/+page.svelte
  web/src/routes/clubs/[id]/admin/users/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

Add coalesce speed metric and fix coalesce distance P50 dashboard
  infrastructure/grafana-dashboard-run-flights.json
  src/flight_tracker/state_transitions.rs
  src/metrics.rs
Due: rust-fmt, rust-clippy, rust-test

Fix Flight Analytics dashboard SQL queries
  infrastructure/grafana-dashboard-analytics.json
Due: none

Individual dashboard fixes (TODO-3)
  infrastructure/grafana-dashboard-ingest-adsb.json
  infrastructure/grafana-dashboard-run-core.json
  infrastructure/grafana-dashboard-run-elevation.json
  infrastructure/grafana-dashboard-run-flights.json
Due: none

Dashboard reorganization (TODO-4): Move Flight Creation panel
  infrastructure/grafana-dashboard-run-flights.json
  infrastructure/grafana-dashboard-run-routing.json
Due: none

Add environment selectors and documentation panels
  infrastructure/grafana-dashboard-coverage.json
  infrastructure/grafana-dashboard-run-core.json
Due: none

Add comprehensive summary of Grafana improvements
  infrastructure/GRAFANA-IMPROVEMENTS-COMPLETED.md
Due: none

Remove generated/index.ts to match main branch
  web/src/lib/types/generated/index.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

Fix imports to use individual generated type files
  web/src/routes/clubs/[id]/admin/fees/+page.svelte
  web/src/routes/clubs/[id]/admin/users/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

UI improvements: flights tabs, desktop menu, and bug fixes
  web/src/lib/components/AircraftTile.svelte
  web/src/lib/formatters.ts
  web/src/routes/+layout.svelte
  web/src/routes/flights/+page.svelte
  web/src/routes/flights/[id]/+page.svelte
  web/src/routes/flights/[id]/map/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Code quality improvements: use generated types and URLSearchParams
  web/src/lib/formatters.ts
  web/src/routes/+page.svelte
  web/src/routes/flights/+page.svelte
  web/src/routes/flights/[id]/+page.svelte
  web/src/routes/flights/[id]/map/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Path conditions:
  web-install-deps: any of: ^web/(package\.json|package-lock\.json)$
  web-format: any of: ^web/.*\.(js|ts|svelte)$
  web-lint: any of: ^web/.*\.(js|ts|svelte)$
  web-type-check: any of: ^web/.*\.(js|ts|svelte)$
  web-test: any of: ^web/.*\.(js|ts|svelte)$
  web-build: any of: ^web/.*\.(js|ts|svelte)$
  rust-fmt: any of: \.rs$
  rust-clippy: any of: \.rs$
  rust-test: any of: \.rs$
  cargo-audit: any of: ^(Cargo\.toml|Cargo\.lock)$
