Repository hut8/soar: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-install-deps, web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test, cargo-audit

web-install-deps:
  name: Install web dependencies
  entry: bash -c 'cd web && npm ci'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-format:
  name: Auto-fix web formatting (Prettier)
  entry: bash -c 'cd web && npm run format'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-lint:
  name: Run web linter (ESLint + Prettier check)
  entry: bash -c 'cd web && npm run lint'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-type-check:
  name: Run web type checking
  entry: bash -c 'cd web && npm run check'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-test:
  name: Run web tests (Playwright E2E)
  entry: bash -c 'cd web && npm test'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

web-build:
  name: Build web project
  entry: bash -c 'cd web && npm run build'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

rust-fmt:
  name: Auto-fix Rust formatting
  entry: cargo fmt
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

rust-clippy:
  name: Run Clippy
  entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo clippy --all-targets --all-features -- -D warnings'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

rust-test:
  name: Run Rust tests
  entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo test'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

cargo-audit:
  name: Run security audit
  entry: cargo audit
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

refactor: remove async elevation mode and batch AGL writer
  infrastructure/grafana-dashboard-run-elevation.json
  src/agl_batch_writer.rs
  src/commands/run.rs
  src/elevation.rs
  src/elevation/service.rs
  src/fix_processor.rs
  src/fixes_repo.rs
  src/lib.rs
Due: rust-fmt, rust-clippy, rust-test

fix: enable SwiftShader for WebGL in Playwright CI tests
  web/playwright.config.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: support International Date Line crossing and add watchlist authentication
  src/actions/aircraft_search.rs
  web/src/lib/components/WatchlistModal.svelte
  web/src/lib/services/FixFeed.ts
  web/src/lib/types/index.ts
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

fix: standardize bounding box params and fix UI issues on operations page
  src/actions/airports.rs
  src/actions/airspaces.rs
  src/airports_repo.rs
  web/src/lib/components/cesium/AirportLayer.svelte
  web/src/lib/services/AircraftRegistry.ts
  web/src/routes/operations/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

fix: load aircraft registration and model data in status modal
  web/src/lib/components/AircraftStatusModal.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

feat: include latestFix in aircraft responses and remove registration/model data
  src/actions/aircraft_search.rs
  src/actions/views/aircraft.rs
  web/src/lib/services/AircraftRegistry.ts
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

fix: strip currentFix after using it as initial fix
  web/src/lib/services/AircraftRegistry.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

feat: add ts-rs for automatic TypeScript type generation from Rust
  Cargo.lock
  Cargo.toml
  bindings/serde_json/JsonValue.ts
  src/actions/views/aircraft.rs
  src/fixes.rs
  src/lib.rs
  src/ogn_aprs_aircraft.rs
  src/ts_export.rs
  web/src/lib/types/generated/.gitignore
  web/src/lib/types/generated/Aircraft.ts
  web/src/lib/types/generated/AircraftType.ts
  web/src/lib/types/generated/AircraftView.ts
  web/src/lib/types/generated/Fix.ts
  web/src/lib/types/generated/index.ts
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test, cargo-audit

fix: use current_fix from aircraft table for initial rendering
  src/fixes_repo.rs
  web/src/routes/operations/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

feat: add owner/operator field to aircraft details
  src/actions/views/aircraft.rs
  web/src/lib/components/AircraftStatusModal.svelte
  web/src/lib/types/generated/Aircraft.ts
  web/src/lib/types/generated/AircraftView.ts
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

feat: add home base airport display and debug flight links
  web/src/lib/components/AircraftStatusModal.svelte
  web/src/lib/components/FlightsList.svelte
  web/src/routes/aircraft/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: make archive --before argument a flag instead of positional
  src/main.rs
Due: rust-fmt, rust-clippy, rust-test

fix: correct aircraft issues API response interface
  web/src/routes/aircraft/issues/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: correct API response structure for flight detail page
  web/src/routes/flights/[id]/+page.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: populate country_code during aircraft upsert
  src/aircraft_repo.rs
Due: rust-fmt, rust-clippy, rust-test

feat: increase archive retention period from 21 to 45 days
  infrastructure/systemd/soar-archive.service
  src/commands/archive/mod.rs
  src/main.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add --max-age-days flag and update staging retention to 45 days
  infrastructure/systemd/soar-archive-staging.service
  infrastructure/systemd/soar-archive-staging.timer
  infrastructure/systemd/soar-archive.service
  infrastructure/systemd/soar-archive.timer
  src/main.rs
Due: rust-fmt, rust-clippy, rust-test

feat: replace aircraft limit modal with grid-based clustering
  src/actions/aircraft_search.rs
  src/actions/views/aircraft.rs
  src/fixes_repo.rs
  web/src/lib/services/FixFeed.ts
  web/src/lib/types/index.ts
  web/src/routes/operations/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

fix: prevent archive process exit code 101 by handling SMTP TLS properly
  src/archive_email_reporter.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add Docker Compose development environment
  .env.docker.example
  DOCKER-DEVELOPMENT.md
  Dockerfile.dev
  README.md
  docker-compose.dev.yml
Due: none

fix: reduce Sentry noise from routine operations
  src/aprs_client.rs
  src/archive_email_reporter.rs
  src/main.rs
Due: rust-fmt, rust-clippy, rust-test

fix: clustering mode conflicts and aircraft data completeness
  src/actions/aircraft_search.rs
  src/actions/views/aircraft.rs
  src/aircraft_repo.rs
  web/src/lib/components/AircraftTile.svelte
  web/src/lib/components/RadarLoader.svelte
  web/src/lib/services/locationTracker.ts
  web/src/lib/types/index.ts
  web/src/routes/+layout.svelte
  web/src/routes/operations/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

fix: configure SENTRY_RELEASE in deployment for release tracking
  infrastructure/soar-deploy
Due: none

fix: flight page data structure mismatch
  web/src/routes/flights/[id]/+page.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: use custom PostgreSQL image with H3 extension in Docker dev environment
  DOCKER-DEVELOPMENT.md
  docker-compose.dev.yml
Due: none

fix: aircraft issues page toUpperCase error
  src/actions/aircraft.rs
  web/src/routes/aircraft/issues/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

refactor: optimize aircraft queries and use current_fix for flight ID
  src/actions/aircraft_search.rs
  src/aircraft_repo.rs
  web/src/lib/components/AircraftStatusModal.svelte
  web/src/lib/components/AircraftTile.svelte
  web/src/routes/operations/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

refactor: remove unused activeFlightId field from backend
  src/actions/views/aircraft.rs
  web/src/lib/types/generated/Aircraft.ts
  web/src/lib/types/generated/AircraftView.ts
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

fix: implement progressive loading for flight detail page
  web/src/routes/flights/[id]/+page.svelte
  web/src/routes/flights/[id]/+page.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

refactor: use aircraft.currentFix instead of constructing pseudoFix
  web/src/routes/operations/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: handle out-of-order fixes in update_last_fix_at
  src/flights_repo.rs
Due: rust-fmt, rust-clippy, rust-test

fix: serialize AirspaceProperties with camelCase for frontend compatibility
  src/airspace.rs
Due: rust-fmt, rust-clippy, rust-test

fix: prevent websocket area subscriptions in cluster mode
  web/src/routes/operations/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: update fix gaps API response to use DataResponse wrapper
  web/src/routes/flights/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Improve clustering behavior on operations page
  src/actions/aircraft_search.rs
  web/src/routes/operations/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

fix: improve clustering behavior and viewport management
  src/actions/aircraft_search.rs
  web/src/routes/operations/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

feat: increase cluster grid size to 3 degrees
  src/actions/aircraft_search.rs
Due: rust-fmt, rust-clippy, rust-test

fix: improve cluster marker visibility and centering
  web/src/routes/operations/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: use grid cell bounds for clusters instead of aircraft min/max
  src/actions/aircraft_search.rs
Due: rust-fmt, rust-clippy, rust-test

Path conditions:
  web-install-deps: any of: ^web/(package\.json|package-lock\.json)$
  web-format: any of: ^web/.*\.(js|ts|svelte)$
  web-lint: any of: ^web/.*\.(js|ts|svelte)$
  web-type-check: any of: ^web/.*\.(js|ts|svelte)$
  web-test: any of: ^web/.*\.(js|ts|svelte)$
  web-build: any of: ^web/.*\.(js|ts|svelte)$
  rust-fmt: any of: \.rs$
  rust-clippy: any of: \.rs$
  rust-test: any of: \.rs$
  cargo-audit: any of: ^(Cargo\.toml|Cargo\.lock)$
