Repository hut8/soar: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-install-deps, web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test, cargo-audit

web-install-deps:
  name: Install web dependencies
  entry: bash -c 'cd web && npm ci'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-format:
  name: Auto-fix web formatting (Prettier)
  entry: bash -c 'cd web && npm run format'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-lint:
  name: Run web linter (ESLint + Prettier check)
  entry: bash -c 'cd web && npm run lint'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-type-check:
  name: Run web type checking
  entry: bash -c 'cd web && npm run check'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-test:
  name: Run web tests (Playwright E2E)
  entry: bash -c 'cd web && npm test'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

web-build:
  name: Build web project
  entry: bash -c 'cd web && npm run build'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

rust-fmt:
  name: Auto-fix Rust formatting
  entry: cargo fmt
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

rust-clippy:
  name: Run Clippy
  entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo clippy --all-targets --all-features -- -D warnings'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

rust-test:
  name: Run Rust tests
  entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo test'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

cargo-audit:
  name: Run security audit
  entry: cargo audit
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

Add PgBouncer installation and configuration to provision script
  CLAUDE.md
  infrastructure/pgbouncer-userlist.txt
  infrastructure/pgbouncer.ini
  scripts/provision
Due: none

Fix pgbouncer auth to use 'any' with forced backend user
  infrastructure/pgbouncer.ini
Due: none

Remove JetStream from NATS server configuration
  infrastructure/nats-server.service
Due: none

Tune router worker pool and queue sizes to reduce blocking
  CLAUDE.md
  infrastructure/pgbouncer.ini
  infrastructure/soar-deploy
  src/commands/run.rs
  src/main.rs
  src/packet_processors/router.rs
Due: rust-fmt, rust-clippy, rust-test

Improve Grafana dashboards and fix location geocoding metrics
  infrastructure/grafana-dashboard-ingest.json
  infrastructure/grafana-dashboard-run-geocoding.json
  infrastructure/grafana-dashboard-run.json
  src/flight_tracker/flight_lifecycle.rs
  src/flight_tracker/location.rs
  src/flights_repo.rs
  src/metrics.rs
Due: rust-fmt, rust-clippy, rust-test

Fix deployment bundle to include observability configs and PostgreSQL datasource
  .github/workflows/ci.yml
  CLAUDE.md
  infrastructure/grafana-provisioning/datasources/soar-postgres.yaml.template
  infrastructure/soar-deploy
Due: none

Add git commit to Alloy config for profiling source code linking
  .github/workflows/ci.yml
  CLAUDE.md
  infrastructure/alloy-config.alloy.template
  infrastructure/soar-deploy
Due: none

Fix templating extraction for postgres_datasource
  infrastructure/dashboards/build.py
  infrastructure/dashboards/common/templating-postgres-datasource.json
  infrastructure/dashboards/definitions/analytics.json
  infrastructure/dashboards/definitions/coverage.json
Due: none

Add ignore_startup_parameters to PgBouncer config
  infrastructure/pgbouncer.ini
Due: none

Remove pidfile/logfile from PgBouncer config
  infrastructure/pgbouncer.ini
Due: none

Format ICAO/OGN addresses as hex in log messages
  src/aircraft.rs
  src/flight_tracker/flight_lifecycle.rs
Due: rust-fmt, rust-clippy, rust-test

Fix takeoff detection with insufficient fix history
  src/flight_tracker/state_transitions.rs
Due: rust-fmt, rust-clippy, rust-test

Display human-readable labels for aircraft model details
  src/actions/views/club.rs
  src/faa/aircraft_models.rs
Due: rust-fmt, rust-clippy, rust-test

Fix undefined aircraft ID in API calls and always fetch unknown aircraft
  web/src/lib/services/AircraftRegistry.ts
  web/src/lib/services/FixFeed.ts
  web/src/lib/stores/watchlist.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

Update web/src/lib/services/FixFeed.ts
  web/src/lib/services/FixFeed.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

Update web/src/lib/services/AircraftRegistry.ts
  web/src/lib/services/AircraftRegistry.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

Format auto-generated TypeScript bindings with Prettier
  web/src/lib/types/generated/AdsbEmitterCategory.ts
  web/src/lib/types/generated/Aircraft.ts
  web/src/lib/types/generated/AircraftCluster.ts
  web/src/lib/types/generated/AircraftOrCluster.ts
  web/src/lib/types/generated/AircraftSearchResponse.ts
  web/src/lib/types/generated/AircraftType.ts
  web/src/lib/types/generated/AircraftView.ts
  web/src/lib/types/generated/ClubView.ts
  web/src/lib/types/generated/ClusterBounds.ts
  web/src/lib/types/generated/Fix.ts
  web/src/lib/types/generated/TowFeeView.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

Auto-remove invalid aircraft from watchlist on load
  web/src/lib/stores/watchlist.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

Configure LogTape meta logger to suppress info message
  web/src/lib/logging.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

Fix compass rotation direction and move map toggle button
  web/src/routes/operations/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Refactor operations page: extract marker managers and components
  web/src/lib/components/CompassRose.svelte
  web/src/lib/services/markers/AircraftMarkerManager.ts
  web/src/lib/services/markers/AirportMarkerManager.ts
  web/src/lib/services/markers/AirspaceOverlayManager.ts
  web/src/lib/services/markers/ClusterMarkerManager.ts
  web/src/lib/services/markers/ReceiverMarkerManager.ts
  web/src/lib/services/markers/RunwayOverlayManager.ts
  web/src/lib/services/markers/index.ts
  web/src/routes/operations/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Remove rawPacket from fixes, add /data/raw-messages/{id} endpoint
  src/actions/flights.rs
  src/actions/mod.rs
  src/actions/raw_messages.rs
  src/fixes.rs
  src/fixes_repo.rs
  src/flights.rs
  src/raw_messages_repo.rs
  src/web.rs
  web/src/lib/components/FixesList.svelte
  web/src/lib/types/index.ts
  web/src/routes/receivers/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

Enable frontend source maps and fix geocoding dashboard legends
  .github/workflows/build-arm64.yml
  .github/workflows/ci.yml
  infrastructure/dashboards/panels/run-geocoding/geocoding-latency.json
  infrastructure/dashboards/panels/run-geocoding/geocoding-request-rate.json
  infrastructure/dashboards/panels/run-geocoding/locations-created-by-type.json
  infrastructure/grafana-dashboard-run-geocoding.json
  web/.env.example
  web/package-lock.json
  web/package.json
  web/vite.config.ts
Due: web-install-deps, web-format, web-lint, web-type-check, web-test, web-build

Extract map state persistence utilities from operations page
  web/src/lib/utils/mapStatePersistence.ts
  web/src/routes/operations/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Extract ViewportAircraftController from operations page
  web/src/lib/services/ViewportAircraftController.ts
  web/src/routes/operations/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Fix Beast/SBS latency histogram buckets and disable APRS on staging
  infrastructure/systemd/soar-ingest-staging.service
  src/metrics.rs
Due: rust-fmt, rust-clippy, rust-test

Add URL bounds parameters to operations page and disable 3D Globe links
  web/src/routes/+layout.svelte
  web/src/routes/+page.svelte
  web/src/routes/operations/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Initialize positionFixWindow from settings during map setup
  web/src/routes/operations/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Add URL bounds support to mapStatePersistence
  web/src/lib/utils/mapStatePersistence.ts
  web/src/routes/operations/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

perf: remove redundant lat/lng update from fix insert
  src/fixes_repo.rs
Due: rust-fmt, rust-clippy, rust-test

perf: increase aircraft queue size from 1,000 to 5,000
  src/commands/run.rs
Due: rust-fmt, rust-clippy, rust-test

Improve AR view with nautical miles, compass fixes, and aircraft finder
  web/src/lib/ar/calculations.ts
  web/src/lib/ar/types.ts
  web/src/lib/components/ar/ARControls.svelte
  web/src/lib/components/ar/AircraftListModal.svelte
  web/src/lib/components/ar/AircraftMarker.svelte
  web/src/lib/components/ar/CompassOverlay.svelte
  web/src/lib/components/ar/DirectionIndicator.svelte
  web/src/routes/ar/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Add RDP-compressed flight path endpoint for trail rendering
  src/actions/flights.rs
  src/geometry/mod.rs
  src/geometry/rdp.rs
  src/web.rs
  web/src/lib/components/SettingsModal.svelte
  web/src/lib/services/markers/AircraftMarkerManager.ts
  web/src/lib/types/index.ts
  web/src/routes/flights/[id]/map/+page.svelte
  web/src/routes/flights/[id]/map/+page.ts
  web/src/routes/operations/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

Fix AR compass arrow rotation and aircraft selection infinite loop
  web/src/lib/components/ar/CompassOverlay.svelte
  web/src/routes/ar/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Improve aircraft details page UI
  web/src/routes/aircraft/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Invert favicon colors on staging for visual distinction
  web/src/routes/+layout.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Fix watchlist API camelCase and improve operations compass
  src/watchlist.rs
  web/src/routes/operations/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

UI improvements for aircraft details and operations pages
  web/src/routes/aircraft/[id]/+page.svelte
  web/src/routes/operations/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Fix watchlist API to use camelCase and return JSON errors
  src/actions/watchlist.rs
  src/watchlist.rs
  web/src/lib/components/WatchlistModal.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

Path conditions:
  web-install-deps: any of: ^web/(package\.json|package-lock\.json)$
  web-format: any of: ^web/.*\.(js|ts|svelte)$
  web-lint: any of: ^web/.*\.(js|ts|svelte)$
  web-type-check: any of: ^web/.*\.(js|ts|svelte)$
  web-test: any of: ^web/.*\.(js|ts|svelte)$
  web-build: any of: ^web/.*\.(js|ts|svelte)$
  rust-fmt: any of: \.rs$
  rust-clippy: any of: \.rs$
  rust-test: any of: \.rs$
  cargo-audit: any of: ^(Cargo\.toml|Cargo\.lock)$
