Repository hut8/soar: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-install-deps, web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test, cargo-audit

web-install-deps:
  name: Install web dependencies
  entry: bash -c 'cd web && npm ci'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-format:
  name: Auto-fix web formatting (Prettier)
  entry: bash -c 'cd web && npm run format'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-lint:
  name: Run web linter (ESLint + Prettier check)
  entry: bash -c 'cd web && npm run lint'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-type-check:
  name: Run web type checking
  entry: bash -c 'cd web && npm run check'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-test:
  name: Run web tests (Playwright E2E)
  entry: bash -c 'cd web && npm test'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

web-build:
  name: Build web project
  entry: bash -c 'cd web && npm run build'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

rust-fmt:
  name: Auto-fix Rust formatting
  entry: cargo fmt
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

rust-clippy:
  name: Run Clippy
  entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo clippy --all-targets --all-features -- -D warnings'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

rust-test:
  name: Run Rust tests
  entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo test'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

cargo-audit:
  name: Run security audit
  entry: cargo audit
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

fix: make PacketRouter queue blocking instead of dropping packets
  src/commands/run.rs
  src/packet_processors/router.rs
Due: rust-fmt, rust-clippy, rust-test

fix: eliminate all queue drops across the system
  src/aprs_client.rs
  src/commands/run.rs
  src/fix_processor.rs
  src/nats_publisher.rs
  src/packet_processors/generic.rs
  src/packet_processors/router.rs
Due: rust-fmt, rust-clippy, rust-test

feat: make aprs_message_hash NOT NULL with trigger fallback
  migrations/2025-11-06-004803-0000_make_aprs_message_hash_not_null/down.sql
  migrations/2025-11-06-004803-0000_make_aprs_message_hash_not_null/up.sql
  src/aprs_messages_repo.rs
  src/schema.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add remote IP address logging to web requests
  src/web.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add response size tracking to metrics
  Cargo.lock
  Cargo.toml
  src/web.rs
Due: rust-fmt, rust-clippy, rust-test, cargo-audit

fix: resolve ingest-aprs connection and performance issues
  src/aprs_client.rs
Due: rust-fmt, rust-clippy, rust-test

fix: fix JetStream publish blocking issue
  src/aprs_client.rs
Due: rust-fmt, rust-clippy, rust-test

refactor: move ArchiveService to its own file
  src/aprs_client.rs
  src/archive_service.rs
  src/lib.rs
Due: rust-fmt, rust-clippy, rust-test

fix: move semaphore acquire into spawned task to prevent event loop blocking
  src/aprs_client.rs
Due: rust-fmt, rust-clippy, rust-test

fix: use explicit ACK policy for WorkQueue stream compatibility
  src/aprs_jetstream_consumer.rs
Due: rust-fmt, rust-clippy, rust-test

fix: always ACK messages, use blocking send for backpressure
  src/aprs_jetstream_consumer.rs
Due: rust-fmt, rust-clippy, rust-test

fix: update ArchiveService imports after refactoring
  src/commands/run.rs
  src/packet_processors/generic.rs
Due: rust-fmt, rust-clippy, rust-test

fix: start PacketRouter workers after queue configuration
  infrastructure/prometheus-jobs/soar-run.yml
  src/commands/run.rs
  src/packet_processors/router.rs
Due: rust-fmt, rust-clippy, rust-test

fix: start PacketRouter workers after queue configuration (#306)
  infrastructure/prometheus-jobs/soar-run.yml
  src/commands/run.rs
  src/packet_processors/router.rs
Due: rust-fmt, rust-clippy, rust-test

fix: use fixed port 6669 for soar-run tokio-console
  src/main.rs
Due: rust-fmt, rust-clippy, rust-test

Fix: Use fixed port 6669 for soar-run tokio-console (#307)
  src/main.rs
Due: rust-fmt, rust-clippy, rust-test

fix: Update Skeleton UI components to use event detail objects
  web/src/lib/components/ClubSelector.svelte
  web/src/lib/components/SettingsModal.svelte
  web/src/lib/components/WatchlistModal.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: Restore compound components structure to Switch and Slider
  web/src/lib/components/SettingsModal.svelte
  web/src/lib/components/WatchlistModal.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: Import Skeleton Svelte component CSS to load skb: prefixed classes
  web/src/app.css
Due: none

fix: Import skeleton-svelte CSS file path explicitly
  web/src/app.css
Due: none

fix: Add skeleton-common to Tailwind content for skb: class processing
  web/src/app.css
  web/tailwind.config.js
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: Import skeleton-svelte CSS using package export
  web/src/app.css
Due: none

remove accidentally committed migration in wrong place
  web/migrations/20250910010624_add_club_id_to_flights.sql
Due: none

upgrade packages to latest versions
  web/package-lock.json
  web/package.json
Due: web-install-deps

check in auto generated schema
  schema.sql
Due: none

fix: Remove skeleton-svelte CSS import - rely on Tailwind content scanning
  web/src/app.css
Due: none

fix: Import Skeleton CSS with explicit file paths
  web/src/app.css
Due: none

fix: Use Tailwind @source directive for Skeleton classes
  web/src/app.css
Due: none

fix: Add skb: custom variant for Skeleton UI classes
  web/src/app.css
Due: none

fix: Upgrade prettier-plugin-tailwindcss and fix Skeleton components
  web/package-lock.json
  web/package.json
  web/src/app.css
  web/src/lib/components/AircraftStatusModal.svelte
  web/src/lib/components/AirportModal.svelte
  web/src/lib/components/ClubSelector.svelte
  web/src/lib/components/FixesList.svelte
  web/src/lib/components/FlightsList.svelte
  web/src/lib/components/PilotSelectionModal.svelte
  web/src/lib/components/SettingsModal.svelte
  web/src/lib/components/TowAircraftLink.svelte
  web/src/lib/components/WatchlistModal.svelte
  web/src/routes/+layout.svelte
  web/src/routes/+page.svelte
  web/src/routes/airports/+page.svelte
  web/src/routes/airports/[id]/+page.svelte
  web/src/routes/clubs/+page.svelte
  web/src/routes/clubs/[id]/+page.svelte
  web/src/routes/clubs/[id]/operations/+page.svelte
  web/src/routes/clubs/[id]/pilots/+page.svelte
  web/src/routes/devices/+page.svelte
  web/src/routes/devices/[id]/+page.svelte
  web/src/routes/flights/+page.svelte
  web/src/routes/flights/[id]/+page.svelte
  web/src/routes/forgot-password/+page.svelte
  web/src/routes/info/+page.svelte
  web/src/routes/login/+page.svelte
  web/src/routes/profile/+page.svelte
  web/src/routes/receivers/+page.svelte
  web/src/routes/receivers/[id]/+page.svelte
  web/src/routes/register/+page.svelte
  web/src/routes/reset-password/+page.svelte
  web/src/routes/verify-email/+page.svelte
Due: web-install-deps, web-format, web-lint, web-type-check, web-test, web-build

fix: Use official Skeleton CSS import configuration
  web/src/app.css
Due: none

fix: Configure postcss-import to resolve Skeleton CSS correctly
  web/package-lock.json
  web/package.json
  web/postcss.config.js
  web/src/app.css
  web/src/lib/components/AircraftStatusModal.svelte
  web/src/lib/components/AirportModal.svelte
  web/src/lib/components/ClubSelector.svelte
  web/src/lib/components/FixesList.svelte
  web/src/lib/components/FlightsList.svelte
  web/src/lib/components/PilotSelectionModal.svelte
  web/src/lib/components/SettingsModal.svelte
  web/src/lib/components/TowAircraftLink.svelte
  web/src/lib/components/WatchlistModal.svelte
  web/src/routes/+layout.svelte
  web/src/routes/+page.svelte
  web/src/routes/airports/+page.svelte
  web/src/routes/airports/[id]/+page.svelte
  web/src/routes/clubs/+page.svelte
  web/src/routes/clubs/[id]/+page.svelte
  web/src/routes/clubs/[id]/operations/+page.svelte
  web/src/routes/clubs/[id]/pilots/+page.svelte
  web/src/routes/devices/+page.svelte
  web/src/routes/devices/[id]/+page.svelte
  web/src/routes/flights/+page.svelte
  web/src/routes/flights/[id]/+page.svelte
  web/src/routes/forgot-password/+page.svelte
  web/src/routes/info/+page.svelte
  web/src/routes/login/+page.svelte
  web/src/routes/profile/+page.svelte
  web/src/routes/receivers/+page.svelte
  web/src/routes/receivers/[id]/+page.svelte
  web/src/routes/register/+page.svelte
  web/src/routes/reset-password/+page.svelte
  web/src/routes/verify-email/+page.svelte
Due: web-install-deps, web-format, web-lint, web-type-check, web-test, web-build

fix: Add Tailwind Vite plugin to resolve Skeleton CSS imports
  web/package-lock.json
  web/package.json
  web/postcss.config.js
  web/vite.config.ts
Due: web-install-deps, web-format, web-lint, web-type-check, web-test, web-build

fix: remove unwanted 16px padding from AppBar toolbar
  web/src/routes/+layout.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: adjust AppBar padding and fix SegmentedControl components
  web/src/lib/components/WatchlistModal.svelte
  web/src/routes/+layout.svelte
  web/src/routes/devices/+page.svelte
  web/src/routes/operations/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: Restore compound components structure to Switch and Slider (#309)
  schema.sql
  web/migrations/20250910010624_add_club_id_to_flights.sql
  web/package-lock.json
  web/package.json
  web/src/app.css
  web/src/lib/components/SettingsModal.svelte
  web/src/lib/components/WatchlistModal.svelte
  web/src/routes/+layout.svelte
  web/src/routes/devices/+page.svelte
  web/src/routes/operations/+page.svelte
  web/tailwind.config.js
  web/vite.config.ts
Due: web-install-deps, web-format, web-lint, web-type-check, web-test, web-build

fix: ensure operations map stays behind AppBar
  web/src/lib/components/LoadingBar.svelte
  web/src/routes/operations/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: add solid background to ClubSelector dropdown
  web/src/lib/components/ClubSelector.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

feat: show 10 most recently active devices on devices page load
  src/actions/devices.rs
  src/device_repo.rs
  web/src/routes/devices/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

Path conditions:
  web-install-deps: any of: ^web/(package\.json|package-lock\.json)$
  web-format: any of: ^web/.*\.(js|ts|svelte)$
  web-lint: any of: ^web/.*\.(js|ts|svelte)$
  web-type-check: any of: ^web/.*\.(js|ts|svelte)$
  web-test: any of: ^web/.*\.(js|ts|svelte)$
  web-build: any of: ^web/.*\.(js|ts|svelte)$
  rust-fmt: any of: \.rs$
  rust-clippy: any of: \.rs$
  rust-test: any of: \.rs$
  cargo-audit: any of: ^(Cargo\.toml|Cargo\.lock)$
