Repository hut8/soar: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-install-deps, web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test, cargo-audit

web-install-deps:
  name: Install web dependencies
  entry: bash -c 'cd web && npm ci'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-format:
  name: Auto-fix web formatting (Prettier)
  entry: bash -c 'cd web && npm run format'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-lint:
  name: Run web linter (ESLint + Prettier check)
  entry: bash -c 'cd web && npm run lint'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-type-check:
  name: Run web type checking
  entry: bash -c 'cd web && npm run check'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-test:
  name: Run web tests (Playwright E2E)
  entry: bash -c 'cd web && npm test'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

web-build:
  name: Build web project
  entry: bash -c 'cd web && npm run build'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

rust-fmt:
  name: Auto-fix Rust formatting
  entry: cargo fmt
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

rust-clippy:
  name: Run Clippy
  entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo clippy --all-targets --all-features -- -D warnings'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

rust-test:
  name: Run Rust tests
  entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo test'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

cargo-audit:
  name: Run security audit
  entry: cargo audit
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

feat: integrate climb rate tracking and tow release detection
  src/flight_tracker/state_transitions.rs
Due: rust-fmt, rust-clippy, rust-test

perf: increase GDAL dataset cache from 100 to 1000 tiles
  src/elevation.rs
Due: rust-fmt, rust-clippy, rust-test

feat: remove state persistence and add database initialization for flight tracker
  src/flight_tracker/mod.rs
  src/flights_repo.rs
  src/main.rs
Due: rust-fmt, rust-clippy, rust-test

perf: optimize timeout_old_incomplete_flights to use single SQL UPDATE
  src/flights_repo.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add previous/next flight navigation and fix club operations flights loading
  src/actions/flights.rs
  src/actions/views/flight.rs
  src/flights_repo.rs
  web/src/lib/types/index.ts
  web/src/routes/clubs/[id]/operations/+page.svelte
  web/src/routes/flights/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

feat: display tracker device type on device detail page
  src/actions/views/aircraft.rs
  web/src/lib/types/index.ts
  web/src/routes/devices/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

feat: reorganize Grafana dashboards and improve metrics visualization
  infrastructure/grafana-dashboard-web.json
  infrastructure/grafana-dashboard.json
Due: none

feat: add tracker_device_type to Device struct and optimize flight navigation queries
  src/actions/flights.rs
  src/actions/views/aircraft.rs
  src/devices.rs
  src/flights_repo.rs
Due: rust-fmt, rust-clippy, rust-test

feat: implement parallel producer/consumer pattern for AGL backfill
  src/agl_backfill.rs
Due: rust-fmt, rust-clippy, rust-test

refactor: split Grafana dashboard into separate web and run dashboards
  infrastructure/grafana-dashboard-run.json
  infrastructure/grafana-dashboard-web.json
Due: none

feat: add latest fix timestamp to flight details and fix airport icon color
  web/src/routes/flights/[id]/+page.svelte
  web/src/routes/operations/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

refactor: use BackfillTask directly instead of creating dummy Fix structs
  src/agl_backfill.rs
Due: rust-fmt, rust-clippy, rust-test

refactor: make BackfillTask.altitude_msl_feet non-optional
  src/agl_backfill.rs
Due: rust-fmt, rust-clippy, rust-test

refactor: remove unnecessary num_workers parameter from producer_task
  src/agl_backfill.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add process uptime and memory metrics to both run and web processes
  infrastructure/grafana-dashboard-run.json
  infrastructure/grafana-dashboard-web.json
  src/metrics.rs
  src/web.rs
Due: rust-fmt, rust-clippy, rust-test

feat: fix elevation queue overflow with batched database updates
  src/agl_batch_writer.rs
  src/elevation.rs
  src/fix_processor.rs
  src/fixes_repo.rs
  src/flight_tracker/altitude.rs
  src/lib.rs
  src/main.rs
Due: rust-fmt, rust-clippy, rust-test

fix: correct Grafana dashboard metric queries and improve APRS queue visibility
  infrastructure/grafana-dashboard-run.json
Due: none

feat: improve elevation cache metrics visibility in dashboard
  infrastructure/grafana-dashboard-run.json
  src/elevation.rs
Due: rust-fmt, rust-clippy, rust-test

perf: reduce frequency of expensive pending fixes count query
  src/agl_backfill.rs
Due: rust-fmt, rust-clippy, rust-test

fix: increase APRS queue capacity from 10k to 50k to handle processing spikes
  src/main.rs
Due: rust-fmt, rust-clippy, rust-test

perf: optimize AGL backfill query by selecting only required columns
  CLAUDE.md
  migrations/2025-10-28-190030-0000_add_idx_fixes_backfill_optimized/down.sql
  migrations/2025-10-28-190030-0000_add_idx_fixes_backfill_optimized/up.sql
  src/agl_backfill.rs
  src/fixes_repo.rs
Due: rust-fmt, rust-clippy, rust-test

feat: expand archival system to support all tables and add resurrect command
  src/aprs_messages_repo.rs
  src/archive.rs
  src/main.rs
Due: rust-fmt, rust-clippy, rust-test

perf: add batch writer to AGL backfill for 100x fewer database transactions
  src/agl_backfill.rs
Due: rust-fmt, rust-clippy, rust-test

perf: replace locked LRU caches with moka for lock-free concurrent access
  Cargo.lock
  Cargo.toml
  src/elevation.rs
Due: rust-fmt, rust-clippy, rust-test, cargo-audit

feat: enable automatic archival timer for daily data cleanup
  soar-archive.service
  soar-archive.timer
  soar.target
Due: none

perf: replace GDAL-based elevation with HGT format for 100x performance improvement
  Cargo.lock
  Cargo.toml
  src/elevation.rs
  src/elevation/hgt.rs
  src/elevation/service.rs
  src/lib.rs
  src/main.rs
  tests/elevation_test.rs
Due: rust-fmt, rust-clippy, rust-test, cargo-audit

dev: use PID-based port for tokio-console and default ELEVATION_DATA_PATH
  src/elevation/service.rs
  src/main.rs
Due: rust-fmt, rust-clippy, rust-test

test: fix elevation service test to not require directory existence
  src/elevation/service.rs
Due: rust-fmt, rust-clippy, rust-test

fix: improve data load report metrics accuracy
  src/loader/home_base_linking.rs
  src/loader/mod.rs
Due: rust-fmt, rust-clippy, rust-test

test: use helper function to DRY up test elevation DB initialization
  tests/elevation_test.rs
Due: rust-fmt, rust-clippy, rust-test

fix: don't set takeoff_time and altitude offset for mid-flight appearances
  src/flight_tracker/flight_lifecycle.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add latest fix timestamp to active flights list
  src/actions/flights.rs
  src/actions/views/flight.rs
  web/src/routes/flights/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

feat: add radar loader, update Grafana metrics, and improve flight UI
  infrastructure/grafana-dashboard-run.json
  web/src/lib/components/RadarLoader.svelte
  web/src/routes/+layout.svelte
  web/src/routes/flights/[id]/+page.svelte
  web/src/routes/operations/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

chore: upgrade @googlemaps/js-api-loader from v1.16.10 to v2.0.2
  web/package-lock.json
  web/package.json
  web/src/routes/flights/[id]/+page.svelte
  web/src/routes/operations/+page.svelte
  web/src/routes/receivers/+page.svelte
Due: web-install-deps, web-format, web-lint, web-type-check, web-test, web-build

feat: implement 1-hour timeout with flight coalescing
  src/flight_tracker/mod.rs
  src/flight_tracker/state_transitions.rs
  src/flight_tracker/utils.rs
  src/flights_repo.rs
  src/main.rs
Due: rust-fmt, rust-clippy, rust-test

feat: increase active speed threshold from 20 to 25 knots
  src/fixes.rs
  src/flight_tracker/aircraft_tracker.rs
  src/flight_tracker/state_transitions.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add index on fixes(flight_id, timestamp)
  migrations/2025-10-29-192117-0000_add_idx_fixes_flight_id_timestamp/down.sql
  migrations/2025-10-29-192117-0000_add_idx_fixes_flight_id_timestamp/up.sql
Due: none

feat: refactor flights list and add ICAO model code display
  CLAUDE.md
  src/actions/views/aircraft.rs
  web/src/lib/components/FlightsList.svelte
  web/src/lib/types/index.ts
  web/src/routes/devices/[id]/+page.svelte
  web/src/routes/flights/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

fix: make WebSocket reconnection retry indefinitely with fixed delay
  web/src/lib/services/FixFeed.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

Path conditions:
  web-install-deps: any of: ^web/(package\.json|package-lock\.json)$
  web-format: any of: ^web/.*\.(js|ts|svelte)$
  web-lint: any of: ^web/.*\.(js|ts|svelte)$
  web-type-check: any of: ^web/.*\.(js|ts|svelte)$
  web-test: any of: ^web/.*\.(js|ts|svelte)$
  web-build: any of: ^web/.*\.(js|ts|svelte)$
  rust-fmt: any of: \.rs$
  rust-clippy: any of: \.rs$
  rust-test: any of: \.rs$
  cargo-audit: any of: ^(Cargo\.toml|Cargo\.lock)$
