Repository hut8/soar: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-install-deps, web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test, cargo-audit

web-install-deps:
  name: Install web dependencies
  entry: bash -c 'cd web && npm ci'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-format:
  name: Auto-fix web formatting (Prettier)
  entry: bash -c 'cd web && npm run format'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-lint:
  name: Run web linter (ESLint + Prettier check)
  entry: bash -c 'cd web && npm run lint'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-type-check:
  name: Run web type checking
  entry: bash -c 'cd web && npm run check'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-test:
  name: Run web tests (Playwright E2E)
  entry: bash -c 'cd web && npm test'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

web-build:
  name: Build web project
  entry: bash -c 'cd web && npm run build'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

rust-fmt:
  name: Auto-fix Rust formatting
  entry: cargo fmt
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

rust-clippy:
  name: Run Clippy
  entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo clippy --all-targets --all-features -- -D warnings'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

rust-test:
  name: Run Rust tests
  entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo test'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

cargo-audit:
  name: Run security audit
  entry: cargo audit
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

refactor: consolidate fix lists into reusable FixesList component
  web/src/lib/components/FixesList.svelte
  web/src/routes/devices/[id]/+page.svelte
  web/src/routes/flights/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: implement server-side filtering for hide inactive fixes
  web/src/lib/components/FixesList.svelte
  web/src/routes/devices/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

refactor: remove deprecated tow_release_height_msl field and add flight constraints
  CLAUDE.md
  migrations/2025-10-29-164741-0000_drop_tow_release_height_msl/down.sql
  migrations/2025-10-29-164741-0000_drop_tow_release_height_msl/up.sql
  migrations/2025-10-29-172256-0000_add_timed_out_landing_time_constraint/down.sql
  migrations/2025-10-29-172256-0000_add_timed_out_landing_time_constraint/up.sql
  src/actions/views/flight.rs
  src/flights.rs
  src/flights_repo.rs
  src/schema.rs
  web/src/lib/components/FlightsList.svelte
  web/src/lib/types/index.ts
  web/src/routes/clubs/[id]/operations/+page.svelte
  web/src/routes/flights/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

feat: add TowAircraftLink component to display tow aircraft with registration
  web/src/lib/components/FlightsList.svelte
  web/src/lib/components/TowAircraftLink.svelte
  web/src/lib/types/index.ts
  web/src/routes/clubs/[id]/operations/+page.svelte
  web/src/routes/flights/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

feat: add tow release height delta calculation
  migrations/2025-10-29-192312-0000_add_tow_release_height_delta/down.sql
  migrations/2025-10-29-192312-0000_add_tow_release_height_delta/up.sql
  src/flights.rs
  src/flights_repo.rs
  src/schema.rs
Due: rust-fmt, rust-clippy, rust-test

refactor: remove deprecated code and consolidate Flight interface
  src/flights_repo.rs
  web/src/lib/types/index.ts
  web/src/routes/clubs/[id]/operations/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

fix: correct Flight interface types and remove tow_aircraft_id references
  web/src/lib/components/FlightsList.svelte
  web/src/lib/types/index.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

refactor: simplify serverCall API with query params object
  web/src/lib/api/server.ts
  web/src/lib/services/DeviceRegistry.ts
  web/src/lib/services/FixFeed.ts
  web/src/routes/devices/[id]/+page.svelte
  web/src/routes/flights/[id]/+page.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: properly handle trailing/leading slashes in API URL construction
  web/src/lib/api/server.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

Revert "fix: properly handle trailing/leading slashes in API URL construction"
  web/src/lib/api/server.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: remove callsign and tow_release_height_delta_ft from NewFlightModel
  src/flights.rs
Due: rust-fmt, rust-clippy, rust-test

fix: remove callsign field from flights table schema
  src/flights.rs
  src/schema.rs
Due: rust-fmt, rust-clippy, rust-test

refactor: move queues from AprsClient to PacketRouter with per-processor workers
  GRAFANA_DASHBOARD_UPDATES.md
  src/aprs_client.rs
  src/main.rs
  src/packet_processors/aircraft.rs
  src/packet_processors/generic.rs
  src/packet_processors/receiver_position.rs
  src/packet_processors/receiver_status.rs
  src/packet_processors/router.rs
  src/packet_processors/server_status.rs
  src/server_messages_repo.rs
Due: rust-fmt, rust-clippy, rust-test

refactor: increase queue sizes and double worker counts
  src/main.rs
Due: rust-fmt, rust-clippy, rust-test

refactor: simplify callsign update to inline async, renumber steps
  src/fix_processor.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add device registration and flight callsign tracking from APRS
  migrations/2025-10-29-190613-0000_add_callsign_to_flights/down.sql
  migrations/2025-10-29-190613-0000_add_callsign_to_flights/up.sql
  src/device_repo.rs
  src/fix_processor.rs
  src/flight_tracker/mod.rs
  src/flights.rs
  src/flights_repo.rs
  src/schema.rs
Due: rust-fmt, rust-clippy, rust-test

fix: resolve rebase conflicts in Flight model conversions
  src/flights.rs
Due: rust-fmt, rust-clippy, rust-test

feat: update Grafana dashboard for per-processor queue architecture
  infrastructure/grafana-dashboard-run.json
Due: none

chore: remove Grafana dashboard update instructions
  GRAFANA_DASHBOARD_UPDATES.md
Due: none

refactor: remove unused update_flight_details method
  src/flights_repo.rs
Due: rust-fmt, rust-clippy, rust-test

feat: enhance Grafana dashboard with total rates and dual-axis queue panel
  infrastructure/grafana-dashboard-run.json
Due: none

perf: buffer archive writes with 1MB memory buffer
  src/aprs_client.rs
Due: rust-fmt, rust-clippy, rust-test

refactor: remove unparsed APRS CSV logging functionality
  soar-run.service
  src/aprs_client.rs
  src/main.rs
Due: rust-fmt, rust-clippy, rust-test

refactor: remove unused config parameter from process_message
  src/aprs_client.rs
Due: rust-fmt, rust-clippy, rust-test

feat: prevent TCP read blocking and add comprehensive queue metrics
  infrastructure/grafana-dashboard-run.json
  src/aprs_client.rs
  src/main.rs
Due: rust-fmt, rust-clippy, rust-test

feat: combine elevation panels into single 'Elevation Tasks' panel
  infrastructure/grafana-dashboard-run.json
Due: none

fix: correct AGL backfill dashboard metrics
  infrastructure/grafana-dashboard-run.json
Due: none

feat: add connection state gauge and improve dashboard visualization
  infrastructure/grafana-dashboard-run.json
  src/aprs_client.rs
  src/main.rs
Due: rust-fmt, rust-clippy, rust-test

feat: initialize nats_publisher_errors counter at startup
  src/main.rs
Due: rust-fmt, rust-clippy, rust-test

fix: use instant query for state timeline panel
  infrastructure/grafana-dashboard-run.json
Due: none

fix: remove range/instant flags from state timeline query
  infrastructure/grafana-dashboard-run.json
Due: none

chore: remove obsolete Grafana panels for stale aircraft tracking
  infrastructure/grafana-dashboard-run.json
Due: none

chore: remove obsolete AGL Backfill panel with missing metrics
  infrastructure/grafana-dashboard-run.json
Due: none

feat: enable archive timer in deployment script
  soar-deploy
Due: none

fix: correct SQL queries in data load report count functions
  src/loader/device_linking.rs
  src/loader/home_base_linking.rs
Due: rust-fmt, rust-clippy, rust-test

refactor: replace raw SQL with Diesel query builder in count functions
  src/loader/device_linking.rs
  src/loader/home_base_linking.rs
Due: rust-fmt, rust-clippy, rust-test

fix: re-remove AGL Backfill panel with missing metrics
  infrastructure/grafana-dashboard-run.json
Due: none

refactor: combine NATS publisher panels and highlight errors in red
  infrastructure/grafana-dashboard-run.json
Due: none

perf: add receiver cache to GenericProcessor
  Cargo.toml
  src/packet_processors/generic.rs
Due: rust-fmt, rust-clippy, rust-test, cargo-audit

feat: migrate soar-run to consume from JetStream durable queue
  src/aprs_client.rs
  src/aprs_jetstream_consumer.rs
  src/lib.rs
  src/main.rs
Due: rust-fmt, rust-clippy, rust-test

Path conditions:
  web-install-deps: any of: ^web/(package\.json|package-lock\.json)$
  web-format: any of: ^web/.*\.(js|ts|svelte)$
  web-lint: any of: ^web/.*\.(js|ts|svelte)$
  web-type-check: any of: ^web/.*\.(js|ts|svelte)$
  web-test: any of: ^web/.*\.(js|ts|svelte)$
  web-build: any of: ^web/.*\.(js|ts|svelte)$
  rust-fmt: any of: \.rs$
  rust-clippy: any of: \.rs$
  rust-test: any of: \.rs$
  cargo-audit: any of: ^(Cargo\.toml|Cargo\.lock)$
