Repository hut8/soar: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-install-deps, web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test, cargo-audit

web-install-deps:
  name: Install web dependencies
  entry: bash -c 'cd web && npm ci'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-format:
  name: Auto-fix web formatting (Prettier)
  entry: bash -c 'cd web && npm run format'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-lint:
  name: Run web linter (ESLint + Prettier check)
  entry: bash -c 'cd web && npm run lint'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-type-check:
  name: Run web type checking
  entry: bash -c 'cd web && npm run check'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-test:
  name: Run web tests (Playwright E2E)
  entry: bash -c 'cd web && npm test'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

web-build:
  name: Build web project
  entry: bash -c 'cd web && npm run build'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

rust-fmt:
  name: Auto-fix Rust formatting
  entry: cargo fmt
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

rust-clippy:
  name: Run Clippy
  entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo clippy --all-targets --all-features -- -D warnings'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

rust-test:
  name: Run Rust tests
  entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo test'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

cargo-audit:
  name: Run security audit
  entry: cargo audit
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

fix: sync Grafana dashboards with current metrics and architecture
  infrastructure/grafana-dashboard-analytics.json
  infrastructure/grafana-dashboard-nats-jetstream.json.deprecated
  infrastructure/grafana-dashboard-nats.json
  infrastructure/grafana-dashboard-run.json
  infrastructure/grafana-dashboard-web.json
Due: none

fix: make NATS client names respect SOAR_ENV environment variable
  src/commands/consume_beast.rs
  src/commands/ingest_aprs.rs
  src/commands/ingest_beast.rs
  src/commands/run.rs
Due: rust-fmt, rust-clippy, rust-test

fix: deploy ARM64 binary to ADSB receiver in staging and production
  .github/workflows/ci.yml
Due: none

fix: migrate from JetStream to plain NATS for all message processing
  Cargo.lock
  Cargo.toml
  src/aprs_client.rs
  src/aprs_jetstream_consumer.rs
  src/archive_service.rs
  src/beast/client.rs
  src/beast/mod.rs
  src/beast_consumer_task.rs
  src/beast_jetstream_consumer.rs
  src/beast_jetstream_publisher.rs
  src/beast_nats_publisher.rs
  src/commands/consume_beast.rs
  src/commands/ingest_aprs.rs
  src/commands/ingest_beast.rs
  src/commands/mod.rs
  src/commands/run.rs
  src/lib.rs
  src/nats_publisher.rs
  src/queue_config.rs
Due: rust-fmt, rust-clippy, rust-test, cargo-audit

feat: add Grafana dashboard and Prometheus config for BEAST ingest
  infrastructure/grafana-dashboard-beast-ingest.json
  infrastructure/prometheus-jobs/soar-beast-ingest-staging.yml
  infrastructure/prometheus-jobs/soar-beast-ingest.yml
Due: none

fix: package-lock.json versions
  web/package-lock.json
Due: web-install-deps

fix: separate staging and production ADSB deployments with hardcoded BEAST config
  .github/workflows/ci.yml
  infrastructure/soar-deploy-adsb
  infrastructure/systemd/soar-beast-ingest-staging.service
  web/package-lock.json
Due: web-install-deps

feat: add --skip-ogn-aircraft-type filter to suppress OGN aircraft by type
  infrastructure/systemd/soar-run-staging.service
  infrastructure/systemd/soar-run.service
  src/commands/run.rs
  src/fix_processor.rs
  src/main.rs
  src/ogn_aprs_aircraft.rs
Due: rust-fmt, rust-clippy, rust-test

fix: rename partitions from aprs_messages to raw_messages
  migrations/2025-12-14-211747-0000_rename_partitions_to_raw_messages/down.sql
  migrations/2025-12-14-211747-0000_rename_partitions_to_raw_messages/up.sql
  src/schema.rs
Due: rust-fmt, rust-clippy, rust-test

fix: prevent pull-data from running on every deployment
  infrastructure/soar-deploy
Due: none

fix: resolve club creation failures due to locations table duplicate records
  migrations/2025-12-14-211440-0000_fix_locations_unique_index/down.sql
  migrations/2025-12-14-211440-0000_fix_locations_unique_index/up.sql
  schema.sql
  src/aircraft_registrations.rs
  src/aircraft_registrations_repo.rs
  src/locations_repo.rs
  src/schema.rs
  web/package-lock.json
Due: web-install-deps, rust-fmt, rust-clippy, rust-test

fix: revert --skip-ogn-aircraft-type JetTurboprop from service files
  infrastructure/systemd/soar-run-staging.service
  infrastructure/systemd/soar-run.service
Due: none

chore: update package-lock.json
  web/package-lock.json
Due: web-install-deps

feat: add script to cleanup orphaned locations
  scripts/README-cleanup-orphaned-locations.md
  scripts/cleanup-orphaned-locations.sh
Due: none

fix: use rsync with compression for ADSB deployments
  .github/workflows/ci.yml
Due: none

feat: add adsb firehose proxy
  infrastructure/adsblol-firehose-proxy.service
Due: none

feat: add Beast metrics to Grafana run dashboard
  infrastructure/grafana-dashboard-run.json
Due: none

refactor: consolidate AprsMessagesRepository and BeastMessagesRepository
  src/actions/aprs_messages.rs
  src/actions/receivers.rs
  src/beast_consumer_task.rs
  src/commands/run.rs
  src/packet_processors/generic.rs
  src/raw_messages_repo.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add Beast (ADS-B) message consumption to run command
  src/commands/run.rs
  src/fix_processor.rs
  src/metrics.rs
Due: rust-fmt, rust-clippy, rust-test

fix: install uuid-runtime and create backup-temp directory in provision script
  scripts/provision
Due: none

fix: update remaining 'devices' table references to 'aircraft'
  src/aircraft_repo.rs
  src/commands/load_data/mod.rs
  src/fixes_repo.rs
  web/src/lib/components/AircraftLink.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

refactor: remove all remaining 'devices' terminology in favor of 'aircraft'
  src/aircraft_repo.rs
  src/analytics_repo.rs
  src/fixes_repo.rs
  web/src/lib/components/SettingsModal.svelte
  web/src/lib/services/AircraftRegistry.ts
  web/src/lib/services/FixFeed.ts
  web/src/lib/stores/watchlist.ts
  web/src/routes/operations/+page.svelte
  web/src/routes/receivers/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

fix: fully replace devices with aircraft
  web/e2e/README.md
  web/e2e/aircraft/aircraft-detail.test.ts
  web/e2e/fixtures/auth.fixture.ts
  web/e2e/fixtures/data.fixture.ts
  web/e2e/utils/auth.ts
  web/e2e/utils/navigation.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

feat: add --no-aprs and --no-adsb flags to soar run command
  src/commands/run.rs
  src/main.rs
Due: rust-fmt, rust-clippy, rust-test

fix: use CALL for partman maintenance procedure
  infrastructure/systemd/partman-maintenance-staging.service
  infrastructure/systemd/partman-maintenance.service
  migrations/2025-11-12-191049-0000_convert_fixes_to_partitioned_table/README.md
Due: none

chore: disable ADS-B consumer in soar run systemd services
  infrastructure/systemd/soar-run-staging.service
  infrastructure/systemd/soar-run.service
Due: none

fix: simplify ADSB deployment to run on production/staging servers
  .github/workflows/ADSB-DEPLOYMENT-ARCHIVED.md
  .github/workflows/deploy-adsb.yml.archive
  infrastructure/DEPLOYMENT.md
  infrastructure/examples/etc-soar-env-adsb.template
  infrastructure/prometheus-jobs/README.md
  infrastructure/systemd/soar-beast-ingest-staging.service
  infrastructure/systemd/soar-beast-ingest.service
Due: none

fix: properly handle SMTP ports 465 (implicit TLS) and 587 (STARTTLS)
  src/email.rs
Due: rust-fmt, rust-clippy, rust-test

test: update E2E screenshot baseline for aircraft list page
  web/e2e/aircraft/aircraft-list.test.ts-snapshots/aircraft-list-authenticatedPage-chromium-linux.png
Due: none

feat: add timeout_phase tracking for improved flight state management
  Cargo.toml
  migrations/2025-12-14-213225-0000_add_timeout_phase/down.sql
  migrations/2025-12-14-213225-0000_add_timeout_phase/up.sql
  src/fixes_repo.rs
  src/flight_tracker/flight_lifecycle.rs
  src/flight_tracker/mod.rs
  src/flight_tracker/state_transitions.rs
  src/flights.rs
  src/flights_repo.rs
  src/metrics.rs
  src/schema.rs
  web/package-lock.json
Due: web-install-deps, rust-fmt, rust-clippy, rust-test, cargo-audit

refactor: use PostgreSQL enum for timeout_phase and add partition pruning
  migrations/2025-12-14-213225-0000_add_timeout_phase/down.sql
  migrations/2025-12-14-213225-0000_add_timeout_phase/up.sql
  src/fixes_repo.rs
  src/flight_tracker/flight_lifecycle.rs
  src/flight_tracker/state_transitions.rs
  src/flights.rs
  src/flights_repo.rs
  src/schema.rs
Due: rust-fmt, rust-clippy, rust-test

fix: update Grafana dashboard links and remove JetStream references
  web/src/routes/info/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

refactor: update sitemap to use aircraft terminology
  src/commands/sitemap.rs
Due: rust-fmt, rust-clippy, rust-test

fix: improve error display and add Sentry alerts for email failures
  src/actions/auth.rs
  web/src/lib/api/server.ts
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

fix: resolve email TLS errors and add E2E tests to production deployment
  .github/workflows/ci.yml
  src/email.rs
Due: rust-fmt, rust-clippy, rust-test

refactor: rename device_repo methods to aircraft_repo methods
  src/actions/aircraft.rs
  src/actions/clubs.rs
  src/actions/devices.rs
  src/actions/fixes.rs
  src/actions/flights.rs
  src/aircraft_repo.rs
  src/commands/load_data/devices_receivers.rs
  src/commands/run.rs
  src/fix_processor.rs
  src/flight_tracker/flight_lifecycle.rs
  src/flight_tracker/mod.rs
  src/flight_tracker/state_transitions.rs
  src/flight_tracker/towing.rs
Due: rust-fmt, rust-clippy, rust-test

refactor: rename TopDevice to TopAircraft in analytics
  src/actions/analytics.rs
  src/analytics.rs
  src/analytics_cache.rs
  src/analytics_repo.rs
Due: rust-fmt, rust-clippy, rust-test

refactor: update live_fixes to use aircraft terminology
  src/actions/fixes.rs
  src/live_fixes.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add OpenAIP airspace import and map display
  .env.example
  README.md
  docs/OPENAIP_SETUP.md
  migrations/2025-12-15-033206-0000_create_airspaces_table/down.sql
  migrations/2025-12-15-033206-0000_create_airspaces_table/up.sql
  migrations/2025-12-15-033329-0000_create_airspace_sync_log/down.sql
  migrations/2025-12-15-033329-0000_create_airspace_sync_log/up.sql
  src/actions/airspaces.rs
  src/actions/mod.rs
  src/airspace.rs
  src/airspaces_repo.rs
  src/commands/mod.rs
  src/commands/pull_airspaces.rs
  src/lib.rs
  src/main.rs
  src/metrics.rs
  src/openaip_client.rs
  src/schema.rs
  src/web.rs
  web/src/lib/components/SettingsModal.svelte
  web/src/lib/types/index.ts
  web/src/routes/operations/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

Path conditions:
  web-install-deps: any of: ^web/(package\.json|package-lock\.json)$
  web-format: any of: ^web/.*\.(js|ts|svelte)$
  web-lint: any of: ^web/.*\.(js|ts|svelte)$
  web-type-check: any of: ^web/.*\.(js|ts|svelte)$
  web-test: any of: ^web/.*\.(js|ts|svelte)$
  web-build: any of: ^web/.*\.(js|ts|svelte)$
  rust-fmt: any of: \.rs$
  rust-clippy: any of: \.rs$
  rust-test: any of: \.rs$
  cargo-audit: any of: ^(Cargo\.toml|Cargo\.lock)$
