Repository hut8/soar: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-install-deps, web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test, cargo-audit

web-install-deps:
  name: Install web dependencies
  entry: bash -c 'cd web && npm ci'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-format:
  name: Auto-fix web formatting (Prettier)
  entry: bash -c 'cd web && npm run format'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-lint:
  name: Run web linter (ESLint + Prettier check)
  entry: bash -c 'cd web && npm run lint'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-type-check:
  name: Run web type checking
  entry: bash -c 'cd web && npm run check'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-test:
  name: Run web tests (Playwright E2E)
  entry: bash -c 'cd web && npm test'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

web-build:
  name: Build web project
  entry: bash -c 'cd web && npm run build'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

rust-fmt:
  name: Auto-fix Rust formatting
  entry: cargo fmt
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

rust-clippy:
  name: Run Clippy
  entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo clippy --all-targets --all-features -- -D warnings'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

rust-test:
  name: Run Rust tests
  entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo test'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

cargo-audit:
  name: Run security audit
  entry: cargo audit
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

Fix aircraft handling: remove minimal aircraft creation, preserve country codes, fix flight number extraction
  src/aircraft.rs
  src/commands/load_data/aircraft_backfill.rs
  src/fixes.rs
  web/src/lib/components/cesium/AircraftLayer.svelte
  web/src/lib/services/AircraftRegistry.ts
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

Fix long gap coalescing with 18h limit and speed validation
  src/flight_tracker/flight_lifecycle.rs
  src/flight_tracker/mod.rs
  src/flight_tracker/state_transitions.rs
  src/metrics.rs
Due: rust-fmt, rust-clippy, rust-test

Add Grafana metrics for 18h limit and speed/distance validation
  infrastructure/grafana-dashboard-run-flights.json
Due: none

Update e2e screenshot baselines for navigation changes
  web/e2e/auth/login.test.ts-snapshots/login-page-chromium-linux.png
  web/e2e/auth/register.test.ts-snapshots/register-page-chromium-linux.png
Due: none

Increase screenshot diff threshold for navigation UI changes
  web/playwright.config.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

Fix flaky test_get_by_ids_multiple deadlock
  src/raw_messages_repo.rs
Due: rust-fmt, rust-clippy, rust-test

Fix aircraft display issues and data filtering
  src/actions/views/aircraft.rs
  src/aircraft.rs
  src/faa/aircraft_models.rs
  web/src/lib/components/AircraftTile.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

Fix Cesium flight playback freeze and reversed timeline
  web/src/lib/components/cesium/TimelineController.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Restructure aircraft detail page layout
  web/src/routes/aircraft/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Limit flight history to 5 most recent flights with pagination
  web/src/routes/aircraft/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Fix flight pagination and Svelte 5 reactivity warnings
  src/actions/aircraft_search.rs
  web/src/routes/flights/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

Improve flight detail page detection/landing sections
  web/src/routes/flights/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Add 'Status:' prefix to flight state badge
  web/src/lib/components/FlightStateBadge.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Fix globe aircraft selection and improve airport markers
  web/src/lib/cesium/entities.ts
  web/src/lib/components/cesium/AircraftLayer.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Fix globe depth testing and update cluster styling
  web/src/lib/cesium/entities.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

Fix Grafana analytics dashboard queries to use aircraft table
  infrastructure/grafana-dashboard-analytics.json
Due: none

Add data license and OGN attribution to info page
  web/src/routes/info/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Fix Beast escape handling and add SBS (BaseStation) support
  infrastructure/systemd/soar-ingest-adsb-staging.service
  infrastructure/systemd/soar-ingest-adsb.service
  src/beast/client.rs
  src/beast/decoder.rs
  src/beast_consumer_task.rs
  src/commands/ingest_adsb.rs
  src/commands/run.rs
  src/lib.rs
  src/main.rs
  src/sbs/client.rs
  src/sbs/mod.rs
  src/sbs_nats_publisher.rs
Due: rust-fmt, rust-clippy, rust-test

Fix aircraft selection persistence by updating entities in place
  web/src/lib/components/cesium/AircraftLayer.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Add comprehensive SOAR metrics reference documentation
  METRICS.md
Due: none

Fix AR tracker authentication and camera initialization
  web/src/routes/ar/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Fix remaining Svelte 5 reactivity warnings
  web/src/lib/components/FixesList.svelte
  web/src/routes/receivers/coverage/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Add comprehensive test coverage for Beast escape handling and SBS support
  src/beast/adsb_to_fix.rs
  src/beast/client.rs
  src/commands/ingest_adsb.rs
  src/sbs/client.rs
Due: rust-fmt, rust-clippy, rust-test

Fix outdated doctest example
  src/message_sources.rs
Due: rust-fmt, rust-clippy, rust-test

Update auto-generated schema and TypeScript type definitions
  src/schema.rs
Due: rust-fmt, rust-clippy, rust-test

Add component labels to metrics and fix analytics dashboard
  infrastructure/grafana-dashboard-analytics.json
  src/commands/ingest_adsb.rs
  src/commands/ingest_ogn.rs
  src/commands/pull_data.rs
  src/commands/run.rs
  src/metrics.rs
  src/web.rs
Due: rust-fmt, rust-clippy, rust-test

Add persistent queue and Unix socket infrastructure
  Cargo.lock
  Cargo.toml
  build.rs
  proto/messages.proto
  src/generated/soar.protocol.rs
  src/lib.rs
  src/persistent_queue.rs
  src/protocol.rs
  src/socket_client.rs
  src/socket_server.rs
Due: rust-fmt, rust-clippy, rust-test, cargo-audit

Integrate persistent queue into ingest-ogn
  src/aprs_client.rs
  src/commands/ingest_ogn.rs
Due: rust-fmt, rust-clippy, rust-test

Modify ingest-adsb to use persistent queue + Unix socket
  src/beast/client.rs
  src/commands/ingest_adsb.rs
  src/main.rs
  src/sbs/client.rs
Due: rust-fmt, rust-clippy, rust-test

Modify soar-run to use Unix socket server
  src/commands/run.rs
Due: rust-fmt, rust-clippy, rust-test

Add comprehensive unit tests for PersistentQueue
  src/persistent_queue.rs
Due: rust-fmt, rust-clippy, rust-test

Remove obsolete NATS publisher files and legacy methods
  src/aprs_client.rs
  src/aprs_nats_publisher.rs
  src/beast_nats_publisher.rs
  src/lib.rs
  src/sbs_nats_publisher.rs
Due: rust-fmt, rust-clippy, rust-test

Document new metrics for queue + socket architecture
  METRICS.md
Due: none

Add protobuf-compiler to CI build environments
  .github/workflows/ci.yml
  Cross.toml
Due: none

Make ingest-* service deployments manual
  infrastructure/soar-deploy
Due: none

Add manual workflow for deploying ingest services
  .github/workflows/deploy-ingest.yml
Due: none

Fix socket directory permissions in soar-run systemd services
  infrastructure/systemd/soar-run-staging.service
  infrastructure/systemd/soar-run.service
Due: none

Update ingester systemd services to remove NATS dependencies
  infrastructure/systemd/soar-ingest-adsb-staging.service
  infrastructure/systemd/soar-ingest-adsb.service
  infrastructure/systemd/soar-ingest-ogn-staging.service
  infrastructure/systemd/soar-ingest-ogn.service
  infrastructure/systemd/soar-run-staging.service
  infrastructure/systemd/soar-run.service
Due: none

Change backup location to /storage/soar/backups/base
  infrastructure/examples/backup-env.example
  infrastructure/systemd/soar-backup-base.service
Due: none

Fix ingester startup crash when soar-run is unavailable
  CLAUDE.md
  src/commands/ingest_adsb.rs
  src/commands/ingest_ogn.rs
  src/socket_client.rs
Due: rust-fmt, rust-clippy, rust-test

Path conditions:
  web-install-deps: any of: ^web/(package\.json|package-lock\.json)$
  web-format: any of: ^web/.*\.(js|ts|svelte)$
  web-lint: any of: ^web/.*\.(js|ts|svelte)$
  web-type-check: any of: ^web/.*\.(js|ts|svelte)$
  web-test: any of: ^web/.*\.(js|ts|svelte)$
  web-build: any of: ^web/.*\.(js|ts|svelte)$
  rust-fmt: any of: \.rs$
  rust-clippy: any of: \.rs$
  rust-test: any of: \.rs$
  cargo-audit: any of: ^(Cargo\.toml|Cargo\.lock)$
