Repository hut8/soar: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-install-deps, web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test, cargo-audit

web-install-deps:
  name: Install web dependencies
  entry: bash -c 'cd web && npm ci'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-format:
  name: Auto-fix web formatting (Prettier)
  entry: bash -c 'cd web && npm run format'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-lint:
  name: Run web linter (ESLint + Prettier check)
  entry: bash -c 'cd web && npm run lint'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-type-check:
  name: Run web type checking
  entry: bash -c 'cd web && npm run check'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-test:
  name: Run web tests (Playwright E2E)
  entry: bash -c 'cd web && npm test'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

web-build:
  name: Build web project
  entry: bash -c 'cd web && npm run build'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

rust-fmt:
  name: Auto-fix Rust formatting
  entry: cargo fmt
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

rust-clippy:
  name: Run Clippy
  entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo clippy --all-targets --all-features -- -D warnings'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

rust-test:
  name: Run Rust tests
  entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo test'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

cargo-audit:
  name: Run security audit
  entry: cargo audit
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

feat: add device fix counts and restore statistics endpoint
  src/actions/receivers.rs
  src/fixes_repo.rs
  src/web.rs
  web/src/routes/receivers/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

fix: prevent Plotly relayout error on uninitialized chart
  web/src/routes/flights/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: remove instant key from JetStream Connection Status query
  infrastructure/grafana-dashboard-run.json
Due: none

refactor: remove unused get_receiver_averages method
  src/receiver_status_repo.rs
Due: rust-fmt, rust-clippy, rust-test

fix: remove JetStream Connection Status panel from soar-run dashboard
  infrastructure/grafana-dashboard-run.json
Due: none

feat: add ADS-B feed support via rs1090 library
  Cargo.lock
  Cargo.toml
  src/commands/ingest.rs
  src/commands/mod.rs
Due: rust-fmt, rust-clippy, rust-test, cargo-audit

fix: resolve "Text file busy" error when deploying running binary
  infrastructure/soar-deploy
Due: none

fix: use install command to safely replace running binary
  infrastructure/soar-deploy
Due: none

fix: add process detection and force-kill for binary replacement
  infrastructure/soar-deploy
Due: none

fix: stop soar-aprs-ingest before binary replacement
  infrastructure/soar-deploy
Due: none

feat: implement zero-downtime deployment with versioned binaries
  infrastructure/soar-deploy
Due: none

feat: scrape both ports for deployment monitoring
  infrastructure/prometheus-jobs/soar-aprs-ingest.yml
Due: none

feat: add version-controlled Caddy configuration for glider.flights
  infrastructure/Caddyfile
Due: none

fix: force-kill processes blocking symlink creation during deployment
  infrastructure/soar-deploy
Due: none

revert: simplify deployment to stop all services, replace binary, restart
  infrastructure/prometheus-jobs/soar-aprs-ingest.yml
  infrastructure/soar-deploy
Due: none

feat: improve Grafana dashboards with gauge-style process status and fix no-data display
  infrastructure/grafana-dashboard-aprs-ingest.json
  infrastructure/grafana-dashboard-run.json
  infrastructure/grafana-dashboard-web.json
Due: none

fix: don't start/enable timer-invoked services
  infrastructure/soar-deploy
Due: none

fix: initialize APRS metrics before starting metrics server
  infrastructure/grafana-dashboard-aprs-ingest.json
  src/commands/ingest_aprs.rs
Due: rust-fmt, rust-clippy, rust-test

fix: initialize run metrics before server and fix AGL dashboard queries
  infrastructure/grafana-dashboard-deployment.json
  infrastructure/grafana-dashboard-pull-data.json
  infrastructure/grafana-dashboard-run.json
  src/commands/run.rs
  src/metrics.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add JetStream message timestamps to prevent clock skew
  src/aprs_client.rs
  src/commands/run.rs
  src/fix_processor.rs
  src/packet_processors/generic.rs
  src/packet_processors/receiver_status.rs
  src/packet_processors/router.rs
  src/packet_processors/server_status.rs
Due: rust-fmt, rust-clippy, rust-test

refactor: use blocking queue sends in soar-run
  src/commands/run.rs
  src/packet_processors/router.rs
Due: rust-fmt, rust-clippy, rust-test

fix: deduplicate metrics initialization and correct service-specific metrics
  src/commands/ingest_aprs.rs
  src/commands/run.rs
  src/metrics.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add NATS JetStream monitoring dashboard and infrastructure
  infrastructure/NATS-JETSTREAM-MONITORING.md
  infrastructure/grafana-dashboard-nats-jetstream.json
  infrastructure/prometheus-jobs/nats-jetstream.yml
  infrastructure/prometheus-nats-exporter.service
Due: none

refactor: separate infrastructure and application services in provision script
  infrastructure/NATS-JETSTREAM-MONITORING.md
  provision
Due: none

fix: optimize nearby flights query and correct timeout handling
  migrations/2025-11-03-042336-0000_add_flight_bounding_box/down.sql
  migrations/2025-11-03-042336-0000_add_flight_bounding_box/up.sql
  src/flight_tracker/flight_lifecycle.rs
  src/flights.rs
  src/flights_repo.rs
  src/schema.rs
  web/src/lib/components/FlightsList.svelte
  web/src/routes/flights/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

refactor: use Flight type import instead of typeof data.flight
  web/src/routes/flights/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: correct registration propagation from APRS fixes to devices
  src/fix_processor.rs
Due: rust-fmt, rust-clippy, rust-test

fix: add missing Prometheus datasource variable to NATS JetStream dashboard
  infrastructure/grafana-dashboard-nats-jetstream.json
Due: none

feat: display callsign on flight detail page
  src/actions/views/flight.rs
  web/src/lib/types/index.ts
  web/src/routes/flights/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

refactor: remove template variables from Grafana dashboards for public exposure
  infrastructure/grafana-dashboard-aprs-ingest.json
  infrastructure/grafana-dashboard-nats-jetstream.json
  infrastructure/grafana-dashboard-run.json
  infrastructure/grafana-dashboard-web.json
Due: none

refactor: reorganize dashboard panels into clean 2-column layout
  infrastructure/grafana-dashboard-aprs-ingest.json
  infrastructure/grafana-dashboard-nats-jetstream.json
  infrastructure/grafana-dashboard-run.json
  infrastructure/grafana-dashboard-web.json
Due: none

fix: prevent flight coalescing when callsign changes
  src/fix_processor.rs
  src/flight_tracker/state_transitions.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add country code badges and ICAO to tail number conversion
  Cargo.lock
  Cargo.toml
  src/actions/views/aircraft.rs
  src/device_repo.rs
  src/devices.rs
  web/src/lib/types/index.ts
  web/src/routes/devices/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test, cargo-audit

fix: prevent timers from running during deployment
  infrastructure/soar-deploy
Due: none

fix: receiver page improvements and broken tabs
  src/actions/receivers.rs
  src/fixes_repo.rs
  src/receiver_repo.rs
  web/src/routes/receivers/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

fix: use correct Prometheus datasource UID instead of name for public dashboards
  infrastructure/grafana-dashboard-aprs-ingest.json
  infrastructure/grafana-dashboard-nats-jetstream.json
  infrastructure/grafana-dashboard-run.json
  infrastructure/grafana-dashboard-web.json
Due: none

feat: add device backfill tasks for country codes and tail numbers
  src/commands/load_data/device_backfill.rs
  src/commands/load_data/mod.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add system information page with metrics dashboards
  web/src/routes/+layout.svelte
  web/src/routes/info/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Path conditions:
  web-install-deps: any of: ^web/(package\.json|package-lock\.json)$
  web-format: any of: ^web/.*\.(js|ts|svelte)$
  web-lint: any of: ^web/.*\.(js|ts|svelte)$
  web-type-check: any of: ^web/.*\.(js|ts|svelte)$
  web-test: any of: ^web/.*\.(js|ts|svelte)$
  web-build: any of: ^web/.*\.(js|ts|svelte)$
  rust-fmt: any of: \.rs$
  rust-clippy: any of: \.rs$
  rust-test: any of: \.rs$
  cargo-audit: any of: ^(Cargo\.toml|Cargo\.lock)$
