Repository hut8/soar: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-install-deps, web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test, cargo-audit

.pre-commit-config.yaml:

repos:
  # Frontend/SvelteKit checks (matching CI test-sveltekit job)
  - repo: local
    hooks:
      - id: web-install-deps
        name: Install web dependencies
        entry: bash -c 'cd web && npm ci'
        language: system
        files: ^web/(package\.json|package-lock\.json)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

      - id: web-format
        name: Auto-fix web formatting (Prettier)
        entry: bash -c 'cd web && npm run format'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

      - id: web-lint
        name: Run web linter (ESLint + Prettier check)
        entry: bash -c 'cd web && npm run lint'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

      - id: web-type-check
        name: Run web type checking
        entry: bash -c 'cd web && npm run check'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

      - id: web-test
        name: Run web tests (Playwright E2E)
        entry: bash -c 'cd web && npm test'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-push, manual]

      - id: web-build
        name: Build web project
        entry: bash -c 'cd web && npm run build'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-push, manual]

  # Rust formatting (matching CI check)
  - repo: local
    hooks:
      - id: rust-fmt
        name: Auto-fix Rust formatting
        entry: cargo fmt
        language: system
        files: \.rs$
        pass_filenames: false
        stages: [pre-commit, pre-push]

  # Rust linting (matching CI clippy check)
  - repo: local
    hooks:
      - id: rust-clippy
        name: Run Clippy
        entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo clippy --all-targets --all-features -- -D warnings'
        language: system
        files: \.rs$
        pass_filenames: false
        stages: [pre-commit, pre-push]

  # Rust tests (matching CI test run)
  - repo: local
    hooks:
      - id: rust-test
        name: Run Rust tests
        entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo test'
        language: system
        files: \.rs$
        pass_filenames: false
        stages: [pre-push, manual]

  # Security audit (matching CI security-audit job)
  - repo: local
    hooks:
      - id: cargo-audit
        name: Run security audit
        entry: cargo audit
        language: system
        files: ^(Cargo\.toml|Cargo\.lock)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
        stages: [pre-commit, pre-push]
      - id: end-of-file-fixer
        stages: [pre-commit, pre-push]
      - id: check-yaml
        stages: [pre-commit, pre-push]
      - id: check-toml
        stages: [pre-commit, pre-push]
      - id: check-json
        stages: [pre-commit, pre-push]
      - id: check-merge-conflict
        stages: [pre-commit, pre-push]
      - id: check-added-large-files
        args: ["--maxkb=1000"]
        stages: [pre-commit, pre-push]

# Performance optimizations
default_stages: [pre-commit]
fail_fast: false

# CI configuration
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit.com hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ""
  autoupdate_commit_msg: "[pre-commit.ci] pre-commit autoupdate"
  autoupdate_schedule: weekly
  skip: []
  submodules: false

Use shared http_client for aircraft images instead of per-request allocation
  src/actions/aircraft_images.rs
Due: rust-fmt, rust-clippy, rust-test

Fix false FAILED status for services during deploy
  infrastructure/soar-deploy
Due: none

Android: improve live view, fix GNSS altitude, and fix blank error card
  android/app/src/main/java/com/soar/tracker/data/repository/TrackerRepository.kt
  android/app/src/main/java/com/soar/tracker/service/SensorCollector.kt
  android/app/src/main/java/com/soar/tracker/service/TrackingService.kt
  android/app/src/main/java/com/soar/tracker/ui/components/NearbyAircraftList.kt
  android/app/src/main/java/com/soar/tracker/ui/components/SensorDisplay.kt
  android/app/src/main/java/com/soar/tracker/ui/screens/LiveViewScreen.kt
  android/app/src/main/java/com/soar/tracker/ui/screens/TrackerScreen.kt
Due: none

Remove unused wind_speed_unit query parameter from Open-Meteo request
  src/actions/weather.rs
Due: rust-fmt, rust-clippy, rust-test

Extract wait_for_service_active helper, short-circuit on failure
  infrastructure/soar-deploy
Due: none

Address Copilot review comments
  android/app/src/main/java/com/soar/tracker/service/TrackingService.kt
  android/app/src/main/java/com/soar/tracker/ui/screens/LiveViewScreen.kt
Due: none

Fix club members not showing and auth refresh causing logout
  src/actions/auth.rs
  src/users_repo.rs
  web/src/lib/stores/auth.ts
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

Address PR review: rename pilots to members, widen updateUser type
  src/actions/pilots.rs
  src/actions/users.rs
  src/users_repo.rs
  src/web.rs
  tests/pilot_invitation_workflow_test.rs
  web/src/lib/stores/auth.ts
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

Use self-hosted runners for Rust CI jobs
  .github/workflows/ci.yml
Due: none

Address review feedback on wait_for_service_active
  infrastructure/soar-deploy
Due: none

Add persistent cargo cache and move more jobs to self-hosted
  .github/workflows/ci.yml
Due: none

Android: add AR view with camera overlay for nearby aircraft
  android/app/build.gradle.kts
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/soar/tracker/service/SensorCollector.kt
  android/app/src/main/java/com/soar/tracker/service/TrackingService.kt
  android/app/src/main/java/com/soar/tracker/ui/navigation/NavGraph.kt
  android/app/src/main/java/com/soar/tracker/ui/screens/ARScreen.kt
  android/app/src/main/java/com/soar/tracker/ui/util/ARProjection.kt
  android/gradle/libs.versions.toml
Due: none

Web: add Android App download link to nav menus
  web/src/routes/+layout.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Android AR: remove smoothing, add range slider and aircraft list
  android/app/src/main/java/com/soar/tracker/ui/screens/ARScreen.kt
  android/app/src/main/java/com/soar/tracker/ui/util/ARProjection.kt
Due: none

Fix: set CARGO_TARGET_DIR via step instead of job-level env
  .github/workflows/ci.yml
Due: none

Android: add aircraft detail popup on tap, fix live view telemetry position
  android/app/src/main/java/com/soar/tracker/ui/screens/ARScreen.kt
  android/app/src/main/java/com/soar/tracker/ui/screens/LiveViewScreen.kt
Due: none

Namespace cargo cache per-runner and add cache to security-audit
  .github/workflows/ci.yml
Due: none

Android: add aircraft detail popup to live view, use web-style icons
  android/app/src/main/java/com/soar/tracker/ui/screens/ARScreen.kt
  android/app/src/main/java/com/soar/tracker/ui/screens/LiveViewScreen.kt
  android/app/src/main/java/com/soar/tracker/ui/util/AircraftIcons.kt
Due: none

Android AR: use ARCore for camera-stabilized overlay positioning
  android/app/build.gradle.kts
  android/app/proguard-rules.pro
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/soar/tracker/ar/ARCoreSessionManager.kt
  android/app/src/main/java/com/soar/tracker/ar/BackgroundRenderer.kt
  android/app/src/main/java/com/soar/tracker/ui/screens/ARScreen.kt
  android/gradle/libs.versions.toml
Due: none

Address Copilot review comments
  android/app/src/main/java/com/soar/tracker/service/SensorCollector.kt
  android/app/src/main/java/com/soar/tracker/service/TrackingService.kt
  android/app/src/main/java/com/soar/tracker/ui/components/AircraftDetailPopup.kt
  android/app/src/main/java/com/soar/tracker/ui/screens/ARScreen.kt
  android/app/src/main/java/com/soar/tracker/ui/screens/LiveViewScreen.kt
  android/app/src/main/java/com/soar/tracker/ui/util/ARProjection.kt
  android/app/src/main/java/com/soar/tracker/ui/util/AircraftIcons.kt
  android/app/src/main/java/com/soar/tracker/ui/util/Geo.kt
Due: none

Fix flaky E2E test and namespace cargo cache per-runner
  web/e2e/auth/login.test.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

Fix lint error: use ContextCompat.getMainExecutor for API 26 compat
  android/app/src/main/java/com/soar/tracker/ui/screens/ARScreen.kt
Due: none

Fix inverted AR camera image
  android/app/src/main/java/com/soar/tracker/ar/BackgroundRenderer.kt
Due: none

Fix aircraft icon visibility, tighten labels, address review comments
  android/app/src/main/java/com/soar/tracker/ar/ARCoreSessionManager.kt
  android/app/src/main/java/com/soar/tracker/ui/screens/ARScreen.kt
  android/app/src/main/java/com/soar/tracker/ui/screens/LiveViewScreen.kt
  android/app/src/main/java/com/soar/tracker/ui/util/AircraftIcons.kt
Due: none

Remove tracking requirement from AR and live view
  android/app/src/main/java/com/soar/tracker/ui/screens/ARScreen.kt
  android/app/src/main/java/com/soar/tracker/ui/screens/LiveViewScreen.kt
Due: none

Fix club admin UI: replace broken variant-* classes with preset-* and add edit member
  src/actions/users.rs
  src/users.rs
  src/users_repo.rs
  src/web.rs
  web/src/routes/clubs/[id]/+layout.svelte
  web/src/routes/clubs/[id]/admin/charges/+page.svelte
  web/src/routes/clubs/[id]/admin/fees/+page.svelte
  web/src/routes/clubs/[id]/admin/stripe/+page.svelte
  web/src/routes/clubs/[id]/admin/users/+page.svelte
  web/src/routes/clubs/[id]/admin/users/+page.ts
  web/src/routes/clubs/[id]/members/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

Live view: use last-known GPS position when tracking is inactive
  android/app/src/main/java/com/soar/tracker/ui/screens/LiveViewScreen.kt
Due: none

Live view: auto-start tracking when location permission is granted
  android/app/src/main/java/com/soar/tracker/ui/screens/LiveViewScreen.kt
Due: none

Address review: add missing aria id, use get_result to reduce queries
  src/users_repo.rs
  web/src/routes/clubs/[id]/admin/charges/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

AR view: auto-start tracking when location permission is granted
  android/app/src/main/java/com/soar/tracker/ui/screens/ARScreen.kt
Due: none

Fix flaky registration E2E test: increase redirect timeout
  web/e2e/auth/register.test.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

Upgrade Android build toolchain for Java 25 compatibility
  android/app/build.gradle.kts
  android/build.gradle.kts
  android/gradle.properties
  android/gradle/libs.versions.toml
  android/gradle/wrapper/gradle-wrapper.properties
Due: none

Document receiver position callsign collision investigation
  docs/receiver-position-collisions.md
Due: none
