Repository hut8/soar: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-install-deps, web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test, cargo-audit

.pre-commit-config.yaml:

repos:
  # Frontend/SvelteKit checks (matching CI test-sveltekit job)
  - repo: local
    hooks:
      - id: web-install-deps
        name: Install web dependencies
        entry: bash -c 'cd web && npm ci'
        language: system
        files: ^web/(package\.json|package-lock\.json)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

      - id: web-format
        name: Auto-fix web formatting (Prettier)
        entry: bash -c 'cd web && npm run format'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

      - id: web-lint
        name: Run web linter (ESLint + Prettier check)
        entry: bash -c 'cd web && npm run lint'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

      - id: web-type-check
        name: Run web type checking
        entry: bash -c 'cd web && npm run check'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

      - id: web-test
        name: Run web tests (Playwright E2E)
        entry: bash -c 'cd web && npm test'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-push, manual]

      - id: web-build
        name: Build web project
        entry: bash -c 'cd web && npm run build'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-push, manual]

  # Rust formatting (matching CI check)
  - repo: local
    hooks:
      - id: rust-fmt
        name: Auto-fix Rust formatting
        entry: cargo fmt
        language: system
        files: \.rs$
        pass_filenames: false
        stages: [pre-commit, pre-push]

  # Rust linting (matching CI clippy check)
  - repo: local
    hooks:
      - id: rust-clippy
        name: Run Clippy
        entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo clippy --all-targets --all-features -- -D warnings'
        language: system
        files: \.rs$
        pass_filenames: false
        stages: [pre-commit, pre-push]

  # Rust tests (matching CI test run)
  - repo: local
    hooks:
      - id: rust-test
        name: Run Rust tests
        entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo test'
        language: system
        files: \.rs$
        pass_filenames: false
        stages: [pre-push, manual]

  # Security audit (matching CI security-audit job)
  - repo: local
    hooks:
      - id: cargo-audit
        name: Run security audit
        entry: cargo audit
        language: system
        files: ^(Cargo\.toml|Cargo\.lock)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
        stages: [pre-commit, pre-push]
      - id: end-of-file-fixer
        stages: [pre-commit, pre-push]
      - id: check-yaml
        stages: [pre-commit, pre-push]
      - id: check-toml
        stages: [pre-commit, pre-push]
      - id: check-json
        stages: [pre-commit, pre-push]
      - id: check-merge-conflict
        stages: [pre-commit, pre-push]
      - id: check-added-large-files
        args: ["--maxkb=1000"]
        stages: [pre-commit, pre-push]

# Performance optimizations
default_stages: [pre-commit]
fail_fast: false

# CI configuration
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit.com hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ""
  autoupdate_commit_msg: "[pre-commit.ci] pre-commit autoupdate"
  autoupdate_schedule: weekly
  skip: []
  submodules: false

Deploy to radar directly via radar.hut8.tools
  .github/workflows/ci.yml
Due: none

Fix bun test -> bun run test and add unzip for CI containers
  .github/copilot-instructions.md
  .github/copilot-setup-steps.yml
  .github/instructions/frontend-svelte.instructions.md
  .github/instructions/playwright-tests.instructions.md
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  CI.md
  CLAUDE.md
  CONTRIBUTING.md
  DOCKER-DEVELOPMENT.md
  README.md
  docs/release-process.md
  web/e2e/README.md
  web/e2e/SNAPSHOTS.md
Due: none

Address Copilot review: consistent detected_at, receiverId reactivity, aria-controls
  src/receiver_alert_checker.rs
  web/src/lib/components/ReceiverAlertConfig.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

Address review feedback: fail-fast TCP bind, strict validation, async Tailscale discovery
  .github/workflows/ci.yml
  src/commands/run/mod.rs
  src/ingest_config.rs
  src/main.rs
  src/socket_server.rs
Due: rust-fmt, rust-clippy, rust-test

Fix ARM64 CI build: switch from npm to bun to match project tooling
  .github/workflows/ci.yml
Due: none

Remove software from Diesel schema to fix CI build
  src/schema.rs
Due: rust-fmt, rust-clippy, rust-test

Address Copilot review: NULL-safe array check and unique Svelte keys
  src/receiver_repo.rs
  web/src/routes/receivers/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

Use taiki-e/install-action for cross instead of cargo install
  .github/workflows/build-arm64.yml
  .github/workflows/build-cross-x64.yml
  .github/workflows/ci.yml
Due: none

Make protocols NOT NULL, drop software column, fix Diesel types
  migrations/2026-03-09-200000-0000_add_protocols_to_receivers/down.sql
  migrations/2026-03-09-200000-0000_add_protocols_to_receivers/up.sql
  src/actions/views/receiver.rs
  src/coverage_repo.rs
  src/receiver_repo.rs
  src/receivers.rs
  src/schema.rs
  web/src/lib/types/generated/ReceiverView.ts
  web/src/routes/receivers/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

Fix trigger function and down migration for protocols column
  migrations/2026-03-09-200000-0000_add_protocols_to_receivers/down.sql
  migrations/2026-03-09-200000-0000_add_protocols_to_receivers/up.sql
Due: none

Replace npm with bun in build.rs and make-worktree, fix Svelte $state warnings
  build.rs
  make-worktree
  web/src/routes/profile/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

Use dedicated SSH key for radar deployment
  .github/workflows/ci.yml
Due: none

Fix run dashboard: process status display and uptime dual-series bug
  infrastructure/dashboards/definitions/run.json
  infrastructure/dashboards/panels/run/process-status.json
  infrastructure/dashboards/panels/run/process-uptime.json
Due: none

Use --frozen-lockfile for bun install in release builds
  build.rs
Due: rust-fmt, rust-clippy, rust-test

Fix spurious logout on 401 from pilots endpoint
  src/auth.rs
  web/src/lib/api/server.ts
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

Fix base64url decoding in isTokenExpired, add frontend debug logging
  web/src/lib/api/server.ts
  web/src/lib/components/PilotSelectionModal.svelte
  web/src/routes/+layout.svelte
  web/src/routes/clubs/[id]/operations/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Use soar-deploy script for radar deployment
  .github/workflows/ci.yml
  infrastructure/soar-deploy
  infrastructure/sudoers.d/soar
Due: none

Exit with non-zero status when radar service health check fails
  infrastructure/soar-deploy
Due: none

Add global data freshness guard to receiver alerts, fix email formatting
  src/email.rs
  src/receiver_alert_checker.rs
  src/receiver_repo.rs
Due: rust-fmt, rust-clippy, rust-test

Add instance_id to ingest config for dual radar services (staging + production)
  .github/workflows/ci.yml
  infrastructure/ingest-radar-production.toml
  infrastructure/ingest-radar-staging.toml
  infrastructure/soar-deploy
  infrastructure/systemd/soar-ingest-radar-production.service
  infrastructure/systemd/soar-ingest-radar-staging.service
  src/commands/ingest.rs
  src/ingest_config.rs
Due: rust-fmt, rust-clippy, rust-test

Log email recipient and subject, downgrade TLS info to debug
  src/email.rs
Due: rust-fmt, rust-clippy, rust-test

Address review: validate instance_id, fix legacy unit cleanup, improve logging
  infrastructure/soar-deploy
  src/commands/ingest.rs
Due: rust-fmt, rust-clippy, rust-test

Move email log before builder to avoid extra clone, add error context
  src/email.rs
Due: rust-fmt, rust-clippy, rust-test

Bind Pelias Docker containers to localhost only
  infrastructure/systemd/pelias-libpostal.service
  infrastructure/systemd/pelias-placeholder.service
Due: none

Fix current flight and view on map buttons showing for stale flights
  web/src/lib/components/AircraftTile.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Address review feedback on stale flight button logic
  web/src/lib/components/AircraftTile.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Add custom cross Docker image and build workflow for ARM64 musl
  .github/cross-arm64-musl.Dockerfile
  .github/workflows/build-cross-arm64-image.yml
Due: none

Address review feedback: narrow Docker context, output digest, fix comment
  .github/cross-arm64-musl.Dockerfile
  .github/workflows/build-cross-arm64-image.yml
Due: none

Switch from jemalloc to mimalloc for ARM64 16KB page compatibility
  .github/workflows/build-arm64.yml
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  Cross.toml
  src/main.rs
Due: rust-fmt, rust-clippy, rust-test, cargo-audit

Add manual club creation with admin approval workflow
  migrations/2026-03-13-000000-0000_add_status_to_clubs/down.sql
  migrations/2026-03-13-000000-0000_add_status_to_clubs/up.sql
  src/actions/clubs.rs
  src/actions/views/club.rs
  src/clubs.rs
  src/clubs_repo.rs
  src/notifications.rs
  src/schema.rs
  src/ts_export.rs
  src/users_repo.rs
  src/web.rs
  web/src/lib/types/generated/ClubView.ts
  web/src/lib/types/generated/CreateClubRequest.ts
  web/src/lib/types/index.ts
  web/src/routes/clubs/+page.svelte
  web/src/routes/clubs/new/+page.svelte
  web/src/routes/clubs/new/+page.ts
  web/src/routes/clubs/pending/+page.svelte
  web/src/routes/clubs/pending/+page.ts
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

Replace PgBouncer with PgDog connection pooler
  .github/workflows/ci.yml
  CLAUDE.md
  PERFORMANCE-FIX-SUMMARY.md
  infrastructure/grafana-provisioning/datasources/soar-postgres.yaml.template
  infrastructure/pgbouncer-userlist.txt
  infrastructure/pgbouncer.ini
  infrastructure/pgdog-users.toml
  infrastructure/pgdog.toml
  infrastructure/soar-deploy
  scripts/provision
  scripts/setup-pgbouncer
  scripts/setup-pgdog
  src/main.rs
Due: rust-fmt, rust-clippy, rust-test

Show unsupported device error on AR page when orientation sensors are missing
  web/src/lib/services/arTracker.ts
  web/src/routes/ar/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Address Copilot review: add systemd unit to provision, use DynamicUser
  scripts/provision
  scripts/setup-pgdog
Due: none

Add active clubs search and fix geolocation timeout on desktop
  src/actions/clubs.rs
  src/actions/views/club.rs
  src/clubs_repo.rs
  web/src/lib/types/index.ts
  web/src/routes/clubs/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

Add club editing and club admin aircraft assignment
  src/actions/aircraft_search.rs
  src/actions/clubs.rs
  src/clubs_repo.rs
  src/ts_export.rs
  src/web.rs
  web/src/lib/types/generated/UpdateClubRequest.ts
  web/src/lib/types/index.ts
  web/src/routes/aircraft/[id]/+page.svelte
  web/src/routes/clubs/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

Parallelize dump-aircraft-dbs for multi-core utilization
  src/commands/dump_aircraft_dbs.rs
Due: rust-fmt, rust-clippy, rust-test

Fix FLARM/OGN address confusion causing duplicate aircraft records
  src/aircraft_repo.rs
  src/commands/load_data/mod.rs
  src/email_reporter.rs
Due: rust-fmt, rust-clippy, rust-test

Address review feedback: try_join, filter_map, chunked writes
  src/commands/dump_aircraft_dbs.rs
Due: rust-fmt, rust-clippy, rust-test

Address review feedback: remove duplicate attribute, clear results on mode switch
  src/clubs_repo.rs
  web/src/routes/clubs/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test
