Repository hut8/soar: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-install-deps, web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test, cargo-audit

.pre-commit-config.yaml:

repos:
  # Frontend/SvelteKit checks (matching CI test-sveltekit job)
  - repo: local
    hooks:
      - id: web-install-deps
        name: Install web dependencies
        entry: bash -c 'cd web && npm ci'
        language: system
        files: ^web/(package\.json|package-lock\.json)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

      - id: web-format
        name: Auto-fix web formatting (Prettier)
        entry: bash -c 'cd web && npm run format'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

      - id: web-lint
        name: Run web linter (ESLint + Prettier check)
        entry: bash -c 'cd web && npm run lint'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

      - id: web-type-check
        name: Run web type checking
        entry: bash -c 'cd web && npm run check'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

      - id: web-test
        name: Run web tests (Playwright E2E)
        entry: bash -c 'cd web && npm test'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-push, manual]

      - id: web-build
        name: Build web project
        entry: bash -c 'cd web && npm run build'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-push, manual]

  # Rust formatting (matching CI check)
  - repo: local
    hooks:
      - id: rust-fmt
        name: Auto-fix Rust formatting
        entry: cargo fmt
        language: system
        files: \.rs$
        pass_filenames: false
        stages: [pre-commit, pre-push]

  # Rust linting (matching CI clippy check)
  - repo: local
    hooks:
      - id: rust-clippy
        name: Run Clippy
        entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo clippy --all-targets --all-features -- -D warnings'
        language: system
        files: \.rs$
        pass_filenames: false
        stages: [pre-commit, pre-push]

  # Rust tests (matching CI test run)
  - repo: local
    hooks:
      - id: rust-test
        name: Run Rust tests
        entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo test'
        language: system
        files: \.rs$
        pass_filenames: false
        stages: [pre-push, manual]

  # Security audit (matching CI security-audit job)
  - repo: local
    hooks:
      - id: cargo-audit
        name: Run security audit
        entry: cargo audit
        language: system
        files: ^(Cargo\.toml|Cargo\.lock)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
        stages: [pre-commit, pre-push]
      - id: end-of-file-fixer
        stages: [pre-commit, pre-push]
      - id: check-yaml
        stages: [pre-commit, pre-push]
      - id: check-toml
        stages: [pre-commit, pre-push]
      - id: check-json
        stages: [pre-commit, pre-push]
      - id: check-merge-conflict
        stages: [pre-commit, pre-push]
      - id: check-added-large-files
        args: ["--maxkb=1000"]
        stages: [pre-commit, pre-push]

# Performance optimizations
default_stages: [pre-commit]
fail_fast: false

# CI configuration
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit.com hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ""
  autoupdate_commit_msg: "[pre-commit.ci] pre-commit autoupdate"
  autoupdate_schedule: weekly
  skip: []
  submodules: false

Add SyslogIdentifier to systemd services for clearer logging
  infrastructure/systemd/soar-ingest-adsb-staging.service
  infrastructure/systemd/soar-ingest-adsb.service
  infrastructure/systemd/soar-ingest-ogn-staging.service
  infrastructure/systemd/soar-ingest-ogn.service
  infrastructure/systemd/soar-run-staging.service
  infrastructure/systemd/soar-run.service
Due: none

Update all remaining references to new backup location
  docs/BACKUP-QUICKSTART.md
  docs/DB-BACKUPS.md
  scripts/backup/base-backup
  scripts/backup/restore
  scripts/provision
Due: none

Add component labels to metrics and fix OGN timestamp double-prepending
  src/commands/ingest_adsb.rs
  src/commands/ingest_ogn.rs
  src/commands/pull_data.rs
  src/commands/run.rs
  src/metrics.rs
  src/web.rs
Due: rust-fmt, rust-clippy, rust-test

Fix SIGTERM handling in ingest-ogn and ingest-adsb commands
  src/commands/ingest_adsb.rs
  src/commands/ingest_ogn.rs
Due: rust-fmt, rust-clippy, rust-test

Fix queue metrics, foreign key violations, and ingest blocking
  src/beast/client.rs
  src/commands/run.rs
  src/flight_tracker/mod.rs
  src/flight_tracker/state_transitions.rs
  src/persistent_queue.rs
Due: rust-fmt, rust-clippy, rust-test

Fix Grafana dashboards and rename Photon metrics to Pelias
  infrastructure/grafana-dashboard-run-core.json
  infrastructure/grafana-dashboard-run-geocoding.json
  infrastructure/grafana-dashboard-run-ingestion.json
  infrastructure/prometheus-scrape-configs/soar-ingest-adsb-staging.yml
  infrastructure/prometheus-scrape-configs/soar-ingest-adsb.yml
  src/commands/load_data/mod.rs
  src/flight_tracker/flight_lifecycle.rs
  src/geocoding/photon.rs
  src/metrics.rs
Due: rust-fmt, rust-clippy, rust-test

Add monitoring for envelope intake and PacketRouter internal queues
  src/commands/run.rs
  src/packet_processors/router.rs
Due: rust-fmt, rust-clippy, rust-test

Add APRS message rate statistics and Grafana panels for queue monitoring
  infrastructure/grafana-dashboard-ingest-ogn.json
  infrastructure/grafana-dashboard-run-routing.json
  src/aprs_client.rs
Due: rust-fmt, rust-clippy, rust-test

Fix persistent queue to ensure at-most-once delivery
  src/commands/ingest_adsb.rs
  src/commands/ingest_ogn.rs
  src/persistent_queue.rs
Due: rust-fmt, rust-clippy, rust-test

Use fsync in commit() to ensure offset updates reach disk
  src/persistent_queue.rs
Due: rust-fmt, rust-clippy, rust-test

Fix critical performance bottleneck: Async flight creation/completion
  PERFORMANCE-FIX-SUMMARY.md
  infrastructure/grafana-dashboard-ingest-ogn.json
  scripts/setup-pgbouncer
  src/flight_tracker/flight_lifecycle.rs
  src/flight_tracker/mod.rs
  src/flight_tracker/state_transitions.rs
  src/flights_repo.rs
  src/main.rs
  src/metrics.rs
Due: rust-fmt, rust-clippy, rust-test

Fix Grafana dashboard issues and performance optimizations
  infrastructure/grafana-dashboard-run-routing.json
  infrastructure/prometheus-jobs/soar-ingest-adsb-staging.yml
  infrastructure/prometheus-jobs/soar-ingest-ogn-staging.yml
  infrastructure/prometheus-jobs/soar-run-staging.yml
  infrastructure/soar-deploy
  src/commands/ingest_adsb.rs
  src/commands/ingest_ogn.rs
  src/commands/pull_data.rs
  src/commands/run.rs
  src/fixes_repo.rs
  src/flight_tracker/location.rs
  src/main.rs
  src/metrics.rs
Due: rust-fmt, rust-clippy, rust-test

Fix soar-deploy to prevent reinstalling production Prometheus configs on staging
  infrastructure/prometheus-scrape-configs/soar-aprs-ingest-staging.yml
  infrastructure/prometheus-scrape-configs/soar-ingest-adsb-staging.yml
  infrastructure/prometheus-scrape-configs/soar-run-staging.yml
  infrastructure/soar-deploy
Due: none

Fix shutdown handling and deployment restart issues
  infrastructure/soar-deploy
  src/aprs_client.rs
Due: rust-fmt, rust-clippy, rust-test

Fix flaky test: Add #[serial] to prevent database deadlocks
  src/raw_messages_repo.rs
Due: rust-fmt, rust-clippy, rust-test

perf: Optimize fixes queries with time-based partition pruning
  migrations/2026-01-05-021514-0000_drop_redundant_watchlist_user_id_idx/down.sql
  migrations/2026-01-05-021514-0000_drop_redundant_watchlist_user_id_idx/up.sql
  src/actions/fixes.rs
  src/fixes_repo.rs
  src/flight_tracker/flight_lifecycle.rs
  src/flight_tracker/state_transitions.rs
Due: rust-fmt, rust-clippy, rust-test

Pin bincode to exact version 1.3.3
  Cargo.toml
Due: cargo-audit

Fix Grafana dashboard issues and add combined metrics dashboard
  infrastructure/grafana-dashboard-analytics.json
  infrastructure/grafana-dashboard-run-combined.json
  infrastructure/grafana-dashboard-run-routing.json
  src/metrics.rs
Due: rust-fmt, rust-clippy, rust-test

Rename combined dashboard and add message rate panel
  infrastructure/grafana-dashboard-run-combined.json
Due: none

Remove old individual run dashboards (replaced by combined dashboard)
  infrastructure/grafana-dashboard-run-core.json
  infrastructure/grafana-dashboard-run-flights.json
  infrastructure/grafana-dashboard-run-ingestion.json
  infrastructure/grafana-dashboard-run-routing.json
Due: none

Potential fix for code scanning alert no. 15: Workflow does not contain permissions
  .github/workflows/deploy-ingest.yml
Due: none

Remove redundant panels from geocoding Grafana dashboard
  infrastructure/grafana-dashboard-run-geocoding.json
Due: none

Refactor flight tracker to unified aircraft state with in-memory history
  Cargo.lock
  Cargo.toml
  migrations/2026-01-05-135913-0000_remove_redundant_indexes/down.sql
  migrations/2026-01-05-135913-0000_remove_redundant_indexes/up.sql
  src/commands/run.rs
  src/flight_tracker/aircraft_state.rs
  src/flight_tracker/flight_lifecycle.rs
  src/flight_tracker/mod.rs
  src/flight_tracker/state_transitions.rs
  src/flight_tracker/towing.rs
  src/flight_tracker/utils.rs
Due: rust-fmt, rust-clippy, rust-test, cargo-audit

Add startup state recovery and improve geocoding error messages
  src/flight_tracker/location.rs
  src/flight_tracker/mod.rs
Due: rust-fmt, rust-clippy, rust-test

Eliminate database query in timeout handler by using in-memory state
  src/flight_tracker/flight_lifecycle.rs
Due: rust-fmt, rust-clippy, rust-test

Update outdated comment about aircraft state initialization
  src/commands/run.rs
Due: rust-fmt, rust-clippy, rust-test

Clarify initialization comment: only loads last 1 hour of flights
  src/commands/run.rs
Due: rust-fmt, rust-clippy, rust-test

Add startup metric to Grafana dashboard
  infrastructure/grafana-dashboard-run-combined.json
Due: none

Make flight completion non-blocking by spawning as background task
  src/flight_tracker/flight_lifecycle.rs
  src/flight_tracker/state_transitions.rs
Due: rust-fmt, rust-clippy, rust-test

Resolve security audit issues (RUSTSEC-2026-0001, RUSTSEC-2023-0071)
  .cargo/audit.toml
  Cargo.lock
  Cargo.toml
Due: cargo-audit

Return both timed_out and restored counts from initialize_from_database
  src/commands/run.rs
  src/flight_tracker/mod.rs
Due: rust-fmt, rust-clippy, rust-test

Inline complete_flight_fast into spawn_complete_flight
  src/flight_tracker/flight_lifecycle.rs
Due: rust-fmt, rust-clippy, rust-test

Track callsign and timed-out flights in memory, eliminate DB queries
  src/flight_tracker/aircraft_state.rs
  src/flight_tracker/mod.rs
  src/flight_tracker/state_transitions.rs
  src/flight_tracker/towing.rs
  src/flights_repo.rs
Due: rust-fmt, rust-clippy, rust-test

Fix: Load timed-out flights from 18h window, not 1h
  src/commands/run.rs
  src/flights_repo.rs
Due: rust-fmt, rust-clippy, rust-test

Fix: Detect landed aircraft by checking time/distance gap
  src/flight_tracker/aircraft_state.rs
  src/flight_tracker/state_transitions.rs
Due: rust-fmt, rust-clippy, rust-test

Use 700 mph instead of 300 knots for max speed (jets!)
  src/flight_tracker/state_transitions.rs
Due: rust-fmt, rust-clippy, rust-test

Improve flight UI and update README architecture diagram
  README.md
  web/src/lib/components/FlightsList.svelte
  web/src/routes/aircraft/[id]/+page.svelte
  web/src/routes/flights/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Fix ADS-B traffic blocking by parallelizing Beast message processing
  src/commands/run.rs
Due: rust-fmt, rust-clippy, rust-test

Increase Beast/SBS workers to 100 for high ADS-B traffic
  src/commands/run.rs
Due: rust-fmt, rust-clippy, rust-test

Fix callsign mismatch bug: sync in-memory state with database
  src/fix_processor.rs
  src/flight_tracker/mod.rs
Due: rust-fmt, rust-clippy, rust-test
