Repository hut8/soar: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-install-deps, web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test, cargo-audit

web-install-deps:
  name: Install web dependencies
  entry: bash -c 'cd web && npm ci'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-format:
  name: Auto-fix web formatting (Prettier)
  entry: bash -c 'cd web && npm run format'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-lint:
  name: Run web linter (ESLint + Prettier check)
  entry: bash -c 'cd web && npm run lint'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-type-check:
  name: Run web type checking
  entry: bash -c 'cd web && npm run check'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-test:
  name: Run web tests (Playwright E2E)
  entry: bash -c 'cd web && npm test'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

web-build:
  name: Build web project
  entry: bash -c 'cd web && npm run build'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

rust-fmt:
  name: Auto-fix Rust formatting
  entry: cargo fmt
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

rust-clippy:
  name: Run Clippy
  entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo clippy --all-targets --all-features -- -D warnings'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

rust-test:
  name: Run Rust tests
  entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo test'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

cargo-audit:
  name: Run security audit
  entry: cargo audit
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

Address Copilot review feedback
  web/e2e/watchlist/watchlist-load.test.ts
  web/src/routes/aircraft/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Clarify doc comments: clients send protobuf Envelopes, not raw messages
  src/beast/client.rs
  src/sbs/client.rs
Due: rust-fmt, rust-clippy, rust-test

Address Copilot review: bind Config by value and pass by reference
  src/ts_export.rs
Due: rust-fmt, rust-clippy, rust-test

Make AR controls panel span full screen width
  web/src/lib/components/ar/ARControls.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Fix APRS backpressure, copy-owners deadlock, and club page bugs
  src/commands/load_data/aircraft_registrations.rs
  src/commands/run/constants.rs
  web/src/routes/clubs/[id]/+page.svelte
  web/src/routes/clubs/[id]/operations/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

Add safe-area-inset padding for landscape on notched devices
  web/src/lib/components/ar/ARControls.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Fix ADS-B batch registration constraint and state transition aircraft-not-found
  src/commands/load_data/adsb_exchange.rs
  src/flight_tracker/mod.rs
Due: rust-fmt, rust-clippy, rust-test

Avoid overwriting aircraft.year with NULL during owner copy
  src/commands/load_data/aircraft_registrations.rs
Due: rust-fmt, rust-clippy, rust-test

Address Copilot review: tighten error matching and extract magic numbers
  src/commands/load_data/adsb_exchange.rs
  src/commands/load_data/aircraft_registrations.rs
  src/flight_tracker/mod.rs
Due: rust-fmt, rust-clippy, rust-test

Normalize aircraft manufacturer names across all data sources
  migrations/2026-03-03-000000_normalize_manufacturer_names/down.sql
  migrations/2026-03-03-000000_normalize_manufacturer_names/up.sql
  src/aircraft.rs
  src/aircraft_repo.rs
  src/commands/load_data/adsb_exchange.rs
  src/faa/aircraft_models.rs
  src/fix_processor.rs
  src/lib.rs
  src/manufacturer_names.rs
Due: rust-fmt, rust-clippy, rust-test

Improve AR/Spotter aircraft orientation with 3D perspective
  web/src/lib/components/ar/AircraftMarker.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Address review feedback: word boundaries, migration rewrite, avoid clone
  migrations/2026-03-03-000000_normalize_manufacturer_names/up.sql
  src/aircraft_repo.rs
  src/faa/aircraft_models.rs
  src/manufacturer_names.rs
Due: rust-fmt, rust-clippy, rust-test

Fix receiver statuses endpoint performance (66s → ~10ms)
  src/receiver_status_repo.rs
Due: rust-fmt, rust-clippy, rust-test

Add composite indexes for receiver queries on fixes and raw_messages
  migrations/2026-03-03-180000-0000_add_receiver_id_received_at_indexes/down.sql
  migrations/2026-03-03-180000-0000_add_receiver_id_received_at_indexes/up.sql
Due: none

Add received_at bounds to raw_messages lookup for chunk pruning
  src/receiver_status_repo.rs
Due: rust-fmt, rust-clippy, rust-test

Fix incorrect duration in migration failure emails
  src/main.rs
Due: rust-fmt, rust-clippy, rust-test

Fix raw messages endpoint returning snake_case JSON field names
  src/raw_messages_repo.rs
Due: rust-fmt, rust-clippy, rust-test

Add column selector for status reports and fix OGN DB flag on receiver upsert
  src/receiver_repo.rs
  web/src/routes/receivers/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

Add unit tests for AprsMessage camelCase JSON serialization
  src/raw_messages_repo.rs
Due: rust-fmt, rust-clippy, rust-test

Fix column picker reactivity and colspan edge case
  web/src/routes/receivers/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Fix coverage aggregation query referencing dropped 'timestamp' column
  src/commands/run_aggregates.rs
Due: rust-fmt, rust-clippy, rust-test

Report command errors to Sentry via tracing
  src/main.rs
Due: rust-fmt, rust-clippy, rust-test

Show aircraft names instead of raw source in coverage hex details
  src/actions/coverage.rs
  src/fixes_repo.rs
  web/src/lib/components/HexSamplesModal.svelte
  web/src/lib/types/index.ts
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

Stack receiver data tabs vertically on mobile
  web/src/routes/receivers/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Address Copilot review and fix svelte-check warnings
  src/main.rs
  web/src/routes/receivers/coverage/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

Deduplicate aircraft IDs and short-circuit empty fix results
  src/fixes_repo.rs
Due: rust-fmt, rust-clippy, rust-test

Fix 48 svelte-check warnings across 11 frontend files
  web/src/lib/components/FixesList.svelte
  web/src/lib/components/GeofenceEditor.svelte
  web/src/lib/components/ar/AircraftListModal.svelte
  web/src/lib/components/spotter/LocationPicker.svelte
  web/src/routes/admin/data-streams/+page.svelte
  web/src/routes/clubs/[id]/admin/charges/+page.svelte
  web/src/routes/clubs/[id]/admin/fees/+page.svelte
  web/src/routes/geofences/[id]/+page.svelte
  web/src/routes/info/+page.svelte
  web/src/routes/profile/+page.svelte
  web/src/routes/receivers/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Add soar-env script to load environment variables into current shell
  scripts/soar-env
Due: none

Fix profile page showing "Unknown" for club membership
  web/src/routes/profile/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Fix multiple receiver page issues
  web/src/lib/components/ReceiverModal.svelte
  web/src/lib/services/maplibre/ReceiverLayerManager.ts
  web/src/routes/receivers/+page.svelte
  web/src/routes/receivers/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Add geofences links to navigation, watchlist, and club operations pages
  web/src/routes/+layout.svelte
  web/src/routes/clubs/[id]/operations/+page.svelte
  web/src/routes/watchlist/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Scope tab active styling to receiver detail page
  web/src/routes/receivers/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Use resolve() for geofences links and add data-testid for test targeting
  web/src/routes/clubs/[id]/operations/+page.svelte
  web/src/routes/watchlist/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Re-enable towing detection with in-memory lookups
  src/flight_tracker/state_transitions.rs
  src/flight_tracker/towing.rs
Due: rust-fmt, rust-clippy, rust-test

Address Copilot review comments
  src/flight_tracker/towing.rs
Due: rust-fmt, rust-clippy, rust-test

Add club join approval workflow
  migrations/2026-03-04-000001-0000_club_join_requests/down.sql
  migrations/2026-03-04-000001-0000_club_join_requests/up.sql
  src/actions/club_join_requests.rs
  src/actions/mod.rs
  src/actions/views/club_join_request.rs
  src/actions/views/mod.rs
  src/club_join_requests.rs
  src/club_join_requests_repo.rs
  src/lib.rs
  src/schema.rs
  src/ts_export.rs
  src/web.rs
  web/src/lib/types/generated/ClubJoinRequestView.ts
  web/src/lib/types/index.ts
  web/src/routes/clubs/[id]/+page.svelte
  web/src/routes/clubs/[id]/admin/join-requests/+page.svelte
  web/src/routes/clubs/[id]/admin/join-requests/+page.ts
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

Add data-testid attributes to geofences nav links for e2e testing
  web/src/routes/+layout.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Fix callsign mismatch never triggering flight split
  src/fix_processor.rs
  src/flight_tracker/mod.rs
Due: rust-fmt, rust-clippy, rust-test

Address review: reduce visibility to pub(crate) and add test
  src/flight_tracker/mod.rs
  src/flight_tracker/state_transitions.rs
Due: rust-fmt, rust-clippy, rust-test

Address PR review feedback
  scripts/soar-env
Due: none

Path conditions:
  web-install-deps: any of: ^web/(package\.json|package-lock\.json)$
  web-format: any of: ^web/.*\.(js|ts|svelte)$
  web-lint: any of: ^web/.*\.(js|ts|svelte)$
  web-type-check: any of: ^web/.*\.(js|ts|svelte)$
  web-test: any of: ^web/.*\.(js|ts|svelte)$
  web-build: any of: ^web/.*\.(js|ts|svelte)$
  rust-fmt: any of: \.rs$
  rust-clippy: any of: \.rs$
  rust-test: any of: \.rs$
  cargo-audit: any of: ^(Cargo\.toml|Cargo\.lock)$
