Repository hut8/soar: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-install-deps, web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test, cargo-audit

web-install-deps:
  name: Install web dependencies
  entry: bash -c 'cd web && npm ci'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-format:
  name: Auto-fix web formatting (Prettier)
  entry: bash -c 'cd web && npm run format'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-lint:
  name: Run web linter (ESLint + Prettier check)
  entry: bash -c 'cd web && npm run lint'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-type-check:
  name: Run web type checking
  entry: bash -c 'cd web && npm run check'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-test:
  name: Run web tests (Playwright E2E)
  entry: bash -c 'cd web && npm test'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

web-build:
  name: Build web project
  entry: bash -c 'cd web && npm run build'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

rust-fmt:
  name: Auto-fix Rust formatting
  entry: cargo fmt
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

rust-clippy:
  name: Run Clippy
  entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo clippy --all-targets --all-features -- -D warnings'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

rust-test:
  name: Run Rust tests
  entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo test'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

cargo-audit:
  name: Run security audit
  entry: cargo audit
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

fix: auto-switch to port 10152 when no APRS filter specified
  src/commands/ingest_aprs.rs
Due: rust-fmt, rust-clippy, rust-test

feat: automate Grafana dashboard deployment
  .github/workflows/ci.yml
  infrastructure/grafana-README.md
  infrastructure/grafana-provisioning/dashboards/dashboards.yml
  infrastructure/soar-deploy
Due: none

perf: optimize JetStream publishing with fire-and-forget mode
  src/aprs_client.rs
  src/aprs_jetstream_publisher.rs
  src/queue_config.rs
Due: rust-fmt, rust-clippy, rust-test

fix: improve receiver geocoding error handling in daily pull-data
  src/commands/load_data/mod.rs
  src/commands/load_data/receiver_geocoding.rs
  src/email_reporter.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add PWA support, fix flights filtering, and resolve UI bugs
  src/flights_repo.rs
  web/src/hooks.client.ts
  web/src/routes/+layout.svelte
  web/src/routes/flights/[id]/+page.svelte
  web/src/routes/receivers/+page.svelte
  web/src/routes/receivers/[id]/+page.svelte
  web/src/service-worker.ts
  web/static/apple-touch-icon.png
  web/static/favicon-16x16.png
  web/static/favicon-32x32.png
  web/static/icon-192.png
  web/static/icon-512.png
  web/static/manifest.json
  web/svelte.config.js
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

feat: add country_code field to devices table
  migrations/2025-11-01-065545-0000_add_devices_country_code/down.sql
  migrations/2025-11-01-065545-0000_add_devices_country_code/up.sql
  src/device_repo.rs
  src/devices.rs
  src/fixes_repo.rs
  src/schema.rs
Due: rust-fmt, rust-clippy, rust-test

feat: implement zero-downtime deployment with graceful shutdown
  infrastructure/soar-deploy
  soar-aprs-ingest.service
  src/aprs_client.rs
  src/commands/ingest_aprs.rs
  src/instance_lock.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add health checks, automated rollback, and deployment dashboard
  infrastructure/grafana-dashboard-deployment.json
  infrastructure/soar-deploy
  src/aprs_client.rs
  src/commands/ingest_aprs.rs
  src/metrics.rs
  tests/graceful_shutdown_test.rs
Due: rust-fmt, rust-clippy, rust-test

chore: remove verbose performance metrics logging
  src/commands/run.rs
Due: rust-fmt, rust-clippy, rust-test

feat: replace AppBar loading indicator with blue-to-orange gradient
  web/src/lib/components/LoadingBar.svelte
  web/src/routes/+layout.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: make WebSocket URL respect FORCE_PRODUCTION_BACKEND flag
  web/src/lib/api/server.ts
  web/src/lib/services/FixFeed.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: use absolute production URL when FORCE_PRODUCTION_BACKEND is true
  web/src/lib/api/server.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: improve WebSocket status visibility in light mode
  web/src/routes/+layout.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: WebSocket now correctly uses production URL when forced
  web/src/lib/services/FixFeed.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

feat: make loading indicator much more dramatic and visible
  web/src/lib/components/LoadingBar.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: ensure AppBar buttons stay visible above loading gradient
  web/src/routes/+layout.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

feat: add Club Ops navigation for users with club membership
  web/src/routes/+layout.svelte
  web/src/routes/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

feat: add aggregate statistics tab to receiver page
  src/actions/receivers.rs
  src/fixes_repo.rs
  src/web.rs
  web/src/routes/receivers/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

feat: add club-specific flights endpoint with date navigation
  src/actions/clubs.rs
  src/flights_repo.rs
  src/web.rs
  web/src/lib/services/DeviceRegistry.ts
  web/src/routes/clubs/[id]/operations/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

fix: correct metric names to match actual usage
  src/metrics.rs
Due: rust-fmt, rust-clippy, rust-test

fix: propagate club_id from device to flight on creation
  src/flight_tracker/flight_lifecycle.rs
  src/flight_tracker/mod.rs
  src/flight_tracker/state_transitions.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add lat/lon with Google Maps links to failed receiver geocoding items
  src/commands/load_data/receiver_geocoding.rs
  src/email_reporter.rs
Due: rust-fmt, rust-clippy, rust-test

feat: implement centripetal Catmull-Rom spline interpolation for flight paths
  src/actions/flights.rs
  src/flights.rs
  src/geometry/mod.rs
  src/geometry/spline.rs
  src/lib.rs
  src/web.rs
  web/src/routes/flights/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

feat: add pilot role columns and create pilot endpoint
  migrations/2025-11-02-042849-0000_add_pilot_role_columns/down.sql
  migrations/2025-11-02-042849-0000_add_pilot_role_columns/up.sql
  src/actions/pilots.rs
  src/pilots.rs
  src/schema.rs
  src/web.rs
Due: rust-fmt, rust-clippy, rust-test

feat: change Process Status to state timeline in web dashboard
  infrastructure/grafana-dashboard-web.json
Due: none

feat: add club pilots management page
  web/src/lib/types/index.ts
  web/src/routes/clubs/[id]/pilots/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: use last_fix_at instead of Utc::now for active flight end time
  src/actions/flights.rs
  src/flights.rs
Due: rust-fmt, rust-clippy, rust-test

refactor: extract SplinePathResponse type definition
  web/src/routes/flights/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

refactor: deduplicate spline path fetching logic
  web/src/routes/flights/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

feat: add Pilots navigation links to club pages
  web/src/routes/clubs/[id]/+page.svelte
  web/src/routes/clubs/[id]/operations/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

feat: implement pilot soft deletes and improve date formatting
  migrations/2025-11-02-045752-0000_add_pilot_soft_delete_and_user_id/down.sql
  migrations/2025-11-02-045752-0000_add_pilot_soft_delete_and_user_id/up.sql
  src/actions/pilots.rs
  src/pilots.rs
  src/pilots_repo.rs
  src/schema.rs
  src/web.rs
  web/src/lib/services/DeviceRegistry.ts
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

feat: implement true 3D spline interpolation with altitude
  src/geometry/spline.rs
Due: rust-fmt, rust-clippy, rust-test

feat: combine receiver aggregate statistics into single endpoint
  src/actions/receivers.rs
  src/receiver_status_repo.rs
  src/web.rs
  web/src/routes/receivers/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

chore: remove outdated soar-deploy script from root
  soar-deploy
Due: none

feat: add script for manual Grafana dashboard installation
  infrastructure/grafana-README.md
  infrastructure/install-grafana-dashboards
Due: none

fix: correct metric names in soar-run dashboard
  infrastructure/grafana-dashboard-run.json
Due: none

fix: correct state-timeline configuration for JetStream Connection Status
  infrastructure/grafana-dashboard-run.json
Due: none

fix: add component filter back to process metrics panels
  infrastructure/grafana-dashboard-run.json
Due: none

feat: convert Process Status panel to state-timeline
  infrastructure/grafana-dashboard-run.json
Due: none

Path conditions:
  web-install-deps: any of: ^web/(package\.json|package-lock\.json)$
  web-format: any of: ^web/.*\.(js|ts|svelte)$
  web-lint: any of: ^web/.*\.(js|ts|svelte)$
  web-type-check: any of: ^web/.*\.(js|ts|svelte)$
  web-test: any of: ^web/.*\.(js|ts|svelte)$
  web-build: any of: ^web/.*\.(js|ts|svelte)$
  rust-fmt: any of: \.rs$
  rust-clippy: any of: \.rs$
  rust-test: any of: \.rs$
  cargo-audit: any of: ^(Cargo\.toml|Cargo\.lock)$
