Repository hut8/soar: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-install-deps, web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test, cargo-audit

web-install-deps:
  name: Install web dependencies
  entry: bash -c 'cd web && npm ci'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-format:
  name: Auto-fix web formatting (Prettier)
  entry: bash -c 'cd web && npm run format'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-lint:
  name: Run web linter (ESLint + Prettier check)
  entry: bash -c 'cd web && npm run lint'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-type-check:
  name: Run web type checking
  entry: bash -c 'cd web && npm run check'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-test:
  name: Run web tests (Playwright E2E)
  entry: bash -c 'cd web && npm test'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

web-build:
  name: Build web project
  entry: bash -c 'cd web && npm run build'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

rust-fmt:
  name: Auto-fix Rust formatting
  entry: cargo fmt
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

rust-clippy:
  name: Run Clippy
  entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo clippy --all-targets --all-features -- -D warnings'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

rust-test:
  name: Run Rust tests
  entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo test'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

cargo-audit:
  name: Run security audit
  entry: cargo audit
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

Fix duplicate key error in club aircraft list
  web/src/routes/clubs/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Add fallback for null aircraft registration display
  web/src/routes/clubs/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Fix race condition in merge_by_registration causing duplicate ICAO address errors
  src/aircraft_repo.rs
Due: rust-fmt, rust-clippy, rust-test

Add displacement-based spurious flight detection for APRS/OGN
  migrations/2026-02-09-030921-0000_add_displacement_spurious_reason/down.sql
  migrations/2026-02-09-030921-0000_add_displacement_spurious_reason/up.sql
  src/flight_tracker/flight_lifecycle.rs
  src/flights.rs
Due: rust-fmt, rust-clippy, rust-test

Parallelize aircraft page data loading and add skeleton loaders
  web/src/routes/aircraft/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Address Copilot feedback: use structured error matching and preserve error context
  src/aircraft_repo.rs
Due: rust-fmt, rust-clippy, rust-test

Extract displacement threshold to constant and make migration idempotent
  migrations/2026-02-09-030921-0000_add_displacement_spurious_reason/up.sql
  src/flight_tracker/flight_lifecycle.rs
Due: rust-fmt, rust-clippy, rust-test

Fix unique constraint violation in merge_pending_registrations()
  src/aircraft_repo.rs
Due: rust-fmt, rust-clippy, rust-test

Address review feedback: add context to DB operations and enrich error messages
  src/aircraft_repo.rs
Due: rust-fmt, rust-clippy, rust-test

Trust ADS-B transponder on_ground for immediate takeoff/landing detection
  src/fix_processor.rs
  src/fixes.rs
  src/flight_tracker/flight_lifecycle.rs
  src/flight_tracker/state_transitions.rs
Due: rust-fmt, rust-clippy, rust-test

Gate ADS-B fix emission on on_ground and stop Prettier reformatting generated types
  src/adsb_accumulator.rs
  src/commands/run.rs
  web/.prettierignore
  web/src/lib/types/generated/AddressType.ts
  web/src/lib/types/generated/Aircraft.ts
  web/src/lib/types/generated/AircraftCategory.ts
  web/src/lib/types/generated/AircraftGeofence.ts
  web/src/lib/types/generated/AircraftView.ts
  web/src/lib/types/generated/AirportView.ts
  web/src/lib/types/generated/ClubView.ts
  web/src/lib/types/generated/CreateGeofenceRequest.ts
  web/src/lib/types/generated/Fix.ts
  web/src/lib/types/generated/FlightState.ts
  web/src/lib/types/generated/FlightView.ts
  web/src/lib/types/generated/Geofence.ts
  web/src/lib/types/generated/GeofenceDetailResponse.ts
  web/src/lib/types/generated/GeofenceExitEvent.ts
  web/src/lib/types/generated/GeofenceExitEventsResponse.ts
  web/src/lib/types/generated/GeofenceLayer.ts
  web/src/lib/types/generated/GeofenceListResponse.ts
  web/src/lib/types/generated/GeofenceSubscriber.ts
  web/src/lib/types/generated/GeofenceWithCounts.ts
  web/src/lib/types/generated/ModelDataView.ts
  web/src/lib/types/generated/ReceiverView.ts
  web/src/lib/types/generated/RunwayEnd.ts
  web/src/lib/types/generated/RunwayView.ts
  web/src/lib/types/generated/TowFeeView.ts
  web/src/lib/types/generated/UpdateGeofenceRequest.ts
  web/src/lib/types/generated/UserView.ts
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

Address review feedback: defensive error handling, naming, constant extraction
  src/adsb_accumulator.rs
  src/commands/run.rs
  src/fix_processor.rs
  src/fixes.rs
  src/flight_tracker/flight_lifecycle.rs
  src/flight_tracker/state_transitions.rs
Due: rust-fmt, rust-clippy, rust-test

Clarify that ADS-B arrives via Beast and SBS wire formats
  src/adsb_accumulator.rs
  src/fixes.rs
Due: rust-fmt, rust-clippy, rust-test

Fix chk_at_least_one_address violation in merge_pending_registrations()
  src/aircraft_repo.rs
  tests/merge_pending_registrations_test.rs
Due: rust-fmt, rust-clippy, rust-test

Address review feedback: validate delete count and batch address transfer
  src/aircraft_repo.rs
Due: rust-fmt, rust-clippy, rust-test

Add "Disable Clustering" toggle to /live map settings
  src/actions/aircraft_search.rs
  web/src/lib/components/SettingsModal.svelte
  web/src/routes/live/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

Replace Google Maps with MapLibre on flight pages and fix map 404
  web/src/routes/flights/[id]/+page.svelte
  web/src/routes/flights/[id]/map/+page.svelte
  web/src/routes/flights/[id]/map/+page.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

Add receiver click modal, SVG receiver icons, and feed delay indicator
  web/src/lib/components/ReceiverModal.svelte
  web/src/lib/services/maplibre/ReceiverLayerManager.ts
  web/src/lib/stores/websocket-status.ts
  web/src/routes/+layout.svelte
  web/src/routes/live/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Address Copilot review feedback
  web/src/routes/flights/[id]/+page.svelte
  web/src/routes/flights/[id]/map/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Fix multiple overlapping in-progress flights per aircraft
  migrations/2026-02-13-000000-0000_unique_active_flight_per_aircraft/down.sql
  migrations/2026-02-13-000000-0000_unique_active_flight_per_aircraft/metadata.toml
  migrations/2026-02-13-000000-0000_unique_active_flight_per_aircraft/up.sql
  src/flight_tracker/flight_lifecycle.rs
  src/flight_tracker/mod.rs
  src/flight_tracker/state_transitions.rs
  src/flights_repo.rs
Due: rust-fmt, rust-clippy, rust-test

Split src/commands/run.rs into submodule directory
  src/commands/run.rs
  src/commands/run/aprs.rs
  src/commands/run/beast.rs
  src/commands/run/constants.rs
  src/commands/run/mod.rs
  src/commands/run/monitoring.rs
  src/commands/run/sbs.rs
  src/commands/run/shutdown.rs
  src/commands/run/tests.rs
  src/commands/run/workers.rs
Due: rust-fmt, rust-clippy, rust-test

Address review feedback: add error logging and migration data cleanup
  migrations/2026-02-13-000000-0000_unique_active_flight_per_aircraft/up.sql
  src/flight_tracker/mod.rs
Due: rust-fmt, rust-clippy, rust-test

Split migration: data cleanup (transactional) + index (non-transactional)
  migrations/2026-02-13-000000-0000_unique_active_flight_per_aircraft/down.sql
  migrations/2026-02-13-000000-0000_unique_active_flight_per_aircraft/up.sql
  migrations/2026-02-13-000000-0001_unique_active_flight_index/down.sql
  migrations/2026-02-13-000000-0001_unique_active_flight_index/metadata.toml
  migrations/2026-02-13-000000-0001_unique_active_flight_index/up.sql
Due: none

Fix coverage hex details and replace fill layer with deck.gl H3HexagonLayer
  src/coverage.rs
  src/coverage_repo.rs
  src/fixes_repo.rs
  web/package-lock.json
  web/package.json
  web/src/lib/types/index.ts
  web/src/routes/receivers/coverage/+page.svelte
Due: web-install-deps, web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

Fix coverage hexes endpoint: cast SUM(bigint) to bigint
  src/coverage_repo.rs
Due: rust-fmt, rust-clippy, rust-test

Add approved operations to aircraft detail page with ts-rs type generation
  src/actions/views/aircraft.rs
  src/actions/views/club.rs
  src/aircraft_registrations.rs
  src/ts_export.rs
  web/src/lib/types/generated/AircraftModelView.ts
  web/src/lib/types/generated/AircraftRegistrationView.ts
  web/src/lib/types/generated/AirworthinessClass.ts
  web/src/lib/types/generated/LightSportType.ts
  web/src/lib/types/generated/RegistrantType.ts
  web/src/lib/types/index.ts
  web/src/routes/aircraft/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

Fix flight map screen showing black canvas by using flexbox layout
  web/src/routes/flights/[id]/map/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Fix country_code being lost for FLARM/OGN aircraft on every fix
  src/aircraft_repo.rs
Due: rust-fmt, rust-clippy, rust-test

Fix duplicate aircraft merge failing on towed_by_aircraft_id FK
  src/aircraft_repo.rs
Due: rust-fmt, rust-clippy, rust-test

Fix maximum displacement never being calculated for flights
  src/flights.rs
Due: rust-fmt, rust-clippy, rust-test

Improve mobile layout for aircraft status modal, watchlist page, and watch button feedback
  web/src/lib/components/AircraftStatusModal.svelte
  web/src/routes/aircraft/[id]/+page.svelte
  web/src/routes/watchlist/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Rename 'Device' to 'Details' on club detail page aircraft link
  web/src/routes/clubs/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Remove max retry limit — retry connections indefinitely
  src/aprs_client.rs
  src/beast/client.rs
  src/commands/ingest.rs
  src/main.rs
  src/sbs/client.rs
Due: rust-fmt, rust-clippy, rust-test

Fix set-as-my-club not persisting due to serde field name mismatch
  src/actions/users.rs
  web/src/routes/clubs/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

Reverse geocode user location on clubs search page
  src/actions/geocoding.rs
  src/actions/mod.rs
  src/ts_export.rs
  src/web.rs
  web/src/lib/types/generated/ReverseGeocodeResponse.ts
  web/src/lib/types/index.ts
  web/src/routes/clubs/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

Fix flight detail page 500: serialize aircraft as camelCase
  src/actions/flights.rs
Due: rust-fmt, rust-clippy, rust-test

Address review feedback: use json_error helper and serverCall params
  src/actions/geocoding.rs
  web/src/routes/clubs/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

Fix in-memory/DB desync causing 3M+ unique constraint violations
  src/flight_tracker/state_transitions.rs
  src/flights_repo.rs
Due: rust-fmt, rust-clippy, rust-test

Set current_callsign when adopting orphaned flight
  src/flight_tracker/state_transitions.rs
Due: rust-fmt, rust-clippy, rust-test

Wrap receiver_status_repo insert in spawn_blocking
  src/receiver_status_repo.rs
  src/receiver_statuses.rs
Due: rust-fmt, rust-clippy, rust-test

Path conditions:
  web-install-deps: any of: ^web/(package\.json|package-lock\.json)$
  web-format: any of: ^web/.*\.(js|ts|svelte)$
  web-lint: any of: ^web/.*\.(js|ts|svelte)$
  web-type-check: any of: ^web/.*\.(js|ts|svelte)$
  web-test: any of: ^web/.*\.(js|ts|svelte)$
  web-build: any of: ^web/.*\.(js|ts|svelte)$
  rust-fmt: any of: \.rs$
  rust-clippy: any of: \.rs$
  rust-test: any of: \.rs$
  cargo-audit: any of: ^(Cargo\.toml|Cargo\.lock)$
