Repository hut8/soar: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-install-deps, web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test, cargo-audit

.pre-commit-config.yaml:

repos:
  # Frontend/SvelteKit checks (matching CI test-sveltekit job)
  - repo: local
    hooks:
      - id: web-install-deps
        name: Install web dependencies
        entry: bash -c 'cd web && npm ci'
        language: system
        files: ^web/(package\.json|package-lock\.json)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

      - id: web-format
        name: Auto-fix web formatting (Prettier)
        entry: bash -c 'cd web && npm run format'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

      - id: web-lint
        name: Run web linter (ESLint + Prettier check)
        entry: bash -c 'cd web && npm run lint'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

      - id: web-type-check
        name: Run web type checking
        entry: bash -c 'cd web && npm run check'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

      - id: web-test
        name: Run web tests (Playwright E2E)
        entry: bash -c 'cd web && npm test'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-push, manual]

      - id: web-build
        name: Build web project
        entry: bash -c 'cd web && npm run build'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-push, manual]

  # Rust formatting (matching CI check)
  - repo: local
    hooks:
      - id: rust-fmt
        name: Auto-fix Rust formatting
        entry: cargo fmt
        language: system
        files: \.rs$
        pass_filenames: false
        stages: [pre-commit, pre-push]

  # Rust linting (matching CI clippy check)
  - repo: local
    hooks:
      - id: rust-clippy
        name: Run Clippy
        entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo clippy --all-targets --all-features -- -D warnings'
        language: system
        files: \.rs$
        pass_filenames: false
        stages: [pre-commit, pre-push]

  # Rust tests (matching CI test run)
  - repo: local
    hooks:
      - id: rust-test
        name: Run Rust tests
        entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo test'
        language: system
        files: \.rs$
        pass_filenames: false
        stages: [pre-push, manual]

  # Security audit (matching CI security-audit job)
  - repo: local
    hooks:
      - id: cargo-audit
        name: Run security audit
        entry: cargo audit
        language: system
        files: ^(Cargo\.toml|Cargo\.lock)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
        stages: [pre-commit, pre-push]
      - id: end-of-file-fixer
        stages: [pre-commit, pre-push]
      - id: check-yaml
        stages: [pre-commit, pre-push]
      - id: check-toml
        stages: [pre-commit, pre-push]
      - id: check-json
        stages: [pre-commit, pre-push]
      - id: check-merge-conflict
        stages: [pre-commit, pre-push]
      - id: check-added-large-files
        args: ["--maxkb=1000"]
        stages: [pre-commit, pre-push]

# Performance optimizations
default_stages: [pre-commit]
fail_fast: false

# CI configuration
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit.com hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ""
  autoupdate_commit_msg: "[pre-commit.ci] pre-commit autoupdate"
  autoupdate_schedule: weekly
  skip: []
  submodules: false

docs: add guide for generating visual regression test snapshots
  web/e2e/SNAPSHOTS.md
Due: none

Fix deadlock in test_get_by_ids_multiple
  src/raw_messages_repo.rs
Due: rust-fmt, rust-clippy, rust-test

fix: restrict Google Analytics and Sentry to production/staging only
  web/src/app.d.ts
  web/src/hooks.client.ts
  web/src/routes/+layout.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Serialize pilot_invitation_workflow tests to fix template DB race
  tests/pilot_invitation_workflow_test.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add automated script for generating E2E test snapshots
  scripts/generate-e2e-snapshots.sh
Due: none

fix(adsb-exchange): preserve existing aircraft data from more authoritative sources
  src/commands/load_data/adsb_exchange.rs
Due: rust-fmt, rust-clippy, rust-test

fix: apply Prettier formatting to SNAPSHOTS.md
  web/e2e/SNAPSHOTS.md
Due: none

fix(grafana): add missing reduce step to OGN disconnect alert
  infrastructure/grafana-provisioning/alerting/alert-rules-production.yml
  infrastructure/grafana-provisioning/alerting/alert-rules-staging.yml
Due: none

feat: add Playwright global setup to create template database
  web/e2e/global-setup.ts
  web/playwright.config.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

fix(grafana): also fix alert-rules.yml (the actual deployed file)
  infrastructure/grafana-provisioning/alerting/alert-rules.yml
Due: none

fix(adsbx): fix parse errors and upsert constraint
  src/commands/load_data/adsb_exchange.rs
Due: rust-fmt, rust-clippy, rust-test

refactor: use file lock for template database cloning
  Cargo.lock
  Cargo.toml
  tests/common/mod.rs
  web/e2e/global-setup.ts
  web/playwright.config.ts
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test, cargo-audit

refactor(grafana): remove redundant alert-rules.yml file
  infrastructure/grafana-provisioning/alerting/alert-rules.yml
Due: none

fix: E2E test failures in CI
  web/e2e/aircraft/aircraft-detail.test.ts
  web/e2e/aircraft/aircraft-list.test.ts
  web/e2e/airports/airports-list.test.ts
  web/e2e/auth/forgot-password.test.ts
  web/e2e/flights/flights-list.test.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: remove more missing snapshots and fix club selector test
  web/e2e/aircraft/aircraft-list.test.ts
  web/e2e/operations/operations.test.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: replace browser back button test with direct navigation
  web/e2e/aircraft/aircraft-detail.test.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

perf: optimize FAA data loading and fix migration email reporting
  src/aircraft_registrations_repo.rs
  src/commands/load_data/aircraft_backfill.rs
  src/commands/load_data/mod.rs
  src/main.rs
Due: rust-fmt, rust-clippy, rust-test

perf: lazy load Cesium.js only on globe page
  web/src/app.html
  web/src/cesium-global.d.ts
  web/src/routes/globe/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

feat: improve flight displays with bulk aircraft fetching and fixes
  src/actions/aircraft_search.rs
  src/flights_repo.rs
  web/src/lib/components/AircraftLink.svelte
  web/src/lib/components/FlightsList.svelte
  web/src/lib/types/index.ts
  web/src/routes/aircraft/[id]/+page.svelte
  web/src/routes/clubs/[id]/operations/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

feat: extend JWT expiration to 6 months and handle 401 with auto-logout
  src/auth.rs
  web/src/lib/api/server.ts
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

fix: tow detection now searches active_flights instead of aircraft_trackers
  src/flight_tracker/state_transitions.rs
  src/flight_tracker/towing.rs
Due: rust-fmt, rust-clippy, rust-test

fix: prevent position fixes from overwriting ICAO model code and ADS-B emitter category
  src/aircraft_repo.rs
Due: rust-fmt, rust-clippy, rust-test

fix: convert aircraft registration/model endpoints to camelCase
  src/actions/aircraft.rs
  src/actions/views/aircraft.rs
  src/faa/aircraft_model_repo.rs
  src/web.rs
  web/src/lib/components/AircraftStatusModal.svelte
  web/src/lib/types/index.ts
  web/src/routes/aircraft/[id]/+page.svelte
  web/src/routes/clubs/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

fix: prevent template database concurrent access errors in tests
  scripts/setup-test-template.sh
  src/schema.rs
  tests/common/mod.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add multi-source aircraft image fetching with smart caching
  migrations/2025-12-29-030022-0000_add_images_to_aircraft/down.sql
  migrations/2025-12-29-030022-0000_add_images_to_aircraft/up.sql
  src/actions/aircraft_images.rs
  src/actions/mod.rs
  src/aircraft.rs
  src/aircraft_images.rs
  src/aircraft_images_client.rs
  src/aircraft_repo.rs
  src/fixes_repo.rs
  src/lib.rs
  src/schema.rs
  src/web.rs
Due: rust-fmt, rust-clippy, rust-test

test: update globe E2E test for async Cesium loading
  web/e2e/home/globe.test.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

feat: complete planespotters.net API integration
  src/aircraft_images.rs
  src/aircraft_images_client.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add aircraft image display to detail page
  web/src/routes/aircraft/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

test: increase globe E2E test timeout and add error detection
  web/e2e/home/globe.test.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: wait for DOM update before initializing Cesium viewer
  web/src/routes/globe/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

test: add E2E test for aircraft images display
  web/e2e/aircraft/aircraft-detail.test.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

test: remove flaky screenshot test from globe E2E test
  web/e2e/home/globe.test.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

test: skip globe E2E tests if WebGL unavailable
  web/e2e/home/globe.test.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: prevent timeout in flaky reset password E2E test
  web/e2e/auth/reset-password.test.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

feat: extract country codes from aircraft registrations
  src/aircraft.rs
  src/commands/load_data/aircraft_backfill.rs
Due: rust-fmt, rust-clippy, rust-test

test: fix E2E test failures for globe and reset-password
  web/e2e/auth/reset-password.test.ts
  web/e2e/home/globe.test.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

test: fix globe E2E test timing issues
  web/e2e/home/globe.test.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

test: use test.skip() properly for WebGL errors in globe tests
  web/e2e/home/globe.test.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

feat: add pagination to receiver list and aircraft detail improvements
  src/actions/receivers.rs
  src/airports_repo.rs
  src/receiver_repo.rs
  web/src/routes/aircraft/[id]/+page.svelte
  web/src/routes/receivers/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

test: fix test.skip() usage for WebGL errors
  web/e2e/home/globe.test.ts
Due: web-format, web-lint, web-type-check, web-test, web-build
