Repository hut8/soar: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-install-deps, web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test, cargo-audit

web-install-deps:
  name: Install web dependencies
  entry: bash -c 'cd web && npm ci'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-format:
  name: Auto-fix web formatting (Prettier)
  entry: bash -c 'cd web && npm run format'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-lint:
  name: Run web linter (ESLint + Prettier check)
  entry: bash -c 'cd web && npm run lint'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-type-check:
  name: Run web type checking
  entry: bash -c 'cd web && npm run check'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-test:
  name: Run web tests (Playwright E2E)
  entry: bash -c 'cd web && npm test'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

web-build:
  name: Build web project
  entry: bash -c 'cd web && npm run build'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

rust-fmt:
  name: Auto-fix Rust formatting
  entry: cargo fmt
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

rust-clippy:
  name: Run Clippy
  entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo clippy --all-targets --all-features -- -D warnings'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

rust-test:
  name: Run Rust tests
  entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo test'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

cargo-audit:
  name: Run security audit
  entry: cargo audit
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

feat: add durable APRS message queue with NATS JetStream
  Cargo.toml
  soar-aprs-ingest.service
  soar-deploy
  soar.target
  src/aprs_client.rs
  src/aprs_jetstream_publisher.rs
  src/clubs.rs
  src/clubs_repo.rs
  src/fixes.rs
  src/flight_tracker/aircraft_tracker.rs
  src/flight_tracker/state_transitions.rs
  src/flights.rs
  src/lib.rs
  src/locations.rs
  src/locations_repo.rs
  src/main.rs
  src/nats_publisher.rs
  src/packet_processors/generic.rs
  src/pilots.rs
  src/receivers.rs
  src/server_messages.rs
  src/users_repo.rs
  src/web.rs
Due: rust-fmt, rust-clippy, rust-test, cargo-audit

feat: add Grafana dashboard panels for JetStream and receiver cache metrics
  infrastructure/grafana-dashboard-run.json
Due: none

feat: enable JetStream in NATS server systemd service
  infrastructure/nats-server.service
Due: none

feat: add comprehensive Grafana dashboard for soar-aprs-ingest
  infrastructure/grafana-dashboard-aprs-ingest.json
Due: none

refactor: consolidate queue configuration and JetStream naming
  src/aprs_client.rs
  src/lib.rs
  src/main.rs
  src/nats_publisher.rs
  src/queue_config.rs
Due: rust-fmt, rust-clippy, rust-test

refactor: streamline deployment by avoiding service stops
  soar-deploy
Due: none

feat: add dedicated Prometheus metrics port for soar-aprs-ingest
  infrastructure/prometheus.yml
  src/main.rs
Due: rust-fmt, rust-clippy, rust-test

refactor: convert Prometheus config to file-based service discovery
  infrastructure/prometheus-scrape-configs/README.md
  infrastructure/prometheus-scrape-configs/soar-aprs-ingest.yml
  infrastructure/prometheus-scrape-configs/soar-run.yml
  infrastructure/prometheus-scrape-configs/soar-web.yml
  infrastructure/prometheus.yml
Due: none

fix: join spawned tasks instead of orphaning them
  src/aprs_client.rs
  src/main.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add pull-data metrics, improve flight tracking, and optimize indexes
  PULL_DATA_METRICS.md
  infrastructure/grafana-dashboard-pull-data.json
  infrastructure/prometheus-scrape-pull-data.yml
  infrastructure/prometheus.yml
  migrations/2025-10-30-223441-0000_remove_fixes_flight_id_idx/down.sql
  migrations/2025-10-30-223441-0000_remove_fixes_flight_id_idx/up.sql
  migrations/2025-10-30-230147-0000_add_receiver_statuses_receiver_id_index/down.sql
  migrations/2025-10-30-230147-0000_add_receiver_statuses_receiver_id_index/up.sql
  src/flight_tracker/flight_lifecycle.rs
  src/flight_tracker/state_transitions.rs
  src/loader/mod.rs
Due: rust-fmt, rust-clippy, rust-test

fix: add component labels to Grafana dashboard process metrics
  infrastructure/grafana-dashboard-run.json
  infrastructure/grafana-dashboard-web.json
Due: none

fix: filter dashboard metrics by component
  infrastructure/grafana-dashboard-run.json
  infrastructure/grafana-dashboard-web.json
Due: none

fix: resolve frontend issues with receiver pages and relocate Grafana docs
  infrastructure/grafana-README.md
  web/src/routes/receivers/+page.svelte
  web/src/routes/receivers/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: filter aprs-ingest dashboard metrics by component
  infrastructure/grafana-dashboard-aprs-ingest.json
Due: none

fix: add component filters to all dashboard metrics
  infrastructure/grafana-dashboard-aprs-ingest.json
  infrastructure/grafana-dashboard-run.json
  infrastructure/grafana-dashboard-web.json
Due: none

fix: replace 'ZZ' country code with null for receivers
  src/fetch_receivers.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add APRS messages retrieval endpoints
  src/actions/aprs_messages.rs
  src/actions/mod.rs
  src/aprs_messages_repo.rs
  src/web.rs
Due: rust-fmt, rust-clippy, rust-test

feat: enable NATS HTTP monitoring on port 8222
  infrastructure/nats-server.service
Due: none

feat: add latitude and longitude to receiver search API responses
  src/actions/receivers.rs
  src/receiver_repo.rs
Due: rust-fmt, rust-clippy, rust-test

feat: restructure receiver location data with geocoded flag
  migrations/2025-10-30-235501-0000_add_receiver_location_fields/down.sql
  migrations/2025-10-30-235501-0000_add_receiver_location_fields/up.sql
  src/actions/views/receiver.rs
  src/fetch_receivers.rs
  src/receiver_repo.rs
  src/receivers.rs
  src/schema.rs
Due: rust-fmt, rust-clippy, rust-test

feat: update receiver position to populate lat/lng columns
  src/receiver_repo.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add daily receiver reverse geocoding task
  src/loader/mod.rs
  src/loader/receiver_geocoding.rs
  src/receiver_repo.rs
Due: rust-fmt, rust-clippy, rust-test

fix: improve Prometheus and Grafana configuration
  infrastructure/DEPLOYMENT.md
  infrastructure/grafana-dashboard-web.json
  infrastructure/prometheus-jobs/README.md
  infrastructure/prometheus-jobs/soar-aprs-ingest.yml
  infrastructure/prometheus-jobs/soar-pull-data.yml
  infrastructure/prometheus-jobs/soar-run.yml
  infrastructure/prometheus-jobs/soar-web.yml
  infrastructure/prometheus-scrape-configs/README.md
  infrastructure/prometheus-scrape-configs/soar-aprs-ingest.yml
  infrastructure/prometheus-scrape-configs/soar-pull-data.yml
  infrastructure/prometheus-scrape-configs/soar-run.yml
  infrastructure/prometheus-scrape-configs/soar-web.yml
  infrastructure/prometheus.yml
  src/main.rs
  src/web.rs
Due: rust-fmt, rust-clippy, rust-test

refactor: process all ungeocoded receivers with 1s rate limit
  src/loader/mod.rs
  src/loader/receiver_geocoding.rs
Due: rust-fmt, rust-clippy, rust-test

refactor: use Diesel query for receiver view instead of raw SQL
  src/receiver_repo.rs
Due: rust-fmt, rust-clippy, rust-test

feat: automate Prometheus job config deployment
  .github/workflows/ci.yml
  infrastructure/DEPLOYMENT.md
  infrastructure/soar-deploy
Due: none

fix: correct FlightModel field order to match schema
  src/flights.rs
Due: rust-fmt, rust-clippy, rust-test

fix: add explicit column selection to flight queries for Diesel compatibility
  src/flights.rs
  src/flights_repo.rs
Due: rust-fmt, rust-clippy, rust-test

fix: initialize APRS metrics and correct NATS client naming
  src/main.rs
  src/nats_publisher.rs
Due: rust-fmt, rust-clippy, rust-test

fix: update receiver test to check ogn_db_country instead of country
  src/receivers.rs
Due: rust-fmt, rust-clippy, rust-test

fix: reorganize Grafana dashboards and initialize metrics
  infrastructure/grafana-dashboard-pull-data.json
  infrastructure/grafana-dashboard-run.json
  src/main.rs
  src/metrics.rs
Due: rust-fmt, rust-clippy, rust-test

fix: add APRS ingest service to deploy script and initialize metrics
  infrastructure/soar-deploy
  src/main.rs
  src/metrics.rs
Due: rust-fmt, rust-clippy, rust-test

chore: remove useless periodic worker pool log message
  src/main.rs
Due: rust-fmt, rust-clippy, rust-test

fix: remove _total suffix from APRS ingest dashboard metrics
  infrastructure/grafana-dashboard-aprs-ingest.json
Due: none

refactor: simplify APRS client to use single worker instead of pool
  src/aprs_client.rs
Due: rust-fmt, rust-clippy, rust-test

fix: add NATS client names and debug logging for server messages
  src/aprs_client.rs
  src/main.rs
Due: rust-fmt, rust-clippy, rust-test

refactor: remove unused start() method and extract ingest command
  src/aprs_client.rs
  src/commands/ingest_aprs.rs
  src/commands/mod.rs
  src/main.rs
Due: rust-fmt, rust-clippy, rust-test

refactor: move command handlers to src/commands module
  src/commands/archive.rs
  src/commands/load_data/aircraft_models.rs
  src/commands/load_data/aircraft_registrations.rs
  src/commands/load_data/airports_runways.rs
  src/commands/load_data/device_linking.rs
  src/commands/load_data/devices_receivers.rs
  src/commands/load_data/home_base_linking.rs
  src/commands/load_data/mod.rs
  src/commands/load_data/receiver_geocoding.rs
  src/commands/mod.rs
  src/commands/pull_data.rs
  src/commands/sitemap.rs
  src/lib.rs
  src/main.rs
Due: rust-fmt, rust-clippy, rust-test

debug: add comprehensive logging and metrics for message publishing
  src/aprs_client.rs
  src/aprs_jetstream_publisher.rs
  src/commands/ingest_aprs.rs
Due: rust-fmt, rust-clippy, rust-test

refactor: extract handle_run to commands/run.rs
  src/commands/mod.rs
  src/commands/run.rs
  src/main.rs
Due: rust-fmt, rust-clippy, rust-test

Path conditions:
  web-install-deps: any of: ^web/(package\.json|package-lock\.json)$
  web-format: any of: ^web/.*\.(js|ts|svelte)$
  web-lint: any of: ^web/.*\.(js|ts|svelte)$
  web-type-check: any of: ^web/.*\.(js|ts|svelte)$
  web-test: any of: ^web/.*\.(js|ts|svelte)$
  web-build: any of: ^web/.*\.(js|ts|svelte)$
  rust-fmt: any of: \.rs$
  rust-clippy: any of: \.rs$
  rust-test: any of: \.rs$
  cargo-audit: any of: ^(Cargo\.toml|Cargo\.lock)$
