Repository hut8/soar: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-install-deps, web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test, cargo-audit

web-install-deps:
  name: Install web dependencies
  entry: bash -c 'cd web && npm ci'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-format:
  name: Auto-fix web formatting (Prettier)
  entry: bash -c 'cd web && npm run format'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-lint:
  name: Run web linter (ESLint + Prettier check)
  entry: bash -c 'cd web && npm run lint'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-type-check:
  name: Run web type checking
  entry: bash -c 'cd web && npm run check'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-test:
  name: Run web tests (Playwright E2E)
  entry: bash -c 'cd web && npm test'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

web-build:
  name: Build web project
  entry: bash -c 'cd web && npm run build'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

rust-fmt:
  name: Auto-fix Rust formatting
  entry: cargo fmt
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

rust-clippy:
  name: Run Clippy
  entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo clippy --all-targets --all-features -- -D warnings'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

rust-test:
  name: Run Rust tests
  entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo test'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

cargo-audit:
  name: Run security audit
  entry: cargo audit
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

Add stateful ADS-B/SBS message accumulator
  README.md
  src/adsb_accumulator.rs
  src/commands/run.rs
  src/lib.rs
Due: rust-fmt, rust-clippy, rust-test

Address PR review comments for netdata otel config
  scripts/provision
Due: none

Fix deadlock: DashMap locks held across await points
  src/flight_tracker/flight_lifecycle.rs
  src/flight_tracker/state_transitions.rs
Due: rust-fmt, rust-clippy, rust-test

Add on_ground status from ADS-B capability field
  src/adsb_accumulator.rs
  src/commands/run.rs
Due: rust-fmt, rust-clippy, rust-test

Simplify ADS-B data extraction using pattern matching
  src/adsb_accumulator.rs
  src/beast/cpr_decoder.rs
  src/commands/run.rs
Due: rust-fmt, rust-clippy, rust-test

Fix backup scripts to use component config variables
  scripts/backup/backup-verify
  scripts/backup/restore
Due: none

Use fallback directories for non-root users in restore script
  scripts/backup/restore
Due: none

Check write permission on directories, not just creation
  scripts/backup/restore
Due: none

Support zstd-compressed backups in restore and verify scripts
  scripts/backup/backup-verify
  scripts/backup/restore
Due: none

Simplify restore script for self-contained pg_basebackup
  scripts/backup/restore
  scripts/restore-backup
Due: none

Fix log function to write to stderr instead of stdout
  scripts/backup/restore
Due: none

Fix future incompatibility warning from quick-xml 0.17.2
  Cargo.lock
  Cargo.toml
Due: cargo-audit

Add recovery.signal for pg_basebackup restore
  scripts/backup/restore
Due: none

Switch backup system from pg_basebackup to pg_dump
  scripts/backup/backup-verify
  scripts/backup/base-backup
  scripts/backup/restore
  scripts/restore-backup
Due: none

Fix aircraft clustering grid cell alignment
  src/fixes_repo.rs
Due: rust-fmt, rust-clippy, rust-test

Fix observability: pprof endpoints, metrics, and flight tracker state restoration
  infrastructure/alloy-config.alloy
  infrastructure/grafana-dashboard-analytics.json
  infrastructure/grafana-dashboard-run-elevation.json
  infrastructure/grafana-dashboard-run.json
  src/commands/ingest.rs
  src/flight_tracker/aircraft_state.rs
  src/flight_tracker/mod.rs
  src/metrics.rs
Due: rust-fmt, rust-clippy, rust-test

Fix pg_dump parallel backup format
  scripts/backup/base-backup
  scripts/backup/restore
Due: none

Reduce max flight resume timeout from 18h to 8h
  infrastructure/grafana-dashboard-run.json
  src/flight_tracker/state_transitions.rs
Due: rust-fmt, rust-clippy, rust-test

Fix TimescaleDB restore and add backup documentation
  scripts/README.md
  scripts/backup/restore
Due: none

Update docs/FANET_ID_FORMAT.md
  docs/FANET_ID_FORMAT.md
Due: none

Update tests/fanet_id_test.rs
  tests/fanet_id_test.rs
Due: rust-fmt, rust-clippy, rust-test

Update scripts/backup/restore
  scripts/backup/restore
Due: none

Suppress TimescaleDB NOTICE messages during pg_dump
  scripts/backup/base-backup
Due: none

add better icao model/manufacturer data - https://www.kaggle.com/datasets/colmog/aircraft-and-aircraft-manufacturers
  .github/workflows/opencode.yml
  data/aircraft-and-manufacturers.csv
Due: none

Add OTLP log export to Loki via Alloy
  Cargo.lock
  Cargo.toml
  src/main.rs
  src/telemetry.rs
Due: rust-fmt, rust-clippy, rust-test, cargo-audit

Fix takeoff detection by skipping current fix in last_n_inactive()
  src/flight_tracker/aircraft_state.rs
Due: rust-fmt, rust-clippy, rust-test

Fix Pyroscope profile scraping configuration
  infrastructure/alloy-config.alloy
Due: none

Fix deployment of observability configs and add log level filtering
  infrastructure/alloy-config.alloy
  scripts/deploy
  src/main.rs
Due: rust-fmt, rust-clippy, rust-test

Replace aircraft types JSON with CSV data source
  Cargo.lock
  Cargo.toml
  README.md
  bindings/serde_json/JsonValue.ts
  data/aircraft-and-manufacturers.csv
  data/aircraft-types-icao-iata.json
  migrations/2026-01-14-052605-0000_update_aircraft_types_for_csv/down.sql
  migrations/2026-01-14-052605-0000_update_aircraft_types_for_csv/up.sql
  scripts/README.md
  src/aircraft_types.rs
  src/commands/load_data/aircraft_types.rs
  src/schema.rs
  web/src/lib/types/generated/AircraftOrCluster.ts
  web/src/lib/types/generated/ClusterBounds.ts
  web/src/lib/types/generated/Fix.ts
  web/src/routes/info/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test, cargo-audit

Enable frame pointers for CPU profiling
  .cargo/config.toml
Due: none

Fix bash arithmetic bug causing backup cleanup to fail
  scripts/backup/base-backup
Due: none

Use nproc for default parallel jobs in backup script
  scripts/backup/base-backup
Due: none

Bind Pyroscope gRPC port to localhost only
  infrastructure/pyroscope-config.yml
Due: none

Add netdata config and bind to localhost only
  CLAUDE.md
  infrastructure/netdata-config.conf
Due: none

Add frame pointers to CI release builds for Pyroscope profiling
  .github/workflows/build-arm64.yml
  .github/workflows/ci.yml
Due: none

Disable ADS-B ingestion in production and filter TRACE logs
  infrastructure/alloy-config.alloy
  infrastructure/systemd/soar-ingest.service
Due: none

Enable frame-pointer feature in pprof crate for proper stack unwinding
  Cargo.toml
Due: cargo-audit

fix(backup): remove parallel restore flag that breaks TimescaleDB
  scripts/backup/restore
Due: none

Update src/flight_tracker/runway.rs
  src/flight_tracker/runway.rs
Due: rust-fmt, rust-clippy, rust-test

Update src/magnetic/service.rs
  src/magnetic/service.rs
Due: rust-fmt, rust-clippy, rust-test

Path conditions:
  web-install-deps: any of: ^web/(package\.json|package-lock\.json)$
  web-format: any of: ^web/.*\.(js|ts|svelte)$
  web-lint: any of: ^web/.*\.(js|ts|svelte)$
  web-type-check: any of: ^web/.*\.(js|ts|svelte)$
  web-test: any of: ^web/.*\.(js|ts|svelte)$
  web-build: any of: ^web/.*\.(js|ts|svelte)$
  rust-fmt: any of: \.rs$
  rust-clippy: any of: \.rs$
  rust-test: any of: \.rs$
  cargo-audit: any of: ^(Cargo\.toml|Cargo\.lock)$
