Repository hut8/soar: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-install-deps, web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test, cargo-audit

web-install-deps:
  name: Install web dependencies
  entry: bash -c 'cd web && npm ci'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-format:
  name: Auto-fix web formatting (Prettier)
  entry: bash -c 'cd web && npm run format'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-lint:
  name: Run web linter (ESLint + Prettier check)
  entry: bash -c 'cd web && npm run lint'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-type-check:
  name: Run web type checking
  entry: bash -c 'cd web && npm run check'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-test:
  name: Run web tests (Playwright E2E)
  entry: bash -c 'cd web && npm test'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

web-build:
  name: Build web project
  entry: bash -c 'cd web && npm run build'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

rust-fmt:
  name: Auto-fix Rust formatting
  entry: cargo fmt
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

rust-clippy:
  name: Run Clippy
  entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo clippy --all-targets --all-features -- -D warnings'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

rust-test:
  name: Run Rust tests
  entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo test'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

cargo-audit:
  name: Run security audit
  entry: cargo audit
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

fix: reduce batch size to avoid PostgreSQL parameter limit
  src/aircraft_registrations_repo.rs
Due: rust-fmt, rust-clippy, rust-test

fix: return error instead of warning on batch upsert failure
  src/aircraft_registrations_repo.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add email reporting module and refactor loader into module
  src/email_reporter.rs
  src/lib.rs
  src/loader/mod.rs
Due: rust-fmt, rust-clippy, rust-test

refactor: break down loader into modular structure with email reporting
  src/loader/aircraft_models.rs
  src/loader/aircraft_registrations.rs
  src/loader/airports_runways.rs
  src/loader/devices_receivers.rs
  src/loader/mod.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add alternative email config environment variable names
  src/email_reporter.rs
Due: rust-fmt, rust-clippy, rust-test

feat: implement home base linking in refactored loader
  src/loader/home_base_linking.rs
  src/loader/mod.rs
Due: rust-fmt, rust-clippy, rust-test

fix: limit concurrent location lookups to prevent connection pool exhaustion
  src/aircraft_registrations_repo.rs
Due: rust-fmt, rust-clippy, rust-test

fix: add migration to remove redundant index
  migrations/2025-10-19-223701-0000_drop_idx_flight_pilots_flight_id/down.sql
  migrations/2025-10-19-223701-0000_drop_idx_flight_pilots_flight_id/up.sql
Due: none

fix: reduce log noise from expected flight timeout race condition
  src/flight_tracker/flight_lifecycle.rs
Due: rust-fmt, rust-clippy, rust-test

refactor: improve soar-deploy script and remove duplicate deploy script
  deploy
  soar-deploy
Due: none

perf: optimize aircraft registration import with batch location upserts
  src/aircraft_registrations_repo.rs
  src/flight_tracker/location.rs
  src/locations.rs
  src/locations_repo.rs
Due: rust-fmt, rust-clippy, rust-test

Revert batch location optimization - made things 5-8x slower
  src/aircraft_registrations_repo.rs
  src/locations.rs
  src/locations_repo.rs
Due: rust-fmt, rust-clippy, rust-test

perf: two-phase aircraft registration import
  src/aircraft_registrations_repo.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add profiling instrumentation to aircraft import
  src/aircraft_registrations_repo.rs
  src/pull.rs
Due: rust-fmt, rust-clippy, rust-test

perf: add in-memory cache for location lookups during import
  src/aircraft_registrations_repo.rs
Due: rust-fmt, rust-clippy, rust-test

chore: remove old club dedupe script
  deduplicate-clubs
Due: none

chore: remove unnecessary log
  src/fetch_receivers.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add aircraft other names import and fix NATS provisioning
  provision
  src/aircraft_registrations.rs
  src/aircraft_registrations_repo.rs
Due: rust-fmt, rust-clippy, rust-test

refactor: consolidate frontend TypeScript interfaces
  web/src/lib/api/auth.ts
  web/src/lib/stores/auth.ts
  web/src/lib/types/index.ts
  web/src/routes/clubs/[id]/+page.svelte
  web/src/routes/flights/[id]/+page.svelte
  web/src/routes/flights/[id]/+page.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

feat: expose runways_inferred field in FlightView API
  src/actions/views/flight.rs
  web/src/lib/types/index.ts
  web/src/routes/flights/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

feat: include raw_packet in fixes API response via aprs_messages join
  src/fixes.rs
  src/fixes_repo.rs
  web/src/lib/types/index.ts
  web/src/routes/flights/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

fix: add favicon.ico to resolve 404 error
  web/static/favicon.ico
Due: none

chore: remove cargo vendoring configuration from .cargo/config.toml
  .cargo/config.toml
Due: none

fix: enhance active flights display with comprehensive flight information
  src/actions/flights.rs
  src/actions/views/flight.rs
  web/src/routes/flights/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

feat: enhance spurious flight detection with additional sanity checks
  src/flight_tracker/flight_lifecycle.rs
Due: rust-fmt, rust-clippy, rust-test

fix: resolve compilation errors in Fix struct and related code
  src/actions/flights.rs
  src/fixes.rs
  src/fixes_repo.rs
  src/flight_tracker/aircraft_tracker.rs
  web/src/routes/flights/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

fix: replace unbounded archive channel with bounded channel to prevent OOM
  src/aprs_client.rs
Due: rust-fmt, rust-clippy, rust-test

perf: optimize NATS publishing and add comprehensive metrics
  Cargo.lock
  Cargo.toml
  src/actions/fixes.rs
  src/main.rs
  src/nats_publisher.rs
Due: rust-fmt, rust-clippy, rust-test, cargo-audit

feat: add NATS publisher and WebSocket metrics to Grafana dashboard
  grafana/soar-dashboard.json
Due: none

refactor: enable tokio-console by default
  Cargo.toml
  src/main.rs
Due: rust-fmt, rust-clippy, rust-test, cargo-audit

feat: configure tokio-console per subcommand with separate ports
  src/main.rs
Due: rust-fmt, rust-clippy, rust-test

fix: restore Sentry and tracing integration with tokio-console
  src/main.rs
Due: rust-fmt, rust-clippy, rust-test

refactor: deduplicate tracing initialization code
  src/main.rs
Due: rust-fmt, rust-clippy, rust-test

fix: restore fmt layer for Run and Web subcommands
  src/main.rs
Due: rust-fmt, rust-clippy, rust-test

build: enable tokio_unstable for tokio-console support
  .cargo/config.toml
Due: none

feat: add verify-runtime subcommand for CI runtime testing
  .github/workflows/ci.yml
  src/main.rs
Due: rust-fmt, rust-clippy, rust-test

fix: update verify-runtime to use port 7779 and skip database setup
  .github/workflows/ci.yml
  src/main.rs
Due: rust-fmt, rust-clippy, rust-test

Path conditions:
  web-install-deps: any of: ^web/(package\.json|package-lock\.json)$
  web-format: any of: ^web/.*\.(js|ts|svelte)$
  web-lint: any of: ^web/.*\.(js|ts|svelte)$
  web-type-check: any of: ^web/.*\.(js|ts|svelte)$
  web-test: any of: ^web/.*\.(js|ts|svelte)$
  web-build: any of: ^web/.*\.(js|ts|svelte)$
  rust-fmt: any of: \.rs$
  rust-clippy: any of: \.rs$
  rust-test: any of: \.rs$
  cargo-audit: any of: ^(Cargo\.toml|Cargo\.lock)$
