Repository hut8/soar: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-install-deps, web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test, cargo-audit

.pre-commit-config.yaml:

repos:
  # Frontend/SvelteKit checks (matching CI test-sveltekit job)
  - repo: local
    hooks:
      - id: web-install-deps
        name: Install web dependencies
        entry: bash -c 'cd web && npm ci'
        language: system
        files: ^web/(package\.json|package-lock\.json)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

      - id: web-format
        name: Auto-fix web formatting (Prettier)
        entry: bash -c 'cd web && npm run format'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

      - id: web-lint
        name: Run web linter (ESLint + Prettier check)
        entry: bash -c 'cd web && npm run lint'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

      - id: web-type-check
        name: Run web type checking
        entry: bash -c 'cd web && npm run check'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

      - id: web-test
        name: Run web tests (Playwright E2E)
        entry: bash -c 'cd web && npm test'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-push, manual]

      - id: web-build
        name: Build web project
        entry: bash -c 'cd web && npm run build'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-push, manual]

  # Rust formatting (matching CI check)
  - repo: local
    hooks:
      - id: rust-fmt
        name: Auto-fix Rust formatting
        entry: cargo fmt
        language: system
        files: \.rs$
        pass_filenames: false
        stages: [pre-commit, pre-push]

  # Rust linting (matching CI clippy check)
  - repo: local
    hooks:
      - id: rust-clippy
        name: Run Clippy
        entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo clippy --all-targets --all-features -- -D warnings'
        language: system
        files: \.rs$
        pass_filenames: false
        stages: [pre-commit, pre-push]

  # Rust tests (matching CI test run)
  - repo: local
    hooks:
      - id: rust-test
        name: Run Rust tests
        entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo test'
        language: system
        files: \.rs$
        pass_filenames: false
        stages: [pre-push, manual]

  # Security audit (matching CI security-audit job)
  - repo: local
    hooks:
      - id: cargo-audit
        name: Run security audit
        entry: cargo audit
        language: system
        files: ^(Cargo\.toml|Cargo\.lock)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
        stages: [pre-commit, pre-push]
      - id: end-of-file-fixer
        stages: [pre-commit, pre-push]
      - id: check-yaml
        stages: [pre-commit, pre-push]
      - id: check-toml
        stages: [pre-commit, pre-push]
      - id: check-json
        stages: [pre-commit, pre-push]
      - id: check-merge-conflict
        stages: [pre-commit, pre-push]
      - id: check-added-large-files
        args: ["--maxkb=1000"]
        stages: [pre-commit, pre-push]

# Performance optimizations
default_stages: [pre-commit]
fail_fast: false

# CI configuration
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit.com hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ""
  autoupdate_commit_msg: "[pre-commit.ci] pre-commit autoupdate"
  autoupdate_schedule: weekly
  skip: []
  submodules: false

fix: update E2E tests for aircraft rename - fix logout test and regenerate screenshots
  web/e2e/aircraft/aircraft-detail.test.ts-snapshots/aircraft-detail-not-found-chromium-linux.png
  web/e2e/aircraft/aircraft-list.test.ts-snapshots/aircraft-list-authenticatedPage-chromium-linux.png
  web/e2e/aircraft/aircraft-list.test.ts-snapshots/aircraft-search-error-empty-chromium-linux.png
  web/e2e/aircraft/aircraft-list.test.ts-snapshots/aircraft-search-no-results-chromium-linux.png
  web/e2e/aircraft/aircraft-list.test.ts-snapshots/aircraft-search-results-chromium-linux.png
  web/e2e/aircraft/device-detail.test.ts-snapshots/device-detail-authenticatedPage-chromium-linux.png
  web/e2e/aircraft/device-detail.test.ts-snapshots/device-detail-fixes-chromium-linux.png
  web/e2e/aircraft/device-detail.test.ts-snapshots/device-detail-flights-chromium-linux.png
  web/e2e/aircraft/device-detail.test.ts-snapshots/device-detail-not-found-chromium-linux.png
  web/e2e/aircraft/device-list.test.ts-snapshots/device-card-chromium-linux.png
  web/e2e/aircraft/device-list.test.ts-snapshots/device-detail-from-list-chromium-linux.png
  web/e2e/aircraft/device-list.test.ts-snapshots/device-list-authenticatedPage-chromium-linux.png
  web/e2e/aircraft/device-list.test.ts-snapshots/device-list-page-chromium-linux.png
  web/e2e/aircraft/device-list.test.ts-snapshots/device-search-error-empty-chromium-linux.png
  web/e2e/aircraft/device-list.test.ts-snapshots/device-search-no-results-chromium-linux.png
  web/e2e/aircraft/device-list.test.ts-snapshots/device-search-results-chromium-linux.png
  web/e2e/aircraft/device-list.test.ts-snapshots/device-search-type-address-chromium-linux.png
  web/e2e/auth/logout.test.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

refactor: reuse SSH_PRIVATE_KEY secret for ADS-B deployment
  .github/workflows/deploy-adsb.yml
  infrastructure/ADSB-SETUP.md
  infrastructure/DEPLOYMENT.md
Due: none

chore: Change backup schedule from bi-weekly to weekly Sunday midnight
  docs/BACKUP-QUICKSTART.md
  docs/DB-BACKUPS.md
  infrastructure/systemd/soar-backup-base.timer
  scripts/backup/base-backup
Due: none

fix: update release script to use PR workflow instead of direct push to main
  scripts/release
Due: none

feat: move duplicate device addresses from email to web interface
  src/actions/aircraft.rs
  src/aircraft_repo.rs
  src/email_reporter.rs
  src/web.rs
  web/src/routes/aircraft/+page.svelte
  web/src/routes/aircraft/issues/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

feat: make release script fully automated with auto-merge and polling
  scripts/release
Due: none

chore: bump version to 0.1.3
  Cargo.lock
  Cargo.toml
  web/package-lock.json
  web/package.json
Due: web-install-deps, cargo-audit

fix: update deploy-adsb workflow to reuse working build steps from ci.yml
  .github/workflows/deploy-adsb.yml
Due: none

feat: add uninstall script for removing SOAR environments
  infrastructure/uninstall
Due: none

chore: make soar-deploy executable
  infrastructure/soar-deploy
Due: none

fix: update release.yml workflow to properly build and deploy to production
  .github/workflows/release.yml
Due: none

feat: add environment-specific Grafana links on info page
  web/src/lib/config.ts
  web/src/routes/info/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

feat: implement static linking with musl for portable binaries
  .cargo/config.toml
  .github/workflows/ci.yml
  Cross.toml
  STATIC_LINKING.md
Due: none

fix: set flight created_at to fix timestamp instead of current time
  src/flights.rs
Due: rust-fmt, rust-clippy, rust-test

chore: remove unnecessary GDAL dependency from build workflows
  .github/workflows/ci.yml
  .github/workflows/deploy-adsb.yml
  .github/workflows/release.yml
  Cross.toml
Due: none

test: update E2E screenshot baselines for aircraft issues button
  web/e2e/aircraft/aircraft-list.test.ts-snapshots/aircraft-list-authenticatedPage-chromium-linux.png
  web/e2e/aircraft/aircraft-list.test.ts-snapshots/aircraft-search-error-empty-chromium-linux.png
  web/e2e/aircraft/aircraft-list.test.ts-snapshots/aircraft-search-no-results-chromium-linux.png
  web/e2e/aircraft/aircraft-list.test.ts-snapshots/aircraft-search-results-chromium-linux.png
Due: none

chore: remove unused mold/clang linker configuration and convert all builds to musl
  .cargo/config.toml
  .github/workflows/ci.yml
  .github/workflows/deploy-adsb.yml
  .github/workflows/release.yml
Due: none

fix: update analytics triggers for aircraft_id rename and improve error logging
  migrations/2025-12-12-231506-0000_fix_analytics_triggers_device_to_aircraft/down.sql
  migrations/2025-12-12-231506-0000_fix_analytics_triggers_device_to_aircraft/up.sql
  src/flight_tracker/state_transitions.rs
Due: rust-fmt, rust-clippy, rust-test

fix: switch from OpenSSL to rustls for musl static builds
  Cargo.toml
Due: cargo-audit

fix: use datasource names instead of UIDs in Grafana dashboards
  infrastructure/grafana-dashboard-aprs-ingest.json
  infrastructure/grafana-dashboard-nats-jetstream.json
  infrastructure/grafana-dashboard-run.json
  infrastructure/grafana-dashboard-web.json
Due: none

fix: add missing sentry features for release-health support
  Cargo.lock
  Cargo.toml
Due: cargo-audit

fix: adjust authentication requirements for aircraft and club pages
  src/actions/pilots.rs
  web/src/routes/aircraft/+page.ts
  web/src/routes/aircraft/[id]/+page.ts
  web/src/routes/clubs/[id]/operations/+page.ts
  web/src/routes/clubs/[id]/pilots/+page.ts
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

feat: add environment variable to Grafana dashboards for staging/production separation
  infrastructure/grafana-dashboard-analytics.json
  infrastructure/grafana-dashboard-aprs-ingest.json
  infrastructure/grafana-dashboard-run.json
  infrastructure/grafana-dashboard-web.json
Due: none

fix: prevent APRS reconnection deadlock when JetStream is slow
  src/aprs_client.rs
Due: rust-fmt, rust-clippy, rust-test

fix: deduplicate nearby flights data fetching on flight detail page
  web/src/routes/flights/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: enable bundled PostgreSQL and OpenSSL for musl static builds
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  Cross.toml
  build.rs
Due: rust-fmt, rust-clippy, rust-test, cargo-audit

test: update logout test to use protected club page instead of aircraft
  web/e2e/auth/logout.test.ts
  web/e2e/fixtures/data.fixture.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

feat: add environment context to all email notifications
  src/archive_email_reporter.rs
  src/email.rs
  src/email_reporter.rs
Due: rust-fmt, rust-clippy, rust-test

fix: prevent tzdata interactive prompt in ARM64 musl builds
  Cross.toml
Due: none

fix: add dark mode support to airport dialog
  web/src/lib/components/AirportModal.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

feat: add provision-adsb script for ADS-B node setup
  scripts/provision-adsb
Due: none

perf: fix slow JetStream publishes by increasing NATS client buffer
  src/aprs_jetstream_publisher.rs
  src/commands/ingest_aprs.rs
Due: rust-fmt, rust-clippy, rust-test

perf: make JetStream publish truly non-blocking by spawning tasks
  src/aprs_client.rs
  src/aprs_jetstream_publisher.rs
Due: rust-fmt, rust-clippy, rust-test

chore: bump version to 0.1.4
  Cargo.lock
  Cargo.toml
  web/package-lock.json
  web/package.json
Due: web-install-deps, cargo-audit

perf: switch from JetStream to regular NATS for APRS ingestion
  src/aprs_client.rs
  src/aprs_jetstream_publisher.rs
  src/aprs_nats_publisher.rs
  src/commands/ingest_aprs.rs
  src/lib.rs
Due: rust-fmt, rust-clippy, rust-test

perf: optimize analytics triggers to skip last_fix_at-only updates
  infrastructure/grafana-dashboard-run.json
  migrations/2025-12-14-022819-0000_optimize_analytics_triggers_skip_last_fix_at/down.sql
  migrations/2025-12-14-022819-0000_optimize_analytics_triggers_skip_last_fix_at/up.sql
  src/flight_tracker/mod.rs
  src/flight_tracker/state_transitions.rs
  src/metrics.rs
Due: rust-fmt, rust-clippy, rust-test

feat: consolidate CI/CD and implement version-from-git-tag
  .github/workflows/ci.yml
  .github/workflows/deploy-adsb.yml
  .github/workflows/release.yml
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  build.rs
  scripts/archive/release-old
  scripts/create-release
  src/main.rs
  web/.gitignore
  web/package.json
  web/scripts/generate-version.js
Due: web-install-deps, web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test, cargo-audit

feat: add patch/minor/major support to create-release script
  CLAUDE.md
  scripts/create-release
Due: none

feat: consolidate aircraft link display and add country flags
  web/package-lock.json
  web/package.json
  web/src/lib/components/AircraftLink.svelte
  web/src/lib/components/AircraftTile.svelte
  web/src/lib/components/FlightsList.svelte
  web/src/lib/components/TowAircraftLink.svelte
  web/src/lib/formatters.ts
  web/src/routes/aircraft/issues/+page.svelte
  web/src/routes/clubs/[id]/operations/+page.svelte
  web/src/routes/receivers/[id]/+page.svelte
Due: web-install-deps, web-format, web-lint, web-type-check, web-test, web-build

fix: add release event trigger to CI workflow for production deployments
  .github/workflows/ci.yml
Due: none
