Repository hut8/soar: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-install-deps, web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test, cargo-audit

web-install-deps:
  name: Install web dependencies
  entry: bash -c 'cd web && npm ci'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-format:
  name: Auto-fix web formatting (Prettier)
  entry: bash -c 'cd web && npm run format'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-lint:
  name: Run web linter (ESLint + Prettier check)
  entry: bash -c 'cd web && npm run lint'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-type-check:
  name: Run web type checking
  entry: bash -c 'cd web && npm run check'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-test:
  name: Run web tests (Playwright E2E)
  entry: bash -c 'cd web && npm test'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

web-build:
  name: Build web project
  entry: bash -c 'cd web && npm run build'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

rust-fmt:
  name: Auto-fix Rust formatting
  entry: cargo fmt
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

rust-clippy:
  name: Run Clippy
  entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo clippy --all-targets --all-features -- -D warnings'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

rust-test:
  name: Run Rust tests
  entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo test'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

cargo-audit:
  name: Run security audit
  entry: cargo audit
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

Address second round of Copilot review feedback
  android/app/src/main/java/com/soar/tracker/service/TrackingService.kt
  android/app/src/main/java/com/soar/tracker/ui/screens/TrackerScreen.kt
Due: none

Fix migration: split table creation and index into separate migrations
  migrations/2026-03-15-000000-0000_create_push_subscriptions/up.sql
  migrations/2026-03-15-000001-0000_add_push_subscriptions_user_id_index/down.sql
  migrations/2026-03-15-000001-0000_add_push_subscriptions_user_id_index/metadata.toml
  migrations/2026-03-15-000001-0000_add_push_subscriptions_user_id_index/up.sql
Due: none

Fix flaky test migration race with CONCURRENTLY indexes
  tests/common/mod.rs
Due: rust-fmt, rust-clippy, rust-test

Address third round of Copilot review feedback
  android/app/src/main/java/com/soar/tracker/service/TrackingService.kt
  android/app/src/main/java/com/soar/tracker/ui/components/SensorDisplay.kt
  android/app/src/main/java/com/soar/tracker/ui/screens/TrackerScreen.kt
Due: none

Replace server URL text field with staging checkbox
  android/app/src/main/java/com/soar/tracker/ui/screens/LoginScreen.kt
Due: none

Address Copilot review: fix skip_serializing_if/TS mismatch and GeoJSON literal types
  src/actions/coverage.rs
  src/actions/views/club.rs
  src/airspace.rs
  src/coverage.rs
  src/raw_messages_repo.rs
  web/src/lib/components/FixesList.svelte
  web/src/lib/types/generated/AirspaceGeoJson.ts
  web/src/lib/types/generated/ClubView.ts
  web/src/lib/types/generated/CoverageGeoJsonResponse.ts
  web/src/lib/types/generated/CoverageHexFeature.ts
  web/src/lib/types/generated/RawMessageResponse.ts
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

Fix setup-pgdog: build from source instead of downloading nonexistent binaries
  scripts/setup-pgdog
Due: none

Fix radar deploy: add sudoers rule for bootstrap install command
  infrastructure/sudoers.d/soar
Due: none

Fix production env file path to /etc/soar/env-production
  scripts/setup-pgdog
Due: none

Fix PgDog CLI flags: --config and --users instead of --config-dir
  scripts/setup-pgdog
Due: none

Use calling user's Rust toolchain when run via sudo
  scripts/setup-pgdog
Due: none

Fix Android app white-on-white text and replace icon with site favicon
  android/app/src/main/java/com/soar/tracker/MainActivity.kt
  android/app/src/main/res/drawable-hdpi/ic_launcher_foreground.png
  android/app/src/main/res/drawable-mdpi/ic_launcher_foreground.png
  android/app/src/main/res/drawable-xhdpi/ic_launcher_foreground.png
  android/app/src/main/res/drawable-xxhdpi/ic_launcher_foreground.png
  android/app/src/main/res/drawable-xxxhdpi/ic_launcher_foreground.png
  android/app/src/main/res/drawable/ic_launcher_background.xml
  android/app/src/main/res/drawable/ic_launcher_foreground.xml
  android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  android/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
  android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  android/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
  android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
Due: none

Fix ARM64 cross-compilation caching: mount cargo registry into Docker container
  .github/workflows/build-arm64.yml
  .github/workflows/ci.yml
Due: none

Skip serializing geocode_attempted_at to match ts(skip)
  src/locations.rs
Due: rust-fmt, rust-clippy, rust-test

Address review feedback: validation, error messages, cleanup
  src/actions/push_subscriptions.rs
  web/src/lib/components/club/AircraftStatusBoard.svelte
  web/src/lib/components/club/PushNotificationToggle.svelte
  web/src/lib/services/pushNotifications.ts
  web/src/service-worker.ts
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

Connect PgDog directly to PostgreSQL (5432), not through PgBouncer
  scripts/setup-pgdog
Due: none

Address Copilot review: guard trap and isolate cargo build cache
  scripts/setup-pgdog
Due: none

add some idea files
  android/.idea/.gitignore
  android/.idea/.name
  android/.idea/AndroidProjectSystem.xml
  android/.idea/caches/deviceStreaming.xml
  android/.idea/codeStyles/Project.xml
  android/.idea/codeStyles/codeStyleConfig.xml
  android/.idea/compiler.xml
  android/.idea/deploymentTargetSelector.xml
  android/.idea/gradle.xml
  android/.idea/migrations.xml
  android/.idea/misc.xml
  android/.idea/runConfigurations.xml
  android/.idea/vcs.xml
Due: none

Add AGL display, sensors enhancements, logout, forgot password, radar animation
  android/app/src/main/java/com/soar/tracker/data/api/Models.kt
  android/app/src/main/java/com/soar/tracker/data/api/SoarApi.kt
  android/app/src/main/java/com/soar/tracker/service/TrackingService.kt
  android/app/src/main/java/com/soar/tracker/ui/components/RadarSweep.kt
  android/app/src/main/java/com/soar/tracker/ui/components/SensorDisplay.kt
  android/app/src/main/java/com/soar/tracker/ui/navigation/NavGraph.kt
  android/app/src/main/java/com/soar/tracker/ui/screens/LoginScreen.kt
  android/app/src/main/java/com/soar/tracker/ui/screens/TrackerScreen.kt
  src/actions/tracker.rs
  src/tracker.rs
  src/web.rs
Due: rust-fmt, rust-clippy, rust-test

Fix FLARM/OGN merge spamming false "race condition" warnings
  src/aircraft_repo.rs
Due: rust-fmt, rust-clippy, rust-test

Add live view screen, bottom nav, tow info, and richer flight display
  android/app/src/main/java/com/soar/tracker/data/api/Models.kt
  android/app/src/main/java/com/soar/tracker/ui/components/FlightStatusCard.kt
  android/app/src/main/java/com/soar/tracker/ui/navigation/NavGraph.kt
  android/app/src/main/java/com/soar/tracker/ui/screens/LiveViewScreen.kt
  android/app/src/main/java/com/soar/tracker/ui/screens/TrackerScreen.kt
  src/actions/tracker.rs
  src/tracker.rs
Due: rust-fmt, rust-clippy, rust-test

Add altimeter with manual set button and in-flight confirmation
  android/app/src/main/java/com/soar/tracker/service/TrackingService.kt
  android/app/src/main/java/com/soar/tracker/ui/components/SensorDisplay.kt
  android/app/src/main/java/com/soar/tracker/ui/screens/TrackerScreen.kt
Due: none

Add magnetic heading, declination, and bearing arrows to nearby aircraft
  android/app/src/main/java/com/soar/tracker/data/api/Models.kt
  android/app/src/main/java/com/soar/tracker/service/TrackingService.kt
  android/app/src/main/java/com/soar/tracker/ui/components/NearbyAircraftList.kt
  android/app/src/main/java/com/soar/tracker/ui/components/SensorDisplay.kt
  android/app/src/main/java/com/soar/tracker/ui/screens/LiveViewScreen.kt
  android/app/src/main/java/com/soar/tracker/ui/screens/TrackerScreen.kt
  src/actions/tracker.rs
  src/tracker.rs
  src/web.rs
Due: rust-fmt, rust-clippy, rust-test

Enable background tracking with wake lock and proper permissions
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/soar/tracker/service/TrackingService.kt
  android/app/src/main/java/com/soar/tracker/ui/screens/TrackerScreen.kt
Due: none

Always show heading row in sensors instead of hiding when stationary
  android/app/src/main/java/com/soar/tracker/ui/components/SensorDisplay.kt
Due: none

Use device compass for magnetic heading instead of GPS bearing
  android/app/src/main/java/com/soar/tracker/service/SensorCollector.kt
  android/app/src/main/java/com/soar/tracker/service/TrackingService.kt
  android/app/src/main/java/com/soar/tracker/ui/components/SensorDisplay.kt
  android/app/src/main/java/com/soar/tracker/ui/screens/TrackerScreen.kt
Due: none

Use exists() check and add tests for FLARM/OGN duplicate handling
  src/aircraft_repo.rs
  tests/merge_flarm_ogn_test.rs
Due: rust-fmt, rust-clippy, rust-test

Redesign sensor panel with grid layout, monospace font, and colors
  android/app/src/main/java/com/soar/tracker/ui/components/SensorDisplay.kt
Due: none

Fix unsubscribe error handling and doc comment
  src/push_notification_sender.rs
  web/src/lib/components/club/PushNotificationToggle.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

Add radar-style live view, device-relative arrows, nearby airports
  android/app/src/main/java/com/soar/tracker/data/api/Models.kt
  android/app/src/main/java/com/soar/tracker/ui/components/NearbyAircraftList.kt
  android/app/src/main/java/com/soar/tracker/ui/screens/LiveViewScreen.kt
  android/app/src/main/java/com/soar/tracker/ui/screens/TrackerScreen.kt
  src/actions/tracker.rs
  src/tracker.rs
  src/ts_export.rs
Due: rust-fmt, rust-clippy, rust-test

Add ground speed to sensors, move position to its own row
  android/app/src/main/java/com/soar/tracker/service/TrackingService.kt
  android/app/src/main/java/com/soar/tracker/ui/components/SensorDisplay.kt
  android/app/src/main/java/com/soar/tracker/ui/screens/TrackerScreen.kt
Due: none

Move G-Force next to AGL, add dividers between rows, drop inHg unit
  android/app/src/main/java/com/soar/tracker/ui/components/SensorDisplay.kt
Due: none

Collapse map attribution by default and use engine type for aircraft icons
  src/actions/views/aircraft.rs
  src/aircraft_types.rs
  src/ts_export.rs
  web/src/lib/ar/calculations.ts
  web/src/lib/ar/types.ts
  web/src/lib/components/ar/AircraftMarker.svelte
  web/src/lib/components/cesium/TimelineController.svelte
  web/src/lib/types/generated/Aircraft.ts
  web/src/lib/types/generated/AircraftView.ts
  web/src/lib/types/generated/EngineType.ts
  web/src/lib/types/index.ts
  web/src/lib/utils/aircraftIcons.ts
  web/src/routes/ar/+page.svelte
  web/src/routes/live/+page.svelte
  web/src/routes/spotter/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

Address review feedback: parallelize lookups, fix bugs, cleanup
  .gitignore
  android/.idea/.gitignore
  android/.idea/.name
  android/.idea/AndroidProjectSystem.xml
  android/.idea/caches/deviceStreaming.xml
  android/.idea/codeStyles/Project.xml
  android/.idea/codeStyles/codeStyleConfig.xml
  android/.idea/compiler.xml
  android/.idea/deploymentTargetSelector.xml
  android/.idea/gradle.xml
  android/.idea/migrations.xml
  android/.idea/misc.xml
  android/.idea/runConfigurations.xml
  android/.idea/vcs.xml
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/soar/tracker/service/TrackingService.kt
  android/app/src/main/java/com/soar/tracker/ui/components/FlightStatusCard.kt
  android/app/src/main/java/com/soar/tracker/ui/components/NearbyAircraftList.kt
  android/app/src/main/java/com/soar/tracker/ui/navigation/NavGraph.kt
  android/app/src/main/java/com/soar/tracker/ui/screens/LiveViewScreen.kt
  android/app/src/main/java/com/soar/tracker/ui/screens/LoginScreen.kt
  android/app/src/main/java/com/soar/tracker/ui/screens/TrackerScreen.kt
  android/app/src/main/java/com/soar/tracker/ui/util/Geo.kt
  src/actions/tracker.rs
Due: rust-fmt, rust-clippy, rust-test

Combine Jet and Turbine cases into single fall-through
  web/src/lib/utils/aircraftIcons.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

Add /data/weather endpoint for altimeter pressure data
  src/actions/mod.rs
  src/actions/weather.rs
  src/ts_export.rs
  src/web.rs
Due: rust-fmt, rust-clippy, rust-test

Use shared reqwest::Client via AppState instead of per-request allocation
  src/actions/weather.rs
  src/web.rs
Due: rust-fmt, rust-clippy, rust-test

Add iOS app replicating Android tracker functionality
  ios/SOARTracker/Assets.xcassets/AccentColor.colorset/Contents.json
  ios/SOARTracker/Assets.xcassets/AppIcon.appiconset/Contents.json
  ios/SOARTracker/Assets.xcassets/Contents.json
  ios/SOARTracker/Data/API/Models.swift
  ios/SOARTracker/Data/API/SoarAPI.swift
  ios/SOARTracker/Data/Local/TokenManager.swift
  ios/SOARTracker/Data/Repository/AuthRepository.swift
  ios/SOARTracker/Data/Repository/TrackerRepository.swift
  ios/SOARTracker/Info.plist
  ios/SOARTracker/SOARTrackerApp.swift
  ios/SOARTracker/Service/SensorCollector.swift
  ios/SOARTracker/Service/TrackingService.swift
  ios/SOARTracker/UI/Components/FlightStatusCard.swift
  ios/SOARTracker/UI/Components/NearbyAircraftList.swift
  ios/SOARTracker/UI/Components/RadarSweep.swift
  ios/SOARTracker/UI/Components/SensorDisplay.swift
  ios/SOARTracker/UI/ContentView.swift
  ios/SOARTracker/UI/Screens/LiveViewScreen.swift
  ios/SOARTracker/UI/Screens/LoginScreen.swift
  ios/SOARTracker/UI/Screens/TrackerScreen.swift
  ios/SOARTracker/UI/Theme/Theme.swift
  ios/project.yml
Due: none

Address PR review: fix URLs and add iOS CI workflow
  .github/workflows/ios-testflight.yml
  android/app/src/main/java/com/soar/tracker/ui/screens/LoginScreen.kt
  ios/Gemfile
  ios/SOARTracker/UI/Screens/LoginScreen.swift
  ios/fastlane/Appfile
  ios/fastlane/Fastfile
Due: none

Fix SSRF finding: use reqwest query builder instead of string interpolation
  src/actions/weather.rs
Due: rust-fmt, rust-clippy, rust-test

Path conditions:
  web-install-deps: any of: ^web/(package\.json|package-lock\.json)$
  web-format: any of: ^web/.*\.(js|ts|svelte)$
  web-lint: any of: ^web/.*\.(js|ts|svelte)$
  web-type-check: any of: ^web/.*\.(js|ts|svelte)$
  web-test: any of: ^web/.*\.(js|ts|svelte)$
  web-build: any of: ^web/.*\.(js|ts|svelte)$
  rust-fmt: any of: \.rs$
  rust-clippy: any of: \.rs$
  rust-test: any of: \.rs$
  cargo-audit: any of: ^(Cargo\.toml|Cargo\.lock)$
