Repository hut8/soar: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-install-deps, web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test, cargo-audit

.pre-commit-config.yaml:

repos:
  # Frontend/SvelteKit checks (matching CI test-sveltekit job)
  - repo: local
    hooks:
      - id: web-install-deps
        name: Install web dependencies
        entry: bash -c 'cd web && npm ci'
        language: system
        files: ^web/(package\.json|package-lock\.json)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

      - id: web-format
        name: Auto-fix web formatting (Prettier)
        entry: bash -c 'cd web && npm run format'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

      - id: web-lint
        name: Run web linter (ESLint + Prettier check)
        entry: bash -c 'cd web && npm run lint'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

      - id: web-type-check
        name: Run web type checking
        entry: bash -c 'cd web && npm run check'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

      - id: web-test
        name: Run web tests (Playwright E2E)
        entry: bash -c 'cd web && npm test'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-push, manual]

      - id: web-build
        name: Build web project
        entry: bash -c 'cd web && npm run build'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-push, manual]

  # Rust formatting (matching CI check)
  - repo: local
    hooks:
      - id: rust-fmt
        name: Auto-fix Rust formatting
        entry: cargo fmt
        language: system
        files: \.rs$
        pass_filenames: false
        stages: [pre-commit, pre-push]

  # Rust linting (matching CI clippy check)
  - repo: local
    hooks:
      - id: rust-clippy
        name: Run Clippy
        entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo clippy --all-targets --all-features -- -D warnings'
        language: system
        files: \.rs$
        pass_filenames: false
        stages: [pre-commit, pre-push]

  # Rust tests (matching CI test run)
  - repo: local
    hooks:
      - id: rust-test
        name: Run Rust tests
        entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo test'
        language: system
        files: \.rs$
        pass_filenames: false
        stages: [pre-push, manual]

  # Security audit (matching CI security-audit job)
  - repo: local
    hooks:
      - id: cargo-audit
        name: Run security audit
        entry: cargo audit
        language: system
        files: ^(Cargo\.toml|Cargo\.lock)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
        stages: [pre-commit, pre-push]
      - id: end-of-file-fixer
        stages: [pre-commit, pre-push]
      - id: check-yaml
        stages: [pre-commit, pre-push]
      - id: check-toml
        stages: [pre-commit, pre-push]
      - id: check-json
        stages: [pre-commit, pre-push]
      - id: check-merge-conflict
        stages: [pre-commit, pre-push]
      - id: check-added-large-files
        args: ["--maxkb=1000"]
        stages: [pre-commit, pre-push]

# Performance optimizations
default_stages: [pre-commit]
fail_fast: false

# CI configuration
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit.com hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ""
  autoupdate_commit_msg: "[pre-commit.ci] pre-commit autoupdate"
  autoupdate_schedule: weekly
  skip: []
  submodules: false

refactor: rebrand navigation from Devices to Aircraft
  web/src/routes/+layout.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

refactor: remove unused receiver fix counts endpoint
  src/actions/receivers.rs
  src/fixes_repo.rs
Due: rust-fmt, rust-clippy, rust-test

fix: resolve Plotly hover errors and infinite loop issues
  web/src/lib/components/FlightProfile.svelte
  web/src/routes/flights/[id]/map/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

refactor: remove more unused methods across repositories
  src/device_repo.rs
  src/devices.rs
  src/email.rs
  src/flights_repo.rs
Due: rust-fmt, rust-clippy, rust-test

refactor: remove unused repository methods (batch 2)
  src/aircraft_registrations_repo.rs
  src/airports_repo.rs
  src/fixes_repo.rs
  src/flights_repo.rs
  src/geocoding.rs
  src/locations_repo.rs
  src/receiver_repo.rs
  src/receiver_status_repo.rs
  src/runways_repo.rs
Due: rust-fmt, rust-clippy, rust-test

feat: enhance flight profile chart with click support and layout improvements
  web/src/lib/components/FlightProfile.svelte
  web/src/routes/flights/[id]/+page.svelte
  web/src/routes/flights/[id]/map/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

feat: make elevation processing synchronous by default
  src/commands/run.rs
  src/fix_processor.rs
Due: rust-fmt, rust-clippy, rust-test

refactor: remove deprecated with_elevation_channel method
  src/fix_processor.rs
Due: rust-fmt, rust-clippy, rust-test

feat: update Grafana dashboard for sync elevation metrics
  infrastructure/grafana-dashboard-run.json
Due: none

refactor: remove legacy upsert_runways_one_by_one method
  src/runways_repo.rs
Due: rust-fmt, rust-clippy, rust-test

refactor: remove unused repository methods (batch 2)
  src/locations_repo.rs
  src/server_messages_repo.rs
  src/users_repo.rs
Due: rust-fmt, rust-clippy, rust-test

refactor: remove unused ReceiverStatusRepository methods
  src/receiver_status_repo.rs
Due: rust-fmt, rust-clippy, rust-test

fix: remove obsolete version attribute from docker-compose files
  docker-compose.e2e.yml
  docker-compose.yml
Due: none

fix: increase backend startup timeout and add environment variables
  web/playwright.config.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: configure E2E tests to use Rust backend server
  web/playwright.config.ts
  web/vite.config.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: ensure schema.sql is always created at repo root
  src/main.rs
Due: rust-fmt, rust-clippy, rust-test

fix: remove external network declaration from e2e compose file
  docker-compose.e2e.yml
Due: none

fix: use PLAYWRIGHT_BASE_URL environment variable in Docker/CI
  web/playwright.config.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: install postgresql-client and curl in runtime container
  Dockerfile
Due: none

fix: explicitly start web servers in CI before running E2E tests
  .github/workflows/ci.yml
  web/playwright.config.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: use :visible selector instead of .first() for duplicate inputs
  web/e2e/devices/device-list.test.ts
  web/e2e/utils/navigation.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: skip schema dump in CI and upgrade to PostgreSQL 17
  .github/workflows/ci.yml
  src/main.rs
Due: rust-fmt, rust-clippy, rust-test

fix: skip schema dump in test environment
  Dockerfile
  src/main.rs
Due: rust-fmt, rust-clippy, rust-test

fix: use 'docker compose' instead of deprecated 'docker-compose'
  scripts/run-acceptance-tests
Due: none

fix: skip web build in Docker rust-builder stage
  Dockerfile
Due: none

fix: add server-side API proxy for E2E tests
  web/src/hooks.server.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

test: skip flaky loading state test in E2E suite
  web/e2e/devices/device-list.test.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: copy static directory to Docker build context
  Dockerfile
Due: none

fix: complete replacement of .first() with :visible in device-list tests
  web/e2e/devices/device-list.test.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: update registration form placeholders to match E2E tests
  web/src/routes/register/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: handle empty or invalid SENTRY_DSN gracefully
  src/main.rs
Due: rust-fmt, rust-clippy, rust-test

fix: use ServerError instead of AuthApiError for error handling
  web/src/routes/login/+page.svelte
  web/src/routes/register/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

feat: add run-acceptance-tests script for E2E testing
  scripts/run-acceptance-tests
Due: none

fix: correct backend port in vite proxy configuration
  web/vite.config.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: respect port argument when SOAR_ENV=test
  src/main.rs
Due: rust-fmt, rust-clippy, rust-test

fix: add tokio_unstable flag to E2E test build
  .github/workflows/ci.yml
Due: none

chore: add initial E2E test screenshots for baseline
  web/e2e/auth/login.test.ts-snapshots/login-success-chromium-linux.png
  web/e2e/devices/device-list.test.ts-snapshots/device-card-chromium-linux.png
  web/e2e/devices/device-list.test.ts-snapshots/device-detail-from-list-chromium-linux.png
  web/e2e/devices/device-list.test.ts-snapshots/device-search-error-empty-chromium-linux.png
  web/e2e/devices/device-list.test.ts-snapshots/device-search-results-chromium-linux.png
Due: none

fix: remove host port mappings for container-only communication
  docker-compose.yml
  scripts/run-acceptance-tests
Due: none
