Repository hut8/soar: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-install-deps, web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test, cargo-audit

web-install-deps:
  name: Install web dependencies
  entry: bash -c 'cd web && npm ci'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-format:
  name: Auto-fix web formatting (Prettier)
  entry: bash -c 'cd web && npm run format'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-lint:
  name: Run web linter (ESLint + Prettier check)
  entry: bash -c 'cd web && npm run lint'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-type-check:
  name: Run web type checking
  entry: bash -c 'cd web && npm run check'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-test:
  name: Run web tests (Playwright E2E)
  entry: bash -c 'cd web && npm test'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

web-build:
  name: Build web project
  entry: bash -c 'cd web && npm run build'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

rust-fmt:
  name: Auto-fix Rust formatting
  entry: cargo fmt
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

rust-clippy:
  name: Run Clippy
  entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo clippy --all-targets --all-features -- -D warnings'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

rust-test:
  name: Run Rust tests
  entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo test'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

cargo-audit:
  name: Run security audit
  entry: cargo audit
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

fix: only create runway polylines when actual endpoint coordinates exist
  src/actions/views/airport.rs
Due: rust-fmt, rust-clippy, rust-test

fix: cleanup existing containers before starting new ones
  scripts/run-acceptance-tests
Due: none

fix: use existing Flight type from lib/types instead of custom interface
  web/src/lib/components/AircraftStatusModal.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

feat: extend archive retention by 2 weeks
  src/commands/archive/mod.rs
Due: rust-fmt, rust-clippy, rust-test

refactor: use URLSearchParams for query string construction in clubs search
  web/src/routes/clubs/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: extract clubs array from API response object
  web/src/routes/clubs/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: correct error handling and Svelte 5 syntax in login page
  web/.prettierignore
  web/src/routes/login/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: run E2E tests as current user to prevent root-owned files
  docker-compose.e2e.yml
  scripts/run-acceptance-tests
Due: none

fix: sync Grafana dashboards with metrics and add high-priority panels
  CLAUDE.md
  infrastructure/grafana-dashboard-aprs-ingest.json
  infrastructure/grafana-dashboard-run.json
Due: none

fix: use USER_ID/GROUP_ID instead of readonly UID variable
  docker-compose.e2e.yml
  scripts/run-acceptance-tests
Due: none

fix: clubs endpoint returns array directly, not wrapped object
  web/src/routes/clubs/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: extend health check start period for dev mode initial compile
  docker-compose.dev.yml
Due: none

fix: use $state runes for reactive variables in clubs search
  web/src/routes/clubs/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

feat: add bulk device endpoint and use device titles in receiver fixes table
  src/actions/devices.rs
  src/web.rs
  web/src/lib/types/index.ts
  web/src/routes/clubs/+page.svelte
  web/src/routes/receivers/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

feat: merge Recognized and Start columns in flights table
  web/src/lib/components/FlightsList.svelte
  web/src/lib/formatters.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

refactor: improve Airborne badge styling and layout in flights table
  web/src/lib/components/FlightsList.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

feat: hide Distance column for active flights (always null)
  web/src/lib/components/FlightsList.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

refactor: remove legacy metric initializations
  src/metrics.rs
Due: rust-fmt, rust-clippy, rust-test

fix: skip Playwright installation in E2E tests container
  docker-compose.e2e.yml
  scripts/run-acceptance-tests
Due: none

fix: include backup scripts directory in deployment package
  .github/workflows/ci.yml
Due: none

fix: show club search results in table below search card
  web/src/routes/clubs/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

refactor: simplify test script by removing flags
  scripts/run-acceptance-tests
Due: none

feat: add detailed router processing metrics to Grafana dashboard
  infrastructure/grafana-dashboard-run.json
Due: none

fix: remove HTML5 required attributes from login form
  web/src/routes/login/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

feat: add dump-unified-ddb debugging command
  src/commands/dump_unified_ddb.rs
  src/commands/mod.rs
  src/main.rs
  web/src/lib/formatters.ts
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

fix: remove unused import and fix device_address references in receivers detail page
  web/src/routes/receivers/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

refactor: use source mounting with cargo cache by default
  scripts/run-acceptance-tests
Due: none

fix: update logout utility to match actual UI implementation
  web/e2e/utils/auth.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: loop partition_data_time until all data is migrated
  migrations/2025-11-12-191049-0000_convert_fixes_to_partitioned_table/README.md
  migrations/2025-11-12-191049-0000_convert_fixes_to_partitioned_table/up.sql
Due: none

fix: build web frontend before starting E2E tests
  .gitignore
  scripts/run-acceptance-tests
Due: none

fix: INSERT data before calling partition_data_time
  migrations/2025-11-12-191049-0000_convert_fixes_to_partitioned_table/up.sql
Due: none

fix: correct device registration and address_type during FlarmNet import
  Cargo.lock
  Cargo.toml
  src/device_repo.rs
  src/devices.rs
Due: rust-fmt, rust-clippy, rust-test, cargo-audit

fix: exclude GENERATED columns from INSERT statement
  migrations/2025-11-12-191049-0000_convert_fixes_to_partitioned_table/up.sql
Due: none

fix: use custom PostgreSQL image with pg_partman extension
  docker-compose.yml
Due: none

fix: add INSERT step and default partition to partition migration
  migrations/2025-11-12-191049-0000_convert_fixes_to_partitioned_table/up.sql
Due: none

chore: update schema.sql with pg_partman extension
  schema.sql
Due: none

fix: correct logout behavior and test selectors
  web/e2e/auth/logout.test.ts
  web/src/routes/+layout.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

feat: add color scheme selector for flight path visualization
  web/src/routes/flights/[id]/+page.svelte
  web/src/routes/flights/[id]/map/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: add composite foreign keys for partitioned aprs_messages table
  migrations/2025-11-13-182353-0000_fix_aprs_messages_foreign_keys/down.sql
  migrations/2025-11-13-182353-0000_fix_aprs_messages_foreign_keys/up.sql
  src/fixes_repo.rs
  src/receiver_status_repo.rs
  src/schema.rs
Due: rust-fmt, rust-clippy, rust-test

chore: add some snapshots
  web/e2e/auth/login.test.ts-snapshots/login-error-empty-form-chromium-linux.png
  web/e2e/auth/login.test.ts-snapshots/login-error-invalid-credentials-chromium-linux.png
  web/e2e/auth/logout.test.ts-snapshots/logout-success-chromium-linux.png
  web/e2e/auth/logout.test.ts-snapshots/user-menu-open-chromium-linux.png
Due: none

Path conditions:
  web-install-deps: any of: ^web/(package\.json|package-lock\.json)$
  web-format: any of: ^web/.*\.(js|ts|svelte)$
  web-lint: any of: ^web/.*\.(js|ts|svelte)$
  web-type-check: any of: ^web/.*\.(js|ts|svelte)$
  web-test: any of: ^web/.*\.(js|ts|svelte)$
  web-build: any of: ^web/.*\.(js|ts|svelte)$
  rust-fmt: any of: \.rs$
  rust-clippy: any of: \.rs$
  rust-test: any of: \.rs$
  cargo-audit: any of: ^(Cargo\.toml|Cargo\.lock)$
