Repository hut8/soar: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-install-deps, web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test, cargo-audit

.pre-commit-config.yaml:

repos:
  # Frontend/SvelteKit checks (matching CI test-sveltekit job)
  - repo: local
    hooks:
      - id: web-install-deps
        name: Install web dependencies
        entry: bash -c 'cd web && npm ci'
        language: system
        files: ^web/(package\.json|package-lock\.json)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

      - id: web-format
        name: Auto-fix web formatting (Prettier)
        entry: bash -c 'cd web && npm run format'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

      - id: web-lint
        name: Run web linter (ESLint + Prettier check)
        entry: bash -c 'cd web && npm run lint'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

      - id: web-type-check
        name: Run web type checking
        entry: bash -c 'cd web && npm run check'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

      - id: web-test
        name: Run web tests (Playwright E2E)
        entry: bash -c 'cd web && npm test'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-push, manual]

      - id: web-build
        name: Build web project
        entry: bash -c 'cd web && npm run build'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-push, manual]

  # Rust formatting (matching CI check)
  - repo: local
    hooks:
      - id: rust-fmt
        name: Auto-fix Rust formatting
        entry: cargo fmt
        language: system
        files: \.rs$
        pass_filenames: false
        stages: [pre-commit, pre-push]

  # Rust linting (matching CI clippy check)
  - repo: local
    hooks:
      - id: rust-clippy
        name: Run Clippy
        entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo clippy --all-targets --all-features -- -D warnings'
        language: system
        files: \.rs$
        pass_filenames: false
        stages: [pre-commit, pre-push]

  # Rust tests (matching CI test run)
  - repo: local
    hooks:
      - id: rust-test
        name: Run Rust tests
        entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo test'
        language: system
        files: \.rs$
        pass_filenames: false
        stages: [pre-push, manual]

  # Security audit (matching CI security-audit job)
  - repo: local
    hooks:
      - id: cargo-audit
        name: Run security audit
        entry: cargo audit
        language: system
        files: ^(Cargo\.toml|Cargo\.lock)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
        stages: [pre-commit, pre-push]
      - id: end-of-file-fixer
        stages: [pre-commit, pre-push]
      - id: check-yaml
        stages: [pre-commit, pre-push]
      - id: check-toml
        stages: [pre-commit, pre-push]
      - id: check-json
        stages: [pre-commit, pre-push]
      - id: check-merge-conflict
        stages: [pre-commit, pre-push]
      - id: check-added-large-files
        args: ["--maxkb=1000"]
        stages: [pre-commit, pre-push]

# Performance optimizations
default_stages: [pre-commit]
fail_fast: false

# CI configuration
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit.com hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ""
  autoupdate_commit_msg: "[pre-commit.ci] pre-commit autoupdate"
  autoupdate_schedule: weekly
  skip: []
  submodules: false

fix: update analytics to use aircraft_analytics table after rename
  migrations/2025-12-16-074235-0000_fix_analytics_triggers_after_rename/down.sql
  migrations/2025-12-16-074235-0000_fix_analytics_triggers_after_rename/up.sql
  schema.sql
  src/analytics_repo.rs
  src/schema.rs
Due: rust-fmt, rust-clippy, rust-test

fix: replace vite-plugin-cesium with vite-plugin-static-copy for production builds
  web/package-lock.json
  web/package.json
  web/src/app.html
  web/vite.config.ts
Due: web-install-deps, web-format, web-lint, web-type-check, web-test, web-build

fix: correct aircraft address type display and add country flag
  src/actions/views/flight.rs
  src/aircraft.rs
  web/src/lib/types/index.ts
  web/src/routes/flights/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

feat: add cached location columns to aircraft table
  migrations/2025-12-16-172129-0000_add_cached_location_to_aircraft/down.sql
  migrations/2025-12-16-172129-0000_add_cached_location_to_aircraft/up.sql
  src/aircraft.rs
  src/aircraft_repo.rs
  src/commands/load_data/device_backfill.rs
  src/commands/load_data/mod.rs
  src/fix_processor.rs
  src/fixes_repo.rs
  src/schema.rs
Due: rust-fmt, rust-clippy, rust-test

feat: filter operations map to only show aircraft active in last hour
  src/fixes_repo.rs
Due: rust-fmt, rust-clippy, rust-test

refactor: rename all device references to aircraft for consistency
  src/actions/devices.rs
  src/actions/fixes.rs
  src/actions/flights.rs
  src/actions/receivers.rs
  src/fixes_repo.rs
  src/flight_tracker/state_transitions.rs
  src/flight_tracker/towing.rs
Due: rust-fmt, rust-clippy, rust-test

perf: use cached location_geom for bounding box queries
  src/fixes_repo.rs
Due: rust-fmt, rust-clippy, rust-test

fix: prevent timeout constraint violation and fix missing database function
  migrations/2025-12-14-022819-0000_optimize_analytics_triggers_skip_last_fix_at/up.sql
  migrations/2025-12-17-045112-0000_fix_flight_duration_bucket_function_name/down.sql
  migrations/2025-12-17-045112-0000_fix_flight_duration_bucket_function_name/up.sql
  src/flights_repo.rs
Due: rust-fmt, rust-clippy, rust-test

feat: migrate database backups from SSH/scp to Wasabi S3 via rclone
  docs/BACKUP-QUICKSTART.md
  docs/DB-BACKUPS.md
  infrastructure/examples/backup-env.example
  scripts/backup/base-backup
  scripts/backup/wal-archive
Due: none

feat: add Photon geocoding server to provision script
  infrastructure/photon.service
  scripts/provision
Due: none

feat: implement database-backed watchlist with email notifications
  migrations/2025-12-17-032218-0000_create_watchlist_table/down.sql
  migrations/2025-12-17-032218-0000_create_watchlist_table/up.sql
  src/actions/mod.rs
  src/actions/watchlist.rs
  src/email.rs
  src/flight_tracker/flight_lifecycle.rs
  src/flight_tracker/mod.rs
  src/lib.rs
  src/schema.rs
  src/watchlist.rs
  src/watchlist_repo.rs
  src/web.rs
  web/src/lib/components/WatchlistModal.svelte
  web/src/lib/stores/watchlist.ts
  web/src/lib/stores/websocket-status.ts
  web/src/lib/types/index.ts
  web/src/routes/+layout.svelte
  web/src/routes/operations/+page.svelte
  web/src/routes/watchlist/+page.svelte
  web/src/routes/watchlist/+page.ts
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

chore: upgrade to Photon OpenSearch 0.7.4 with Java 21
  infrastructure/photon.service
  scripts/provision
Due: none

feat: add reverse geocoding for flight start/end locations and airports
  migrations/2025-12-17-031848-0000_add_start_end_location_to_flights/down.sql
  migrations/2025-12-17-031848-0000_add_start_end_location_to_flights/up.sql
  migrations/2025-12-17-044211-0000_add_location_id_to_airports/down.sql
  migrations/2025-12-17-044211-0000_add_location_id_to_airports/up.sql
  src/airports.rs
  src/airports_repo.rs
  src/commands/load_data/mod.rs
  src/flight_tracker/flight_lifecycle.rs
  src/flight_tracker/location.rs
  src/flight_tracker/mod.rs
  src/flights.rs
  src/flights_repo.rs
  src/geocoding.rs
  src/schema.rs
Due: rust-fmt, rust-clippy, rust-test

fix: add Sentry notifications for flight completion email failures
  src/flight_tracker/flight_lifecycle.rs
Due: rust-fmt, rust-clippy, rust-test

fix: change airspaces.openaip_id from INTEGER to TEXT
  migrations/2025-12-17-155821-0000_change_airspaces_openaip_id_to_text/down.sql
  migrations/2025-12-17-155821-0000_change_airspaces_openaip_id_to_text/up.sql
  src/schema.rs
  web/src/lib/types/index.ts
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

refactor: simplify provision script with environment-specific config
  infrastructure/Caddyfile
  infrastructure/Caddyfile.production
  infrastructure/Caddyfile.staging
  infrastructure/grafana-provisioning/datasources/prometheus.yml
  scripts/provision
Due: none

fix: use Caddy import pattern for safe multi-environment support
  infrastructure/Caddyfile.production
  infrastructure/Caddyfile.staging
  scripts/provision
Due: none

feat: add Photon geocoding with fallback chain and service tracking
  src/commands/load_data/mod.rs
  src/geocoding.rs
Due: rust-fmt, rust-clippy, rust-test

fix: configure explicit STARTTLS for port 587 in email reporter
  src/email_reporter.rs
Due: rust-fmt, rust-clippy, rust-test

chore: remove deprecated infrastructure/Caddyfile
  infrastructure/Caddyfile
Due: none

chore: hardcode Photon JAR download URL to exact version 0.7.4
  scripts/provision
Due: none

perf: reduce elevation cache sizes by 50% to decrease memory usage
  src/elevation/service.rs
Due: rust-fmt, rust-clippy, rust-test

feat: configure Photon OpenSearch for single-node operation
  scripts/provision
Due: none

perf: reduce Photon JVM heap size from 16G to 12G
  docs/photon-deployment.md
  infrastructure/photon.service
Due: none

feat: add photon.glider.flights public endpoint for production
  .env.example
  infrastructure/Caddyfile.production
  infrastructure/examples/etc-soar-env.template
  scripts/provision
Due: none

feat: use PHOTON_BASE_URL environment variable for Photon geocoding
  src/geocoding.rs
Due: rust-fmt, rust-clippy, rust-test

fix: provision script idempotency and configuration issues
  infrastructure/caddy/glider.flights.conf
  infrastructure/caddy/grafana.glider.flights.conf
  infrastructure/caddy/grafana.staging.glider.flights.conf
  infrastructure/caddy/photon.glider.flights.conf
  infrastructure/caddy/staging.glider.flights.conf
  infrastructure/photon.service
  scripts/provision
  scripts/provision-adsb
Due: none

fix: use single-line ExecStart for Photon JVM args
  infrastructure/photon.service
Due: none

fix: remove old monolithic Caddy config files during provision
  scripts/provision
Due: none

fix: wrap set_var/remove_var in unsafe blocks in doctest
  src/lib.rs
Due: rust-fmt, rust-clippy, rust-test

refactor: complete device → aircraft terminology update
  src/actions/devices.rs
  web/src/routes/aircraft/+page.svelte
  web/src/routes/aircraft/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

fix: locations unique index now properly handles NULL values
  migrations/2025-12-17-225129-0000_fix_locations_unique_index_null_handling/down.sql
  migrations/2025-12-17-225129-0000_fix_locations_unique_index_null_handling/up.sql
Due: none

test: update E2E screenshot baseline for aircraft terminology
  web/e2e/aircraft/aircraft-list.test.ts-snapshots/aircraft-list-authenticatedPage-chromium-linux.png
Due: none

fix: use distinct_on(id) instead of distinct for aircraft geocoding query
  src/commands/load_data/mod.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add pagination to aircraft issues page
  src/actions/aircraft.rs
  src/aircraft_repo.rs
  web/src/routes/aircraft/issues/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

feat: add watchlist UI integration to aircraft pages and navigation
  web/src/routes/+layout.svelte
  web/src/routes/aircraft/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

docs: update architecture documentation to reflect current implementation
  CLAUDE.md
  README.md
Due: none

feat: add MCP server setup for database access in Claude Code
  .gitignore
  .mcp.json.example
  CLAUDE.md
  make-worktree
Due: none

feat: merge pilots and users into unified architecture
  migrations/2025-12-18-194857-0000_make_users_auth_nullable/down.sql
  migrations/2025-12-18-194857-0000_make_users_auth_nullable/up.sql
  migrations/2025-12-18-194957-0000_add_pilot_fields_to_users/down.sql
  migrations/2025-12-18-194957-0000_add_pilot_fields_to_users/up.sql
  migrations/2025-12-18-195042-0000_migrate_pilots_to_users/down.sql
  migrations/2025-12-18-195042-0000_migrate_pilots_to_users/up.sql
  migrations/2025-12-18-195133-0000_update_flight_pilots_fk/down.sql
  migrations/2025-12-18-195133-0000_update_flight_pilots_fk/up.sql
  migrations/2025-12-18-195218-0000_drop_pilots_table/down.sql
  migrations/2025-12-18-195218-0000_drop_pilots_table/up.sql
  src/actions/auth.rs
  src/actions/mod.rs
  src/actions/pilots.rs
  src/actions/users.rs
  src/actions/views/user.rs
  src/auth.rs
  src/commands/seed_test_data.rs
  src/email.rs
  src/flight_tracker/flight_lifecycle.rs
  src/lib.rs
  src/schema.rs
  src/users.rs
  src/users_repo.rs
  src/web.rs
  web/src/lib/types/index.ts
  web/src/routes/aircraft/[id]/+page.svelte
  web/src/routes/profile/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

refactor: remove Pilot type alias and deprecated routes
  src/actions/mod.rs
  src/actions/pilots.rs
  src/web.rs
  web/src/lib/components/PilotSelectionModal.svelte
  web/src/lib/types/index.ts
  web/src/routes/clubs/[id]/pilots/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test
