Repository hut8/soar: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-install-deps, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test, cargo-audit, cargo-outdated

web-install-deps:
  name: Install web dependencies
  entry: bash -c 'cd web && npm ci'
  language: system
  pass_filenames: false

web-lint:
  name: Run web linter (ESLint + Prettier)
  entry: bash -c 'cd web && npm run lint'
  language: system
  pass_filenames: false

web-type-check:
  name: Run web type checking
  entry: bash -c 'cd web && npm run check'
  language: system
  pass_filenames: false

web-test:
  name: Run web tests (Playwright E2E)
  entry: bash -c 'cd web && npm test'
  language: system
  pass_filenames: false

web-build:
  name: Build web project
  entry: bash -c 'cd web && npm run build'
  language: system
  pass_filenames: false

rust-fmt:
  name: Check Rust formatting
  entry: cargo fmt --check
  language: system
  pass_filenames: false

rust-clippy:
  name: Run Clippy
  entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo clippy --all-targets --all-features -- -D warnings'
  language: system
  pass_filenames: false

rust-test:
  name: Run Rust tests
  entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo test --verbose'
  language: system
  pass_filenames: false

cargo-audit:
  name: Run security audit
  entry: cargo audit
  language: system
  pass_filenames: false

cargo-outdated:
  name: Check for outdated dependencies
  entry: bash -c 'cargo outdated --exit-code 1 || echo "Some dependencies are outdated (non-critical)"'
  language: system
  pass_filenames: false

fix: improve relative time display and View Details link
  web/src/lib/components/AircraftStatusModal.svelte
  web/src/routes/operations/+page.svelte
Due: web-lint, web-type-check, web-test, web-build

fix: prevent incomplete devices from being saved to localStorage
  web/src/lib/services/DeviceRegistry.ts
Due: web-lint, web-type-check, web-test, web-build

fix: prevent compass rose from jumping 360° at boundary crossings
  web/src/routes/operations/+page.svelte
Due: web-lint, web-type-check, web-test, web-build

feat: add zebra striping and altitude AGL column to device page tables
  web/src/lib/types/index.ts
  web/src/routes/devices/[id]/+page.svelte
Due: web-lint, web-type-check, web-test, web-build

feat: add GLO-90 fallback for elevation data with shared cache support
  src/elevation.rs
  src/tile_downloader.rs
Due: rust-fmt, rust-clippy, rust-test

add missing postgis_functions file
  src/postgis_functions.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add Prometheus metrics export with elevation lookup instrumentation
  Cargo.lock
  Cargo.toml
  src/elevation.rs
  src/lib.rs
  src/metrics.rs
  src/web.rs
Due: rust-fmt, rust-clippy, rust-test, cargo-audit, cargo-outdated

docs: add Prometheus configuration and monitoring documentation
  infrastructure/DEPLOYMENT.md
  infrastructure/prometheus.yml
Due: none

feat: add comprehensive metrics for API endpoints, flight tracker, and run subcommand
  infrastructure/DEPLOYMENT.md
  infrastructure/prometheus.yml
  src/flight_tracker.rs
  src/main.rs
  src/metrics.rs
  src/web.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add Grafana dashboard for SOAR metrics
  infrastructure/grafana-dashboard.json
Due: none

feat: add altitude-based color spectrum for aircraft icons and trails
  web/src/routes/operations/+page.svelte
Due: web-lint, web-type-check, web-test, web-build

Fix column list
  src/fixes_repo.rs
Due: rust-fmt, rust-clippy, rust-test

fix: add endpoint labels to HTTP metrics and exclude /data/metrics
  src/web.rs
Due: rust-fmt, rust-clippy, rust-test

feat: update Grafana dashboard to display endpoint-specific metrics
  infrastructure/grafana-dashboard.json
Due: none

change port for metrics
  infrastructure/prometheus.yml
  src/main.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add bounding box search to /devices endpoint to fix N+1 query performance issue
  src/actions/devices.rs
  src/actions/fixes.rs
  src/main.rs
  web/src/lib/services/FixFeed.ts
Due: web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

feat: add location tracking and API endpoints for receivers
  migrations/2025-10-06-013959-0000_add_location_to_receivers/down.sql
  migrations/2025-10-06-013959-0000_add_location_to_receivers/up.sql
  src/actions/mod.rs
  src/actions/receivers.rs
  src/aprs_client.rs
  src/receiver_repo.rs
  src/receivers.rs
  src/schema.rs
  src/web.rs
Due: rust-fmt, rust-clippy, rust-test

refactor: reorganize actions module for better separation of concerns
  src/actions/aircraft.rs
  src/actions/devices.rs
  src/actions/fixes.rs
  src/web.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add comprehensive receiver search and detail pages
  src/actions/receivers.rs
  src/fixes_repo.rs
  src/receiver_repo.rs
  src/receiver_status_repo.rs
  src/web.rs
  web/src/routes/receivers/+page.svelte
  web/src/routes/receivers/[id]/+page.svelte
Due: web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

add faa docs
  docs/ardata.pdf
Due: none

feat: add Receivers and Aircraft to navigation and front page
  web/src/lib/components/SettingsModal.svelte
  web/src/routes/+layout.svelte
  web/src/routes/+page.svelte
Due: web-lint, web-type-check, web-test, web-build

fix: add formatters module and fix Google Maps loading for receivers
  web/src/lib/formatters.ts
  web/src/routes/receivers/+page.svelte
Due: web-lint, web-type-check, web-test, web-build

Add flarmnet cargo package
  Cargo.lock
  Cargo.toml
  web/src/lib/components/AircraftStatusModal.svelte
  web/src/routes/devices/[id]/+page.svelte
Due: web-lint, web-type-check, web-test, web-build, cargo-audit, cargo-outdated

fix: rename altitude_agl field to altitude_agl_feet in JSON serialization
  src/fixes.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add active status filtering to fixes and runway identifiers to flights
  migrations/2025-10-06-031637-0000_add_runway_idents_to_flights/down.sql
  migrations/2025-10-06-031637-0000_add_runway_idents_to_flights/up.sql
  src/fixes.rs
  src/flights.rs
  src/schema.rs
  web/src/lib/services/FixFeed.ts
  web/src/lib/types/index.ts
  web/src/routes/devices/[id]/+page.svelte
Due: web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

feat: add pilot info fields to devices and unified FlarmNet source
  migrations/2025-10-06-033337-0000_add_pilot_info_to_devices/down.sql
  migrations/2025-10-06-033337-0000_add_pilot_info_to_devices/up.sql
  src/devices.rs
  src/fixes_repo.rs
  src/loader.rs
  src/schema.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add flight distance calculations and runway identification
  src/flight_tracker.rs
  src/flights.rs
  src/flights_repo.rs
  src/runways_repo.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add flights detail page and update devices page
  web/src/routes/devices/[id]/+page.svelte
  web/src/routes/flights/[id]/+page.svelte
  web/src/routes/flights/[id]/+page.ts
Due: web-lint, web-type-check, web-test, web-build

feat: enhance airports search page with auto-search and improved formatting
  web/src/lib/formatters.ts
  web/src/routes/airports/+page.svelte
Due: web-lint, web-type-check, web-test, web-build

feat: add Airports to home page and navigation menu
  web/src/routes/+layout.svelte
  web/src/routes/+page.svelte
Due: web-lint, web-type-check, web-test, web-build

fix: log OGNFNT invalid lat/lon errors as trace instead of error
  src/aprs_client.rs
Due: rust-fmt, rust-clippy, rust-test

refactor: migrate receivers.id to UUID and add receiver tracking to fixes
  migrations/2025-10-06-075732-0000_change_receivers_id_to_uuid/down.sql
  migrations/2025-10-06-075732-0000_change_receivers_id_to_uuid/up.sql
  migrations/2025-10-06-075813-0000_add_receiver_id_to_fixes/down.sql
  migrations/2025-10-06-075813-0000_add_receiver_id_to_fixes/up.sql
  src/actions/receivers.rs
  src/aprs_client.rs
  src/fixes.rs
  src/fixes_repo.rs
  src/flight_tracker.rs
  src/receiver_repo.rs
  src/receiver_status_repo.rs
  src/receiver_statuses.rs
  src/receivers.rs
  src/schema.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add total distance and maximum displacement to flights
  migrations/2025-10-06-140133-0000_add_distance_fields_to_flights/down.sql
  migrations/2025-10-06-140133-0000_add_distance_fields_to_flights/up.sql
  src/flight_tracker.rs
  src/flights.rs
  src/flights_repo.rs
  src/schema.rs
  web/src/routes/flights/[id]/+page.svelte
  web/src/routes/flights/[id]/+page.ts
Due: web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

feat: include fix details in large altitude offset error log
  src/flight_tracker.rs
Due: rust-fmt, rust-clippy, rust-test

feat: detect and delete spurious flights upon landing
  src/fixes_repo.rs
  src/flight_tracker.rs
Due: rust-fmt, rust-clippy, rust-test

correct /api to /data
  static/robots.txt
  web/src/routes/flights/[id]/+page.svelte
Due: web-lint, web-type-check, web-test, web-build

feat: add satellites_used and satellites_visible columns to fixes
  migrations/2025-10-06-144009-0000_add_satellites_to_fixes/down.sql
  migrations/2025-10-06-144009-0000_add_satellites_to_fixes/up.sql
  src/fixes.rs
  src/fixes_repo.rs
  src/flight_tracker.rs
  src/schema.rs
Due: rust-fmt, rust-clippy, rust-test

feat: parse GPS quality and enforce minimum satellites for flights
  src/fixes.rs
  src/flight_tracker.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add Flights link to front page and navigation menus
  web/src/routes/+layout.svelte
  web/src/routes/+page.svelte
Due: web-lint, web-type-check, web-test, web-build

feat: enhance flight detail page with outlanding detection
  web/src/routes/flights/[id]/+page.svelte
Due: web-lint, web-type-check, web-test, web-build

Path conditions:
  web-install-deps: any of: ^web/(package\.json|package-lock\.json)$
  web-lint: any of: ^web/.*\.(js|ts|svelte)$
  web-type-check: any of: ^web/.*\.(js|ts|svelte)$
  web-test: any of: ^web/.*\.(js|ts|svelte)$
  web-build: any of: ^web/.*\.(js|ts|svelte)$
  rust-fmt: any of: \.rs$
  rust-clippy: any of: \.rs$
  rust-test: any of: \.rs$
  cargo-audit: any of: ^(Cargo\.toml|Cargo\.lock)$
  cargo-outdated: any of: ^(Cargo\.toml|Cargo\.lock)$
