Repository hut8/soar: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-install-deps, web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test, cargo-audit

web-install-deps:
  name: Install web dependencies
  entry: bash -c 'cd web && npm ci'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-format:
  name: Auto-fix web formatting (Prettier)
  entry: bash -c 'cd web && npm run format'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-lint:
  name: Run web linter (ESLint + Prettier check)
  entry: bash -c 'cd web && npm run lint'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-type-check:
  name: Run web type checking
  entry: bash -c 'cd web && npm run check'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-test:
  name: Run web tests (Playwright E2E)
  entry: bash -c 'cd web && npm test'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

web-build:
  name: Build web project
  entry: bash -c 'cd web && npm run build'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

rust-fmt:
  name: Auto-fix Rust formatting
  entry: cargo fmt
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

rust-clippy:
  name: Run Clippy
  entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo clippy --all-targets --all-features -- -D warnings'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

rust-test:
  name: Run Rust tests
  entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo test'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

cargo-audit:
  name: Run security audit
  entry: cargo audit
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

Add runway overlay display feature
  src/actions/mod.rs
  src/actions/runways.rs
  src/actions/views/airport.rs
  src/runways_repo.rs
  src/web.rs
  web/\!
  web/src/lib/types/index.ts
  web/src/routes/operations/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

Enable local ADS-B ingestion from radar host in staging
  infrastructure/systemd/soar-ingest-staging.service
Due: none

Add generated geometry columns for runway spatial queries
  migrations/2026-01-11-030000-0000_add_runway_location_geom_columns/down.sql
  migrations/2026-01-11-030000-0000_add_runway_location_geom_columns/up.sql
  src/runways_repo.rs
Due: rust-fmt, rust-clippy, rust-test

Fix Grafana observability stack and flight coalescing metrics
  CLAUDE.md
  infrastructure/loki-config.yml
  infrastructure/soar-deploy
  infrastructure/tempo-config.yml
  src/commands/run.rs
  src/flight_tracker/state_transitions.rs
  src/main.rs
Due: rust-fmt, rust-clippy, rust-test

Replace trigger-based geography columns with generated geometry columns
  migrations/2026-01-11-030000-0000_add_runway_location_geom_columns/down.sql
  migrations/2026-01-11-030000-0000_add_runway_location_geom_columns/up.sql
  src/runways_repo.rs
Due: rust-fmt, rust-clippy, rust-test

Make fixes.receiver_id nullable for ADS-B/Beast/SBS data sources
  migrations/2026-01-11-180000-0000_make_fixes_receiver_id_nullable/down.sql
  migrations/2026-01-11-180000-0000_make_fixes_receiver_id_nullable/up.sql
  src/beast/adsb_to_fix.rs
  src/beast/decoder.rs
  src/commands/run.rs
  src/fix_processor.rs
  src/fixes.rs
  src/fixes_repo.rs
  src/flight_tracker/aircraft_tracker.rs
  src/flight_tracker/mod.rs
  src/schema.rs
Due: rust-fmt, rust-clippy, rust-test

Add comments explaining why raw SQL is necessary for PostGIS queries
  src/runways_repo.rs
Due: rust-fmt, rust-clippy, rust-test

Update infrastructure/tempo-config.yml
  infrastructure/tempo-config.yml
Due: none

Update src/flight_tracker/state_transitions.rs
  src/flight_tracker/state_transitions.rs
Due: rust-fmt, rust-clippy, rust-test

Update src/fixes.rs
  src/fixes.rs
Due: rust-fmt, rust-clippy, rust-test

Add PostGIS SQL function definitions and refactor runway queries
  src/db/functions.rs
  src/db/mod.rs
  src/lib.rs
  src/runways_repo.rs
Due: rust-fmt, rust-clippy, rust-test

Update web/src/routes/operations/+page.svelte
  web/src/routes/operations/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

remove invalid settings and unnecessary extension
  .vscode/extensions.json
  .vscode/settings.json
Due: none

Remove separate runway endpoint, use airport data instead
  src/actions/mod.rs
  src/actions/runways.rs
  src/web.rs
  web/src/lib/types/index.ts
  web/src/routes/operations/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

Use bind parameters for spatial query and remove duplicate PostGIS functions
  src/db/functions.rs
  src/db/mod.rs
  src/lib.rs
  src/runways_repo.rs
  src/schema.rs
Due: rust-fmt, rust-clippy, rust-test

Use Diesel query builder for PostGIS functions in runways_repo
  diesel.toml
  src/lib.rs
  src/runways_repo.rs
  src/schema.rs
Due: rust-fmt, rust-clippy, rust-test

Refactor receiver bounding box queries to use typed Diesel
  src/receiver_repo.rs
Due: rust-fmt, rust-clippy, rust-test

Auto-run migrations on test template database
  tests/common/mod.rs
Due: rust-fmt, rust-clippy, rust-test

Bust Rust cache to fix stale schema.rs artifacts
  .github/workflows/ci.yml
Due: none

Improve provision script efficiency and add GitHub CLI
  scripts/provision
Due: none

Restore original cache keys
  .github/workflows/ci.yml
Due: none

Rename aggregate-coverage to run-aggregates and add flight analytics
  docs/flight-analytics.md
  src/commands/aggregate_coverage.rs
  src/commands/mod.rs
  src/commands/run_aggregates.rs
  src/main.rs
Due: rust-fmt, rust-clippy, rust-test

Add --locked-schema to prevent diesel from overwriting schema.rs
  .github/workflows/ci.yml
Due: none

Fix diesel except_custom_type_definitions to use PascalCase struct names
  .github/workflows/ci.yml
  diesel.toml
  src/schema.rs
Due: rust-fmt, rust-clippy, rust-test

Rename systemd service/timer files and update all references
  README.md
  infrastructure/soar-deploy
  infrastructure/systemd/soar-aggregate-coverage-staging.timer
  infrastructure/systemd/soar-aggregate-coverage.timer
  infrastructure/systemd/soar-run-aggregates-staging.service
  infrastructure/systemd/soar-run-aggregates-staging.timer
  infrastructure/systemd/soar-run-aggregates.service
  infrastructure/systemd/soar-run-aggregates.timer
  infrastructure/systemd/soar@production.target
  infrastructure/systemd/soar@staging.target
  migrations/2025-12-26-095142-0000_create_receiver_coverage_h3/up.sql
Due: none

Auto-build release binary in deploy script if not present
  scripts/deploy
Due: none

Add protoc installation to provision script
  scripts/provision
Due: none

Fix duplicate xpack.security.enabled in provision-pelias
  scripts/provision-pelias
Due: none

Fix provision-pelias to always clean elasticsearch.yml
  scripts/provision-pelias
Due: none

Consolidate bash safe mode flags to single line
  infrastructure/soar-deploy
Due: none

Update src/commands/run_aggregates.rs
  src/commands/run_aggregates.rs
Due: rust-fmt, rust-clippy, rust-test

Also remove ES 8 security auto-config block in provision-pelias
  scripts/provision-pelias
Due: none

Add Prometheus systemd override to provision script
  scripts/provision
Due: none

Fix race conditions in metrics initialization using get_or_init()
  src/metrics.rs
Due: rust-fmt, rust-clippy, rust-test

Fix inconsistent message format in receiver validation logs
  web/src/routes/flights/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Add PostgreSQL h3 extension to provision script
  scripts/provision
Due: none

Disable netdata otel plugin in provision script
  scripts/provision
Due: none

Fix incorrect SBS protocol documentation
  proto/messages.proto
  src/generated/soar.protocol.rs
Due: rust-fmt, rust-clippy, rust-test

Path conditions:
  web-install-deps: any of: ^web/(package\.json|package-lock\.json)$
  web-format: any of: ^web/.*\.(js|ts|svelte)$
  web-lint: any of: ^web/.*\.(js|ts|svelte)$
  web-type-check: any of: ^web/.*\.(js|ts|svelte)$
  web-test: any of: ^web/.*\.(js|ts|svelte)$
  web-build: any of: ^web/.*\.(js|ts|svelte)$
  rust-fmt: any of: \.rs$
  rust-clippy: any of: \.rs$
  rust-test: any of: \.rs$
  cargo-audit: any of: ^(Cargo\.toml|Cargo\.lock)$
