Repository hut8/soar: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-install-deps, web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test, cargo-audit

web-install-deps:
  name: Install web dependencies
  entry: bash -c 'cd web && npm ci'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-format:
  name: Auto-fix web formatting (Prettier)
  entry: bash -c 'cd web && npm run format'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-lint:
  name: Run web linter (ESLint + Prettier check)
  entry: bash -c 'cd web && npm run lint'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-type-check:
  name: Run web type checking
  entry: bash -c 'cd web && npm run check'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-test:
  name: Run web tests (Playwright E2E)
  entry: bash -c 'cd web && npm test'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

web-build:
  name: Build web project
  entry: bash -c 'cd web && npm run build'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

rust-fmt:
  name: Auto-fix Rust formatting
  entry: cargo fmt
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

rust-clippy:
  name: Run Clippy
  entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo clippy --all-targets --all-features -- -D warnings'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

rust-test:
  name: Run Rust tests
  entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo test'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

cargo-audit:
  name: Run security audit
  entry: cargo audit
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

fix: move compass arrow to header and clean up unused code
  web/src/lib/components/AircraftStatusModal.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

perf: optimize build times with multiple improvements
  .github/workflows/ci.yml
  Cargo.toml
Due: cargo-audit

feat: clean up operations map controls and move compass
  web/src/routes/operations/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: enable one-finger gestures on mobile map
  web/src/routes/operations/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

feat: set operations map to satellite view only
  web/src/routes/operations/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: remove sccache due to GitHub service unavailability
  .github/workflows/ci.yml
Due: none

perf: optimize Rust dependency caching in CI
  .github/workflows/ci.yml
Due: none

chore: decrease max number of cols to speedup compilation
  Cargo.toml
Due: cargo-audit

fix: improve flight details page for active flights
  Cargo.toml
  src/actions/flights.rs
  web/src/routes/flights/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test, cargo-audit

perf: skip frontend build in development mode
  build.rs
Due: rust-fmt, rust-clippy, rust-test

fix: replace $effect with event handler for nearby flights toggle
  web/src/routes/flights/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: use SvelteKit's fetch in load function instead of window.fetch
  web/src/lib/api/server.ts
  web/src/routes/flights/[id]/+page.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: create web/build directory for include_dir! macro in dev mode
  build.rs
Due: rust-fmt, rust-clippy, rust-test

perf: suppress logging for /data/metrics endpoint
  Cargo.toml
  src/web.rs
Due: rust-fmt, rust-clippy, rust-test, cargo-audit

chore: remove unused dependencies from Cargo.toml
  Cargo.lock
  Cargo.toml
Due: cargo-audit

refactor: improve logging levels and messages
  src/flight_tracker/state_transitions.rs
  src/flights.rs
  src/packet_processors/receiver_position.rs
Due: rust-fmt, rust-clippy, rust-test

fix: improve flight details page for flights without takeoff data
  web/src/routes/flights/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

refactor: move device tracking fields and remove deprecated columns
  migrations/2025-10-19-021603-0000_remove_deprecated_columns/down.sql
  migrations/2025-10-19-021603-0000_remove_deprecated_columns/up.sql
  migrations/2025-10-19-021631-0000_add_device_tracking_fields/down.sql
  migrations/2025-10-19-021631-0000_add_device_tracking_fields/up.sql
  src/actions/views/flight.rs
  src/device_repo.rs
  src/devices.rs
  src/fix_processor.rs
  src/fixes.rs
  src/fixes_repo.rs
  src/flights.rs
  src/flights_repo.rs
  src/schema.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add club operations link and improve error messages
  web/src/routes/airports/[id]/+page.svelte
  web/src/routes/clubs/[id]/+page.svelte
  web/src/routes/clubs/[id]/operations/+page.svelte
  web/src/routes/devices/[id]/+page.svelte
  web/src/routes/flights/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: add ON DELETE SET NULL to fixes_flight_id_fkey constraint
  migrations/2025-10-19-024649-0000_fix_fixes_flight_id_fkey_on_delete/down.sql
  migrations/2025-10-19-024649-0000_fix_fixes_flight_id_fkey_on_delete/up.sql
Due: none

refactor: replace DDB sources with unified FlarmNet
  src/devices.rs
  src/loader.rs
Due: rust-fmt, rust-clippy, rust-test

chore: remove useless frontend pages
  web/src/routes/sentry-example-page/+page.svelte
  web/src/routes/sentry-example-page/+server.js
  web/src/routes/sitemap.xml/+server.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

chore: improve build speed but dont use mold always
  .cargo/config.toml
  Cargo.toml
Due: cargo-audit

feat: in dev, use xdg directory for cache
  src/pull.rs
Due: rust-fmt, rust-clippy, rust-test

fix: require 5 consecutive inactive fixes before completing flight
  src/flight_tracker/mod.rs
  src/flight_tracker/state_transitions.rs
Due: rust-fmt, rust-clippy, rust-test

feat: restore club linking via aircraft_registrations
  migrations/2025-10-19-031720-0000_add_club_id_to_aircraft_registrations/down.sql
  migrations/2025-10-19-031720-0000_add_club_id_to_aircraft_registrations/up.sql
  src/aircraft_registrations.rs
  src/aircraft_registrations_repo.rs
  src/devices.rs
  src/loader.rs
  src/main.rs
  src/pull.rs
  src/schema.rs
Due: rust-fmt, rust-clippy, rust-test

refactor: remove created_at, updated_at, and raw_data from receiver_statuses
  Cargo.toml
  migrations/2025-10-19-034322-0000_remove_fields_from_receiver_statuses/down.sql
  migrations/2025-10-19-034322-0000_remove_fields_from_receiver_statuses/up.sql
  src/packet_processors/receiver_status.rs
  src/receiver_statuses.rs
  src/schema.rs
Due: rust-fmt, rust-clippy, rust-test, cargo-audit

update dependencies
  Cargo.lock
Due: cargo-audit

fix: password reset response format and improve flights UI
  src/actions/auth.rs
  web/src/routes/flights/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

feat: add pagination and accurate counts to flights page
  src/actions/flights.rs
  src/flights_repo.rs
  web/src/routes/flights/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

fix: appbar layout
  web/src/routes/+layout.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

docs: add Photon geocoding server deployment guide
  docs/install-photon.sh
  docs/photon-deployment.md
  docs/photon.service
Due: none

refactor: switch Photon logging from files to journald
  docs/install-photon.sh
  docs/photon-deployment.md
  docs/photon.service
Due: none

fix: remove timeout from pull-data service
  soar-pull-data.service
Due: none

feat: add registration canonicalization and fix deployment timer handling
  deploy
  src/aircraft_registrations.rs
Due: rust-fmt, rust-clippy, rust-test

perf: optimize aircraft registration import with batch processing
  src/aircraft_registrations_repo.rs
Due: rust-fmt, rust-clippy, rust-test

refactor: remove unnecessary location cache from aircraft import
  src/aircraft_registrations_repo.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add script to load devices from unified FlarmNet database
  load-devices.sh
Due: none

perf: implement true batch operations for aircraft import
  src/aircraft_registrations_repo.rs
Due: rust-fmt, rust-clippy, rust-test

Path conditions:
  web-install-deps: any of: ^web/(package\.json|package-lock\.json)$
  web-format: any of: ^web/.*\.(js|ts|svelte)$
  web-lint: any of: ^web/.*\.(js|ts|svelte)$
  web-type-check: any of: ^web/.*\.(js|ts|svelte)$
  web-test: any of: ^web/.*\.(js|ts|svelte)$
  web-build: any of: ^web/.*\.(js|ts|svelte)$
  rust-fmt: any of: \.rs$
  rust-clippy: any of: \.rs$
  rust-test: any of: \.rs$
  cargo-audit: any of: ^(Cargo\.toml|Cargo\.lock)$
