Repository hut8/soar: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-install-deps, web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test, cargo-audit

web-install-deps:
  name: Install web dependencies
  entry: bash -c 'cd web && npm ci'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-format:
  name: Auto-fix web formatting (Prettier)
  entry: bash -c 'cd web && npm run format'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-lint:
  name: Run web linter (ESLint + Prettier check)
  entry: bash -c 'cd web && npm run lint'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-type-check:
  name: Run web type checking
  entry: bash -c 'cd web && npm run check'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-test:
  name: Run web tests (Playwright E2E)
  entry: bash -c 'cd web && npm test'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

web-build:
  name: Build web project
  entry: bash -c 'cd web && npm run build'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

rust-fmt:
  name: Auto-fix Rust formatting
  entry: cargo fmt
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

rust-clippy:
  name: Run Clippy
  entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo clippy --all-targets --all-features -- -D warnings'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

rust-test:
  name: Run Rust tests
  entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo test'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

cargo-audit:
  name: Run security audit
  entry: cargo audit
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

fix: improve APRS ingest stability and metrics
  infrastructure/grafana-dashboard-aprs-ingest.json
  src/aprs_client.rs
  src/aprs_jetstream_publisher.rs
  src/metrics.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add JetStream reconnection logic to ingest-aprs and run
  soar-aprs-ingest.service
  soar-run.service
  soar-web.service
  src/commands/ingest_aprs.rs
  src/commands/run.rs
Due: rust-fmt, rust-clippy, rust-test

fix: use data-value selector for Club search type to avoid navigation conflict
  web/e2e/devices/device-detail.test.ts-snapshots/device-detail-not-found-chromium-linux.png
  web/e2e/devices/device-list.test.ts
  web/e2e/devices/device-list.test.ts-snapshots/device-card-chromium-linux.png
  web/e2e/devices/device-list.test.ts-snapshots/device-search-error-empty-chromium-linux.png
Due: web-format, web-lint, web-type-check, web-test, web-build

feat: add Wants=nats-server.service to all soar services
  soar-aprs-ingest.service
  soar-run.service
  soar-web.service
Due: none

fix: use received_at instead of timestamp for fixes archival
  src/commands/archive/fixes.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add email reporting to archive command with analytics
  soar-archive.service
  src/archive_email_reporter.rs
  src/commands/archive/archiver.rs
  src/commands/archive/mod.rs
  src/lib.rs
  src/main.rs
Due: rust-fmt, rust-clippy, rust-test

perf: use received_at instead of timestamp for all fixes queries
  src/fixes_repo.rs
  src/flights_repo.rs
Due: rust-fmt, rust-clippy, rust-test

perf: fix all remaining timestamp queries for partition pruning
  src/commands/archive/fixes.rs
  src/device_repo.rs
  src/fixes_repo.rs
  src/flights_repo.rs
Due: rust-fmt, rust-clippy, rust-test

refactor: change flight landing logs from info to debug level
  src/flight_tracker/state_transitions.rs
Due: rust-fmt, rust-clippy, rust-test

feat: optimize make-worktree script with background builds and better UX
  .gitignore
  make-worktree
Due: none

perf: parallelize archive operations for faster execution
  src/commands/archive/mod.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add sccache detection and warning in make-worktree
  make-worktree
Due: none

refactor: simplify Docker Compose setup and add --update-snapshots flag
  docker-compose.dev.yml
  docker-compose.yml
  scripts/run-acceptance-tests
Due: none

fix: remove incorrect 30-second timeout wrapper from APRS connection loop
  src/aprs_client.rs
Due: rust-fmt, rust-clippy, rust-test

fix: configure PostgreSQL replication authentication for backups
  docs/BACKUP-QUICKSTART.md
  docs/DB-BACKUPS.md
Due: none

feat: add Sentry notifications to backup scripts
  backup-env.example
  scripts/backup/backup-verify
  scripts/backup/base-backup
Due: none

fix: improve E2E test reliability and CI artifact collection
  .github/workflows/ci.yml
  web/e2e/devices/device-list.test.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

perf: remove blocking flush and improve archive organization
  src/archive_service.rs
Due: rust-fmt, rust-clippy, rust-test

chore: reduce verbosity of routine flight tracking logs
  src/flight_tracker/flight_lifecycle.rs
  src/flight_tracker/state_transitions.rs
Due: rust-fmt, rust-clippy, rust-test

perf: optimize partition scan for oldest date queries
  src/commands/archive/aprs_messages.rs
  src/commands/archive/fixes.rs
  src/commands/archive/receiver_statuses.rs
Due: rust-fmt, rust-clippy, rust-test

fix: remove conflicting unique index on devices.address
  migrations/2025-11-16-032805-0000_remove_conflicting_devices_address_index/down.sql
  migrations/2025-11-16-032805-0000_remove_conflicting_devices_address_index/up.sql
Due: none

feat: add analytics API with Prometheus metrics and Grafana dashboard
  CLAUDE.md
  infrastructure/grafana-dashboard-analytics.json
  migrations/2025-11-16-015418-0000_create_analytics_tables/up.sql
  src/actions/analytics.rs
  src/actions/mod.rs
  src/analytics.rs
  src/analytics_cache.rs
  src/analytics_repo.rs
  src/lib.rs
  src/metrics.rs
  src/web.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add duplicate device address table to pull-data email
  src/commands/load_data/mod.rs
  src/email_reporter.rs
Due: rust-fmt, rust-clippy, rust-test

fix: correct Vite proxy port to match backend server port (61225)
  web/vite.config.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: replace panic-causing expect() with proper error logging in archive
  src/commands/archive/mod.rs
Due: rust-fmt, rust-clippy, rust-test

perf: make tokio-console optional via --enable-tokio-console flag
  src/main.rs
Due: rust-fmt, rust-clippy, rust-test

fix: update ON CONFLICT to use composite unique constraint and drop redundant fixes index
  migrations/2025-11-16-035017-0000_drop_redundant_fixes_device_id_index/down.sql
  migrations/2025-11-16-035017-0000_drop_redundant_fixes_device_id_index/up.sql
  src/device_repo.rs
  src/schema.rs
Due: rust-fmt, rust-clippy, rust-test

fix: add JWT_SECRET environment variable for E2E tests
  .github/workflows/ci.yml
Due: none

fix: deploy backup scripts and use multi-threaded zstd compression
  .github/workflows/ci.yml
  scripts/backup/base-backup
Due: none

fix: E2E test failures - device seeding, Mailpit hostname, and flaky loading test
  src/commands/seed_test_data.rs
  web/e2e/auth/login.test.ts
  web/e2e/auth/register.test.ts
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

fix: resolve infinite effect loop in flight detail page
  web/src/routes/flights/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

refactor: migrate analytics dashboard from Prometheus to PostgreSQL
  infrastructure/grafana-dashboard-analytics.json
Due: none

fix: resolve infinite effect loop with untrack in flight detail
  web/src/routes/flights/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

perf: optimize nearby flights rendering with viewport filtering and parallel fetching
  web/src/routes/flights/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

docs: clarify E2E tests run in CI
  web/e2e/README.md
Due: none

fix: correct backup-env.example and base-backup script issues
  backup-env.example
  scripts/backup/base-backup
Due: none

fix: correct zstd compression level in base-backup script
  backup-env.example
  scripts/backup/base-backup
Due: none

debug: add API query to device detail test to compare backend vs frontend
  web/e2e/devices/device-detail.test.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: use correct unique constraint (address_type, address) for device seeding
  src/commands/seed_test_data.rs
Due: rust-fmt, rust-clippy, rust-test

Path conditions:
  web-install-deps: any of: ^web/(package\.json|package-lock\.json)$
  web-format: any of: ^web/.*\.(js|ts|svelte)$
  web-lint: any of: ^web/.*\.(js|ts|svelte)$
  web-type-check: any of: ^web/.*\.(js|ts|svelte)$
  web-test: any of: ^web/.*\.(js|ts|svelte)$
  web-build: any of: ^web/.*\.(js|ts|svelte)$
  rust-fmt: any of: \.rs$
  rust-clippy: any of: \.rs$
  rust-test: any of: \.rs$
  cargo-audit: any of: ^(Cargo\.toml|Cargo\.lock)$
