Repository hut8/soar: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-install-deps, web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test, cargo-audit

web-install-deps:
  name: Install web dependencies
  entry: bash -c 'cd web && npm ci'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-format:
  name: Auto-fix web formatting (Prettier)
  entry: bash -c 'cd web && npm run format'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-lint:
  name: Run web linter (ESLint + Prettier check)
  entry: bash -c 'cd web && npm run lint'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-type-check:
  name: Run web type checking
  entry: bash -c 'cd web && npm run check'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-test:
  name: Run web tests (Playwright E2E)
  entry: bash -c 'cd web && npm test'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

web-build:
  name: Build web project
  entry: bash -c 'cd web && npm run build'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

rust-fmt:
  name: Auto-fix Rust formatting
  entry: cargo fmt
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

rust-clippy:
  name: Run Clippy
  entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo clippy --all-targets --all-features -- -D warnings'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

rust-test:
  name: Run Rust tests
  entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo test'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

cargo-audit:
  name: Run security audit
  entry: cargo audit
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

fix: use proper color-scheme CSS for Google Maps autocomplete dark mode
  web/src/routes/receivers/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: change aprs_messages.receiver_id foreign key to ON DELETE CASCADE
  migrations/2025-11-03-231124-0000_fix_aprs_messages_receiver_fk_constraint/down.sql
  migrations/2025-11-03-231124-0000_fix_aprs_messages_receiver_fk_constraint/up.sql
Due: none

feat: add VACUUM ANALYZE after each table archival
  src/commands/archive.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add bottom loading indicator bar
  web/src/lib/components/BottomLoadingBar.svelte
  web/src/routes/+layout.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

feat: add airports and receivers to sitemap generation
  src/commands/sitemap.rs
Due: rust-fmt, rust-clippy, rust-test

chore: upgrade Skeleton UI from v3 to v4
  web/package-lock.json
  web/package.json
  web/src/app.css
  web/src/lib/components/ClubSelector.svelte
  web/src/lib/components/WatchlistModal.svelte
  web/src/routes/+layout.svelte
  web/src/routes/airports/[id]/+page.svelte
  web/src/routes/clubs/+page.svelte
  web/src/routes/clubs/[id]/+page.svelte
  web/src/routes/devices/+page.svelte
  web/src/routes/devices/[id]/+page.svelte
  web/src/routes/receivers/[id]/+page.svelte
  web/tailwind.config.js
Due: web-install-deps, web-format, web-lint, web-type-check, web-test, web-build

feat: improve device labeling in receiver aggregate stats
  web/src/routes/receivers/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: resolve Skeleton v4 TypeScript errors in Combobox and AppBar
  web/src/lib/components/ClubSelector.svelte
  web/src/routes/+layout.svelte
  web/src/routes/airports/[id]/+page.svelte
  web/src/routes/clubs/+page.svelte
  web/src/routes/clubs/[id]/+page.svelte
  web/src/routes/devices/[id]/+page.svelte
  web/src/routes/receivers/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

style: change airport icons to orange on operations page
  web/src/routes/operations/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

feat: implement position fix window with time-based filtering
  src/actions/devices.rs
  web/src/lib/components/SettingsModal.svelte
  web/src/lib/services/FixFeed.ts
  web/src/routes/devices/[id]/+page.svelte
  web/src/routes/operations/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

feat: optimize bounding box query and add migrate subcommand
  COMPACT_INSTRUCTIONS.md
  infrastructure/soar-deploy
  migrations/2025-11-04-040220-0000_optimize_fixes_table_drop_redundant_add_geom/down.sql
  migrations/2025-11-04-040220-0000_optimize_fixes_table_drop_redundant_add_geom/up.sql
  migrations/2025-11-04-042950-0000_create_fixes_geom_index/down.sql
  migrations/2025-11-04-042950-0000_create_fixes_geom_index/up.sql
  src/device_repo.rs
  src/devices.rs
  src/fix_processor.rs
  src/fixes.rs
  src/fixes_repo.rs
  src/flight_tracker/aircraft_tracker.rs
  src/flight_tracker/flight_lifecycle.rs
  src/flight_tracker/mod.rs
  src/flight_tracker/runway.rs
  src/flight_tracker/state_transitions.rs
  src/flight_tracker/towing.rs
  src/flights.rs
  src/main.rs
  src/schema.rs
Due: rust-fmt, rust-clippy, rust-test

fix: restore Skeleton v4 theme and AppBar layout
  web/src/app.css
  web/src/routes/+layout.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

refactor: simplify positionFixWindow to use number instead of array
  web/src/lib/components/SettingsModal.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

refactor: improve deployment script for migrations
  infrastructure/soar-deploy
Due: none

refactor: rename geom column to location_geom for clarity
  COMPACT_INSTRUCTIONS.md
  migrations/2025-11-04-040220-0000_optimize_fixes_table_drop_redundant_add_geom/down.sql
  migrations/2025-11-04-040220-0000_optimize_fixes_table_drop_redundant_add_geom/up.sql
  migrations/2025-11-04-042950-0000_create_fixes_geom_index/down.sql
  migrations/2025-11-04-042950-0000_create_fixes_geom_index/up.sql
  src/fixes_repo.rs
Due: rust-fmt, rust-clippy, rust-test

fix: wrap WebSocket status indicator in AppBar.Headline
  web/src/routes/+layout.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: remove unnecessary su for migrations in deploy script
  infrastructure/soar-deploy
Due: none

feat: display airport ident as link in club search results
  src/actions/views/club.rs
  src/clubs.rs
  src/clubs_repo.rs
  web/src/lib/types/index.ts
  web/src/routes/clubs/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

refactor: optimize device fetches and fix dateline crossing
  src/fixes.rs
  src/fixes_repo.rs
  src/flight_tracker/flight_lifecycle.rs
  src/flight_tracker/runway.rs
  src/flight_tracker/state_transitions.rs
Due: rust-fmt, rust-clippy, rust-test

refactor: eliminate device fetch in complete_flight
  src/flight_tracker/flight_lifecycle.rs
  src/flight_tracker/state_transitions.rs
Due: rust-fmt, rust-clippy, rust-test

fix: add grid-flow-col to AppBar.Toolbar for horizontal layout
  web/src/routes/+layout.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: override AppBar.Toolbar with flexbox for horizontal layout
  web/src/routes/+layout.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: restore aircraft_type_ogn updates from APRS packets
  src/device_repo.rs
  src/fix_processor.rs
Due: rust-fmt, rust-clippy, rust-test

refactor: use DateTime<Utc> for 'after' parameter and improve trail updates
  src/actions/devices.rs
  web/src/lib/services/DeviceRegistry.ts
  web/src/lib/services/FixFeed.ts
  web/src/routes/devices/[id]/+page.svelte
  web/src/routes/operations/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

fix: run database migrations as soar user instead of root
  infrastructure/soar-deploy
Due: none

fix: load environment file when running migrations as soar user
  infrastructure/soar-deploy
Due: none

feat: enhance migration logging and retry indefinitely
  infrastructure/soar-deploy
  src/main.rs
Due: rust-fmt, rust-clippy, rust-test

feat: display pending migration SQL content before running
  infrastructure/soar-deploy
Due: none

fix: use proper grid-cols-[auto_1fr_auto] for AppBar.Toolbar
  web/src/routes/+layout.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

refactor: remove migrations directory from deployment package
  infrastructure/soar-deploy
Due: none

feat: add SQL query logging via Diesel instrumentation
  src/main.rs
Due: rust-fmt, rust-clippy, rust-test

fix: place AppBar.Trail in 3rd column with col-start-3
  web/src/routes/+layout.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: implement proper 3-column AppBar layout with centered status
  web/src/routes/+layout.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

refactor: only enable query logging for migrate command
  src/main.rs
Due: rust-fmt, rust-clippy, rust-test

docs: add note to push with -u when committing
  CLAUDE.md
Due: none

perf: improve fix processing performance and remove AGL backfill
  src/agl_backfill.rs
  src/commands/run.rs
  src/fix_processor.rs
  src/fixes_repo.rs
  src/lib.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add JetStream processing lag metric and update dashboard
  infrastructure/grafana-dashboard-run.json
  src/commands/run.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add deduplication and reduce queue sizes (phase 1)
  Cargo.lock
  Cargo.toml
  migrations/2025-11-04-212029-0000_add_aprs_messages_deduplication/down.sql
  migrations/2025-11-04-212029-0000_add_aprs_messages_deduplication/up.sql
  migrations/2025-11-04-212102-0000_add_fixes_deduplication/down.sql
  migrations/2025-11-04-212102-0000_add_fixes_deduplication/up.sql
  src/aprs_messages_repo.rs
  src/commands/archive.rs
  src/fixes_repo.rs
  src/packet_processors/generic.rs
  src/queue_config.rs
  src/schema.rs
Due: rust-fmt, rust-clippy, rust-test, cargo-audit

feat: move JetStream ACK to after worker processing (phase 2)
  src/aprs_jetstream_consumer.rs
  src/commands/run.rs
  src/packet_processors/generic.rs
  src/packet_processors/router.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add granular timing metrics for aircraft position processing
  src/fix_processor.rs
  src/metrics.rs
Due: rust-fmt, rust-clippy, rust-test

Path conditions:
  web-install-deps: any of: ^web/(package\.json|package-lock\.json)$
  web-format: any of: ^web/.*\.(js|ts|svelte)$
  web-lint: any of: ^web/.*\.(js|ts|svelte)$
  web-type-check: any of: ^web/.*\.(js|ts|svelte)$
  web-test: any of: ^web/.*\.(js|ts|svelte)$
  web-build: any of: ^web/.*\.(js|ts|svelte)$
  rust-fmt: any of: \.rs$
  rust-clippy: any of: \.rs$
  rust-test: any of: \.rs$
  cargo-audit: any of: ^(Cargo\.toml|Cargo\.lock)$
