Repository hut8/soar: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-install-deps, web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test, cargo-audit

.pre-commit-config.yaml:

repos:
  # Frontend/SvelteKit checks (matching CI test-sveltekit job)
  - repo: local
    hooks:
      - id: web-install-deps
        name: Install web dependencies
        entry: bash -c 'cd web && npm ci'
        language: system
        files: ^web/(package\.json|package-lock\.json)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

      - id: web-format
        name: Auto-fix web formatting (Prettier)
        entry: bash -c 'cd web && npm run format'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

      - id: web-lint
        name: Run web linter (ESLint + Prettier check)
        entry: bash -c 'cd web && npm run lint'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

      - id: web-type-check
        name: Run web type checking
        entry: bash -c 'cd web && npm run check'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

      - id: web-test
        name: Run web tests (Playwright E2E)
        entry: bash -c 'cd web && npm test'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-push, manual]

      - id: web-build
        name: Build web project
        entry: bash -c 'cd web && npm run build'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-push, manual]

  # Rust formatting (matching CI check)
  - repo: local
    hooks:
      - id: rust-fmt
        name: Auto-fix Rust formatting
        entry: cargo fmt
        language: system
        files: \.rs$
        pass_filenames: false
        stages: [pre-commit, pre-push]

  # Rust linting (matching CI clippy check)
  - repo: local
    hooks:
      - id: rust-clippy
        name: Run Clippy
        entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo clippy --all-targets --all-features -- -D warnings'
        language: system
        files: \.rs$
        pass_filenames: false
        stages: [pre-commit, pre-push]

  # Rust tests (matching CI test run)
  - repo: local
    hooks:
      - id: rust-test
        name: Run Rust tests
        entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo test'
        language: system
        files: \.rs$
        pass_filenames: false
        stages: [pre-push, manual]

  # Security audit (matching CI security-audit job)
  - repo: local
    hooks:
      - id: cargo-audit
        name: Run security audit
        entry: cargo audit
        language: system
        files: ^(Cargo\.toml|Cargo\.lock)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
        stages: [pre-commit, pre-push]
      - id: end-of-file-fixer
        stages: [pre-commit, pre-push]
      - id: check-yaml
        stages: [pre-commit, pre-push]
      - id: check-toml
        stages: [pre-commit, pre-push]
      - id: check-json
        stages: [pre-commit, pre-push]
      - id: check-merge-conflict
        stages: [pre-commit, pre-push]
      - id: check-added-large-files
        args: ["--maxkb=1000"]
        stages: [pre-commit, pre-push]

# Performance optimizations
default_stages: [pre-commit]
fail_fast: false

# CI configuration
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit.com hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ""
  autoupdate_commit_msg: "[pre-commit.ci] pre-commit autoupdate"
  autoupdate_schedule: weekly
  skip: []
  submodules: false

feat: improve flight details page and fix aircraft modal data loading
  web/src/lib/components/AircraftStatusModal.svelte
  web/src/routes/flights/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

feat: improve flights list and spurious flight detection
  src/flight_tracker.rs
  web/src/routes/flights/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

feat: improve device address search layout on desktop
  web/src/routes/devices/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: improve visibility of aircraft labels on operations page
  web/src/routes/operations/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

feat: improve aircraft status modal layout and add AGL altitude
  web/src/lib/components/AircraftStatusModal.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: remove inline color overrides for aircraft labels
  web/src/routes/operations/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: remove debug symbols from release binary
  Cargo.toml
Due: cargo-audit

feat: configure Sentry debug symbol upload
  .github/workflows/release.yml
  Cargo.toml
  Dockerfile
  docs/sentry-debug-symbols.md
  scripts/upload-debug-symbols.sh
Due: cargo-audit

feat: add automated release script
  docs/release-process.md
  release
Due: none

feat: add runways_inferred field and improve outlanding detection
  migrations/2025-10-09-010511-0000_add_runways_inferred_to_flights/down.sql
  migrations/2025-10-09-010511-0000_add_runways_inferred_to_flights/up.sql
  src/flight_tracker.rs
  src/flights.rs
  src/flights_repo.rs
  src/schema.rs
  web/src/routes/flights/[id]/+page.svelte
  web/src/routes/receivers/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

fix: use device UUID in links and remove status/updated columns
  web/src/routes/devices/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

chore: update Skeleton UI component variants and add TODO
  TODO.md
  web/src/lib/components/AircraftStatusModal.svelte
  web/src/lib/components/AirportModal.svelte
  web/src/lib/components/ClubSelector.svelte
  web/src/lib/components/SettingsModal.svelte
  web/src/lib/components/WatchlistModal.svelte
  web/src/routes/+layout.svelte
  web/src/routes/airports/+page.svelte
  web/src/routes/airports/[id]/+page.svelte
  web/src/routes/clubs/+page.svelte
  web/src/routes/clubs/[id]/+page.svelte
  web/src/routes/flights/+page.svelte
  web/src/routes/forgot-password/+page.svelte
  web/src/routes/login/+page.svelte
  web/src/routes/profile/+page.svelte
  web/src/routes/receivers/[id]/+page.svelte
  web/src/routes/register/+page.svelte
  web/src/routes/reset-password/+page.svelte
  web/src/routes/verify-email/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

docs: add email verification re-send to TODO
  TODO.md
Due: none

docs: add average time between status updates to TODO
  TODO.md
Due: none

docs: add climb column fix to TODO
  TODO.md
Due: none

feat: populate club_id in fixes from device aircraft registration
  src/fixes_repo.rs
Due: rust-fmt, rust-clippy, rust-test

docs: remove completed club_id population from TODO
  TODO.md
Due: none

fix: improve pagination layout on mobile for flight details page
  web/src/routes/flights/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: clean up release directory before creating in CI
  .github/workflows/release.yml
Due: none

chore: bump version to 0.1.1
  Cargo.lock
  Cargo.toml
  web/package-lock.json
  web/package.json
Due: web-install-deps, cargo-audit

feat: require AGL altitude < 250ft for landing detection
  src/flight_tracker.rs
Due: rust-fmt, rust-clippy, rust-test

chore: bump version to 0.1.2
  Cargo.lock
  Cargo.toml
  web/package-lock.json
  web/package.json
Due: web-install-deps, cargo-audit

fix: resolve Docker build issues and improve security
  .github/workflows/release.yml
  Dockerfile
Due: none

feat: add recent flights list to airport detail page
  src/actions/flights.rs
  src/flights_repo.rs
  src/web.rs
  web/src/routes/airports/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

fix: simplify release workflow and add Sentry integration
  .github/workflows/release.yml
  Dockerfile
Due: none

refactor: migrate Skeleton UI class names from v2 to v3
  web/src/lib/components/AircraftStatusModal.svelte
  web/src/lib/components/AirportModal.svelte
  web/src/lib/components/SettingsModal.svelte
  web/src/lib/components/WatchlistModal.svelte
  web/src/routes/+layout.svelte
  web/src/routes/airports/+page.svelte
  web/src/routes/airports/[id]/+page.svelte
  web/src/routes/clubs/+page.svelte
  web/src/routes/clubs/[id]/+page.svelte
  web/src/routes/devices/[id]/+page.svelte
  web/src/routes/flights/+page.svelte
  web/src/routes/profile/+page.svelte
  web/src/routes/receivers/[id]/+page.svelte
  web/src/routes/verify-email/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

feat: fix email verification error message display on login
  TODO.md
  web/src/lib/api/server.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

feat: add receiver statistics endpoint with average update interval
  src/actions/receivers.rs
  src/receiver_status_repo.rs
  src/web.rs
  web/src/routes/receivers/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

fix: extract climb_rate from OGN APRS packets
  src/fixes.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add Tow/Tug badge on clubs page for tow aircraft
  src/actions/aircraft.rs
  src/actions/views/aircraft.rs
  web/src/routes/clubs/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

fix: cast AVG result to double precision in receiver statistics query
  src/receiver_status_repo.rs
Due: rust-fmt, rust-clippy, rust-test

feat: rename altitude_feet to altitude_msl_feet for clarity
  migrations/2025-10-09-191842-0000_rename_altitude_to_altitude_msl_feet/down.sql
  migrations/2025-10-09-191842-0000_rename_altitude_to_altitude_msl_feet/up.sql
  src/fixes.rs
  src/fixes_repo.rs
  src/flight_tracker.rs
  src/flights.rs
  src/live_fixes.rs
  src/schema.rs
Due: rust-fmt, rust-clippy, rust-test

feat: update frontend to use altitude_msl_feet and altitude_agl_feet
  web/src/lib/components/AircraftStatusModal.svelte
  web/src/lib/services/FixFeed.ts
  web/src/lib/types/index.ts
  web/src/routes/devices/[id]/+page.svelte
  web/src/routes/flights/[id]/+page.svelte
  web/src/routes/flights/[id]/+page.ts
  web/src/routes/operations/+page.svelte
  web/src/routes/receivers/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: clean release directory before creating binary archive
  .github/workflows/ci.yml
Due: none

feat: add aircraft info to flights list and fix dots to map
  src/actions/flights.rs
  src/actions/views/flight.rs
  web/src/routes/flights/+page.svelte
  web/src/routes/flights/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

fix: update ogn-parser to fix climb_fpm parsing
  Cargo.lock
Due: cargo-audit

docs: update TODO - remove completed items
  TODO.md
Due: none

feat: improve aircraft display on clubs page
  web/src/routes/clubs/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

feat: set flight track map to satellite view by default
  web/src/routes/flights/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: add custom serializer for via field in CSV export
  src/fixes.rs
Due: rust-fmt, rust-clippy, rust-test
