Repository hut8/soar: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-install-deps, web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test, cargo-audit

web-install-deps:
  name: Install web dependencies
  entry: bash -c 'cd web && npm ci'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-format:
  name: Auto-fix web formatting (Prettier)
  entry: bash -c 'cd web && npm run format'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-lint:
  name: Run web linter (ESLint + Prettier check)
  entry: bash -c 'cd web && npm run lint'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-type-check:
  name: Run web type checking
  entry: bash -c 'cd web && npm run check'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-test:
  name: Run web tests (Playwright E2E)
  entry: bash -c 'cd web && npm test'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

web-build:
  name: Build web project
  entry: bash -c 'cd web && npm run build'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

rust-fmt:
  name: Auto-fix Rust formatting
  entry: cargo fmt
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

rust-clippy:
  name: Run Clippy
  entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo clippy --all-targets --all-features -- -D warnings'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

rust-test:
  name: Run Rust tests
  entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo test'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

cargo-audit:
  name: Run security audit
  entry: cargo audit
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

Add robust E2E test for watchlist authorization fix
  web/e2e/watchlist/watchlist-load.test.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

feat: separate Grafana alerts by environment and adjust repeat intervals
  infrastructure/GRAFANA-ALERTING.md
  infrastructure/grafana-provisioning/alerting/alert-rules-production.yml
  infrastructure/grafana-provisioning/alerting/alert-rules-staging.yml
  infrastructure/grafana-provisioning/alerting/notification-policies.yml
  infrastructure/soar-deploy
Due: none

fix: add RCLONE_CONFIG to backup-env.example to fix Wasabi backup failures
  infrastructure/examples/backup-env.example
Due: none

fix: make ingest-ogn exit immediately on Ctrl+C/SIGTERM
  src/aprs_client.rs
Due: rust-fmt, rust-clippy, rust-test

fix: resolve Grafana alert datasource and evaluation format issues
  infrastructure/grafana-provisioning/alerting/alert-rules-production.yml
  infrastructure/grafana-provisioning/alerting/alert-rules-staging.yml
  infrastructure/grafana-provisioning/datasources/prometheus.yml
Due: none

feat: add Grafana datasource validation to soar-deploy
  infrastructure/soar-deploy
Due: none

feat: add PostgreSQL application_name to identify connections by service
  src/main.rs
Due: rust-fmt, rust-clippy, rust-test

fix: add Grafana datasource provisioning to soar-deploy
  infrastructure/soar-deploy
Due: none

refactor: disable Photon geocoding and add trait interfaces
  .env.example
  src/flight_tracker/location.rs
  src/geocoding/google_maps.rs
  src/geocoding/mod.rs
  src/geocoding/nominatim.rs
  src/geocoding/pelias.rs
  src/geocoding/photon.rs
Due: rust-fmt, rust-clippy, rust-test

refactor: use trait objects for geocoding client polymorphism
  src/geocoding/google_maps.rs
  src/geocoding/mod.rs
  src/geocoding/nominatim.rs
Due: rust-fmt, rust-clippy, rust-test

refactor: remove background processor, switch flight tracking to Pelias
  src/flight_location_processor.rs
  src/flight_tracker/location.rs
  src/flights.rs
  src/geocoding/mod.rs
Due: rust-fmt, rust-clippy, rust-test

refactor: update batch geocoding to use new_batch_geocoding() constructor
  src/commands/load_data/mod.rs
  src/commands/load_data/receiver_geocoding.rs
  src/geocoding/mod.rs
Due: rust-fmt, rust-clippy, rust-test

fix: Grafana datasource provisioning requires .yaml extension
  infrastructure/grafana-provisioning/datasources/prometheus.yaml
  infrastructure/soar-deploy
Due: none

fix: use lowercase 'prometheus' datasource UID in alert rules
  infrastructure/grafana-provisioning/alerting/alert-rules.yml
Due: none

refactor: switch Pelias provisioning from OpenSearch to Elasticsearch 8
  scripts/provision-pelias
Due: none

perf: use rsync with compression for faster deployment uploads
  .github/workflows/ci.yml
Due: none

fix: correct OGN ingest Grafana dashboard naming and metrics
  infrastructure/grafana-dashboard-ingest-ogn.json
Due: none

feat: rename aircraft columns and add ADS-B Exchange tracking
  data/aircraft-type-designators.pdf
  data/aircraft-types-icao-iata.json
  migrations/2025-12-23-220344-0000_add_icao_type_and_owner_to_aircraft/down.sql
  migrations/2025-12-23-220344-0000_add_icao_type_and_owner_to_aircraft/up.sql
  migrations/2025-12-24-035959-0000_add_adsb_aircraft_type_fields/down.sql
  migrations/2025-12-24-035959-0000_add_adsb_aircraft_type_fields/up.sql
  migrations/2025-12-24-041517-0000_add_aircraft_types_table/down.sql
  migrations/2025-12-24-041517-0000_add_aircraft_types_table/up.sql
  migrations/2025-12-24-044403-0000_rename_adsb_columns_and_add_tracking/down.sql
  migrations/2025-12-24-044403-0000_rename_adsb_columns_and_add_tracking/up.sql
  src/actions/views/aircraft.rs
  src/aircraft.rs
  src/aircraft_repo.rs
  src/aircraft_types.rs
  src/commands/load_data/adsb_exchange.rs
  src/commands/load_data/aircraft_registrations.rs
  src/commands/load_data/aircraft_types.rs
  src/commands/load_data/mod.rs
  src/commands/pull_data.rs
  src/commands/seed_test_data.rs
  src/fixes_repo.rs
  src/main.rs
  src/schema.rs
Due: rust-fmt, rust-clippy, rust-test

docs: correct references to ICAO description instead of type designator
  migrations/2025-12-23-220344-0000_add_icao_type_and_owner_to_aircraft/up.sql
  migrations/2025-12-24-035959-0000_add_adsb_aircraft_type_fields/up.sql
  src/aircraft_types.rs
Due: rust-fmt, rust-clippy, rust-test

fix: handle null values and time gaps in flight profile graph
  web/src/lib/components/FlightProfile.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

refactor: consolidate migrations and use existing icao_model_code column
  migrations/2025-12-23-220344-0000_add_icao_type_and_owner_to_aircraft/down.sql
  migrations/2025-12-23-220344-0000_add_icao_type_and_owner_to_aircraft/up.sql
  migrations/2025-12-24-035959-0000_add_adsb_aircraft_type_fields/down.sql
  migrations/2025-12-24-035959-0000_add_adsb_aircraft_type_fields/up.sql
  migrations/2025-12-24-044403-0000_rename_adsb_columns_and_add_tracking/down.sql
  migrations/2025-12-24-044403-0000_rename_adsb_columns_and_add_tracking/up.sql
  migrations/2025-12-24-064710-0000_add_icao_model_code_constraint/down.sql
  migrations/2025-12-24-064710-0000_add_icao_model_code_constraint/up.sql
  src/aircraft.rs
  src/aircraft_repo.rs
  src/commands/load_data/adsb_exchange.rs
  src/fixes_repo.rs
  src/schema.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add from_adsbx_ddb field to AircraftView
  src/actions/views/aircraft.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add year and is_military columns to aircraft table
  migrations/2025-12-24-070945-0000_add_year_and_military_to_aircraft/down.sql
  migrations/2025-12-24-070945-0000_add_year_and_military_to_aircraft/up.sql
  src/aircraft.rs
  src/aircraft_repo.rs
  src/commands/load_data/adsb_exchange.rs
  src/commands/load_data/aircraft_registrations.rs
  src/commands/load_data/aircraft_types.rs
  src/commands/load_data/mod.rs
  src/commands/pull_data.rs
  src/fixes_repo.rs
  src/main.rs
  src/schema.rs
Due: rust-fmt, rust-clippy, rust-test

feat: populate aircraft_model from ADS-B Exchange manufacturer and model
  src/commands/load_data/adsb_exchange.rs
Due: rust-fmt, rust-clippy, rust-test

refactor: remove redundant serde rename attributes
  src/commands/load_data/adsb_exchange.rs
Due: rust-fmt, rust-clippy, rust-test

fix: validate ICAO model code length from APRS packets
  src/fix_processor.rs
Due: rust-fmt, rust-clippy, rust-test

feat: populate aircraft_model from APRS packet model field
  src/aircraft_repo.rs
  src/fix_processor.rs
Due: rust-fmt, rust-clippy, rust-test

fix: detect landing when aircraft descends out of range with long gap
  scripts/dump-flight-messages
  src/flight_tracker/state_transitions.rs
  tests/data/flights/descended-out-of-range-while-landing-then-took-off-hours-later.txt
  tests/flight_detection_test.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add on-demand S3 elevation tile downloading
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  src/elevation/service.rs
  src/fix_processor.rs
Due: rust-fmt, rust-clippy, rust-test, cargo-audit

fix: correct timestamp formatting in dump-flight-messages script
  scripts/dump-flight-messages
  tests/data/flights/descended-out-of-range-while-landing-then-took-off-hours-later.txt
Due: none

debug: fix schema import - use aircraft table instead of devices
  tests/flight_detection_test.rs
Due: rust-fmt, rust-clippy, rust-test

fix: add elevation service to FixProcessor in test
  tests/flight_detection_test.rs
Due: rust-fmt, rust-clippy, rust-test

perf: optimize operations page load by removing initial fix queries
  src/actions/devices.rs
  src/actions/views/aircraft.rs
  web/src/lib/services/AircraftRegistry.ts
  web/src/routes/operations/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

debug: add tracing and check total flights count
  tests/flight_detection_test.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add current flight link and watchlist toggle to aircraft status modal
  web/src/lib/components/AircraftStatusModal.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

debug: show flight timestamps to diagnose time range issue
  tests/flight_detection_test.rs
Due: rust-fmt, rust-clippy, rust-test

fix: simplify test to check total flight count
  tests/flight_detection_test.rs
Due: rust-fmt, rust-clippy, rust-test

fix: detect landing+takeoff when large gap + climbing
  src/flight_tracker/state_transitions.rs
Due: rust-fmt, rust-clippy, rust-test

fix: preserve OGN DDB flags and registration in aircraft records
  schema.sql
  src/actions/views/aircraft.rs
  src/aircraft.rs
  src/aircraft_repo.rs
  src/schema.rs
  web/package-lock.json
Due: web-install-deps, rust-fmt, rust-clippy, rust-test

Potential fix for code scanning alert no. 13: Failure to use HTTPS URLs
  src/commands/pull_data.rs
Due: rust-fmt, rust-clippy, rust-test

Path conditions:
  web-install-deps: any of: ^web/(package\.json|package-lock\.json)$
  web-format: any of: ^web/.*\.(js|ts|svelte)$
  web-lint: any of: ^web/.*\.(js|ts|svelte)$
  web-type-check: any of: ^web/.*\.(js|ts|svelte)$
  web-test: any of: ^web/.*\.(js|ts|svelte)$
  web-build: any of: ^web/.*\.(js|ts|svelte)$
  rust-fmt: any of: \.rs$
  rust-clippy: any of: \.rs$
  rust-test: any of: \.rs$
  cargo-audit: any of: ^(Cargo\.toml|Cargo\.lock)$
