Repository hut8/soar: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-install-deps, web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test, cargo-audit

.pre-commit-config.yaml:

repos:
  # Frontend/SvelteKit checks (matching CI test-sveltekit job)
  - repo: local
    hooks:
      - id: web-install-deps
        name: Install web dependencies
        entry: bash -c 'cd web && npm ci'
        language: system
        files: ^web/(package\.json|package-lock\.json)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

      - id: web-format
        name: Auto-fix web formatting (Prettier)
        entry: bash -c 'cd web && npm run format'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

      - id: web-lint
        name: Run web linter (ESLint + Prettier check)
        entry: bash -c 'cd web && npm run lint'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

      - id: web-type-check
        name: Run web type checking
        entry: bash -c 'cd web && npm run check'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

      - id: web-test
        name: Run web tests (Playwright E2E)
        entry: bash -c 'cd web && npm test'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-push, manual]

      - id: web-build
        name: Build web project
        entry: bash -c 'cd web && npm run build'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-push, manual]

  # Rust formatting (matching CI check)
  - repo: local
    hooks:
      - id: rust-fmt
        name: Auto-fix Rust formatting
        entry: cargo fmt
        language: system
        files: \.rs$
        pass_filenames: false
        stages: [pre-commit, pre-push]

  # Rust linting (matching CI clippy check)
  - repo: local
    hooks:
      - id: rust-clippy
        name: Run Clippy
        entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo clippy --all-targets --all-features -- -D warnings'
        language: system
        files: \.rs$
        pass_filenames: false
        stages: [pre-commit, pre-push]

  # Rust tests (matching CI test run)
  - repo: local
    hooks:
      - id: rust-test
        name: Run Rust tests
        entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo test'
        language: system
        files: \.rs$
        pass_filenames: false
        stages: [pre-push, manual]

  # Security audit (matching CI security-audit job)
  - repo: local
    hooks:
      - id: cargo-audit
        name: Run security audit
        entry: cargo audit
        language: system
        files: ^(Cargo\.toml|Cargo\.lock)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
        stages: [pre-commit, pre-push]
      - id: end-of-file-fixer
        stages: [pre-commit, pre-push]
      - id: check-yaml
        stages: [pre-commit, pre-push]
      - id: check-toml
        stages: [pre-commit, pre-push]
      - id: check-json
        stages: [pre-commit, pre-push]
      - id: check-merge-conflict
        stages: [pre-commit, pre-push]
      - id: check-added-large-files
        args: ["--maxkb=1000"]
        stages: [pre-commit, pre-push]

# Performance optimizations
default_stages: [pre-commit]
fail_fast: false

# CI configuration
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit.com hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ""
  autoupdate_commit_msg: "[pre-commit.ci] pre-commit autoupdate"
  autoupdate_schedule: weekly
  skip: []
  submodules: false

feat: add advanced filtering to coverage map
  web/src/routes/receivers/coverage/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

debug: add AGL logging to flight detection tests
  tests/flight_detection_test.rs
Due: rust-fmt, rust-clippy, rust-test

fix: skip flight detection tests when AGL data unavailable
  tests/flight_detection_test.rs
Due: rust-fmt, rust-clippy, rust-test

fix: add coverage aggregation service/timer to deployment scripts
  infrastructure/soar-deploy
  scripts/deploy
Due: none

fix: update test coordinates to use available elevation tiles
  tests/data/flights/no-active-fixes-should-not-create-flight.txt
  tests/flight_detection_test.rs
Due: rust-fmt, rust-clippy, rust-test

fix: use local test elevation data instead of S3
  tests/flight_detection_test.rs
Due: rust-fmt, rust-clippy, rust-test

Restore coverage page and add maplibre-gl dependency
  web/src/routes/receivers/coverage/+page.svelte
  web/src/routes/receivers/coverage/+page.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: make ADS-B Exchange NDJSON parser more robust
  src/commands/load_data/adsb_exchange.rs
Due: rust-fmt, rust-clippy, rust-test

refactor: use ELEVATION_DATA_PATH env var for test elevation data
  tests/flight_detection_test.rs
Due: rust-fmt, rust-clippy, rust-test

fix: use with_path() instead of env var for elevation service
  tests/flight_detection_test.rs
Due: rust-fmt, rust-clippy, rust-test

fix: add camelCase serialization to UserView
  src/actions/views/user.rs
Due: rust-fmt, rust-clippy, rust-test

fix: resolve strict mode violations in registration E2E tests
  web/e2e/auth/register.test.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: remove redundant /data prefix in coverage hexes API call
  web/src/routes/receivers/coverage/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: add camelCase deserialization to auth request types
  src/actions/views/auth.rs
  web/e2e/auth/register.test.ts-snapshots/register-error-password-mismatch-chromium-linux.png
  web/e2e/auth/register.test.ts-snapshots/register-error-password-short-chromium-linux.png
  web/e2e/auth/register.test.ts-snapshots/register-error-required-fields-chromium-linux.png
  web/e2e/auth/register.test.ts-snapshots/register-page-chromium-linux.png
Due: rust-fmt, rust-clippy, rust-test

fix: make with_path() async and enable S3 by default
  src/elevation/service.rs
  tests/elevation_test.rs
  tests/flight_detection_test.rs
Due: rust-fmt, rust-clippy, rust-test

fix: disable GPU in Playwright to prevent browser crashes
  web/playwright.config.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: configure nextest to run flight detection tests serially
  .config/nextest.toml
Due: none

fix: correct nextest filter to use binary() instead of test()
  .config/nextest.toml
Due: none

fix: use test-threads instead of threads-required in nextest config
  .config/nextest.toml
Due: none

fix: run all tests with single thread to prevent database interference
  .config/nextest.toml
Due: none

test: update register-error-email-exists screenshot
  web/e2e/auth/register.test.ts-snapshots/register-error-email-exists-chromium-linux.png
Due: none

fix: unwrap clubs API response in ClubSelector component
  web/src/lib/components/ClubSelector.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: convert coverage API to use camelCase consistently
  src/coverage.rs
  web/src/lib/types/index.ts
  web/src/routes/receivers/coverage/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

feat: enable parallel test execution with per-test database isolation
  .config/nextest.toml
  .github/workflows/ci.yml
  README.md
  scripts/setup-test-template.sh
  src/schema.rs
  tests/README.md
  tests/common/mod.rs
  tests/flight_detection_test.rs
  tests/pilot_invitation_workflow_test.rs
Due: rust-fmt, rust-clippy, rust-test

test: update registration page screenshot after ClubSelector fix
  web/e2e/auth/register.test.ts-snapshots/register-page-chromium-linux.png
Due: none

fix: prevent Grafana provisioning conflicts during deployment
  infrastructure/soar-deploy
Due: none

fix: improve receiver coverage map hexagon visibility and mobile legend
  web/src/routes/receivers/coverage/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

perf: parallelize coverage aggregation for massive speedup
  src/commands/aggregate_coverage.rs
Due: rust-fmt, rust-clippy, rust-test

fix: remove timeout from coverage aggregation service
  infrastructure/systemd/soar-aggregate-coverage-staging.service
  infrastructure/systemd/soar-aggregate-coverage.service
Due: none

feat: add aircraft limit safety mechanism to operations page
  web/src/routes/operations/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: correct circular references in Grafana alert rules
  infrastructure/grafana-provisioning/alerting/alert-rules-production.yml
  infrastructure/grafana-provisioning/alerting/alert-rules-staging.yml
Due: none

fix: serialize raw_messages_repo tests to prevent parallel execution conflicts
  src/raw_messages_repo.rs
Due: rust-fmt, rust-clippy, rust-test

perf: bulk upsert coverage data with UNNEST for 100x speedup
  src/coverage_repo.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add TimescaleDB installation to provision script
  scripts/provision
Due: none

docs: add comprehensive TimescaleDB migration plan
  TIMESCALEDB_MIGRATION_PLAN.md
Due: none

feat: add limit and total to aircraft bounding box endpoint
  src/actions/aircraft_search.rs
  src/actions/fixes.rs
  src/actions/mod.rs
  src/fixes_repo.rs
  web/src/lib/services/FixFeed.ts
  web/src/routes/operations/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

feat: migrate from pg_partman to TimescaleDB hypertables
  migrations/2025-12-27-025500-0000_convert_to_timescaledb/down.sql
  migrations/2025-12-27-025500-0000_convert_to_timescaledb/up.sql
Due: none
