Repository hut8/soar: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-install-deps, web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test, cargo-audit

web-install-deps:
  name: Install web dependencies
  entry: bash -c 'cd web && npm ci'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-format:
  name: Auto-fix web formatting (Prettier)
  entry: bash -c 'cd web && npm run format'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-lint:
  name: Run web linter (ESLint + Prettier check)
  entry: bash -c 'cd web && npm run lint'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-type-check:
  name: Run web type checking
  entry: bash -c 'cd web && npm run check'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-test:
  name: Run web tests (Playwright E2E)
  entry: bash -c 'cd web && npm test'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

web-build:
  name: Build web project
  entry: bash -c 'cd web && npm run build'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

rust-fmt:
  name: Auto-fix Rust formatting
  entry: cargo fmt
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

rust-clippy:
  name: Run Clippy
  entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo clippy --all-targets --all-features -- -D warnings'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

rust-test:
  name: Run Rust tests
  entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo test'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

cargo-audit:
  name: Run security audit
  entry: cargo audit
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

Filter debug logs from external packages in Loki export
  src/main.rs
Due: rust-fmt, rust-clippy, rust-test

Fix dashboard metrics and add SBS to data flow diagram
  CLAUDE.md
  README.md
  infrastructure/dashboards/definitions/ingest.json
  infrastructure/dashboards/panels/ingest/messages-sent-to-socket-per-minute.json
  infrastructure/dashboards/panels/ingest/socket-send-duration.json
  infrastructure/dashboards/panels/ingest/socket-send-errors.json
  infrastructure/dashboards/panels/run/packet-type-distribution.json
  infrastructure/dashboards/panels/run/router-processing-call-details.json
  infrastructure/dashboards/panels/run/router-processing.json
  infrastructure/grafana-dashboard-ingest.json
  infrastructure/grafana-dashboard-run.json
  infrastructure/soar-deploy
  src/aprs_client.rs
  src/beast/client.rs
  src/commands/ingest.rs
  src/sbs/client.rs
Due: rust-fmt, rust-clippy, rust-test

Bundle TimescaleDB GPG key to avoid packagecloud rate limits
  .dockerignore
  .github/postgis-timescaledb.Dockerfile
  .github/timescaledb.gpg
Due: none

Fix aircraft icon alignment with trail on operations map
  web/src/lib/services/markers/AircraftMarkerManager.ts
  web/src/routes/operations/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Add AR link to mobile navigation menu
  web/src/routes/+layout.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Improve AR page with multiple fixes
  web/src/lib/components/ar/ARControls.svelte
  web/src/lib/components/ar/CompassOverlay.svelte
  web/src/lib/components/ar/DirectionIndicator.svelte
  web/src/lib/services/arTracker.ts
  web/src/routes/+layout.svelte
  web/src/routes/ar/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Fix compass direction labels to rotate correctly
  web/src/lib/components/ar/CompassOverlay.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Adapt AR FOV settings based on portrait/landscape orientation
  web/src/routes/ar/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Publish PostgreSQL image to GHCR and use in CI
  .github/workflows/build-postgres-image.yml
  .github/workflows/ci.yml
Due: none

Address code review feedback for AR components
  web/src/lib/components/ar/ARControls.svelte
  web/src/lib/components/ar/DirectionIndicator.svelte
  web/src/lib/services/arTracker.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

Add fallback to build PostgreSQL image if GHCR pull fails
  .github/workflows/ci.yml
Due: none

Only send migration email when migrations are actually applied
  src/main.rs
Due: rust-fmt, rust-clippy, rust-test

Fix aircraft marker vertical positioning on operations map
  web/src/lib/services/markers/AircraftMarkerManager.ts
  web/src/routes/operations/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Consolidate aircraft position updates and simplify frontend fix handling
  src/actions/views/aircraft.rs
  src/aircraft_repo.rs
  src/commands/run.rs
  src/fix_processor.rs
  src/fixes_repo.rs
  src/main.rs
  src/metrics.rs
  web/src/lib/components/cesium/AircraftLayer.svelte
  web/src/lib/components/cesium/TimelineController.svelte
  web/src/lib/services/AircraftRegistry.ts
  web/src/lib/services/FixFeed.ts
  web/src/lib/services/markers/AircraftMarkerManager.ts
  web/src/lib/types/generated/Aircraft.ts
  web/src/lib/types/generated/AircraftView.ts
  web/src/routes/ar/+page.svelte
  web/src/routes/operations/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

Improve aircraft markers and fix status modal position display
  web/src/lib/components/AircraftStatusModal.svelte
  web/src/lib/services/markers/AircraftMarkerManager.ts
  web/src/routes/operations/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Improve operations UI and fix several bugs
  src/main.rs
  web/src/lib/components/FlightsList.svelte
  web/src/lib/services/markers/AircraftMarkerManager.ts
  web/src/routes/operations/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

Improve aircraft status modal UI with sticky header and enhanced layout
  web/src/lib/components/AircraftStatusModal.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Add debug format to raw message endpoint and fix message source types
  migrations/2026-01-19-000000-0000_fix_message_source_enum/down.sql
  migrations/2026-01-19-000000-0000_fix_message_source_enum/up.sql
  src/commands/run.rs
  src/raw_messages_repo.rs
  web/src/lib/components/FixesList.svelte
  web/src/lib/types/index.ts
  web/src/routes/receivers/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

Add debug format to raw message endpoint and fix message source types
  migrations/2026-01-19-000000-0000_fix_message_source_enum/down.sql
  migrations/2026-01-19-000000-0000_fix_message_source_enum/up.sql
  src/raw_messages_repo.rs
  web/src/lib/components/FixesList.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

Add firehose ingest service and fix Prometheus metrics
  infrastructure/prometheus.yml
  infrastructure/soar-deploy
  infrastructure/systemd/soar-ingest-firehose-staging.service
  infrastructure/systemd/soar-ingest.service
Due: none

Improve coverage map and operations page
  src/actions/coverage.rs
  src/commands/run_aggregates.rs
  src/coverage_repo.rs
  src/fix_processor.rs
  src/fixes.rs
  src/fixes_repo.rs
  src/live_fixes.rs
  src/nats_publisher.rs
  src/web.rs
  web/src/lib/components/AircraftStatusModal.svelte
  web/src/lib/components/HexSamplesModal.svelte
  web/src/lib/services/FixFeed.ts
  web/src/lib/types/index.ts
  web/src/lib/utils/mapStatePersistence.ts
  web/src/routes/+layout.svelte
  web/src/routes/operations/+page.svelte
  web/src/routes/receivers/coverage/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

Use scrape_config_files for Prometheus job loading
  infrastructure/prometheus-jobs/nats.yml
  infrastructure/prometheus.yml
Due: none

Remove deprecated prometheus-scrape-configs directory
  infrastructure/NATS-JETSTREAM-MONITORING.md
  infrastructure/grafana-dashboard-nats-jetstream.json.deprecated
  infrastructure/prometheus-jobs/nats.yml
  infrastructure/prometheus-scrape-configs/README.md
  infrastructure/prometheus-scrape-configs/soar-ingest-staging.yml
  infrastructure/prometheus-scrape-configs/soar-ingest.yml
  infrastructure/prometheus-scrape-configs/soar-run-staging.yml
  infrastructure/prometheus-scrape-configs/soar-run.yml
  infrastructure/prometheus-scrape-configs/soar-web-staging.yml
  infrastructure/prometheus-scrape-configs/soar-web.yml
  infrastructure/soar-deploy
Due: none

Use softer colors and lower opacity for coverage map hexes
  web/src/routes/receivers/coverage/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Add prometheus-node-exporter to provision script
  scripts/provision
Due: none

Use fix timestamps instead of wall clock time for flight tracking
  src/flight_tracker/aircraft_state.rs
  src/flight_tracker/mod.rs
Due: rust-fmt, rust-clippy, rust-test

Fix queue message loss and performance issues
  src/aprs_client.rs
  src/beast/client.rs
  src/commands/ingest.rs
  src/main.rs
  src/persistent_queue.rs
Due: rust-fmt, rust-clippy, rust-test

Enable OGN/APRS ingestion on staging
  infrastructure/systemd/soar-ingest-staging.service
Due: none

Fix race condition in spurious flight deletion
  src/fixes_repo.rs
  src/flight_tracker/flight_lifecycle.rs
  src/flight_tracker/mod.rs
  src/flight_tracker/state_transitions.rs
Due: rust-fmt, rust-clippy, rust-test

Extract time buffer constants for clarity
  src/flight_tracker/flight_lifecycle.rs
Due: rust-fmt, rust-clippy, rust-test

Fix Tempo startup failure on servers with only public IPs
  infrastructure/tempo-config.yml
Due: none

Unify ingest queue and capture timestamps at receive time
  src/aprs_client.rs
  src/beast/client.rs
  src/commands/ingest.rs
  src/main.rs
  src/protocol.rs
  src/sbs/client.rs
  src/socket_client.rs
Due: rust-fmt, rust-clippy, rust-test

Fix ingest publisher task dying on queue errors
  infrastructure/dashboards/definitions/ingest.json
  infrastructure/dashboards/panels/ingest/disk-queue-size.json
  infrastructure/dashboards/panels/ingest/memory-queue-depth.json
  infrastructure/grafana-dashboard-ingest.json
  src/commands/ingest.rs
  src/persistent_queue.rs
Due: rust-fmt, rust-clippy, rust-test

Fix clippy warning: use if-let chain instead of unwrap
  src/fix_processor.rs
Due: rust-fmt, rust-clippy, rust-test

Address Copilot review feedback
  migrations/2026-01-22-190805-0000_add_geocode_attempted_at_to_locations/up.sql
  src/locations_repo.rs
Due: rust-fmt, rust-clippy, rust-test

Track geocoding attempts to avoid re-trying failed addresses
  migrations/2026-01-22-190805-0000_add_geocode_attempted_at_to_locations/down.sql
  migrations/2026-01-22-190805-0000_add_geocode_attempted_at_to_locations/up.sql
  src/actions/views/club.rs
  src/commands/load_data/mod.rs
  src/locations.rs
  src/locations_repo.rs
  src/schema.rs
Due: rust-fmt, rust-clippy, rust-test

Fix clippy unnecessary_unwrap warning in callsign handling
  src/fix_processor.rs
Due: rust-fmt, rust-clippy, rust-test

Silence pprof::profiler INFO logs in tracing filters
  src/main.rs
Due: rust-fmt, rust-clippy, rust-test

Fix receiver label visibility and replace map type selector with icons
  web/src/routes/operations/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Shrink control buttons and replace location emoji with icon
  web/src/routes/operations/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Path conditions:
  web-install-deps: any of: ^web/(package\.json|package-lock\.json)$
  web-format: any of: ^web/.*\.(js|ts|svelte)$
  web-lint: any of: ^web/.*\.(js|ts|svelte)$
  web-type-check: any of: ^web/.*\.(js|ts|svelte)$
  web-test: any of: ^web/.*\.(js|ts|svelte)$
  web-build: any of: ^web/.*\.(js|ts|svelte)$
  rust-fmt: any of: \.rs$
  rust-clippy: any of: \.rs$
  rust-test: any of: \.rs$
  cargo-audit: any of: ^(Cargo\.toml|Cargo\.lock)$
