Repository hut8/soar: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-install-deps, web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test, cargo-audit

.pre-commit-config.yaml:

repos:
  # Frontend/SvelteKit checks (matching CI test-sveltekit job)
  - repo: local
    hooks:
      - id: web-install-deps
        name: Install web dependencies
        entry: bash -c 'cd web && npm ci'
        language: system
        files: ^web/(package\.json|package-lock\.json)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

      - id: web-format
        name: Auto-fix web formatting (Prettier)
        entry: bash -c 'cd web && npm run format'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

      - id: web-lint
        name: Run web linter (ESLint + Prettier check)
        entry: bash -c 'cd web && npm run lint'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

      - id: web-type-check
        name: Run web type checking
        entry: bash -c 'cd web && npm run check'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

      - id: web-test
        name: Run web tests (Playwright E2E)
        entry: bash -c 'cd web && npm test'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-push, manual]

      - id: web-build
        name: Build web project
        entry: bash -c 'cd web && npm run build'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-push, manual]

  # Rust formatting (matching CI check)
  - repo: local
    hooks:
      - id: rust-fmt
        name: Auto-fix Rust formatting
        entry: cargo fmt
        language: system
        files: \.rs$
        pass_filenames: false
        stages: [pre-commit, pre-push]

  # Rust linting (matching CI clippy check)
  - repo: local
    hooks:
      - id: rust-clippy
        name: Run Clippy
        entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo clippy --all-targets --all-features -- -D warnings'
        language: system
        files: \.rs$
        pass_filenames: false
        stages: [pre-commit, pre-push]

  # Rust tests (matching CI test run)
  - repo: local
    hooks:
      - id: rust-test
        name: Run Rust tests
        entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo test'
        language: system
        files: \.rs$
        pass_filenames: false
        stages: [pre-push, manual]

  # Security audit (matching CI security-audit job)
  - repo: local
    hooks:
      - id: cargo-audit
        name: Run security audit
        entry: cargo audit
        language: system
        files: ^(Cargo\.toml|Cargo\.lock)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
        stages: [pre-commit, pre-push]
      - id: end-of-file-fixer
        stages: [pre-commit, pre-push]
      - id: check-yaml
        stages: [pre-commit, pre-push]
      - id: check-toml
        stages: [pre-commit, pre-push]
      - id: check-json
        stages: [pre-commit, pre-push]
      - id: check-merge-conflict
        stages: [pre-commit, pre-push]
      - id: check-added-large-files
        args: ["--maxkb=1000"]
        stages: [pre-commit, pre-push]

# Performance optimizations
default_stages: [pre-commit]
fail_fast: false

# CI configuration
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit.com hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ""
  autoupdate_commit_msg: "[pre-commit.ci] pre-commit autoupdate"
  autoupdate_schedule: weekly
  skip: []
  submodules: false

Clean up queue depth metrics in dashboard
  infrastructure/grafana-dashboard-run.json
  src/commands/run.rs
  src/metrics.rs
Due: rust-fmt, rust-clippy, rust-test

Update README diagram and clean up queue metrics
  README.md
Due: none

Add queue send blocked tracking for all queues
  src/commands/run.rs
  src/metrics.rs
  src/packet_processors/router.rs
Due: rust-fmt, rust-clippy, rust-test

Add build info endpoint and metrics for version tracking
  CLAUDE.md
  infrastructure/grafana-dashboard-ingest-adsb.json
  infrastructure/grafana-dashboard-ingest.json
  infrastructure/grafana-dashboard-run.json
  infrastructure/grafana-dashboard-web.json
  src/actions/mod.rs
  src/actions/status.rs
  src/metrics.rs
  src/web.rs
Due: rust-fmt, rust-clippy, rust-test

Sync observability configs with server and fix trace accumulation
  infrastructure/alloy-config.alloy
  infrastructure/loki.yaml
  infrastructure/tempo.yaml
  src/commands/run.rs
Due: rust-fmt, rust-clippy, rust-test

Fix Pyroscope scraping targets to match actual service ports
  infrastructure/alloy-config.alloy
Due: none

Improve queue management and fix migrations, tracing, and logging
  src/aprs_client.rs
  src/beast/client.rs
  src/commands/ingest.rs
  src/flight_tracker/flight_lifecycle.rs
  src/flight_tracker/location.rs
  src/main.rs
  src/persistent_queue.rs
  src/sbs/client.rs
Due: rust-fmt, rust-clippy, rust-test

Fix remaining spawned tasks that caused trace accumulation
  src/flight_tracker/flight_lifecycle.rs
Due: rust-fmt, rust-clippy, rust-test

Fix remaining spawned tasks that caused trace accumulation
  src/fix_processor.rs
  src/flight_tracker/flight_lifecycle.rs
Due: rust-fmt, rust-clippy, rust-test

Add environment label to Prometheus metrics
  src/metrics.rs
Due: rust-fmt, rust-clippy, rust-test

Reduce staging archive retention from 45 to 7 days
  infrastructure/systemd/soar-archive-staging.service
Due: none

Switch archiver to JSON Lines format and add soar@instance targets
  Cargo.lock
  Cargo.toml
  infrastructure/soar-deploy
  infrastructure/systemd/soar-aggregate-coverage-staging.service
  infrastructure/systemd/soar-aggregate-coverage-staging.timer
  infrastructure/systemd/soar-aggregate-coverage.service
  infrastructure/systemd/soar-aggregate-coverage.timer
  infrastructure/systemd/soar-archive-staging.service
  infrastructure/systemd/soar-archive-staging.timer
  infrastructure/systemd/soar-archive.service
  infrastructure/systemd/soar-archive.timer
  infrastructure/systemd/soar-ingest-staging.service
  infrastructure/systemd/soar-ingest.service
  infrastructure/systemd/soar-run-staging.service
  infrastructure/systemd/soar-run.service
  infrastructure/systemd/soar-sitemap-staging.service
  infrastructure/systemd/soar-sitemap-staging.timer
  infrastructure/systemd/soar-sitemap.service
  infrastructure/systemd/soar-sitemap.timer
  infrastructure/systemd/soar-staging.target
  infrastructure/systemd/soar-web-staging.service
  infrastructure/systemd/soar-web.service
  infrastructure/systemd/soar.target
  infrastructure/systemd/soar@production.target
  infrastructure/systemd/soar@staging.target
  src/commands/archive/archiver.rs
  src/commands/archive/mod.rs
  src/commands/archive/raw_messages.rs
Due: rust-fmt, rust-clippy, rust-test, cargo-audit

Remove tracing from hot path to fix performance and trace accumulation
  src/commands/run.rs
  src/fix_processor.rs
  src/flight_tracker/flight_lifecycle.rs
  src/telemetry.rs
Due: rust-fmt, rust-clippy, rust-test

Fix deprecated h3_lat_lng_to_cell warning in postgres logs
  src/commands/aggregate_coverage.rs
Due: rust-fmt, rust-clippy, rust-test

Refactor persistent queue to use segmented files
  src/persistent_queue.rs
Due: rust-fmt, rust-clippy, rust-test

Add queue segment metrics to Grafana ingest dashboard
  infrastructure/grafana-dashboard-ingest.json
Due: none

Consolidate ingest stats logging into single log message
  src/aprs_client.rs
  src/beast/client.rs
  src/commands/ingest.rs
  src/metrics.rs
  src/sbs/client.rs
Due: rust-fmt, rust-clippy, rust-test

Fix race condition: never delete write segment in commit/read
  src/persistent_queue.rs
Due: rust-fmt, rust-clippy, rust-test

Add filter to OpenTelemetry layer to exclude tokio runtime events
  src/main.rs
Due: rust-fmt, rust-clippy, rust-test

Improve deployment reliability and reduce log noise
  infrastructure/soar-deploy
  scripts/deploy
  src/main.rs
  src/persistent_queue.rs
Due: rust-fmt, rust-clippy, rust-test

Skip already-computed coverage dimensions and show planning log
  src/commands/aggregate_coverage.rs
  src/coverage_repo.rs
Due: rust-fmt, rust-clippy, rust-test

Improve Grafana dashboard and fix metrics issues
  infrastructure/grafana-dashboard-run.json
  src/commands/run.rs
  src/flight_tracker/state_transitions.rs
  src/packet_processors/router.rs
  src/persistent_queue.rs
Due: rust-fmt, rust-clippy, rust-test

Fix SBS decoding by parsing CSV format instead of treating as Beast binary
  src/commands/run.rs
  src/sbs/mod.rs
  src/sbs/parser.rs
Due: rust-fmt, rust-clippy, rust-test

Fix Pyroscope single-node configuration
  infrastructure/pyroscope-config.yml
  infrastructure/pyroscope-systemd-override.conf
Due: none

Fix SBS parser test: correct field position for squawk
  src/sbs/parser.rs
Due: rust-fmt, rust-clippy, rust-test

Add Tempo metrics-generator for TraceQL metrics queries
  infrastructure/tempo.yaml
Due: none

Exclude ts-rs generated TypeScript files from Prettier checks
  web/.prettierignore
Due: none

Fix queue drain stall and improve dev experience
  build.rs
  infrastructure/grafana-dashboard-run.json
  infrastructure/loki.yaml
  src/commands/ingest.rs
  src/elevation/hgt.rs
  src/lib.rs
Due: rust-fmt, rust-clippy, rust-test

Fix queue capacity constant and add Prometheus config
  infrastructure/prometheus-defaults
  src/commands/run.rs
  src/packet_processors/router.rs
Due: rust-fmt, rust-clippy, rust-test

Enable ts-rs format feature and update to v11.1
  Cargo.lock
  Cargo.toml
  web/.prettierignore
  web/src/lib/types/generated/Aircraft.ts
  web/src/lib/types/generated/AircraftView.ts
  web/src/lib/types/generated/Fix.ts
  web/src/lib/types/index.ts
Due: web-format, web-lint, web-type-check, web-test, web-build, cargo-audit

Add prometheus-defaults to provision script
  scripts/provision
Due: none

Fix deployment reliability by running soar-deploy detached from SSH
  .github/workflows/ci.yml
  infrastructure/soar-deploy
Due: none

Add custom log format with target before spans
  src/flight_tracker/location.rs
  src/flight_tracker/mod.rs
  src/log_format.rs
  src/main.rs
Due: rust-fmt, rust-clippy, rust-test

Fix deployment by having soar-deploy manage its own logging
  .github/workflows/ci.yml
  infrastructure/soar-deploy
Due: none

Add Loki/Tempo to provision script and migrate to /var/lib/soar
  .env.example
  infrastructure/loki.yaml
  infrastructure/pyroscope-systemd-override.conf
  infrastructure/soar-deploy
  infrastructure/systemd/soar-aggregate-coverage-staging.service
  infrastructure/systemd/soar-aggregate-coverage.service
  infrastructure/systemd/soar-archive-staging.service
  infrastructure/systemd/soar-archive.service
  infrastructure/systemd/soar-ingest-staging.service
  infrastructure/systemd/soar-ingest.service
  infrastructure/systemd/soar-migrate@.service
  infrastructure/systemd/soar-pull-data-staging.service
  infrastructure/systemd/soar-pull-data.service
  infrastructure/systemd/soar-run-staging.service
  infrastructure/systemd/soar-run.service
  infrastructure/systemd/soar-sitemap-staging.service
  infrastructure/systemd/soar-sitemap.service
  infrastructure/systemd/soar-web-staging.service
  infrastructure/systemd/soar-web.service
  infrastructure/tempo.yaml
  scripts/provision
  src/commands/run.rs
  src/elevation/service.rs
  src/main.rs
  src/tile_downloader.rs
  src/web.rs
Due: rust-fmt, rust-clippy, rust-test

Add local-blocks processor to Tempo for TraceQL metrics
  infrastructure/tempo.yaml
Due: none

Simplify scripts/deploy for local deployments
  scripts/deploy
Due: none

Enable Prometheus remote-write-receiver for Tempo span metrics
  infrastructure/prometheus-defaults
  infrastructure/prometheus-systemd-override.conf
Due: none

Fix metrics initialization and dashboard queries
  infrastructure/grafana-dashboard-run.json
  src/commands/run.rs
  src/metrics.rs
Due: rust-fmt, rust-clippy, rust-test

Fix airspace toggle not respecting saved settings
  web/src/lib/components/SettingsModal.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build
