Repository hut8/soar: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-install-deps, web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test, cargo-audit

.pre-commit-config.yaml:

repos:
  # Frontend/SvelteKit checks (matching CI test-sveltekit job)
  - repo: local
    hooks:
      - id: web-install-deps
        name: Install web dependencies
        entry: bash -c 'cd web && npm ci'
        language: system
        files: ^web/(package\.json|package-lock\.json)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

      - id: web-format
        name: Auto-fix web formatting (Prettier)
        entry: bash -c 'cd web && npm run format'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

      - id: web-lint
        name: Run web linter (ESLint + Prettier check)
        entry: bash -c 'cd web && npm run lint'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

      - id: web-type-check
        name: Run web type checking
        entry: bash -c 'cd web && npm run check'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

      - id: web-test
        name: Run web tests (Playwright E2E)
        entry: bash -c 'cd web && npm test'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-push, manual]

      - id: web-build
        name: Build web project
        entry: bash -c 'cd web && npm run build'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-push, manual]

  # Rust formatting (matching CI check)
  - repo: local
    hooks:
      - id: rust-fmt
        name: Auto-fix Rust formatting
        entry: cargo fmt
        language: system
        files: \.rs$
        pass_filenames: false
        stages: [pre-commit, pre-push]

  # Rust linting (matching CI clippy check)
  - repo: local
    hooks:
      - id: rust-clippy
        name: Run Clippy
        entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo clippy --all-targets --all-features -- -D warnings'
        language: system
        files: \.rs$
        pass_filenames: false
        stages: [pre-commit, pre-push]

  # Rust tests (matching CI test run)
  - repo: local
    hooks:
      - id: rust-test
        name: Run Rust tests
        entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo test'
        language: system
        files: \.rs$
        pass_filenames: false
        stages: [pre-push, manual]

  # Security audit (matching CI security-audit job)
  - repo: local
    hooks:
      - id: cargo-audit
        name: Run security audit
        entry: cargo audit
        language: system
        files: ^(Cargo\.toml|Cargo\.lock)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
        stages: [pre-commit, pre-push]
      - id: end-of-file-fixer
        stages: [pre-commit, pre-push]
      - id: check-yaml
        stages: [pre-commit, pre-push]
      - id: check-toml
        stages: [pre-commit, pre-push]
      - id: check-json
        stages: [pre-commit, pre-push]
      - id: check-merge-conflict
        stages: [pre-commit, pre-push]
      - id: check-added-large-files
        args: ["--maxkb=1000"]
        stages: [pre-commit, pre-push]

# Performance optimizations
default_stages: [pre-commit]
fail_fast: false

# CI configuration
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit.com hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ""
  autoupdate_commit_msg: "[pre-commit.ci] pre-commit autoupdate"
  autoupdate_schedule: weekly
  skip: []
  submodules: false

Fix log filters to suppress CPU profiler messages
  src/main.rs
Due: rust-fmt, rust-clippy, rust-test

Optimize PersistentQueue write path by caching segment state
  src/persistent_queue.rs
Due: rust-fmt, rust-clippy, rust-test

Fix pelias-placeholder volume mount path
  infrastructure/systemd/pelias-placeholder.service
Due: none

Address Copilot review comments
  src/persistent_queue.rs
Due: rust-fmt, rust-clippy, rust-test

Fix pelias provisioning for newer docker images
  scripts/provision-pelias
Due: none

Add migration cleanup and out-of-band dedup scripts
  infrastructure/alloy-config.alloy.template
  migrations/2026-01-28-000000-0000_drop_aircraft_merge_mapping_table/down.sql
  migrations/2026-01-28-000000-0000_drop_aircraft_merge_mapping_table/up.sql
  scripts/create-aircraft-merge-mapping.sql
  scripts/decompress-all-fixes-chunks.sh
  scripts/update_fixes_decompress_first.sh
  scripts/update_fixes_parallel.py
Due: none

Fix missing geocode_attempted_at column in location queries
  src/locations_repo.rs
Due: rust-fmt, rust-clippy, rust-test

Fix OGN/APRS metric name mismatch in socket router
  src/commands/run.rs
Due: rust-fmt, rust-clippy, rust-test

Optimize PersistentQueue read path by caching segment name
  src/persistent_queue.rs
Due: rust-fmt, rust-clippy, rust-test

Overhaul soar-ingest Grafana dashboard
  infrastructure/dashboards/definitions/ingest.json
  infrastructure/dashboards/panels/ingest/adsb-connected.json
  infrastructure/dashboards/panels/ingest/connection-events-combined.json
  infrastructure/dashboards/panels/ingest/cpu-usage.json
  infrastructure/dashboards/panels/ingest/disk-queue-size.json
  infrastructure/dashboards/panels/ingest/memory-queue-depth.json
  infrastructure/dashboards/panels/ingest/message-lag.json
  infrastructure/dashboards/panels/ingest/messages-queued-per-second.json
  infrastructure/dashboards/panels/ingest/messages-received-per-second.json
  infrastructure/dashboards/panels/ingest/messages-sent-to-processor-per-second.json
  infrastructure/dashboards/panels/ingest/ogn-connected.json
  infrastructure/dashboards/panels/ingest/process-status.json
  infrastructure/dashboards/panels/ingest/process-uptime.json
  infrastructure/dashboards/panels/ingest/queue-segments.json
  infrastructure/dashboards/panels/ingest/seconds-between-keepalives.json
  infrastructure/dashboards/panels/ingest/socket-send-errors.json
  src/commands/ingest.rs
  src/connection_status.rs
  src/metrics.rs
  src/socket_client.rs
Due: rust-fmt, rust-clippy, rust-test

Add deploy-dashboards script for quick dashboard updates
  scripts/deploy-dashboards
Due: none

Reorder ingest dashboard: status row first, then process metrics
  infrastructure/dashboards/definitions/ingest.json
  infrastructure/dashboards/panels/ingest/process-status.json
Due: none

Fix socket send duration precision and segment count display
  infrastructure/dashboards/panels/ingest/disk-queue-size.json
  infrastructure/dashboards/panels/ingest/messages-sent-to-processor-per-second.json
  src/commands/ingest.rs
  src/persistent_queue.rs
Due: rust-fmt, rust-clippy, rust-test

Set disk queue size axes to start at 0, integers only for segments
  infrastructure/dashboards/panels/ingest/disk-queue-size.json
Due: none

Group panels on same row using array syntax in dashboard definition
  infrastructure/dashboards/definitions/ingest.json
Due: none

Optimize persistent queue draining with bulk segment reads
  src/persistent_queue.rs
Due: rust-fmt, rust-clippy, rust-test

Address Copilot review feedback
  src/persistent_queue.rs
Due: rust-fmt, rust-clippy, rust-test

Add Sentry error tracking and improve duplicate registration debugging
  Cargo.lock
  Cargo.toml
  src/aircraft_repo.rs
  src/aprs_client.rs
  src/commands/ingest.rs
  src/fix_processor.rs
  src/main.rs
Due: rust-fmt, rust-clippy, rust-test, cargo-audit

Prevent duplicate registration constraint violations in aircraft upsert
  src/aircraft_repo.rs
Due: rust-fmt, rust-clippy, rust-test

Address Copilot review feedback
  src/aircraft_repo.rs
  src/main.rs
Due: rust-fmt, rust-clippy, rust-test

Archive spurious flights instead of deleting them
  migrations/2026-01-30-154531-0000_create_spurious_flights_table/down.sql
  migrations/2026-01-30-154531-0000_create_spurious_flights_table/up.sql
  src/flight_tracker/flight_lifecycle.rs
  src/flights.rs
  src/flights_repo.rs
  src/schema.rs
Due: rust-fmt, rust-clippy, rust-test

Rename spurious flights metric and add dashboard panel
  infrastructure/dashboards/definitions/run.json
  infrastructure/dashboards/panels/run/spurious-flights-archived.json
  src/flight_tracker/flight_lifecycle.rs
Due: rust-fmt, rust-clippy, rust-test

Handle duplicate registrations in Beast/SBS aircraft lookup
  src/aircraft_repo.rs
Due: rust-fmt, rust-clippy, rust-test

Insert new aircraft with NULL registration to avoid constraint violation
  src/aircraft_repo.rs
Due: rust-fmt, rust-clippy, rust-test

Add area subscriptions to live page for real-time aircraft updates
  web/src/routes/live/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Fix debug grid square count calculation
  web/src/routes/live/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Add EWMA rate smoothing and fix drain_eta in ingest stats
  src/commands/ingest.rs
  src/metrics.rs
Due: rust-fmt, rust-clippy, rust-test

Replace raw SQL with Diesel query builder for duplicate registration check
  src/aircraft_repo.rs
Due: rust-fmt, rust-clippy, rust-test

Add in-memory aircraft cache and async position updates
  src/aircraft.rs
  src/aircraft_repo.rs
  src/commands/run.rs
  src/fix_processor.rs
  src/fixes_repo.rs
  src/flight_tracker/mod.rs
  src/flight_tracker/state_transitions.rs
  tests/flight_detection_test.rs
Due: rust-fmt, rust-clippy, rust-test

Improve aircraft detail page: add club link, use Plane icon, rename OGN DB to Unified DDB
  web/src/lib/components/AircraftStatusModal.svelte
  web/src/lib/components/AircraftTile.svelte
  web/src/routes/+page.svelte
  web/src/routes/aircraft/+page.svelte
  web/src/routes/aircraft/[id]/+page.svelte
  web/src/routes/aircraft/issues/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Add diesel-guard to catch unsafe PostgreSQL migrations
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  diesel-guard.toml
Due: none

Enable AddIndexCheck and document metadata.toml for CONCURRENTLY
  CLAUDE.md
  diesel-guard.toml
Due: none

Add trigger to update flight timestamps on fix INSERT
  migrations/2026-01-30-200000-0000_add_flight_timestamp_trigger/down.sql
  migrations/2026-01-30-200000-0000_add_flight_timestamp_trigger/up.sql
  src/flight_tracker/state_transitions.rs
Due: rust-fmt, rust-clippy, rust-test

Fix APRS disconnect loop during queue drain mode
  infrastructure/dashboards/definitions/ingest.json
  infrastructure/dashboards/panels/ingest/envelope-channel-blocked.json
  infrastructure/dashboards/panels/ingest/envelope-channel-depth.json
  src/aprs_client.rs
  src/persistent_queue.rs
Due: rust-fmt, rust-clippy, rust-test

Address PR review feedback
  src/aircraft_repo.rs
  src/commands/ingest.rs
  src/fixes_repo.rs
Due: rust-fmt, rust-clippy, rust-test

Fix threshold value in envelope-channel-blocked panel
  infrastructure/dashboards/panels/ingest/envelope-channel-blocked.json
Due: none

Add approved operations to aircraft registration API response
  src/actions/aircraft.rs
  src/actions/views/aircraft.rs
  src/aircraft_registrations_repo.rs
  src/web.rs
Due: rust-fmt, rust-clippy, rust-test

Compute drain ETA from byte rates instead of estimated message counts
  src/commands/ingest.rs
Due: rust-fmt, rust-clippy, rust-test

Use actual byte throughput for drain ETA instead of estimated message size
  src/commands/ingest.rs
Due: rust-fmt, rust-clippy, rust-test

Replace address + address_type with typed address columns
  migrations/2026-01-30-000000-0000_replace_address_with_typed_columns/down.sql
  migrations/2026-01-30-000000-0000_replace_address_with_typed_columns/up.sql
  src/actions/aircraft.rs
  src/actions/aircraft_images.rs
  src/actions/views/aircraft.rs
  src/aircraft.rs
  src/aircraft_repo.rs
  src/commands/dump_aircraft_dbs.rs
  src/commands/load_data/adsb_exchange.rs
  src/commands/load_data/aircraft_backfill.rs
  src/commands/load_data/mod.rs
  src/commands/seed_test_data.rs
  src/email_reporter.rs
  src/fixes_repo.rs
  src/flight_tracker/flight_lifecycle.rs
  src/flights.rs
  src/schema.rs
  src/web.rs
  web/src/lib/components/AircraftStatusModal.svelte
  web/src/lib/components/AircraftTile.svelte
  web/src/lib/components/WatchlistModal.svelte
  web/src/lib/components/cesium/TimelineController.svelte
  web/src/lib/formatters.ts
  web/src/lib/services/markers/AircraftMarkerManager.ts
  web/src/lib/types/generated/Aircraft.ts
  web/src/lib/types/generated/AircraftView.ts
  web/src/routes/aircraft/+page.svelte
  web/src/routes/aircraft/[id]/+page.svelte
  web/src/routes/aircraft/issues/+page.svelte
  web/src/routes/live/+page.svelte
  web/src/routes/operations/+page.svelte
  web/src/routes/watchlist/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test
