Repository hut8/soar: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-install-deps, web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test, cargo-audit

.pre-commit-config.yaml:

repos:
  # Frontend/SvelteKit checks (matching CI test-sveltekit job)
  - repo: local
    hooks:
      - id: web-install-deps
        name: Install web dependencies
        entry: bash -c 'cd web && npm ci'
        language: system
        files: ^web/(package\.json|package-lock\.json)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

      - id: web-format
        name: Auto-fix web formatting (Prettier)
        entry: bash -c 'cd web && npm run format'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

      - id: web-lint
        name: Run web linter (ESLint + Prettier check)
        entry: bash -c 'cd web && npm run lint'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

      - id: web-type-check
        name: Run web type checking
        entry: bash -c 'cd web && npm run check'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

      - id: web-test
        name: Run web tests (Playwright E2E)
        entry: bash -c 'cd web && npm test'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-push, manual]

      - id: web-build
        name: Build web project
        entry: bash -c 'cd web && npm run build'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-push, manual]

  # Rust formatting (matching CI check)
  - repo: local
    hooks:
      - id: rust-fmt
        name: Auto-fix Rust formatting
        entry: cargo fmt
        language: system
        files: \.rs$
        pass_filenames: false
        stages: [pre-commit, pre-push]

  # Rust linting (matching CI clippy check)
  - repo: local
    hooks:
      - id: rust-clippy
        name: Run Clippy
        entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo clippy --all-targets --all-features -- -D warnings'
        language: system
        files: \.rs$
        pass_filenames: false
        stages: [pre-commit, pre-push]

  # Rust tests (matching CI test run)
  - repo: local
    hooks:
      - id: rust-test
        name: Run Rust tests
        entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo test'
        language: system
        files: \.rs$
        pass_filenames: false
        stages: [pre-push, manual]

  # Security audit (matching CI security-audit job)
  - repo: local
    hooks:
      - id: cargo-audit
        name: Run security audit
        entry: cargo audit
        language: system
        files: ^(Cargo\.toml|Cargo\.lock)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
        stages: [pre-commit, pre-push]
      - id: end-of-file-fixer
        stages: [pre-commit, pre-push]
      - id: check-yaml
        stages: [pre-commit, pre-push]
      - id: check-toml
        stages: [pre-commit, pre-push]
      - id: check-json
        stages: [pre-commit, pre-push]
      - id: check-merge-conflict
        stages: [pre-commit, pre-push]
      - id: check-added-large-files
        args: ["--maxkb=1000"]
        stages: [pre-commit, pre-push]

# Performance optimizations
default_stages: [pre-commit]
fail_fast: false

# CI configuration
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit.com hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ""
  autoupdate_commit_msg: "[pre-commit.ci] pre-commit autoupdate"
  autoupdate_schedule: weekly
  skip: []
  submodules: false

fix: improve homepage tile layout and labels
  web/src/routes/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: add runtime type check for receiver coordinates
  web/src/routes/receivers/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: increase spacing between homepage navigation tiles
  web/src/routes/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: space out homepage navigation tiles to fill viewport
  web/src/routes/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

feat: expose latitude and longitude in ReceiverView
  src/actions/receivers.rs
  src/actions/views/mod.rs
  src/actions/views/receiver.rs
  src/receiver_repo.rs
Due: rust-fmt, rust-clippy, rust-test

feat: improve OGN DB badge with conditional text
  web/src/lib/components/AircraftStatusModal.svelte
  web/src/routes/devices/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

feat: add "From OGN DB" badge to device detail page
  web/src/routes/devices/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

feat: add aircraft type badge to device views
  web/src/lib/components/AircraftStatusModal.svelte
  web/src/routes/devices/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: prevent device lock resource leak in flight tracker
  src/flight_tracker/mod.rs
  src/flight_tracker/state_transitions.rs
Due: rust-fmt, rust-clippy, rust-test

fix: prevent timer resource leak and add APRS keepalive
  src/aprs_client.rs
Due: rust-fmt, rust-clippy, rust-test

feat: convert devices list from table to card layout
  web/src/routes/devices/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

perf: replace byte-at-a-time reading with efficient buffered reads
  src/aprs_client.rs
Due: rust-fmt, rust-clippy, rust-test

fix: add background to 'Not in OGN DB' badge
  web/src/lib/components/AircraftStatusModal.svelte
  web/src/routes/devices/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: filter device page recent fixes to last 24 hours
  web/src/routes/devices/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

refactor: decouple APRS client from packet router with bounded queue
  src/aprs_client.rs
  src/main.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add comprehensive metrics coverage to Grafana dashboard
  grafana/soar-dashboard.json
Due: none

fix: prevent soar-pull-data service from running on deployment
  soar-pull-data.service
Due: none

fix: replace TabGroup/Tab with Skeleton Svelte Tabs API
  web/src/routes/receivers/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

feat: add paginated raw messages view to receiver detail page
  src/actions/receivers.rs
  src/aprs_messages_repo.rs
  src/web.rs
  web/src/routes/receivers/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

fix: import dayjs module
  web/src/routes/devices/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: prevent race condition when deleting spurious flights
  src/flight_tracker/state_transitions.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add clubs section to airport detail page
  src/actions/airports.rs
  src/clubs_repo.rs
  src/web.rs
  web/src/routes/airports/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

feat: make loading bar more prominent and thicker
  web/src/lib/components/LoadingBar.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Fix queue full error with multiple workers and increased capacity
  src/aprs_client.rs
  src/main.rs
Due: rust-fmt, rust-clippy, rust-test

fix: format svelte files and add dayjs utc plugin
  web/src/lib/components/LoadingBar.svelte
  web/src/routes/airports/[id]/+page.svelte
  web/src/routes/devices/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: format LoadingBar.svelte with prettier
  web/src/lib/components/LoadingBar.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Fix clippy warning: remove unnecessary mut from message_rx
  src/main.rs
Due: rust-fmt, rust-clippy, rust-test

Fix duplicate dayjs utc plugin import
  web/src/routes/devices/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

perf: add instrumentation and separate channel for elevation processing
  src/elevation.rs
  src/fix_processor.rs
  src/flight_tracker/mod.rs
  src/main.rs
Due: rust-fmt, rust-clippy, rust-test

perf: remove timeout on queue send and add connection duration to errors
  src/aprs_client.rs
Due: rust-fmt, rust-clippy, rust-test

fix: prevent race condition between spurious flight deletion and fix assignment
  src/flight_tracker/flight_lifecycle.rs
  src/flight_tracker/mod.rs
  src/flight_tracker/state_transitions.rs
Due: rust-fmt, rust-clippy, rust-test

fix: clear flight_id from fix when flight is deleted as spurious
  src/flight_tracker/flight_lifecycle.rs
  src/flight_tracker/state_transitions.rs
Due: rust-fmt, rust-clippy, rust-test

feat: overhaul Grafana dashboard with complete metrics coverage
  infrastructure/grafana-dashboard.json
Due: none

fix: display aircraft model name instead of [object Object]
  web/src/lib/types/index.ts
  web/src/routes/operations/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

feat: spawn multiple elevation workers for parallel processing
  src/main.rs
Due: rust-fmt, rust-clippy, rust-test
