Repository hut8/soar: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-install-deps, web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test, cargo-audit

web-install-deps:
  name: Install web dependencies
  entry: bash -c 'cd web && npm ci'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-format:
  name: Auto-fix web formatting (Prettier)
  entry: bash -c 'cd web && npm run format'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-lint:
  name: Run web linter (ESLint + Prettier check)
  entry: bash -c 'cd web && npm run lint'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-type-check:
  name: Run web type checking
  entry: bash -c 'cd web && npm run check'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-test:
  name: Run web tests (Playwright E2E)
  entry: bash -c 'cd web && npm test'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

web-build:
  name: Build web project
  entry: bash -c 'cd web && npm run build'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

rust-fmt:
  name: Auto-fix Rust formatting
  entry: cargo fmt
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

rust-clippy:
  name: Run Clippy
  entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo clippy --all-targets --all-features -- -D warnings'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

rust-test:
  name: Run Rust tests
  entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo test'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

cargo-audit:
  name: Run security audit
  entry: cargo audit
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

refactor: remove unused APRS and fix search endpoints, add camelCase to responses
  src/actions/aprs_messages.rs
  src/actions/fixes.rs
  src/actions/mod.rs
  src/actions/pilots.rs
  src/actions/receivers.rs
  src/actions/views/receiver.rs
  src/web.rs
Due: rust-fmt, rust-clippy, rust-test

fix: revert incorrect camelCase on receiver stats structs
  src/actions/receivers.rs
Due: rust-fmt, rust-clippy, rust-test

feat: convert receiver stats to camelCase
  src/actions/receivers.rs
  web/src/routes/receivers/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

feat: convert all remaining snake_case API fields to camelCase
  src/fixes.rs
  src/receiver_statuses.rs
  web/src/lib/services/FixFeed.ts
  web/src/routes/flights/[id]/+page.svelte
  web/src/routes/receivers/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

feat: add comprehensive e2e tests for all frontend pages
  schema.sql
  web/e2e/aircraft/aircraft-issues.test.ts
  web/e2e/airports/airport-detail.test.ts
  web/e2e/airports/airports-list.test.ts
  web/e2e/airports/airports-list.test.ts-snapshots/airports-list-mobile-chromium-linux.png
  web/e2e/auth/forgot-password.test.ts
  web/e2e/auth/forgot-password.test.ts-snapshots/forgot-password-page-chromium-linux.png
  web/e2e/auth/forgot-password.test.ts-snapshots/forgot-password-submitted-chromium-linux.png
  web/e2e/auth/reset-password.test.ts
  web/e2e/auth/reset-password.test.ts-snapshots/reset-password-page-chromium-linux.png
  web/e2e/auth/verify-email.test.ts
  web/e2e/auth/verify-email.test.ts-snapshots/verify-email-result-chromium-linux.png
  web/e2e/clubs/club-detail.test.ts
  web/e2e/clubs/club-detail.test.ts-snapshots/club-detail-page-chromium-linux.png
  web/e2e/clubs/club-operations.test.ts
  web/e2e/clubs/club-operations.test.ts-snapshots/club-operations-page-chromium-linux.png
  web/e2e/clubs/club-pilots.test.ts
  web/e2e/clubs/club-pilots.test.ts-snapshots/club-pilots-page-chromium-linux.png
  web/e2e/clubs/clubs-list.test.ts
  web/e2e/clubs/clubs-list.test.ts-snapshots/club-detail-from-list-chromium-linux.png
  web/e2e/clubs/clubs-list.test.ts-snapshots/clubs-list-mobile-chromium-linux.png
  web/e2e/clubs/clubs-list.test.ts-snapshots/clubs-list-page-chromium-linux.png
  web/e2e/flights/flight-detail.test.ts
  web/e2e/flights/flight-map.test.ts
  web/e2e/flights/flights-list.test.ts
  web/e2e/flights/flights-list.test.ts-snapshots/flights-list-mobile-chromium-linux.png
  web/e2e/flights/flights-list.test.ts-snapshots/flights-list-page-chromium-linux.png
  web/e2e/home/globe.test.ts
  web/e2e/home/globe.test.ts-snapshots/globe-page-chromium-linux.png
  web/e2e/home/home.test.ts
  web/e2e/home/home.test.ts-snapshots/home-page-chromium-linux.png
  web/e2e/home/home.test.ts-snapshots/home-page-mobile-chromium-linux.png
  web/e2e/home/info.test.ts
  web/e2e/home/info.test.ts-snapshots/info-page-chromium-linux.png
  web/e2e/operations/operations.test.ts
  web/e2e/profile/profile.test.ts
  web/e2e/receivers/coverage.test.ts
  web/e2e/receivers/receiver-detail.test.ts
  web/e2e/receivers/receivers-list.test.ts
  web/e2e/receivers/receivers-list.test.ts-snapshots/receivers-list-mobile-chromium-linux.png
Due: web-format, web-lint, web-type-check, web-test, web-build

feat: convert receiver stats to camelCase
  src/actions/receivers.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add Google Analytics tracking to frontend
  web/src/routes/+layout.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

test: fix e2e test failures and improve authentication handling
  schema.sql
  src/schema.rs
  web/e2e/README.md
  web/e2e/aircraft/aircraft-detail.test.ts
  web/e2e/aircraft/aircraft-issues.test.ts-snapshots/aircraft-issues-mobile-chromium-linux.png
  web/e2e/aircraft/aircraft-issues.test.ts-snapshots/aircraft-issues-page-chromium-linux.png
  web/e2e/airports/airport-detail.test.ts
  web/e2e/airports/airports-list.test.ts
  web/e2e/airports/airports-list.test.ts-snapshots/airports-list-page-chromium-linux.png
  web/e2e/auth/verify-email.test.ts
  web/e2e/auth/verify-email.test.ts-snapshots/verify-email-page-chromium-linux.png
  web/e2e/clubs/club-detail.test.ts
  web/e2e/flights/flight-detail.test.ts
  web/e2e/flights/flight-map.test.ts
  web/e2e/home/globe.test.ts
  web/e2e/operations/operations.test.ts
  web/e2e/profile/profile.test.ts
  web/e2e/profile/profile.test.ts-snapshots/profile-page-chromium-linux.png
  web/e2e/profile/profile.test.ts-snapshots/profile-page-mobile-chromium-linux.png
  web/e2e/receivers/coverage.test.ts
  web/e2e/receivers/coverage.test.ts-snapshots/receiver-coverage-mobile-chromium-linux.png
  web/e2e/receivers/coverage.test.ts-snapshots/receiver-coverage-page-chromium-linux.png
  web/e2e/receivers/receiver-detail.test.ts
  web/e2e/receivers/receivers-list.test.ts
  web/e2e/receivers/receivers-list.test.ts-snapshots/receivers-list-page-chromium-linux.png
  web/e2e/utils/auth.ts
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

perf: remove localStorage caching from AircraftRegistry
  web/src/lib/services/AircraftRegistry.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

feat: implement per-worker database isolation for E2E tests
  scripts/cleanup-test-workers.sh
  web/e2e/README.md
  web/e2e/auth/forgot-password.test.ts
  web/e2e/auth/login.test.ts
  web/e2e/auth/logout.test.ts
  web/e2e/auth/register.test.ts
  web/e2e/auth/reset-password.test.ts
  web/e2e/auth/verify-email.test.ts
  web/e2e/fixtures/auth.fixture.ts
  web/e2e/fixtures/worker-database.fixture.ts
  web/e2e/home/globe.test.ts
  web/e2e/home/home.test.ts
  web/e2e/home/info.test.ts
  web/e2e/watchlist/watchlist-load.test.ts
  web/playwright.config.ts
  web/playwright.global-setup.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: unmark template database before dropping in setup script
  scripts/setup-test-template.sh
Due: none

fix: add ESLint suppressions for Playwright fixture syntax
  web/e2e/fixtures/worker-database.fixture.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

test: remove loading state tests and enable aircraft detail tests
  web/e2e/aircraft/aircraft-detail.test.ts
  web/e2e/aircraft/aircraft-list.test.ts
  web/e2e/auth/login.test.ts
  web/e2e/auth/register.test.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

feat: add H3 resolutions 3-5 and improve coverage map UX
  infrastructure/systemd/soar-aggregate-coverage-staging.service
  infrastructure/systemd/soar-aggregate-coverage.service
  migrations/2025-12-26-095142-0000_create_receiver_coverage_h3/up.sql
  src/actions/coverage.rs
  src/main.rs
  web/src/routes/receivers/coverage/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

fix: correct binary path in worker fixture for CI
  web/e2e/fixtures/worker-database.fixture.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

refactor: use consistent bounding box parameter names
  src/actions/receivers.rs
  web/src/routes/receivers/coverage/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

fix: enable global setup in CI for template database creation
  web/playwright.config.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

feat: calculate aircraft home bases from clubs and flight statistics
  src/commands/load_data/aircraft_home_base.rs
  src/commands/load_data/mod.rs
Due: rust-fmt, rust-clippy, rust-test

fix: page fixture must depend on workerServerProcess
  web/e2e/fixtures/worker-database.fixture.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: add ES module __dirname workaround in worker fixture
  web/e2e/fixtures/worker-database.fixture.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

feat: add searchable receiver dropdown to coverage map
  src/actions/receivers.rs
  web/src/routes/receivers/coverage/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

refactor(coverage): simplify aggregation to 30-day lookback
  src/commands/aggregate_coverage.rs
Due: rust-fmt, rust-clippy, rust-test

feat: improve receivers table display
  web/src/routes/receivers/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

refactor: remove 'q' alias, use 'query' parameter consistently
  src/actions/receivers.rs
  web/src/routes/receivers/coverage/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

fix: limit Playwright workers to 4 in CI to prevent resource exhaustion
  .github/workflows/ci.yml
Due: none

refactor: switch to shared database approach for E2E tests
  .github/workflows/ci.yml
  scripts/setup-test-template.sh
  web/e2e/fixtures/worker-database.fixture.ts
  web/playwright.config.ts
  web/playwright.global-setup.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

fix(coverage): use ST_MakePoint for h3_lat_lng_to_cell
  src/commands/aggregate_coverage.rs
Due: rust-fmt, rust-clippy, rust-test

fix: triple timeout for aircraft-detail tests with test.slow()
  web/e2e/aircraft/aircraft-detail.test.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: add test.slow() and wait to failing E2E tests
  web/e2e/aircraft/aircraft-list.test.ts
  web/e2e/airports/airports-list.test.ts
  web/e2e/auth/forgot-password.test.ts
  web/e2e/flights/flights-list.test.ts
  web/e2e/operations/operations.test.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: remove obsolete test template database setup from CI
  .github/workflows/ci.yml
Due: none

perf(run): fix NATS slow consumer warnings during high load
  src/commands/run.rs
  src/main.rs
Due: rust-fmt, rust-clippy, rust-test

fix: add test template database setup and fix E2E test timeouts
  .github/workflows/ci.yml
  scripts/setup-test-template.sh
  web/e2e/aircraft/aircraft-detail.test.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

fix(flights): prevent check_timeout_after_last_fix constraint violations
  src/flight_tracker/flight_lifecycle.rs
  src/flight_tracker/state_transitions.rs
  src/flights_repo.rs
Due: rust-fmt, rust-clippy, rust-test

fix: simplify aircraft-detail tests to avoid flaky element assertions
  web/e2e/aircraft/aircraft-detail.test.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

Remove pg_partman and complete migration to TimescaleDB
  .github/postgis-timescaledb.Dockerfile
  .github/workflows/ci.yml
  infrastructure/soar-deploy
  infrastructure/systemd/partman-maintenance-staging.service
  infrastructure/systemd/partman-maintenance-staging.timer
  infrastructure/systemd/partman-maintenance.service
  infrastructure/systemd/partman-maintenance.timer
  migrations/2025-12-28-184510-0000_remove_partman_cleanup/down.sql
  migrations/2025-12-28-184510-0000_remove_partman_cleanup/up.sql
  src/main.rs
  src/schema.rs
  web/package-lock.json
Due: web-install-deps, rust-fmt, rust-clippy, rust-test

fix(coverage): normalize longitude coordinates for international date line
  web/package-lock.json
  web/src/routes/receivers/coverage/+page.svelte
Due: web-install-deps, web-format, web-lint, web-type-check, web-test, web-build

Fix critical bug: migrations were running with old binary
  infrastructure/soar-deploy
Due: none

Keep pg_partman in CI Docker image for migration history
  .github/postgis-timescaledb.Dockerfile
Due: none

fix: remove screenshot assertions and skip failing tests
  web/e2e/aircraft/aircraft-detail.test.ts
  web/e2e/aircraft/aircraft-list.test.ts
  web/e2e/airports/airports-list.test.ts
  web/e2e/auth/forgot-password.test.ts
  web/e2e/flights/flights-list.test.ts
  web/e2e/operations/operations.test.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

Revert "fix: remove screenshot assertions and skip failing tests"
  web/e2e/aircraft/aircraft-detail.test.ts
  web/e2e/aircraft/aircraft-list.test.ts
  web/e2e/airports/airports-list.test.ts
  web/e2e/auth/forgot-password.test.ts
  web/e2e/flights/flights-list.test.ts
  web/e2e/operations/operations.test.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

Path conditions:
  web-install-deps: any of: ^web/(package\.json|package-lock\.json)$
  web-format: any of: ^web/.*\.(js|ts|svelte)$
  web-lint: any of: ^web/.*\.(js|ts|svelte)$
  web-type-check: any of: ^web/.*\.(js|ts|svelte)$
  web-test: any of: ^web/.*\.(js|ts|svelte)$
  web-build: any of: ^web/.*\.(js|ts|svelte)$
  rust-fmt: any of: \.rs$
  rust-clippy: any of: \.rs$
  rust-test: any of: \.rs$
  cargo-audit: any of: ^(Cargo\.toml|Cargo\.lock)$
