Repository hut8/soar: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-install-deps, web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test, cargo-audit

.pre-commit-config.yaml:

repos:
  # Frontend/SvelteKit checks (matching CI test-sveltekit job)
  - repo: local
    hooks:
      - id: web-install-deps
        name: Install web dependencies
        entry: bash -c 'cd web && npm ci'
        language: system
        files: ^web/(package\.json|package-lock\.json)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

      - id: web-format
        name: Auto-fix web formatting (Prettier)
        entry: bash -c 'cd web && npm run format'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

      - id: web-lint
        name: Run web linter (ESLint + Prettier check)
        entry: bash -c 'cd web && npm run lint'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

      - id: web-type-check
        name: Run web type checking
        entry: bash -c 'cd web && npm run check'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

      - id: web-test
        name: Run web tests (Playwright E2E)
        entry: bash -c 'cd web && npm test'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-push, manual]

      - id: web-build
        name: Build web project
        entry: bash -c 'cd web && npm run build'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-push, manual]

  # Rust formatting (matching CI check)
  - repo: local
    hooks:
      - id: rust-fmt
        name: Auto-fix Rust formatting
        entry: cargo fmt
        language: system
        files: \.rs$
        pass_filenames: false
        stages: [pre-commit, pre-push]

  # Rust linting (matching CI clippy check)
  - repo: local
    hooks:
      - id: rust-clippy
        name: Run Clippy
        entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo clippy --all-targets --all-features -- -D warnings'
        language: system
        files: \.rs$
        pass_filenames: false
        stages: [pre-commit, pre-push]

  # Rust tests (matching CI test run)
  - repo: local
    hooks:
      - id: rust-test
        name: Run Rust tests
        entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo test'
        language: system
        files: \.rs$
        pass_filenames: false
        stages: [pre-push, manual]

  # Security audit (matching CI security-audit job)
  - repo: local
    hooks:
      - id: cargo-audit
        name: Run security audit
        entry: cargo audit
        language: system
        files: ^(Cargo\.toml|Cargo\.lock)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
        stages: [pre-commit, pre-push]
      - id: end-of-file-fixer
        stages: [pre-commit, pre-push]
      - id: check-yaml
        stages: [pre-commit, pre-push]
      - id: check-toml
        stages: [pre-commit, pre-push]
      - id: check-json
        stages: [pre-commit, pre-push]
      - id: check-merge-conflict
        stages: [pre-commit, pre-push]
      - id: check-added-large-files
        args: ["--maxkb=1000"]
        stages: [pre-commit, pre-push]

# Performance optimizations
default_stages: [pre-commit]
fail_fast: false

# CI configuration
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit.com hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ""
  autoupdate_commit_msg: "[pre-commit.ci] pre-commit autoupdate"
  autoupdate_schedule: weekly
  skip: []
  submodules: false

Fix container shell defaulting to sh instead of bash
  .github/workflows/ci.yml
  src/adsb_accumulator.rs
Due: rust-fmt, rust-clippy, rust-test

Pre-install Playwright Chromium browser in CI image
  .github/soar-ci.Dockerfile
  .github/workflows/ci.yml
Due: none

Harden NATS publisher with supervisor loop, fix dashboard panels
  infrastructure/dashboards/definitions/run.json
  infrastructure/dashboards/panels/run/aprs-messages-processed-by-type.json
  infrastructure/dashboards/panels/run/beast-decode-successfailure-rate.json
  infrastructure/dashboards/panels/run/coalesce-distance-p50.json
  infrastructure/dashboards/panels/run/fix-processing-details.json
  infrastructure/dashboards/panels/run/nats-publish-latency-per-message.json
  infrastructure/dashboards/panels/run/packet-queue.json
  infrastructure/dashboards/panels/run/packet-type-distribution.json
  infrastructure/dashboards/panels/run/parse-successfailure-rate.json
  infrastructure/dashboards/panels/run/queue-depths.json
  infrastructure/dashboards/panels/run/receiver-status-updates.json
  infrastructure/dashboards/panels/run/rejected-coalesce-gap-duration.json
  infrastructure/dashboards/panels/run/router-processing-call-details.json
  infrastructure/dashboards/panels/run/router-processing-details.json
  infrastructure/dashboards/panels/run/router-processing.json
  src/commands/run/workers.rs
  src/metrics.rs
  src/nats_publisher.rs
Due: rust-fmt, rust-clippy, rust-test

Fix E2E tests: point Playwright at backend instead of preview server
  .github/workflows/ci.yml
  web/vite.config.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

Upgrade eslint and @eslint/js from 9.x to 10.0.1
  web/eslint.config.js
  web/package-lock.json
  web/package.json
Due: web-install-deps, web-format, web-lint, web-type-check, web-test, web-build

Fix process uptime panels showing stale values when process is down
  infrastructure/dashboards/panels/ingest/process-uptime.json
  infrastructure/dashboards/panels/run/process-uptime.json
  infrastructure/dashboards/panels/web/process-uptime.json
Due: none

Fix last E2E failure: use Mailpit hostname in container CI
  .github/workflows/ci.yml
  web/e2e/auth/register.test.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

Fix run dashboard: rate ratio clamping, latency stacking, parse success metric
  infrastructure/dashboards/panels/run/aircraft-processing-latency-breakdown-p50.json
  infrastructure/dashboards/panels/run/aircraft-processing-latency-breakdown-p95.json
  infrastructure/dashboards/panels/run/parse-successfailure-rate.json
  infrastructure/dashboards/panels/run/processing-rate-ratio.json
  src/commands/run/aprs.rs
Due: rust-fmt, rust-clippy, rust-test

Reduce soar-run CPU and DB load with batching, caching, and deduplication
  migrations/2026-02-22-000000-0000_drop_fixes_flight_id_fkey/down.sql
  migrations/2026-02-22-000000-0000_drop_fixes_flight_id_fkey/up.sql
  src/commands/run/constants.rs
  src/commands/run/mod.rs
  src/commands/run/workers.rs
  src/fix_processor.rs
  src/fixes_repo.rs
  src/flight_tracker/mod.rs
  src/geofence_repo.rs
  src/main.rs
  src/raw_messages_repo.rs
  src/receiver_repo.rs
Due: rust-fmt, rust-clippy, rust-test

Remove fake heap profile handler, add wall-clock profiling script
  scripts/wall-clock-profile
  src/metrics.rs
Due: rust-fmt, rust-clippy, rust-test

Use Diesel DSL for batch raw_messages INSERT instead of raw SQL
  src/raw_messages_repo.rs
Due: rust-fmt, rust-clippy, rust-test

Add real-world SBS parser test with ADSBHub sample data
  src/sbs/parser.rs
  tests/data/sbs/adsbhub-sbs-sample-20260224.txt.gz
Due: rust-fmt, rust-clippy, rust-test

Add per-minute rate limit to Sentry error reporting
  src/main.rs
Due: rust-fmt, rust-clippy, rust-test

Fix persistent flight lifecycle constraint violations
  src/flight_tracker/aircraft_state.rs
  src/flight_tracker/flight_lifecycle.rs
  src/flight_tracker/mod.rs
  src/flight_tracker/state_transitions.rs
  src/flights_repo.rs
Due: rust-fmt, rust-clippy, rust-test

Fix race condition in Sentry rate limiter
  src/main.rs
Due: rust-fmt, rust-clippy, rust-test

Cap failure output to first 10 samples to avoid flooding CI logs
  src/sbs/parser.rs
Due: rust-fmt, rust-clippy, rust-test

Remove coalescing panels from Grafana run dashboard
  infrastructure/dashboards/definitions/run.json
  infrastructure/dashboards/panels/run/coalesce-distance-p50.json
  infrastructure/dashboards/panels/run/flight-coalesce-events.json
  infrastructure/dashboards/panels/run/rejected-coalesce-gap-duration.json
Due: none

Address PR review feedback on flight lifecycle fixes
  CLAUDE.md
  src/flight_tracker/flight_lifecycle.rs
  src/flight_tracker/mod.rs
  src/flight_tracker/state_transitions.rs
  src/flights_repo.rs
Due: rust-fmt, rust-clippy, rust-test

Regenerate ts-rs type bindings with updated formatting
  web/src/lib/types/generated/AdsbEmitterCategory.ts
  web/src/lib/types/generated/AircraftCluster.ts
  web/src/lib/types/generated/AircraftOrCluster.ts
  web/src/lib/types/generated/AircraftSearchResponse.ts
  web/src/lib/types/generated/ClusterBounds.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

Set y-axis minimum to zero for keepalives panel in ingest dashboard
  infrastructure/dashboards/panels/ingest/seconds-between-keepalives.json
Due: none

Address review: remove format! allocations, demote noisy log to debug
  src/adsb_accumulator.rs
  src/aprs_client.rs
  src/beast/client.rs
Due: rust-fmt, rust-clippy, rust-test

Add message type distribution metrics for SBS and Beast protocols
  infrastructure/dashboards/definitions/run.json
  infrastructure/dashboards/panels/run/beast-adsb-bds-type-distribution.json
  infrastructure/dashboards/panels/run/beast-df-type-distribution.json
  infrastructure/dashboards/panels/run/sbs-message-type-distribution.json
  src/commands/run/beast.rs
  src/commands/run/sbs.rs
Due: rust-fmt, rust-clippy, rust-test

Reduce redundant aircraft lookups and duplicate registration checks for Beast frames
  src/aircraft_repo.rs
  src/commands/run/beast.rs
Due: rust-fmt, rust-clippy, rust-test

Improve NATS publisher throughput and remove unused raw_message parameter
  src/fix_processor.rs
  src/nats_publisher.rs
  src/ogn/processing.rs
  tests/flight_detection_test.rs
Due: rust-fmt, rust-clippy, rust-test

Fix git version showing VERGEN_IDEMPOTENT_OUTPUT in CI builds
  .github/soar-ci.Dockerfile
Due: none

Fix callsign mismatch bug: update in-memory callsign when first learned
  src/fix_processor.rs
  src/flight_tracker/state_transitions.rs
Due: rust-fmt, rust-clippy, rust-test

Switch to jemalloc allocator to fix musl lock contention
  Cargo.lock
  Cargo.toml
  src/main.rs
Due: rust-fmt, rust-clippy, rust-test, cargo-audit

Extract callsign helpers and add unit tests for mismatch bug
  src/flight_tracker/state_transitions.rs
Due: rust-fmt, rust-clippy, rust-test

Normalize callsigns: treat empty/whitespace as None
  src/flight_tracker/state_transitions.rs
Due: rust-fmt, rust-clippy, rust-test

Fix FK violation race condition when aircraft is deleted during fix processing
  src/aircraft_repo.rs
  src/flight_tracker/flight_lifecycle.rs
  src/flight_tracker/mod.rs
  src/flight_tracker/state_transitions.rs
Due: rust-fmt, rust-clippy, rust-test

Address Copilot review: check specific FK constraint, guard cache eviction, add tests
  src/aircraft_repo.rs
  src/flight_tracker/mod.rs
Due: rust-fmt, rust-clippy, rust-test

Remove operations page, replaced by live map
  README.md
  web/e2e/SNAPSHOTS.md
  web/e2e/auth/logout.test.ts
  web/e2e/clubs/club-detail.test.ts
  web/e2e/clubs/club-operations.test.ts
  web/e2e/clubs/club-operations.test.ts-snapshots/club-operations-page-chromium-linux.png
  web/e2e/operations/operations.test.ts
  web/src/lib/components/AircraftTile.svelte
  web/src/lib/services/FixFeed.ts
  web/src/lib/stores/websocket-status.ts
  web/src/routes/+layout.svelte
  web/src/routes/+page.svelte
  web/src/routes/clubs/[id]/+page.svelte
  web/src/routes/clubs/[id]/operations/+page.svelte
  web/src/routes/clubs/[id]/operations/+page.ts
  web/src/routes/operations/+layout.svelte
  web/src/routes/operations/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Fix AR aircraft markers hidden behind camera video on mobile
  web/src/lib/components/ar/AircraftMarker.svelte
  web/src/lib/components/ar/DebugPanel.svelte
  web/src/routes/ar/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Restore club operations page and navigation
  web/e2e/auth/logout.test.ts
  web/e2e/clubs/club-detail.test.ts
  web/e2e/clubs/club-operations.test.ts
  web/e2e/clubs/club-operations.test.ts-snapshots/club-operations-page-chromium-linux.png
  web/src/routes/+layout.svelte
  web/src/routes/+page.svelte
  web/src/routes/clubs/[id]/+page.svelte
  web/src/routes/clubs/[id]/operations/+page.svelte
  web/src/routes/clubs/[id]/operations/+page.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

Address Copilot review: derive visible count, fix label wording
  web/src/lib/components/ar/DebugPanel.svelte
  web/src/routes/ar/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Address Copilot review: fix stale comment and remaining /operations references
  docs/OPENAIP_SETUP.md
  src/commands/sitemap.rs
  web/src/lib/services/FixFeed.ts
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

Fix AR reactivity: use $derived.by and mutate SvelteMap in place
  web/src/lib/components/ar/AircraftMarker.svelte
  web/src/lib/components/ar/DirectionIndicator.svelte
  web/src/routes/ar/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Fix callsign race condition: guard stale updates and set callsign at creation
  src/flight_tracker/mod.rs
  src/flights.rs
Due: rust-fmt, rust-clippy, rust-test

Address Copilot review: check Ok(true) not is_ok(), extract guard helper
  src/flight_tracker/mod.rs
Due: rust-fmt, rust-clippy, rust-test
