Repository hut8/soar: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-install-deps, web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test, cargo-audit

web-install-deps:
  name: Install web dependencies
  entry: bash -c 'cd web && npm ci'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-format:
  name: Auto-fix web formatting (Prettier)
  entry: bash -c 'cd web && npm run format'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-lint:
  name: Run web linter (ESLint + Prettier check)
  entry: bash -c 'cd web && npm run lint'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-type-check:
  name: Run web type checking
  entry: bash -c 'cd web && npm run check'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-test:
  name: Run web tests (Playwright E2E)
  entry: bash -c 'cd web && npm test'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

web-build:
  name: Build web project
  entry: bash -c 'cd web && npm run build'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

rust-fmt:
  name: Auto-fix Rust formatting
  entry: cargo fmt
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

rust-clippy:
  name: Run Clippy
  entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo clippy --all-targets --all-features -- -D warnings'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

rust-test:
  name: Run Rust tests
  entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo test'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

cargo-audit:
  name: Run security audit
  entry: cargo audit
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

fix: update all preset classes to Skeleton v3 syntax
  web/src/lib/components/AircraftStatusModal.svelte
  web/src/lib/components/AirportModal.svelte
  web/src/lib/components/ClubSelector.svelte
  web/src/lib/components/SettingsModal.svelte
  web/src/lib/components/WatchlistModal.svelte
  web/src/routes/+layout.svelte
  web/src/routes/airports/[id]/+page.svelte
  web/src/routes/clubs/+page.svelte
  web/src/routes/clubs/[id]/+page.svelte
  web/src/routes/flights/+page.svelte
  web/src/routes/forgot-password/+page.svelte
  web/src/routes/login/+page.svelte
  web/src/routes/profile/+page.svelte
  web/src/routes/receivers/[id]/+page.svelte
  web/src/routes/register/+page.svelte
  web/src/routes/reset-password/+page.svelte
  web/src/routes/verify-email/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

feat: add snake_case serialization for aircraft_type_ogn and human-readable formatter
  src/ogn_aprs_aircraft.rs
  web/src/lib/formatters.ts
  web/src/routes/clubs/[id]/+page.svelte
  web/src/routes/flights/+page.svelte
  web/src/routes/flights/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

fix: improve formatTitleCase to handle numbers correctly
  web/src/lib/formatters.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

docs: update TODO - remove completed formatTitleCase task
  TODO.md
Due: none

feat: add local time display and mobile card layout for flights
  TODO.md
  web/src/routes/flights/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

feat: add reverse geocoding and location_id to receivers
  migrations/2025-10-10-005312-0000_add_location_id_to_receivers/down.sql
  migrations/2025-10-10-005312-0000_add_location_id_to_receivers/up.sql
  src/geocoding.rs
  src/receiver_repo.rs
  src/receivers.rs
  src/schema.rs
Due: rust-fmt, rust-clippy, rust-test

feat: update favicon to plane icon
  soar-archive.service
  soar-archive.timer
  web/src/lib/assets/favicon.svg
  web/src/lib/stores/theme.ts
  web/src/routes/+layout.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: improve password reset error logging and display
  migrations/2025-10-10-012235-0000_create_club_pilots_table/down.sql
  migrations/2025-10-10-012235-0000_create_club_pilots_table/up.sql
  src/schema.rs
  web/src/routes/flights/+page.svelte
  web/src/routes/flights/[id]/+page.svelte
  web/src/routes/flights/[id]/+page.ts
  web/src/routes/reset-password/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

feat: add Sentry error tracking and fix setTimeout type error
  web/.env.example
  web/package-lock.json
  web/package.json
  web/src/hooks.client.ts
  web/src/hooks.server.ts
  web/src/routes/operations/+page.svelte
Due: web-install-deps, web-format, web-lint, web-type-check, web-test, web-build

fix: rename Departure/Arrival columns to Takeoff/Landing Airport on device page
  web/src/routes/devices/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

feat: display airport countries in mobile flights view
  web/src/routes/flights/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: improve space efficiency in flight detail page tables
  web/src/routes/flights/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

feat: create aprs_messages table to normalize raw APRS data
  migrations/2025-10-10-031024-0000_create_aprs_messages_table/down.sql
  migrations/2025-10-10-031024-0000_create_aprs_messages_table/up.sql
  src/fixes.rs
  src/fixes_repo.rs
  src/flight_tracker.rs
  src/receiver_statuses.rs
  src/schema.rs
Due: rust-fmt, rust-clippy, rust-test

debug helpers
  Cargo.toml
Due: cargo-audit

flight visibility fixes
  src/actions/flights.rs
  src/actions/views/flight.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add persistent user settings with JSONB column in users table
  migrations/2025-10-10-064141-0000_add_settings_to_users/down.sql
  migrations/2025-10-10-064141-0000_add_settings_to_users/up.sql
  src/actions/mod.rs
  src/actions/user_settings.rs
  src/actions/views/user.rs
  src/schema.rs
  src/users.rs
  src/users_repo.rs
  src/web.rs
Due: rust-fmt, rust-clippy, rust-test

feat: sync SettingsModal with backend for authenticated users
  web/src/lib/components/SettingsModal.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: race condition causing duplicate flights for same aircraft
  src/flight_tracker.rs
Due: rust-fmt, rust-clippy, rust-test

fix: improve altitude offset validation for takeoff detection
  migrations/2025-10-10-134933-0000_add_device_id_index_to_aircraft_registrations/down.sql
  migrations/2025-10-10-134933-0000_add_device_id_index_to_aircraft_registrations/up.sql
  migrations/2025-10-10-135029-0000_add_device_id_timestamp_index_to_fixes/down.sql
  migrations/2025-10-10-135029-0000_add_device_id_timestamp_index_to_fixes/up.sql
  src/flight_tracker.rs
  src/runways_repo.rs
Due: rust-fmt, rust-clippy, rust-test

fix: move club_id from fixes to devices table
  migrations/2025-10-10-140500-0000_fix_club_id_schema/down.sql
  migrations/2025-10-10-140500-0000_fix_club_id_schema/up.sql
  src/devices.rs
  src/fixes.rs
  src/fixes_repo.rs
  src/flight_tracker.rs
  src/flights.rs
  src/schema.rs
Due: rust-fmt, rust-clippy, rust-test

perf: drop unused database indexes
  migrations/2025-10-11-005920-0000_drop_unused_indexes/down.sql
  migrations/2025-10-11-005920-0000_drop_unused_indexes/up.sql
Due: none

feat: add aircraft identifier to altitude offset log tracing
  src/flight_tracker.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add color-coded aircraft type badges and clickable model+registration links
  web/src/lib/formatters.ts
  web/src/routes/flights/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

feat: add 'near me' geolocation feature to receivers search
  web/src/routes/receivers/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

chore: remove completed 'near me' feature from TODO
  TODO.md
Due: none

refactor: migrate from Autocomplete to PlaceAutocompleteElement
  web/src/routes/receivers/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

refactor: centralize Google Maps API key configuration
  web/.env.example
  web/src/lib/config.ts
  web/src/routes/flights/[id]/+page.svelte
  web/src/routes/operations/+page.svelte
  web/src/routes/receivers/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

style: enhance receiver card visual separation
  web/src/routes/receivers/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

refactor: simplify mobile flight cards with compact single-row layout
  web/src/routes/flights/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

feat: add airport and runway information to mobile flight cards
  web/src/routes/flights/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

feat: add soar-archive service and timer to deployment script
  infrastructure/DEPLOYMENT.md
  infrastructure/soar-deploy
Due: none

feat: add separate Type column for aircraft type in desktop flights table
  src/flight_tracker.rs
  web/src/routes/flights/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

fix: correct device filter in flight_id update query
  src/fixes_repo.rs
Due: rust-fmt, rust-clippy, rust-test

chore: remove unused no-default-features
  Cargo.toml
Due: cargo-audit

feat: add device links to flights pages and fix airport flight display
  web/src/routes/+layout.svelte
  web/src/routes/airports/[id]/+page.svelte
  web/src/routes/devices/[id]/+page.svelte
  web/src/routes/flights/+page.svelte
  web/src/routes/flights/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

warn when receiver/aircraft processors are not configured
  src/aprs_client.rs
Due: rust-fmt, rust-clippy, rust-test

fix: wire up ReceiverPositionProcessor to handle receiver position packets
  src/main.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add pilot assignment system with flight linking
  migrations/2025-10-11-053356-0000_rename_club_pilots_and_add_flight_pilots/down.sql
  migrations/2025-10-11-053356-0000_rename_club_pilots_and_add_flight_pilots/up.sql
  src/actions/mod.rs
  src/actions/pilots.rs
  src/lib.rs
  src/pilots.rs
  src/pilots_repo.rs
  src/schema.rs
  src/web.rs
  web/src/lib/components/PilotSelectionModal.svelte
  web/src/routes/clubs/[id]/operations/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

refactor: improve aircraft model details layout on devices page
  web/src/routes/devices/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

feat: add interactive altitude chart to flight details page
  web/package-lock.json
  web/package.json
  web/src/plotly.d.ts
  web/src/routes/flights/[id]/+page.svelte
Due: web-install-deps, web-format, web-lint, web-type-check, web-test, web-build

Path conditions:
  web-install-deps: any of: ^web/(package\.json|package-lock\.json)$
  web-format: any of: ^web/.*\.(js|ts|svelte)$
  web-lint: any of: ^web/.*\.(js|ts|svelte)$
  web-type-check: any of: ^web/.*\.(js|ts|svelte)$
  web-test: any of: ^web/.*\.(js|ts|svelte)$
  web-build: any of: ^web/.*\.(js|ts|svelte)$
  rust-fmt: any of: \.rs$
  rust-clippy: any of: \.rs$
  rust-test: any of: \.rs$
  cargo-audit: any of: ^(Cargo\.toml|Cargo\.lock)$
