Repository hut8/soar: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-install-deps, web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test, cargo-audit

.pre-commit-config.yaml:

repos:
  # Frontend/SvelteKit checks (matching CI test-sveltekit job)
  - repo: local
    hooks:
      - id: web-install-deps
        name: Install web dependencies
        entry: bash -c 'cd web && npm ci'
        language: system
        files: ^web/(package\.json|package-lock\.json)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

      - id: web-format
        name: Auto-fix web formatting (Prettier)
        entry: bash -c 'cd web && npm run format'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

      - id: web-lint
        name: Run web linter (ESLint + Prettier check)
        entry: bash -c 'cd web && npm run lint'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

      - id: web-type-check
        name: Run web type checking
        entry: bash -c 'cd web && npm run check'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

      - id: web-test
        name: Run web tests (Playwright E2E)
        entry: bash -c 'cd web && npm test'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-push, manual]

      - id: web-build
        name: Build web project
        entry: bash -c 'cd web && npm run build'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-push, manual]

  # Rust formatting (matching CI check)
  - repo: local
    hooks:
      - id: rust-fmt
        name: Auto-fix Rust formatting
        entry: cargo fmt
        language: system
        files: \.rs$
        pass_filenames: false
        stages: [pre-commit, pre-push]

  # Rust linting (matching CI clippy check)
  - repo: local
    hooks:
      - id: rust-clippy
        name: Run Clippy
        entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo clippy --all-targets --all-features -- -D warnings'
        language: system
        files: \.rs$
        pass_filenames: false
        stages: [pre-commit, pre-push]

  # Rust tests (matching CI test run)
  - repo: local
    hooks:
      - id: rust-test
        name: Run Rust tests
        entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo test'
        language: system
        files: \.rs$
        pass_filenames: false
        stages: [pre-push, manual]

  # Security audit (matching CI security-audit job)
  - repo: local
    hooks:
      - id: cargo-audit
        name: Run security audit
        entry: cargo audit
        language: system
        files: ^(Cargo\.toml|Cargo\.lock)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
        stages: [pre-commit, pre-push]
      - id: end-of-file-fixer
        stages: [pre-commit, pre-push]
      - id: check-yaml
        stages: [pre-commit, pre-push]
      - id: check-toml
        stages: [pre-commit, pre-push]
      - id: check-json
        stages: [pre-commit, pre-push]
      - id: check-merge-conflict
        stages: [pre-commit, pre-push]
      - id: check-added-large-files
        args: ["--maxkb=1000"]
        stages: [pre-commit, pre-push]

# Performance optimizations
default_stages: [pre-commit]
fail_fast: false

# CI configuration
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit.com hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ""
  autoupdate_commit_msg: "[pre-commit.ci] pre-commit autoupdate"
  autoupdate_schedule: weekly
  skip: []
  submodules: false

Guard software update against races, revert lockfile churn
  src/receiver_repo.rs
  web/package-lock.json
Due: web-install-deps, rust-fmt, rust-clippy, rust-test

Update pre-commit-hooks to v6.0.0
  .pre-commit-config.yaml
Due: none

Collapse collapsible if (clippy fix)
  src/actions/receiver_alerts.rs
  src/email.rs
  src/receiver_alert_checker.rs
  web/package-lock.json
  web/src/lib/components/ReceiverAlertConfig.svelte
Due: web-install-deps, web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

Address Copilot review: batch user fetch, rate-limit email failures
  src/receiver_alert_checker.rs
  src/users_repo.rs
Due: rust-fmt, rust-clippy, rust-test

Add airport user presence to club operations page
  src/actions/clubs.rs
  src/ts_export.rs
  src/user_fixes.rs
  src/user_fixes_repo.rs
  src/web.rs
  web/src/lib/types/generated/AirportUserPresence.ts
  web/src/lib/types/index.ts
  web/src/routes/clubs/[id]/operations/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

Fix receiver insert/lookup error grouping in Sentry
  src/ogn/generic_processor.rs
  src/receiver_repo.rs
Due: rust-fmt, rust-clippy, rust-test

Don't bump receivers.updated_at when only latest_packet_at changes
  migrations/2026-03-09-000000-0000_skip_updated_at_on_latest_packet_at/down.sql
  migrations/2026-03-09-000000-0000_skip_updated_at_on_latest_packet_at/up.sql
Due: none

Filter OGN/APRS fixes received >400km from their attributed receiver
  src/fix_processor.rs
  src/ogn/generic_processor.rs
  src/ogn/packet_context.rs
  src/receiver_repo.rs
Due: rust-fmt, rust-clippy, rust-test

Add recovery email when receiver alert condition clears
  src/email.rs
  src/receiver_alert_checker.rs
Due: rust-fmt, rust-clippy, rust-test

Show start time, end time, and timezone in migration emails
  src/main.rs
  src/migration_email_reporter.rs
Due: rust-fmt, rust-clippy, rust-test

Add hard monthly budget cap for Sentry events
  src/main.rs
Due: rust-fmt, rust-clippy, rust-test

Group GitHub Actions dependabot updates by major/minor
  .github/dependabot.yml
Due: none

Replace receiver software column with protocols array
  migrations/2026-03-09-000000-0000_replace_software_with_protocols/down.sql
  migrations/2026-03-09-000000-0000_replace_software_with_protocols/up.sql
  src/actions/views/receiver.rs
  src/coverage_repo.rs
  src/ogn/generic_processor.rs
  src/receiver_repo.rs
  src/receivers.rs
  src/schema.rs
  web/src/lib/types/generated/ReceiverView.ts
  web/src/routes/receivers/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

Improve alert subscription UX: collapsible form, profile page list
  src/receiver_alerts.rs
  src/receiver_alerts_repo.rs
  web/src/lib/components/ReceiverAlertConfig.svelte
  web/src/lib/types/generated/ReceiverAlertView.ts
  web/src/routes/profile/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

Drop redundant indexes and validate fixes_aircraft_id_fkey
  migrations/2026-03-09-000000-0000_drop_redundant_indexes/down.sql
  migrations/2026-03-09-000000-0000_drop_redundant_indexes/metadata.toml
  migrations/2026-03-09-000000-0000_drop_redundant_indexes/up.sql
  migrations/2026-03-09-000001-0000_validate_fixes_aircraft_id_fkey/down.sql
  migrations/2026-03-09-000001-0000_validate_fixes_aircraft_id_fkey/up.sql
Due: none

Remove unintended ON DELETE SET NULL from fixes_aircraft_id_fkey
  migrations/2026-03-09-000001-0000_validate_fixes_aircraft_id_fkey/down.sql
  migrations/2026-03-09-000001-0000_validate_fixes_aircraft_id_fkey/up.sql
Due: none

Label unlabeled OpenTelemetry SDK events in Sentry
  src/main.rs
Due: rust-fmt, rust-clippy, rust-test

Address Copilot review: deduplicate condition labels, fix naming and wording
  src/email.rs
  src/receiver_alert_checker.rs
Due: rust-fmt, rust-clippy, rust-test

Upgrade bcrypt 0.18→0.19, scraper 0.23→0.25, toml 0.9→1.0
  Cargo.lock
  Cargo.toml
Due: cargo-audit

Use chrono for precise month ID in Sentry budget cap
  src/main.rs
Due: rust-fmt, rust-clippy, rust-test

Add timestamps to receiver alert and recovery emails
  src/email.rs
  src/receiver_alert_checker.rs
Due: rust-fmt, rust-clippy, rust-test

Add TCP socket transport for remote soar-ingest
  infrastructure/ingest-radar.toml
  infrastructure/ingest.toml
  infrastructure/systemd/soar-ingest-radar.service
  infrastructure/systemd/soar-run-staging.service
  infrastructure/systemd/soar-run.service
  src/commands/ingest.rs
  src/commands/run/mod.rs
  src/ingest_config.rs
  src/lib.rs
  src/main.rs
  src/socket_client.rs
  src/socket_server.rs
Due: rust-fmt, rust-clippy, rust-test

Replace distance filter with receiver position move warnings
  src/fix_processor.rs
  src/ogn/generic_processor.rs
  src/ogn/packet_context.rs
  src/ogn/receiver_position.rs
  src/receiver_repo.rs
Due: rust-fmt, rust-clippy, rust-test

Increase recursion limit for flight_detection_test
  tests/flight_detection_test.rs
Due: rust-fmt, rust-clippy, rust-test

Add first_alerted_at column and active duration to recovery emails
  migrations/2026-03-09-000000-0000_add_first_alerted_at_to_receiver_alerts/down.sql
  migrations/2026-03-09-000000-0000_add_first_alerted_at_to_receiver_alerts/up.sql
  src/email.rs
  src/receiver_alert_checker.rs
  src/receiver_alerts_repo.rs
  src/schema.rs
Due: rust-fmt, rust-clippy, rust-test

Fix Sentry rate limiter: don't waste monthly budget on per-minute drops
  src/main.rs
Due: rust-fmt, rust-clippy, rust-test

Address review feedback on protocols implementation
  migrations/2026-03-09-000000-0000_replace_software_with_protocols/down.sql
  migrations/2026-03-09-000000-0000_replace_software_with_protocols/up.sql
  src/ogn/generic_processor.rs
  src/receiver_repo.rs
Due: rust-fmt, rust-clippy, rust-test

Address Copilot review: accessibility, error handling, escaping
  src/email.rs
  src/receiver_alerts_repo.rs
  web/src/lib/components/ReceiverAlertConfig.svelte
  web/src/routes/profile/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

Remove unused bcrypt dependency and update quinn-proto for RUSTSEC-2026-0037
  Cargo.lock
  Cargo.toml
Due: cargo-audit

Fix CI: merge main, rename migration, keep software column
  migrations/2026-03-09-000000-0000_replace_software_with_protocols/down.sql
  migrations/2026-03-09-200000-0000_add_protocols_to_receivers/down.sql
  migrations/2026-03-09-200000-0000_add_protocols_to_receivers/up.sql
  src/schema.rs
Due: rust-fmt, rust-clippy, rust-test

Reject null island receiver positions and add Grafana panel
  infrastructure/dashboards/definitions/run.json
  infrastructure/dashboards/panels/run/receiver-position-moves.json
  src/ogn/receiver_position.rs
Due: rust-fmt, rust-clippy, rust-test

Address review feedback: DNS hostnames, systemd ordering, trust docs
  infrastructure/systemd/soar-run-staging.service
  infrastructure/systemd/soar-run.service
  src/ingest_config.rs
  src/lib.rs
  src/socket_server.rs
Due: rust-fmt, rust-clippy, rust-test

Fix radar config comments: radar is the ADS-B server hostname
  infrastructure/ingest-radar.toml
  infrastructure/systemd/soar-ingest-radar.service
Due: none

Fix migration timestamp collision with main branch
  migrations/2026-03-10-000000-0000_add_first_alerted_at_to_receiver_alerts/down.sql
  migrations/2026-03-10-000000-0000_add_first_alerted_at_to_receiver_alerts/up.sql
Due: none

Add ARM64 build and radar deployment to CI pipeline
  .github/workflows/ci.yml
Due: none

Switch from npm to bun for frontend package management
  .github/copilot-instructions.md
  .github/copilot-setup-steps.yml
  .github/instructions/frontend-svelte.instructions.md
  .github/instructions/playwright-tests.instructions.md
  .github/workflows/build-arm64.yml
  .github/workflows/build-cross-x64.yml
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  CI.md
  CLAUDE.md
  CONTRIBUTING.md
  DOCKER-DEVELOPMENT.md
  Dockerfile
  README.md
  docker-compose.dev.yml
  docker-compose.e2e.yml
  docs/release-process.md
  scripts/README.md
  web/README.md
  web/bun.lock
  web/e2e/README.md
  web/e2e/SNAPSHOTS.md
  web/package-lock.json
  web/package.json
  web/playwright.config.ts
  web/vite.config.ts
Due: web-install-deps, web-format, web-lint, web-type-check, web-test, web-build

Run ARM64 build on all CI triggers including PRs
  .github/workflows/ci.yml
Due: none

Replace ESLint with oxlint for faster linting
  .github/COPILOT-SETUP-COMPLETE.md
  .pre-commit-config.yaml
  CLAUDE.md
  CONTRIBUTING.md
  web/.oxlintrc.json
  web/bun.lock
  web/eslint.config.js
  web/package.json
Due: web-install-deps, web-format, web-lint, web-type-check, web-test, web-build
