Repository hut8/soar: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-install-deps, web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test, cargo-audit

web-install-deps:
  name: Install web dependencies
  entry: bash -c 'cd web && npm ci'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-format:
  name: Auto-fix web formatting (Prettier)
  entry: bash -c 'cd web && npm run format'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-lint:
  name: Run web linter (ESLint + Prettier check)
  entry: bash -c 'cd web && npm run lint'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-type-check:
  name: Run web type checking
  entry: bash -c 'cd web && npm run check'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-test:
  name: Run web tests (Playwright E2E)
  entry: bash -c 'cd web && npm test'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

web-build:
  name: Build web project
  entry: bash -c 'cd web && npm run build'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

rust-fmt:
  name: Auto-fix Rust formatting
  entry: cargo fmt
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

rust-clippy:
  name: Run Clippy
  entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo clippy --all-targets --all-features -- -D warnings'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

rust-test:
  name: Run Rust tests
  entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo test'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

cargo-audit:
  name: Run security audit
  entry: cargo audit
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

fix: use WAL streaming for base backups to prevent removal errors
  scripts/backup/base-backup
Due: none

feat: improve receiver marker styling and fix effect depth error
  web/src/routes/flights/[id]/+page.svelte
  web/src/routes/flights/[id]/map/+page.svelte
  web/src/routes/operations/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: restructure E2E tests to match production architecture
  web/e2e/devices/device-detail.test.ts
  web/e2e/devices/device-list.test.ts
  web/playwright.config.ts
  web/playwright.global-setup.ts
  web/vite.config.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: convert binary hash to hex for CSV archival of APRS messages
  Cargo.lock
  Cargo.toml
  src/commands/archive/aprs_messages.rs
  src/commands/archive/mod.rs
Due: rust-fmt, rust-clippy, rust-test, cargo-audit

fix: update login E2E test error message expectations
  web/e2e/auth/login.test.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

chore: remove log file redirection from backup scripts
  scripts/backup/backup-verify
  scripts/backup/base-backup
  soar-backup-base.service
  soar-backup-verify.service
Due: none

feat: add position fixes and flight data to E2E test seed
  src/commands/seed_test_data.rs
Due: rust-fmt, rust-clippy, rust-test

perf: optimize archive queries with partition pruning
  migrations/2025-11-16-232354-0000_drop_redundant_flight_duration_buckets_order_index/down.sql
  migrations/2025-11-16-232354-0000_drop_redundant_flight_duration_buckets_order_index/up.sql
  src/commands/archive/aprs_messages.rs
  src/commands/archive/archiver.rs
  src/commands/archive/fixes.rs
  src/commands/archive/flights.rs
  src/commands/archive/mod.rs
  src/commands/archive/receiver_statuses.rs
Due: rust-fmt, rust-clippy, rust-test

fix: ensure flight/fix data is seeded and tests work in Docker
  src/commands/seed_test_data.rs
  web/e2e/devices/device-detail.test.ts
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

feat: add ingest-beast subcommand for ADS-B Beast protocol ingestion
  infrastructure/soar-deploy
  soar-beast-ingest.service
  src/beast_client.rs
  src/beast_jetstream_publisher.rs
  src/commands/ingest_beast.rs
  src/commands/mod.rs
  src/lib.rs
  src/main.rs
  src/metrics.rs
  src/queue_config.rs
Due: rust-fmt, rust-clippy, rust-test

fix: find repo root at runtime for schema.sql generation
  src/main.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add receiver toggle to full-screen flight map
  web/src/routes/flights/[id]/map/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: optimize archive analytics queries and increase timeout
  soar-archive.service
  src/commands/archive/aprs_messages.rs
  src/commands/archive/archiver.rs
  src/commands/archive/fixes.rs
  src/commands/archive/flights.rs
  src/commands/archive/mod.rs
  src/commands/archive/receiver_statuses.rs
Due: rust-fmt, rust-clippy, rust-test

chore: check in schema.sql
  schema.sql
Due: none

refactor: reorganize Beast code and add integration plan
  BEAST-Integration.md
  Cargo.lock
  Cargo.toml
  src/beast/client.rs
  src/beast/mod.rs
  src/commands/ingest_beast.rs
  src/lib.rs
Due: rust-fmt, rust-clippy, rust-test, cargo-audit

feat: Phase 1 - Consolidate APRS columns into JSONB for ADS-B support
  migrations/2025-11-17-071739-0000_add_source_metadata_jsonb/down.sql
  migrations/2025-11-17-071739-0000_add_source_metadata_jsonb/up.sql
  migrations/2025-11-17-071820-0000_rename_aprs_messages_to_raw_messages/up.sql
  migrations/2025-11-17-072043-0000_backfill_aprs_metadata_to_jsonb/down.sql
  migrations/2025-11-17-072043-0000_backfill_aprs_metadata_to_jsonb/up.sql
  migrations/2025-11-17-072129-0000_drop_consolidated_aprs_columns/down.sql
  migrations/2025-11-17-072129-0000_drop_consolidated_aprs_columns/up.sql
  src/aprs_messages_repo.rs
  src/commands/archive/aprs_messages.rs
  src/fix_processor.rs
  src/fixes.rs
  src/fixes_repo.rs
  src/flight_tracker/aircraft_tracker.rs
  src/packet_processors/generic.rs
  src/packet_processors/receiver_status.rs
  src/receiver_status_repo.rs
  src/receiver_statuses.rs
  src/schema.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add staging environment with auto-deploy on main
  .env.example
  .github/workflows/ci.yml
  infrastructure/STAGING-SETUP.md
  infrastructure/prometheus-jobs/soar-aprs-ingest-staging.yml
  infrastructure/prometheus-jobs/soar-run-staging.yml
  infrastructure/prometheus-jobs/soar-web-staging.yml
  infrastructure/soar-deploy
  infrastructure/sudoers.d/soar
  partman-maintenance-staging.service
  partman-maintenance-staging.timer
  soar-aprs-ingest-staging.service
  soar-archive-staging.service
  soar-archive-staging.timer
  soar-pull-data-staging.service
  soar-pull-data-staging.timer
  soar-run-staging.service
  soar-sitemap-staging.service
  soar-sitemap-staging.timer
  soar-web-staging.service
Due: none

fix: add missing DateTime import to aprs_messages archive module
  src/commands/archive/aprs_messages.rs
Due: rust-fmt, rust-clippy, rust-test

refactor: rename aprs_messages_repo to raw_messages_repo
  src/actions/aprs_messages.rs
  src/actions/receivers.rs
  src/commands/archive/aprs_messages.rs
  src/commands/run.rs
  src/lib.rs
  src/packet_processors/generic.rs
  src/raw_messages_repo.rs
Due: rust-fmt, rust-clippy, rust-test

fix: use separate binaries for staging and production
  infrastructure/STAGING-SETUP.md
  infrastructure/soar-deploy
  soar-aprs-ingest-staging.service
  soar-archive-staging.service
  soar-pull-data-staging.service
  soar-run-staging.service
  soar-sitemap-staging.service
  soar-web-staging.service
Due: none

perf: use binary format for Beast JetStream messages
  src/beast/client.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add Caddy configuration for staging.glider.flights
  infrastructure/Caddyfile
  infrastructure/STAGING-SETUP.md
Due: none

feat: migrate raw_message column from TEXT to BYTEA
  migrations/2025-11-17-104924-0000_change_raw_message_to_bytea/down.sql
  migrations/2025-11-17-104924-0000_change_raw_message_to_bytea/up.sql
  src/commands/archive/aprs_messages.rs
  src/fixes_repo.rs
  src/raw_messages_repo.rs
  src/receiver_status_repo.rs
  src/schema.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add Beast JetStream consumer for database storage
  src/beast_consumer_task.rs
  src/beast_jetstream_consumer.rs
  src/commands/consume_beast.rs
  src/commands/mod.rs
  src/lib.rs
  src/metrics.rs
  src/raw_messages_repo.rs
Due: rust-fmt, rust-clippy, rust-test

fix: add NULL handling to analytics trigger functions
  migrations/2025-11-17-145657-0000_fix_analytics_triggers_null_handling/down.sql
  migrations/2025-11-17-145657-0000_fix_analytics_triggers_null_handling/up.sql
Due: none

feat: add Beast frame decoder using rs1090
  Cargo.lock
  Cargo.toml
  src/beast/decoder.rs
  src/beast/mod.rs
Due: rust-fmt, rust-clippy, rust-test, cargo-audit

feat: integrate Beast decoder into consumer task (Phase 3 complete)
  src/beast_consumer_task.rs
  src/metrics.rs
Due: rust-fmt, rust-clippy, rust-test

fix: remove transaction control from migration (Diesel auto-wraps)
  migrations/2025-11-17-145657-0000_fix_analytics_triggers_null_handling/up.sql
Due: none

perf: reduce log verbosity and add flight lifecycle metrics
  infrastructure/grafana-dashboard-run.json
  src/aprs_jetstream_consumer.rs
  src/flight_tracker/flight_lifecycle.rs
  src/flight_tracker/state_transitions.rs
  src/metrics.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add ADS-B to Fix conversion module (Phase 4)
  src/beast/adsb_to_fix.rs
  src/beast/mod.rs
Due: rust-fmt, rust-clippy, rust-test

feat: implement ADS-B data extraction (Phase 5 partial)
  src/beast/adsb_to_fix.rs
Due: rust-fmt, rust-clippy, rust-test

fix: complete analytics migration with triggers and backfill
  migrations/2025-11-17-105115-0000_add_analytics_triggers_and_backfill/down.sql
  migrations/2025-11-17-105115-0000_add_analytics_triggers_and_backfill/up.sql
Due: none

fix: add NULL checks to all analytics trigger functions
  migrations/2025-11-17-105115-0000_add_analytics_triggers_and_backfill/up.sql
Due: none

fix: simplify analytics backfill migration after rebase
  migrations/2025-11-17-105115-0000_add_analytics_triggers_and_backfill/down.sql
  migrations/2025-11-17-105115-0000_add_analytics_triggers_and_backfill/up.sql
  migrations/2025-11-17-145657-0000_fix_analytics_triggers_null_handling/down.sql
  migrations/2025-11-17-145657-0000_fix_analytics_triggers_null_handling/up.sql
  src/schema.rs
Due: rust-fmt, rust-clippy, rust-test

perf: add time-based pruning to bounding box fixes query
  src/fixes_repo.rs
Due: rust-fmt, rust-clippy, rust-test

fix: add missing analytics triggers to flights table
  migrations/2025-11-17-210459-0000_add_analytics_triggers/down.sql
  migrations/2025-11-17-210459-0000_add_analytics_triggers/up.sql
  src/schema.rs
Due: rust-fmt, rust-clippy, rust-test

fix: include trigger functions in migration for self-contained deployment
  migrations/2025-11-17-210459-0000_add_analytics_triggers/down.sql
  migrations/2025-11-17-210459-0000_add_analytics_triggers/up.sql
Due: none

docs: add ADS-B Beast feed relay setup guide
  README.md
Due: none

perf: drop partitions instead of DELETE for archive
  src/commands/archive/aprs_messages.rs
  src/commands/archive/fixes.rs
Due: rust-fmt, rust-clippy, rust-test

comit schema
  schema.sql
Due: none

Path conditions:
  web-install-deps: any of: ^web/(package\.json|package-lock\.json)$
  web-format: any of: ^web/.*\.(js|ts|svelte)$
  web-lint: any of: ^web/.*\.(js|ts|svelte)$
  web-type-check: any of: ^web/.*\.(js|ts|svelte)$
  web-test: any of: ^web/.*\.(js|ts|svelte)$
  web-build: any of: ^web/.*\.(js|ts|svelte)$
  rust-fmt: any of: \.rs$
  rust-clippy: any of: \.rs$
  rust-test: any of: \.rs$
  cargo-audit: any of: ^(Cargo\.toml|Cargo\.lock)$
