Repository hut8/soar: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-install-deps, web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test, cargo-audit

.pre-commit-config.yaml:

repos:
  # Frontend/SvelteKit checks (matching CI test-sveltekit job)
  - repo: local
    hooks:
      - id: web-install-deps
        name: Install web dependencies
        entry: bash -c 'cd web && npm ci'
        language: system
        files: ^web/(package\.json|package-lock\.json)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

      - id: web-format
        name: Auto-fix web formatting (Prettier)
        entry: bash -c 'cd web && npm run format'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

      - id: web-lint
        name: Run web linter (ESLint + Prettier check)
        entry: bash -c 'cd web && npm run lint'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

      - id: web-type-check
        name: Run web type checking
        entry: bash -c 'cd web && npm run check'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

      - id: web-test
        name: Run web tests (Playwright E2E)
        entry: bash -c 'cd web && npm test'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-push, manual]

      - id: web-build
        name: Build web project
        entry: bash -c 'cd web && npm run build'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-push, manual]

  # Rust formatting (matching CI check)
  - repo: local
    hooks:
      - id: rust-fmt
        name: Auto-fix Rust formatting
        entry: cargo fmt
        language: system
        files: \.rs$
        pass_filenames: false
        stages: [pre-commit, pre-push]

  # Rust linting (matching CI clippy check)
  - repo: local
    hooks:
      - id: rust-clippy
        name: Run Clippy
        entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo clippy --all-targets --all-features -- -D warnings'
        language: system
        files: \.rs$
        pass_filenames: false
        stages: [pre-commit, pre-push]

  # Rust tests (matching CI test run)
  - repo: local
    hooks:
      - id: rust-test
        name: Run Rust tests
        entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo test'
        language: system
        files: \.rs$
        pass_filenames: false
        stages: [pre-push, manual]

  # Security audit (matching CI security-audit job)
  - repo: local
    hooks:
      - id: cargo-audit
        name: Run security audit
        entry: cargo audit
        language: system
        files: ^(Cargo\.toml|Cargo\.lock)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
        stages: [pre-commit, pre-push]
      - id: end-of-file-fixer
        stages: [pre-commit, pre-push]
      - id: check-yaml
        stages: [pre-commit, pre-push]
      - id: check-toml
        stages: [pre-commit, pre-push]
      - id: check-json
        stages: [pre-commit, pre-push]
      - id: check-merge-conflict
        stages: [pre-commit, pre-push]
      - id: check-added-large-files
        args: ["--maxkb=1000"]
        stages: [pre-commit, pre-push]

# Performance optimizations
default_stages: [pre-commit]
fail_fast: false

# CI configuration
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit.com hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ""
  autoupdate_commit_msg: "[pre-commit.ci] pre-commit autoupdate"
  autoupdate_schedule: weekly
  skip: []
  submodules: false

feat: add local deployment script
  scripts/README.md
  scripts/deploy
Due: none

fix: never restart soar-run if database migrations fail
  infrastructure/soar-deploy
Due: none

feat: add local deployment mode to deploy script
  scripts/README.md
  scripts/deploy
Due: none

feat: migrate database backups from Wasabi to local SSH server
  backup-env.example
  scripts/backup/base-backup
  scripts/backup/wal-archive
Due: none

fix: use deterministic restrict key in pg_dump for schema.sql
  schema.sql
  src/main.rs
Due: rust-fmt, rust-clippy, rust-test

fix: sync received_at timestamps and create composite FK for partitioned aprs_messages
  migrations/2025-11-13-182353-0000_fix_aprs_messages_foreign_keys/down.sql
  migrations/2025-11-13-182353-0000_fix_aprs_messages_foreign_keys/up.sql
  schema.sql
Due: none

fix: resolve E2E test failures and add Mailpit email testing
  CLAUDE.md
  docker-compose.dev.yml
  docker-compose.yml
  web/e2e/auth/register.test.ts
  web/e2e/auth/register.test.ts-snapshots/register-error-email-exists-chromium-linux.png
  web/e2e/auth/register.test.ts-snapshots/register-error-required-fields-chromium-linux.png
  web/playwright.config.ts
  web/src/routes/devices/+page.ts
  web/src/routes/register/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: add Mailpit to acceptance test script
  scripts/run-acceptance-tests
Due: none

fix: remove Mailpit port exposure from docker-compose configs
  docker-compose.dev.yml
  docker-compose.yml
  web/playwright.config.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

feat: enable parallel test execution in E2E tests
  docker-compose.e2e.yml
  web/playwright.config.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: add better error logging for email service and auth protection for device pages
  docker-compose.dev.yml
  src/actions/auth.rs
  web/src/routes/devices/[id]/+page.ts
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

fix: convert device E2E tests to use authenticated fixture
  web/e2e/devices/device-detail.test.ts
  web/e2e/devices/device-list.test.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: E2E test failures for device detail and registration
  web/e2e/auth/register.test.ts
  web/e2e/devices/device-detail.test.ts
  web/src/routes/register/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: email service and device detail test assertions
  src/email.rs
  web/e2e/devices/device-detail.test.ts
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

fix: docs, remove redundant prompt, perms
  scripts/deploy
Due: none

feat: add temporary migration scripts
  check-migration-needed.sh
  fix-aprs-fk-migration-parallel.sh
  monitor-migration-progress.sh
Due: none

fix: use custom PostgreSQL image with pg_partman for E2E tests
  .github/workflows/ci.yml
Due: none

fix: minor tweak to parallel partition migration script to remove unnecessary dupe check
  fix-aprs-fk-migration-parallel.sh
Due: none

fix: disable TLS for Mailpit SMTP on port 1025
  src/email.rs
Due: rust-fmt, rust-clippy, rust-test

fix: preserve existing device data when DDB fields are empty during upsert
  src/device_repo.rs
  src/devices.rs
Due: rust-fmt, rust-clippy, rust-test

fix: resolve E2E test failures with parallel execution and page structure updates
  web/e2e/auth/register.test.ts
  web/e2e/auth/register.test.ts-snapshots/register-success-chromium-linux.png
  web/e2e/devices/device-detail.test.ts
  web/e2e/devices/device-detail.test.ts-snapshots/device-detail-authenticatedPage-chromium-linux.png
  web/e2e/devices/device-detail.test.ts-snapshots/device-detail-fixes-chromium-linux.png
Due: web-format, web-lint, web-type-check, web-test, web-build

refactor: make APRS FK migration idempotent and remove data sync
  migrations/2025-11-13-182353-0000_fix_aprs_messages_foreign_keys/down.sql
  migrations/2025-11-13-182353-0000_fix_aprs_messages_foreign_keys/up.sql
Due: none

fix: make APRS FK migration truly idempotent with early check
  migrations/2025-11-13-182353-0000_fix_aprs_messages_foreign_keys/up.sql
Due: none

chore: remove maxFailures limit to run full test suite
  web/playwright.config.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: correct E2E test selectors for device pages
  web/e2e/devices/device-detail.test.ts
  web/e2e/devices/device-list.test.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: additional E2E test selector improvements
  web/e2e/devices/device-detail.test.ts
  web/e2e/devices/device-list.test.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: ICAO/OGN/FLARM strict mode violation in device list tests
  web/e2e/devices/device-list.test.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

feat: update soar-run Grafana dashboard
  infrastructure/grafana-dashboard-run.json
Due: none

feat: add APRS type metric before filtering
  src/fix_processor.rs
Due: rust-fmt, rust-clippy, rust-test

feat: remove OGADSB filter from soar-run service
  soar-run.service
Due: none

refactor: reduce log level for airborne flight creation
  src/flights.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add index on fixes.flight_id
  migrations/2025-11-15-031904-0000_add_fixes_flight_id_index/down.sql
  migrations/2025-11-15-031904-0000_add_fixes_flight_id_index/up.sql
Due: none

perf: increase receiver cache size and TTL
  src/packet_processors/generic.rs
Due: rust-fmt, rust-clippy, rust-test

perf: cache receiver latest_packet_at updates
  src/receiver_repo.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add receiver latest_packet_at cache metrics to dashboard
  infrastructure/grafana-dashboard-run.json
Due: none

feat: add index on fixes.device_id
  migrations/2025-11-15-035805-0000_add_fixes_device_id_index/down.sql
  migrations/2025-11-15-035805-0000_add_fixes_device_id_index/up.sql
Due: none

feat: add great britain scraper
  scripts/pull-registry/gb
Due: none

perf: add received_at filter to get_fixes_for_device for partition pruning
  src/actions/fixes.rs
  src/fixes_repo.rs
  src/flight_tracker/state_transitions.rs
Due: rust-fmt, rust-clippy, rust-test

perf: order by received_at instead of timestamp in get_fixes_for_device
  src/fixes_repo.rs
Due: rust-fmt, rust-clippy, rust-test

fix: club selector test and add missing screenshot baselines
  web/e2e/devices/device-detail.test.ts-snapshots/device-detail-flights-chromium-linux.png
  web/e2e/devices/device-list.test.ts
  web/e2e/devices/device-list.test.ts-snapshots/device-list-authenticatedPage-chromium-linux.png
  web/e2e/devices/device-list.test.ts-snapshots/device-search-type-address-chromium-linux.png
Due: web-format, web-lint, web-type-check, web-test, web-build
