Repository hut8/soar: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-install-deps, web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test, cargo-audit

.pre-commit-config.yaml:

repos:
  # Frontend/SvelteKit checks (matching CI test-sveltekit job)
  - repo: local
    hooks:
      - id: web-install-deps
        name: Install web dependencies
        entry: bash -c 'cd web && npm ci'
        language: system
        files: ^web/(package\.json|package-lock\.json)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

      - id: web-format
        name: Auto-fix web formatting (Prettier)
        entry: bash -c 'cd web && npm run format'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

      - id: web-lint
        name: Run web linter (ESLint + Prettier check)
        entry: bash -c 'cd web && npm run lint'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

      - id: web-type-check
        name: Run web type checking
        entry: bash -c 'cd web && npm run check'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

      - id: web-test
        name: Run web tests (Playwright E2E)
        entry: bash -c 'cd web && npm test'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-push, manual]

      - id: web-build
        name: Build web project
        entry: bash -c 'cd web && npm run build'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-push, manual]

  # Rust formatting (matching CI check)
  - repo: local
    hooks:
      - id: rust-fmt
        name: Auto-fix Rust formatting
        entry: cargo fmt
        language: system
        files: \.rs$
        pass_filenames: false
        stages: [pre-commit, pre-push]

  # Rust linting (matching CI clippy check)
  - repo: local
    hooks:
      - id: rust-clippy
        name: Run Clippy
        entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo clippy --all-targets --all-features -- -D warnings'
        language: system
        files: \.rs$
        pass_filenames: false
        stages: [pre-commit, pre-push]

  # Rust tests (matching CI test run)
  - repo: local
    hooks:
      - id: rust-test
        name: Run Rust tests
        entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo test'
        language: system
        files: \.rs$
        pass_filenames: false
        stages: [pre-push, manual]

  # Security audit (matching CI security-audit job)
  - repo: local
    hooks:
      - id: cargo-audit
        name: Run security audit
        entry: cargo audit
        language: system
        files: ^(Cargo\.toml|Cargo\.lock)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
        stages: [pre-commit, pre-push]
      - id: end-of-file-fixer
        stages: [pre-commit, pre-push]
      - id: check-yaml
        stages: [pre-commit, pre-push]
      - id: check-toml
        stages: [pre-commit, pre-push]
      - id: check-json
        stages: [pre-commit, pre-push]
      - id: check-merge-conflict
        stages: [pre-commit, pre-push]
      - id: check-added-large-files
        args: ["--maxkb=1000"]
        stages: [pre-commit, pre-push]

# Performance optimizations
default_stages: [pre-commit]
fail_fast: false

# CI configuration
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit.com hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ""
  autoupdate_commit_msg: "[pre-commit.ci] pre-commit autoupdate"
  autoupdate_schedule: weekly
  skip: []
  submodules: false

refactor(frontend): update device to aircraft terminology
  web/src/lib/components/WatchlistModal.svelte
  web/src/lib/services/FixFeed.ts
  web/src/routes/operations/+page.svelte
  web/src/routes/receivers/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

test: update E2E screenshot baseline for aircraft list page
  web/e2e/aircraft/aircraft-list.test.ts-snapshots/aircraft-list-authenticatedPage-chromium-linux.png
Due: none

fix: correct OpenAIP API base URL and update schema.sql
  schema.sql
  src/openaip_client.rs
Due: rust-fmt, rust-clippy, rust-test

fix: improve OpenAIP API parsing and reduce logging verbosity
  src/main.rs
  src/openaip_client.rs
Due: rust-fmt, rust-clippy, rust-test

chore: upgrade Playwright from 1.56.1 to 1.57.0
  web/e2e/auth/logout.test.ts-snapshots/user-menu-open-chromium-linux.png
  web/package-lock.json
  web/package.json
Due: web-install-deps

fix: correct OpenAIP API response parsing and add unit test
  migrations/2025-12-15-033206-0000_create_airspaces_table/up.sql
  src/airspace.rs
  src/airspaces_repo.rs
  src/commands/pull_airspaces.rs
  src/openaip_client.rs
  src/openaip_test_response.json
  src/schema.rs
Due: rust-fmt, rust-clippy, rust-test

feat: implement consistent NATS client naming with three-way environment differentiation
  Cargo.lock
  Cargo.toml
  src/commands/ingest_aprs.rs
  src/commands/ingest_beast.rs
  src/commands/run.rs
  src/lib.rs
  src/live_fixes.rs
  src/nats_publisher.rs
Due: rust-fmt, rust-clippy, rust-test, cargo-audit

fix: airport API parameter names and reposition InfoBox
  web/src/lib/components/cesium/AirportLayer.svelte
  web/src/routes/globe/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

feat: add Timeline Controller for flight playback
  web/src/lib/components/cesium/GlobeControls.svelte
  web/src/lib/components/cesium/TimelineController.svelte
  web/src/routes/globe/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

feat: add Cesium 3D globe visualization at /globe
  web/package-lock.json
  web/package.json
  web/src/lib/cesium/entities.ts
  web/src/lib/components/cesium/AircraftLayer.svelte
  web/src/lib/components/cesium/AirportLayer.svelte
  web/src/lib/components/cesium/FlightPathLayer.svelte
  web/src/lib/components/cesium/GlobeControls.svelte
  web/src/lib/components/cesium/ReceiverLayer.svelte
  web/src/lib/config.ts
  web/src/lib/utils/mapColors.ts
  web/src/routes/+layout.svelte
  web/src/routes/globe/+page.svelte
  web/src/routes/globe/+page.ts
  web/vite.config.ts
Due: web-install-deps, web-format, web-lint, web-type-check, web-test, web-build

fix: add db_enum rename attributes for database enum serialization
  src/airspace.rs
Due: rust-fmt, rust-clippy, rust-test

chore: update schema.sql with airspaces table changes
  schema.sql
Due: none

fix: update AirportLayer and ReceiverLayer to expect direct arrays
  web/src/lib/components/cesium/AirportLayer.svelte
  web/src/lib/components/cesium/ReceiverLayer.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

feat: download airspaces to temp directory before processing
  src/commands/pull_airspaces.rs
  src/openaip_client.rs
Due: rust-fmt, rust-clippy, rust-test

fix: regenerate package-lock.json with clean base from main
  web/package-lock.json
Due: web-install-deps

fix: add db_enum rename attributes for all AirspaceClass variants
  src/airspace.rs
  src/openaip_client.rs
Due: rust-fmt, rust-clippy, rust-test

fix: improve Cesium InfoBox and label visibility for dark/light mode
  web/src/lib/cesium/entities.ts
  web/src/routes/globe/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: remove obsolete ADSB ARM64 deployment from CI/CD pipeline
  .github/workflows/ci.yml
Due: none

fix: add db_enum rename attributes for all AirspaceType variants
  src/airspace.rs
Due: rust-fmt, rust-clippy, rust-test

feat: integrate airspace import into pull-data command
  src/commands/pull_data.rs
Due: rust-fmt, rust-clippy, rust-test

fix: correct InfoBox dark/light mode selectors with !important
  web/src/routes/globe/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: remove loading indicator overlays from Cesium layers
  web/src/lib/components/cesium/AirportLayer.svelte
  web/src/lib/components/cesium/FlightPathLayer.svelte
  web/src/lib/components/cesium/ReceiverLayer.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: change aircraft loading time filter from 24 hours to 1 hour
  web/src/lib/components/cesium/AircraftLayer.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: improve InfoBox styling without !important flags
  web/src/routes/globe/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: revert ReceiverLayer to expect wrapped response format
  web/src/lib/components/cesium/ReceiverLayer.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

feat: add Globe button to flight detail page
  web/src/routes/flights/[id]/+page.svelte
  web/src/routes/globe/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: sort flight history by takeoff time descending on aircraft detail page
  web/src/routes/aircraft/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: inject dark/light mode styles into InfoBox iframe
  web/src/routes/globe/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: fix signal handling and rename ingest commands
  README.md
  infrastructure/ADSB-SETUP.md
  infrastructure/prometheus-jobs/soar-adsb-ingest-staging.yml
  infrastructure/prometheus-jobs/soar-adsb-ingest.yml
  infrastructure/prometheus-jobs/soar-ogn-ingest-staging.yml
  infrastructure/prometheus-jobs/soar-ogn-ingest.yml
  infrastructure/systemd/soar-adsb-ingest-staging.service
  infrastructure/systemd/soar-adsb-ingest.service
  infrastructure/systemd/soar-ogn-ingest-staging.service
  infrastructure/systemd/soar-ogn-ingest.service
  src/commands/ingest_adsb.rs
  src/commands/ingest_ogn.rs
  src/commands/mod.rs
  src/main.rs
Due: rust-fmt, rust-clippy, rust-test

fix: update deployment scripts and CI for renamed services
  infrastructure/soar-deploy
  infrastructure/soar-deploy-adsb
  infrastructure/systemd/soar.target
Due: none

refactor: remove legacy JetStream naming, use NATS
  src/aprs_client.rs
  src/beast/client.rs
  src/metrics.rs
Due: rust-fmt, rust-clippy, rust-test

refactor: remove separate ADS-B server deployment
  infrastructure/ADSB-SETUP.md
  infrastructure/DEPLOYMENT.md
  infrastructure/soar-deploy
  infrastructure/soar-deploy-adsb
  infrastructure/sudoers.d/soar-adsb
Due: none

docs: remove deprecated ADSB-SETUP.md
  infrastructure/ADSB-SETUP.md
Due: none

feat: add country flags to flight airport displays
  src/actions/clubs.rs
  src/actions/flights.rs
  src/actions/views/flight.rs
  web/src/lib/components/FlightsList.svelte
  web/src/routes/flights/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

fix: increase screenshot threshold for login test due to country flags UI changes
  web/e2e/auth/login.test.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: update soar-run to subscribe to ogn.raw NATS subject
  src/commands/run.rs
Due: rust-fmt, rust-clippy, rust-test

fix: use 'aircraft' key instead of 'devices' in club aircraft API response
  src/actions/devices.rs
  web/src/routes/clubs/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

test: add missing E2E test screenshot snapshots
  web/e2e/aircraft/aircraft-list.test.ts-snapshots/aircraft-card-chromium-linux.png
  web/e2e/aircraft/aircraft-list.test.ts-snapshots/aircraft-detail-from-list-chromium-linux.png
Due: none

fix: unify ADS-B topic names and fix shutdown handling
  src/beast/client.rs
  src/commands/run.rs
Due: rust-fmt, rust-clippy, rust-test
