Repository hut8/soar: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-install-deps, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test, cargo-audit, cargo-outdated

web-install-deps:
  name: Install web dependencies
  entry: bash -c 'cd web && npm ci'
  language: system
  pass_filenames: false

web-lint:
  name: Run web linter (ESLint + Prettier)
  entry: bash -c 'cd web && npm run lint'
  language: system
  pass_filenames: false

web-type-check:
  name: Run web type checking
  entry: bash -c 'cd web && npm run check'
  language: system
  pass_filenames: false

web-test:
  name: Run web tests (Playwright E2E)
  entry: bash -c 'cd web && npm test'
  language: system
  pass_filenames: false

web-build:
  name: Build web project
  entry: bash -c 'cd web && npm run build'
  language: system
  pass_filenames: false

rust-fmt:
  name: Check Rust formatting
  entry: cargo fmt --check
  language: system
  pass_filenames: false

rust-clippy:
  name: Run Clippy
  entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo clippy --all-targets --all-features -- -D warnings'
  language: system
  pass_filenames: false

rust-test:
  name: Run Rust tests
  entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo test --verbose'
  language: system
  pass_filenames: false

cargo-audit:
  name: Run security audit
  entry: cargo audit
  language: system
  pass_filenames: false

cargo-outdated:
  name: Check for outdated dependencies
  entry: bash -c 'cargo outdated --exit-code 1 || echo "Some dependencies are outdated (non-critical)"'
  language: system
  pass_filenames: false

feat: add receiver status update metrics and Grafana dashboard
  grafana/README.md
  grafana/soar-dashboard.json
  src/aprs_client.rs
Due: rust-fmt, rust-clippy, rust-test

fix logging verbosity
  src/aprs_client.rs
  src/fixes_repo.rs
Due: rust-fmt, rust-clippy, rust-test

feat: display 10 most recently updated receivers on page load
  src/actions/receivers.rs
  src/receiver_repo.rs
  web/src/routes/receivers/+page.svelte
Due: web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

fix: filter out 'ZZ' country codes from receivers
  src/receivers.rs
Due: rust-fmt, rust-clippy, rust-test

feat: implement ReceiverStatusProcessor with actual database lookups
  src/aprs_client.rs
Due: rust-fmt, rust-clippy, rust-test

feat: improve time display on flight detail page with dayjs
  web/src/routes/flights/[id]/+page.svelte
Due: web-lint, web-type-check, web-test, web-build

feat: add archive subcommand to archive and delete old fixes
  Cargo.lock
  Cargo.toml
  src/archive.rs
  src/lib.rs
  src/main.rs
Due: rust-fmt, rust-clippy, rust-test, cargo-audit, cargo-outdated

chore: optimize pre-commit checks for faster commits
  .github/workflows/release.yml
  .pre-commit-config.yaml
  web/static/icon.svg
Due: none

fix: normalize static file paths in metrics to avoid cardinality explosion
  src/web.rs
Due: rust-fmt, rust-clippy, rust-test

fix: display relative times in flights table using dayjs
  web/src/routes/flights/+page.svelte
Due: web-lint, web-type-check, web-test, web-build

feat: increase GPS and speed thresholds for flight detection
  src/fixes.rs
  src/flight_tracker.rs
Due: rust-fmt, rust-clippy, rust-test

feat: improve flight page navigation and location links
  web/src/routes/flights/+page.svelte
  web/src/routes/flights/[id]/+page.svelte
Due: web-lint, web-type-check, web-test, web-build

feat: improve flight details pagination with chronological order
  web/src/routes/flights/[id]/+page.svelte
Due: web-lint, web-type-check, web-test, web-build

fix: use device UUIDs instead of formatted addresses in sitemap
  src/sitemap.rs
Due: rust-fmt, rust-clippy, rust-test

feat: require 4+ satellites for landing detection and altitude logging
  src/flight_tracker.rs
Due: rust-fmt, rust-clippy, rust-test

no need to warn about poor gps
  src/flight_tracker.rs
Due: rust-fmt, rust-clippy, rust-test

refactor: remove backward compatibility code and fix receiver status processing
  src/aprs_client.rs
  src/lib.rs
  src/main.rs
Due: rust-fmt, rust-clippy, rust-test

debug: add extensive logging for receiver status packet processing
  src/aprs_client.rs
Due: rust-fmt, rust-clippy, rust-test

feat: improve receiver tracking with auto-insertion and raw data capture
  migrations/2025-10-06-215045-0000_add_latest_packet_at_to_receivers/down.sql
  migrations/2025-10-06-215045-0000_add_latest_packet_at_to_receivers/up.sql
  migrations/2025-10-06-220553-0000_add_from_ogn_db_to_receivers/down.sql
  migrations/2025-10-06-220553-0000_add_from_ogn_db_to_receivers/up.sql
  migrations/2025-10-06-221421-0000_add_raw_data_to_receiver_statuses/down.sql
  migrations/2025-10-06-221421-0000_add_raw_data_to_receiver_statuses/up.sql
  src/aprs_client.rs
  src/fix_processor.rs
  src/receiver_repo.rs
  src/receiver_statuses.rs
  src/receivers.rs
  src/schema.rs
Due: rust-fmt, rust-clippy, rust-test

feat: enhance flight details page with airport links and viewing options
  src/actions/flights.rs
  src/actions/views/flight.rs
  web/src/routes/flights/[id]/+page.svelte
  web/src/routes/flights/[id]/+page.ts
Due: web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

fix: handle BigDecimal fields serialized as strings in receiver status display
  web/src/routes/receivers/+page.svelte
  web/src/routes/receivers/[id]/+page.svelte
Due: web-lint, web-type-check, web-test, web-build

fix: prevent sequential device API calls on operations page
  web/src/routes/operations/+page.svelte
Due: web-lint, web-type-check, web-test, web-build

refactor: change flights table to use airport foreign keys
  migrations/2025-10-07-154629-0000_change_flights_airport_columns_to_foreign_keys/down.sql
  migrations/2025-10-07-154629-0000_change_flights_airport_columns_to_foreign_keys/up.sql
  src/actions/flights.rs
  src/actions/views/flight.rs
  src/flight_tracker.rs
  src/flights.rs
  src/flights_repo.rs
  src/schema.rs
Due: rust-fmt, rust-clippy, rust-test

chore: reduce receiver status log verbosity to debug level
  src/aprs_client.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add server-side filtering for active fixes on device page
  src/actions/devices.rs
  src/fixes_repo.rs
  web/src/routes/devices/[id]/+page.svelte
Due: web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

refactor: reorder sections on device detail page
  web/src/routes/devices/[id]/+page.svelte
Due: web-lint, web-type-check, web-test, web-build

fix: restore zebra striping on flights table when raw data is shown
  web/src/routes/flights/[id]/+page.svelte
Due: web-lint, web-type-check, web-test, web-build

debug: add detailed logging for runway detection
  src/flight_tracker.rs
Due: rust-fmt, rust-clippy, rust-test

chore: log adjustments
  src/aprs_client.rs
Due: rust-fmt, rust-clippy, rust-test

fix: properly implement zebra striping on flights table
  web/src/routes/flights/[id]/+page.svelte
Due: web-lint, web-type-check, web-test, web-build

refactor: update Skeleton UI classes from v2 to v3 on flights page
  web/src/routes/flights/[id]/+page.svelte
Due: web-lint, web-type-check, web-test, web-build

refactor: rename satellite fields to GNSS resolution fields
  migrations/2025-10-07-235536-0000_rename_satellites_to_gnss_resolution/down.sql
  migrations/2025-10-07-235536-0000_rename_satellites_to_gnss_resolution/up.sql
  src/fixes.rs
  src/fixes_repo.rs
  src/flight_tracker.rs
  src/schema.rs
Due: rust-fmt, rust-clippy, rust-test

fix: rewrite find_nearest_runway_endpoints to use PostGIS
  src/runways_repo.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add runway inference from aircraft heading as fallback
  src/aprs_client.rs
  src/flight_tracker.rs
Due: rust-fmt, rust-clippy, rust-test

feat: implement towing detection and release tracking
  migrations/2025-10-08-015939-0000_add_towing_detection_fields/down.sql
  migrations/2025-10-08-015939-0000_add_towing_detection_fields/up.sql
  src/fixes_repo.rs
  src/flight_tracker.rs
  src/flights.rs
  src/flights_repo.rs
  src/schema.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add cached aircraft_type_ogn and last_fix_at to devices
  migrations/2025-10-08-070522-0000_add_device_cached_fields/down.sql
  migrations/2025-10-08-070522-0000_add_device_cached_fields/up.sql
  src/device_repo.rs
  src/devices.rs
  src/fix_processor.rs
  src/fixes_repo.rs
  src/schema.rs
Due: rust-fmt, rust-clippy, rust-test

refactor: only detect runways for aircraft types that use them
  src/flight_tracker.rs
Due: rust-fmt, rust-clippy, rust-test

feat: improve flight details page and fix GPS resolution comment
  src/actions/flights.rs
  src/fixes.rs
  src/fixes_repo.rs
  web/src/routes/flights/[id]/+page.svelte
  web/src/routes/flights/[id]/+page.ts
Due: web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

feat: log coordinates when downloading elevation tiles
  src/tile_downloader.rs
Due: rust-fmt, rust-clippy, rust-test

feat: implement negative caching for elevation tiles
  src/tile_downloader.rs
Due: rust-fmt, rust-clippy, rust-test

Path conditions:
  web-install-deps: any of: ^web/(package\.json|package-lock\.json)$
  web-lint: any of: ^web/.*\.(js|ts|svelte)$
  web-type-check: any of: ^web/.*\.(js|ts|svelte)$
  web-test: any of: ^web/.*\.(js|ts|svelte)$
  web-build: any of: ^web/.*\.(js|ts|svelte)$
  rust-fmt: any of: \.rs$
  rust-clippy: any of: \.rs$
  rust-test: any of: \.rs$
  cargo-audit: any of: ^(Cargo\.toml|Cargo\.lock)$
  cargo-outdated: any of: ^(Cargo\.toml|Cargo\.lock)$
