Repository hut8/soar: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-install-deps, web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test, cargo-audit

web-install-deps:
  name: Install web dependencies
  entry: bash -c 'cd web && npm ci'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-format:
  name: Auto-fix web formatting (Prettier)
  entry: bash -c 'cd web && npm run format'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-lint:
  name: Run web linter (ESLint + Prettier check)
  entry: bash -c 'cd web && npm run lint'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-type-check:
  name: Run web type checking
  entry: bash -c 'cd web && npm run check'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-test:
  name: Run web tests (Playwright E2E)
  entry: bash -c 'cd web && npm test'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

web-build:
  name: Build web project
  entry: bash -c 'cd web && npm run build'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

rust-fmt:
  name: Auto-fix Rust formatting
  entry: cargo fmt
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

rust-clippy:
  name: Run Clippy
  entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo clippy --all-targets --all-features -- -D warnings'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

rust-test:
  name: Run Rust tests
  entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo test'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

cargo-audit:
  name: Run security audit
  entry: cargo audit
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

Clear dangling setTimeout in orientation sensor probe
  web/src/lib/services/arTracker.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

Address review: line numbers in logs, remove extra alloc, spawn_blocking
  src/commands/dump_aircraft_dbs.rs
Due: rust-fmt, rust-clippy, rust-test

Address PR review feedback
  src/aircraft_repo.rs
  src/email_reporter.rs
Due: rust-fmt, rust-clippy, rust-test

Address second round of Copilot review feedback
  PERFORMANCE-FIX-SUMMARY.md
  infrastructure/soar-deploy
  scripts/provision
  scripts/setup-pgdog
Due: none

Fix radar OTLP export and split radar deployments by environment
  .github/workflows/ci.yml
  infrastructure/OPENTELEMETRY.md
  infrastructure/alloy-config.alloy.template
  infrastructure/soar-deploy
  infrastructure/systemd/soar-ingest-radar-production.service
  infrastructure/systemd/soar-ingest-radar-staging.service
Due: none

Address second round of PR review feedback
  infrastructure/dashboards/definitions/run.json
  infrastructure/dashboards/panels/run/flarm-ogn-merges.json
  src/aircraft_repo.rs
  src/email.rs
  src/email_reporter.rs
  src/lib.rs
  src/notifications.rs
Due: rust-fmt, rust-clippy, rust-test

Address third round of Copilot review feedback
  PERFORMANCE-FIX-SUMMARY.md
  infrastructure/pgdog-users.toml
  infrastructure/soar-deploy
  scripts/setup-pgdog
Due: none

Address review feedback
  migrations/2026-03-14-000000-0000_add_unique_club_name_index/down.sql
  migrations/2026-03-14-000000-0000_add_unique_club_name_index/metadata.toml
  migrations/2026-03-14-000000-0000_add_unique_club_name_index/up.sql
  src/clubs_repo.rs
  web/src/routes/aircraft/[id]/+page.svelte
  web/src/routes/clubs/[id]/+page.svelte
  web/src/routes/clubs/new/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

Make setup-pgdog the single source of truth for PgDog config
  .github/workflows/ci.yml
  CLAUDE.md
  infrastructure/pgdog-users.toml
  infrastructure/pgdog.toml
  infrastructure/soar-deploy
  scripts/provision
Due: none

Address third round of PR review feedback
  infrastructure/dashboards/panels/run/flarm-ogn-merges.json
  src/aircraft_repo.rs
Due: rust-fmt, rust-clippy, rust-test

Fix port consistency and re-run behavior
  PERFORMANCE-FIX-SUMMARY.md
  infrastructure/grafana-provisioning/datasources/soar-postgres.yaml.template
  infrastructure/soar-deploy
  scripts/setup-pgdog
Due: none

Remove stale E2E snapshots for clubs list page
  web/e2e/clubs/clubs-list.test.ts-snapshots/club-detail-from-list-chromium-linux.png
  web/e2e/clubs/clubs-list.test.ts-snapshots/clubs-list-mobile-chromium-linux.png
  web/e2e/clubs/clubs-list.test.ts-snapshots/clubs-list-page-chromium-linux.png
Due: none

Extract DATABASE_URL safely; fix soar-deploy comment
  infrastructure/soar-deploy
  scripts/setup-pgdog
Due: none

Regenerate E2E snapshots for clubs list page
  web/e2e/clubs/clubs-list.test.ts-snapshots/club-detail-from-list-chromium-linux.png
  web/e2e/clubs/clubs-list.test.ts-snapshots/clubs-list-mobile-chromium-linux.png
  web/e2e/clubs/clubs-list.test.ts-snapshots/clubs-list-page-chromium-linux.png
Due: none

Address second round of review feedback
  migrations/2026-03-14-000000-0000_add_unique_club_name_index/metadata.toml
  migrations/2026-03-14-000000-0000_add_unique_club_name_index/up.sql
  src/actions/clubs.rs
  web/src/lib/types/index.ts
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

Fix CI: radar deployment sudo and test SIGSEGV
  infrastructure/sudoers.d/soar
  src/elevation/service.rs
  tests/elevation_test.rs
  tests/flight_detection_test.rs
Due: rust-fmt, rust-clippy, rust-test

Remove unused async from create_test_elevation_db helper
  tests/elevation_test.rs
Due: rust-fmt, rust-clippy, rust-test

Address remaining review feedback and CodeQL alert
  src/actions/clubs.rs
  src/clubs_repo.rs
  src/ts_export.rs
  web/src/lib/types/generated/UpdateClubRequest.ts
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

Fix radar deploy: install soar-deploy before running it
  .github/workflows/ci.yml
  infrastructure/soar-deploy
Due: none

Reject oversized input instead of truncating (CodeQL fix)
  src/actions/clubs.rs
Due: rust-fmt, rust-clippy, rust-test

Add station-xref subcommand to cross-reference FAI stations with SOAR receivers
  src/commands/mod.rs
  src/commands/station_xref.rs
  src/main.rs
Due: rust-fmt, rust-clippy, rust-test

Add POST /data/tracker endpoint and Android companion app
  .gitignore
  android/app/build.gradle.kts
  android/app/proguard-rules.pro
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/soar/tracker/MainActivity.kt
  android/app/src/main/java/com/soar/tracker/SoarTrackerApp.kt
  android/app/src/main/java/com/soar/tracker/data/api/AuthInterceptor.kt
  android/app/src/main/java/com/soar/tracker/data/api/Models.kt
  android/app/src/main/java/com/soar/tracker/data/api/SoarApi.kt
  android/app/src/main/java/com/soar/tracker/data/local/TokenManager.kt
  android/app/src/main/java/com/soar/tracker/data/repository/AuthRepository.kt
  android/app/src/main/java/com/soar/tracker/data/repository/TrackerRepository.kt
  android/app/src/main/java/com/soar/tracker/service/SensorCollector.kt
  android/app/src/main/java/com/soar/tracker/service/TrackingService.kt
  android/app/src/main/java/com/soar/tracker/ui/components/FlightStatusCard.kt
  android/app/src/main/java/com/soar/tracker/ui/components/NearbyAircraftList.kt
  android/app/src/main/java/com/soar/tracker/ui/components/SensorDisplay.kt
  android/app/src/main/java/com/soar/tracker/ui/navigation/NavGraph.kt
  android/app/src/main/java/com/soar/tracker/ui/screens/LoginScreen.kt
  android/app/src/main/java/com/soar/tracker/ui/screens/TrackerScreen.kt
  android/app/src/main/java/com/soar/tracker/ui/theme/Color.kt
  android/app/src/main/java/com/soar/tracker/ui/theme/Theme.kt
  android/app/src/main/java/com/soar/tracker/ui/theme/Type.kt
  android/app/src/main/res/values/strings.xml
  android/app/src/main/res/values/themes.xml
  android/build.gradle.kts
  android/gradle.properties
  android/gradle/libs.versions.toml
  android/gradle/wrapper/gradle-wrapper.properties
  android/settings.gradle.kts
  src/actions/mod.rs
  src/actions/tracker.rs
  src/aircraft_repo.rs
  src/lib.rs
  src/tracker.rs
  src/ts_export.rs
  src/web.rs
Due: rust-fmt, rust-clippy, rust-test

Address review: fix stale comments, handle self-update failure
  .github/workflows/ci.yml
  infrastructure/soar-deploy
Due: none

Fix receiver detail page mobile layout
  src/actions/receivers.rs
  src/fixes_repo.rs
  web/src/lib/types/generated/ReceiverStatisticsResponse.ts
  web/src/routes/receivers/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

Address Copilot review: add HTTP timeouts/user-agent and warn on parse errors
  src/commands/station_xref.rs
Due: rust-fmt, rust-clippy, rust-test

Add Graphs tab to receiver detail page
  web/src/routes/receivers/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Address Copilot review feedback
  android/app/build.gradle.kts
  android/app/src/main/java/com/soar/tracker/SoarTrackerApp.kt
  android/app/src/main/java/com/soar/tracker/service/TrackingService.kt
  android/app/src/main/java/com/soar/tracker/ui/screens/TrackerScreen.kt
  src/actions/tracker.rs
  src/tracker.rs
Due: rust-fmt, rust-clippy, rust-test

Address Copilot review: improve error handling for fix count
  src/actions/receivers.rs
  src/fixes_repo.rs
Due: rust-fmt, rust-clippy, rust-test

Fix auth store/localStorage desync causing spurious logouts
  web/src/lib/api/server.ts
  web/src/lib/stores/auth.ts
  web/src/lib/utils/jwt.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

Bound country_code length at allocation site (CodeQL fix)
  src/locations_repo.rs
Due: rust-fmt, rust-clippy, rust-test

Fix airports page crash: serialize coordinates as numbers, not strings
  src/actions/views/airport.rs
Due: rust-fmt, rust-clippy, rust-test

Add context to pool.get() errors in spatial query methods
  src/aircraft_repo.rs
Due: rust-fmt, rust-clippy, rust-test

Address Copilot review: handle localStorage.clear() and reset store on expired token
  web/src/lib/stores/auth.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

Add Android app build to CI pipeline
  .github/workflows/ci.yml
Due: none

Log warning when BigDecimal-to-f64 coordinate conversion fails
  src/actions/views/airport.rs
Due: rust-fmt, rust-clippy, rust-test

Improve club ops page: compact aircraft status board + push notifications
  Cargo.lock
  Cargo.toml
  migrations/2026-03-15-000000-0000_create_push_subscriptions/down.sql
  migrations/2026-03-15-000000-0000_create_push_subscriptions/metadata.toml
  migrations/2026-03-15-000000-0000_create_push_subscriptions/up.sql
  src/actions/mod.rs
  src/actions/push_subscriptions.rs
  src/flight_tracker/flight_lifecycle.rs
  src/flight_tracker/mod.rs
  src/lib.rs
  src/push_notification_sender.rs
  src/push_subscriptions.rs
  src/push_subscriptions_repo.rs
  src/schema.rs
  src/ts_export.rs
  src/web.rs
  web/src/lib/components/club/AircraftStatusBoard.svelte
  web/src/lib/components/club/PushNotificationToggle.svelte
  web/src/lib/services/pushNotifications.ts
  web/src/lib/types/generated/PushSubscriptionRequest.ts
  web/src/lib/types/generated/PushSubscriptionView.ts
  web/src/lib/types/generated/VapidPublicKeyResponse.ts
  web/src/lib/types/index.ts
  web/src/routes/clubs/[id]/operations/+page.svelte
  web/src/service-worker.ts
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test, cargo-audit

Address Copilot review round 2
  src/actions/receivers.rs
  src/fixes_repo.rs
  web/src/routes/receivers/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

Fix Android lint warnings and add launcher icons + Gradle wrapper
  .github/workflows/ci.yml
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/soar/tracker/ui/components/NearbyAircraftList.kt
  android/app/src/main/java/com/soar/tracker/ui/components/SensorDisplay.kt
  android/app/src/main/res/drawable/ic_launcher_background.xml
  android/app/src/main/res/drawable/ic_launcher_foreground.xml
  android/app/src/main/res/mipmap-anydpi/ic_launcher.xml
  android/app/src/main/res/mipmap-anydpi/ic_launcher_round.xml
  android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  android/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
  android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  android/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
  android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
  android/app/src/main/res/xml/backup_rules.xml
  android/app/src/main/res/xml/data_extraction_rules.xml
  android/gradle/wrapper/gradle-wrapper.jar
  android/gradlew
  android/gradlew.bat
  android/settings.gradle.kts
Due: none

Replace legacy frontend type definitions with ts-rs generated types
  src/actions/coverage.rs
  src/actions/flights.rs
  src/actions/mod.rs
  src/actions/views/club.rs
  src/airspace.rs
  src/coverage.rs
  src/fixes.rs
  src/locations.rs
  src/raw_messages_repo.rs
  src/ts_export.rs
  src/watchlist.rs
  web/src/lib/components/AirportSelector.svelte
  web/src/lib/components/FixesList.svelte
  web/src/lib/components/ReceiverModal.svelte
  web/src/lib/components/TowAircraftLink.svelte
  web/src/lib/types/generated/AirspaceClass.ts
  web/src/lib/types/generated/AirspaceGeoJson.ts
  web/src/lib/types/generated/AirspaceProperties.ts
  web/src/lib/types/generated/AirspaceSource.ts
  web/src/lib/types/generated/AirspaceType.ts
  web/src/lib/types/generated/ClubView.ts
  web/src/lib/types/generated/CoverageGeoJsonResponse.ts
  web/src/lib/types/generated/CoverageHexFeature.ts
  web/src/lib/types/generated/CoverageHexProperties.ts
  web/src/lib/types/generated/FixWithAircraftInfo.ts
  web/src/lib/types/generated/FixesInHexResponse.ts
  web/src/lib/types/generated/HexReceiversResponse.ts
  web/src/lib/types/generated/Location.ts
  web/src/lib/types/generated/MessageSourceType.ts
  web/src/lib/types/generated/PaginationMetadata.ts
  web/src/lib/types/generated/PathPoint.ts
  web/src/lib/types/generated/Point.ts
  web/src/lib/types/generated/RawMessageResponse.ts
  web/src/lib/types/generated/WatchlistEntry.ts
  web/src/lib/types/index.ts
  web/src/routes/clubs/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

Update vite to 8.0.0 and @sveltejs/vite-plugin-svelte to 7.0.0
  web/bun.lock
  web/package.json
Due: web-install-deps

Path conditions:
  web-install-deps: any of: ^web/(package\.json|package-lock\.json)$
  web-format: any of: ^web/.*\.(js|ts|svelte)$
  web-lint: any of: ^web/.*\.(js|ts|svelte)$
  web-type-check: any of: ^web/.*\.(js|ts|svelte)$
  web-test: any of: ^web/.*\.(js|ts|svelte)$
  web-build: any of: ^web/.*\.(js|ts|svelte)$
  rust-fmt: any of: \.rs$
  rust-clippy: any of: \.rs$
  rust-test: any of: \.rs$
  cargo-audit: any of: ^(Cargo\.toml|Cargo\.lock)$
