Repository hut8/soar: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-install-deps, web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test, cargo-audit

web-install-deps:
  name: Install web dependencies
  entry: bash -c 'cd web && npm ci'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-format:
  name: Auto-fix web formatting (Prettier)
  entry: bash -c 'cd web && npm run format'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-lint:
  name: Run web linter (ESLint + Prettier check)
  entry: bash -c 'cd web && npm run lint'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-type-check:
  name: Run web type checking
  entry: bash -c 'cd web && npm run check'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-test:
  name: Run web tests (Playwright E2E)
  entry: bash -c 'cd web && npm test'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

web-build:
  name: Build web project
  entry: bash -c 'cd web && npm run build'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

rust-fmt:
  name: Auto-fix Rust formatting
  entry: cargo fmt
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

rust-clippy:
  name: Run Clippy
  entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo clippy --all-targets --all-features -- -D warnings'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

rust-test:
  name: Run Rust tests
  entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo test'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

cargo-audit:
  name: Run security audit
  entry: cargo audit
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

fix: test failures, add test-results to gitignore
  .gitignore
  web/e2e/devices/device-list.test.ts
  web/e2e/utils/navigation.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: update Dockerfile to use latest Rust and Debian Bookworm
  Dockerfile
Due: none

feat: add --test-mode flag and Docker Compose for E2E testing
  docker-compose.e2e.yml
  docker-compose.yml
  schema.sql
  src/main.rs
  web/playwright.config.ts
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

fix: update Playwright image to v1.49.1 for Node.js compatibility
  docker-compose.e2e.yml
Due: none

fix: use Argon2 for test data password hashing to match auth system
  src/commands/seed_test_data.rs
  web/playwright.config.ts
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

Revert "fix: use ServerError instead of AuthApiError for error handling"
  web/src/routes/login/+page.svelte
  web/src/routes/register/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: add JWT_SECRET and complete E2E test infrastructure
  web/e2e/devices/device-list.test.ts-snapshots/device-list-page-chromium-linux.png
  web/e2e/devices/device-list.test.ts-snapshots/device-search-no-results-chromium-linux.png
  web/playwright.config.ts
  web/playwright.global-setup.ts
  web/src/hooks.server.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

feat: add time_gap_seconds column to track connectivity gaps
  migrations/2025-11-11-045309-0000_add_time_gap_to_fixes/down.sql
  migrations/2025-11-11-045309-0000_add_time_gap_to_fixes/up.sql
  src/fixes.rs
  src/fixes_repo.rs
  src/flight_tracker/aircraft_tracker.rs
  src/flight_tracker/state_transitions.rs
  src/schema.rs
Due: rust-fmt, rust-clippy, rust-test

feat: improve mobile responsiveness with card-based layouts
  web/src/lib/components/AircraftStatusModal.svelte
  web/src/lib/components/AirportModal.svelte
  web/src/lib/components/FixesList.svelte
  web/src/routes/airports/+page.svelte
  web/src/routes/airports/[id]/+page.svelte
  web/src/routes/clubs/[id]/operations/+page.svelte
  web/src/routes/clubs/[id]/pilots/+page.svelte
  web/src/routes/receivers/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

feat: add table partitioning migration for fixes table
  migrations/2025-11-12-191049-0000_convert_fixes_to_partitioned_table/README.md
  migrations/2025-11-12-191049-0000_convert_fixes_to_partitioned_table/down.sql
  migrations/2025-11-12-191049-0000_convert_fixes_to_partitioned_table/up.sql
Due: none

update cargo.lock and check in test snapshots for register
  Cargo.lock
  web/e2e/auth/register.test.ts-snapshots/register-error-password-mismatch-chromium-linux.png
  web/e2e/auth/register.test.ts-snapshots/register-error-password-short-chromium-linux.png
  web/e2e/auth/register.test.ts-snapshots/register-page-chromium-linux.png
Due: cargo-audit

test: disable retries and stop after first failure
  web/playwright.config.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: disable browser security features causing SSL errors in tests
  web/playwright.config.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

docs: update partman log path to /var/soar/logs
  migrations/2025-11-12-191049-0000_convert_fixes_to_partitioned_table/README.md
Due: none

fix: increase backup timeout from 6 to 12 hours
  soar-backup-base.service
Due: none

feat: add aprs_messages partitioning with 30-day safe retention
  migrations/2025-11-12-191049-0000_convert_fixes_to_partitioned_table/README.md
  migrations/2025-11-12-191049-0000_convert_fixes_to_partitioned_table/down.sql
  migrations/2025-11-12-191049-0000_convert_fixes_to_partitioned_table/up.sql
Due: none

feat: switch from cron to systemd timer for partition maintenance
  migrations/2025-11-12-191049-0000_convert_fixes_to_partitioned_table/README.md
Due: none

ci: add pg_partman support for partition migration testing
  .github/postgis-partman.Dockerfile
  .github/workflows/ci.yml
Due: none

feat: update to PostgreSQL 17 to match production
  .github/postgis-partman.Dockerfile
  migrations/2025-11-12-191049-0000_convert_fixes_to_partitioned_table/README.md
Due: none

fix: update Playwright Docker image to v1.56.1 and increase maxFailures
  docker-compose.e2e.yml
  web/playwright.config.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

feat: add partman-maintenance timer to deployment system
  infrastructure/soar-deploy
  partman-maintenance.service
  partman-maintenance.timer
Due: none

feat: add development mode with source mounting and build caching
  docker-compose.dev.yml
  scripts/run-acceptance-tests
Due: none

fix: add build-essential to dev mode for linker
  docker-compose.dev.yml
Due: none

fix: create partman schema before installing pg_partman extension
  migrations/2025-11-12-191049-0000_convert_fixes_to_partitioned_table/down.sql
  migrations/2025-11-12-191049-0000_convert_fixes_to_partitioned_table/up.sql
Due: none

fix: use PostgreSQL interval format instead of deprecated 'daily'
  migrations/2025-11-12-191049-0000_convert_fixes_to_partitioned_table/up.sql
Due: none

fix: fix apt-get install command line break issue
  docker-compose.dev.yml
Due: none

chore: remove redundant files in root
  COMPACT_INSTRUCTIONS.md
  invalid-samples
Due: none

chore: remove redundant files in root
  REFACTOR_TOO_MANY_ARGS.md
Due: none

organize docs
  PULL_DATA_METRICS.md
  docs/BACKUP-QUICKSTART.md
  docs/DB-BACKUPS.md
Due: none

feat: add appbar gradient and modernize clubs search UI
  web/src/routes/+layout.svelte
  web/src/routes/clubs/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: remove deprecated p_type parameter from create_parent
  migrations/2025-11-12-191049-0000_convert_fixes_to_partitioned_table/up.sql
Due: none

fix: explicitly install clang package for Rust linker
  docker-compose.dev.yml
Due: none

fix: increase health check timeout for dev mode initial compile
  scripts/run-acceptance-tests
Due: none

fix: use time interval instead of row count for partition_data_time
  migrations/2025-11-12-191049-0000_convert_fixes_to_partitioned_table/up.sql
Due: none

feat: add runway polygons and multiple UI improvements
  src/actions/receivers.rs
  src/actions/views/airport.rs
  src/receiver_status_repo.rs
  src/receiver_statuses.rs
  web/src/hooks.client.ts
  web/src/routes/+layout.svelte
  web/src/routes/clubs/+page.svelte
  web/src/routes/receivers/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

fix: rename app service to soar to avoid .app TLD HSTS enforcement
  docker-compose.dev.yml
  docker-compose.e2e.yml
  docker-compose.yml
  scripts/run-acceptance-tests
Due: none

fix: remove soar.target dependency from pull-data timer
  soar-pull-data.timer
Due: none

fix: add IF NOT EXISTS to all CREATE INDEX statements
  migrations/2025-11-12-191049-0000_convert_fixes_to_partitioned_table/up.sql
Due: none

fix: cleanup existing containers before starting new ones
  scripts/run-acceptance-tests
Due: none

feat: add current flight info and remove recent fixes table from aircraft modal
  web/src/lib/components/AircraftStatusModal.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Path conditions:
  web-install-deps: any of: ^web/(package\.json|package-lock\.json)$
  web-format: any of: ^web/.*\.(js|ts|svelte)$
  web-lint: any of: ^web/.*\.(js|ts|svelte)$
  web-type-check: any of: ^web/.*\.(js|ts|svelte)$
  web-test: any of: ^web/.*\.(js|ts|svelte)$
  web-build: any of: ^web/.*\.(js|ts|svelte)$
  rust-fmt: any of: \.rs$
  rust-clippy: any of: \.rs$
  rust-test: any of: \.rs$
  cargo-audit: any of: ^(Cargo\.toml|Cargo\.lock)$
