Repository hut8/soar: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-install-deps, web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test, cargo-audit

web-install-deps:
  name: Install web dependencies
  entry: bash -c 'cd web && npm ci'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-format:
  name: Auto-fix web formatting (Prettier)
  entry: bash -c 'cd web && npm run format'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-lint:
  name: Run web linter (ESLint + Prettier check)
  entry: bash -c 'cd web && npm run lint'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-type-check:
  name: Run web type checking
  entry: bash -c 'cd web && npm run check'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-test:
  name: Run web tests (Playwright E2E)
  entry: bash -c 'cd web && npm test'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

web-build:
  name: Build web project
  entry: bash -c 'cd web && npm run build'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

rust-fmt:
  name: Auto-fix Rust formatting
  entry: cargo fmt
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

rust-clippy:
  name: Run Clippy
  entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo clippy --all-targets --all-features -- -D warnings'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

rust-test:
  name: Run Rust tests
  entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo test'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

cargo-audit:
  name: Run security audit
  entry: cargo audit
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

Convert detail pages to proper Svelte 5 runes syntax
  web/src/routes/aircraft/[id]/+page.svelte
  web/src/routes/airports/[id]/+page.svelte
  web/src/routes/clubs/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Speed up fixes update by decompressing chunks first
  migrations/2026-01-25-000000-0000_deduplicate_aircraft_registration/up.sql
Due: none

Split aircraft deduplication into 2 migrations + manual script
  migrations/.archived/2026-01-25-000000-0000_deduplicate_aircraft_registration/down.sql
  migrations/.archived/2026-01-25-000000-0000_deduplicate_aircraft_registration/up.sql
  migrations/2026-01-25-000000-0001_deduplicate_aircraft_setup/down.sql
  migrations/2026-01-25-000000-0001_deduplicate_aircraft_setup/up.sql
  migrations/2026-01-25-000000-0002_deduplicate_aircraft_finish/down.sql
  migrations/2026-01-25-000000-0002_deduplicate_aircraft_finish/up.sql
  scripts/update_fixes_aircraft_id.sh
Due: none

Handle duplicate registrations with DISTINCT ON
  migrations/2026-01-25-000000-0001_deduplicate_aircraft_setup/up.sql
Due: none

Add Live Map link to front page and navigation menus
  web/src/routes/+layout.svelte
  web/src/routes/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Fix docker-compose to docker compose in provision-pelias
  scripts/provision-pelias
Due: none

Remove redundant timestamp column from fixes table
  migrations/2026-01-26-000000-0000_drop_fixes_timestamp_column/down.sql
  migrations/2026-01-26-000000-0000_drop_fixes_timestamp_column/up.sql
  src/actions/flights.rs
  src/beast/adsb_to_fix.rs
  src/commands/run.rs
  src/commands/seed_test_data.rs
  src/fixes.rs
  src/fixes_repo.rs
  src/flight_tracker/aircraft_state.rs
  src/flight_tracker/aircraft_tracker.rs
  src/flight_tracker/flight_lifecycle.rs
  src/flight_tracker/mod.rs
  src/flight_tracker/state_transitions.rs
  src/flight_tracker/towing.rs
  src/flights.rs
  src/igc.rs
  src/schema.rs
  tests/flight_detection_test.rs
Due: rust-fmt, rust-clippy, rust-test

Fix AR aircraft visibility and direction indicator
  web/src/lib/components/ar/DirectionIndicator.svelte
  web/src/lib/services/arTracker.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

Fix migration 2 to drop FK constraint before DELETE
  migrations/2026-01-25-000000-0002_deduplicate_aircraft_finish/up.sql
  schema.sql
  scripts/update_fixes_aircraft_id.sh
  scripts/update_fixes_decompress_first.sh
  scripts/update_fixes_parallel.py
Due: none

Drop FK constraint before DELETE to avoid validation scan
  migrations/2026-01-25-000000-0000_deduplicate_aircraft_registration/up.sql
Due: none

Address Copilot review feedback
  migrations/2026-01-26-000000-0000_drop_fixes_timestamp_column/up.sql
  src/flight_tracker/aircraft_state.rs
  src/flight_tracker/state_transitions.rs
  src/flight_tracker/towing.rs
Due: rust-fmt, rust-clippy, rust-test

Add aircraft type-specific symbols to live map
  web/src/lib/utils/aircraftIcons.ts
  web/src/routes/live/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

feat: implement geofencing system with multi-layer boundaries and email alerts
  migrations/2026-01-26-034331-0000_create_geofences/down.sql
  migrations/2026-01-26-034331-0000_create_geofences/up.sql
  migrations/2026-01-26-034331-0001_create_geofence_subscribers/down.sql
  migrations/2026-01-26-034331-0001_create_geofence_subscribers/up.sql
  migrations/2026-01-26-034331-0002_create_aircraft_geofences/down.sql
  migrations/2026-01-26-034331-0002_create_aircraft_geofences/up.sql
  migrations/2026-01-26-034331-0003_create_geofence_exit_events/down.sql
  migrations/2026-01-26-034331-0003_create_geofence_exit_events/up.sql
  src/actions/geofences.rs
  src/actions/mod.rs
  src/email.rs
  src/flight_tracker/aircraft_state.rs
  src/flight_tracker/geofence_alerts.rs
  src/flight_tracker/geofence_detector.rs
  src/flight_tracker/mod.rs
  src/geofence.rs
  src/geofence_repo.rs
  src/lib.rs
  src/schema.rs
  src/users_repo.rs
  src/web.rs
  web/src/lib/api/geofences.ts
  web/src/lib/cesium/geofenceEntities.ts
  web/src/lib/components/GeofenceEditor.svelte
  web/src/lib/types/index.ts
  web/src/routes/geofences/+page.svelte
  web/src/routes/geofences/+page.ts
  web/src/routes/geofences/[id]/+page.svelte
  web/src/routes/geofences/[id]/+page.ts
  web/src/routes/geofences/new/+page.svelte
  web/src/routes/geofences/new/+page.ts
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

Improve timestamp parse error logging
  src/commands/run.rs
  src/message_sources.rs
Due: rust-fmt, rust-clippy, rust-test

refactor: use Diesel query builder instead of raw SQL in geofence_repo
  migrations/2026-01-26-034331-0000_create_geofences/up.sql
  src/geofence_repo.rs
  src/postgis_functions.rs
  src/schema.rs
Due: rust-fmt, rust-clippy, rust-test

Add 3-way environment selector: Development, Staging, Production
  web/src/lib/api/server.ts
  web/src/lib/services/FixFeed.ts
  web/src/lib/stores/backend.ts
  web/src/routes/+layout.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Fix helicopter icon to use Material Design silhouette
  web/src/lib/utils/aircraftIcons.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

Fix backend mode selector not persisting Production choice
  web/src/lib/stores/backend.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

Fix backend mode race condition on page load
  web/src/lib/api/server.ts
  web/src/lib/services/FixFeed.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

Rename NATS intake to OGN intake in run command
  src/commands/run.rs
Due: rust-fmt, rust-clippy, rust-test

Pass timestamps directly through channels instead of encoding/decoding
  src/commands/run.rs
Due: rust-fmt, rust-clippy, rust-test

Redesign aircraft icons with proper top-down planform views
  web/src/lib/utils/aircraftIcons.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

Remove unnecessary timestamp prefix stripping from APRS messages
  src/commands/run.rs
Due: rust-fmt, rust-clippy, rust-test

Add timestamp hint for raw message lookups to optimize partition pruning
  src/actions/raw_messages.rs
  src/raw_messages_repo.rs
  web/src/lib/components/FixesList.svelte
  web/src/routes/receivers/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

Remove dead code: start_with_queue and timestamp prepending
  src/aprs_client.rs
  src/commands/run.rs
Due: rust-fmt, rust-clippy, rust-test

Remove dead code from Beast and SBS clients
  src/beast/client.rs
  src/commands/ingest.rs
  src/sbs/client.rs
Due: rust-fmt, rust-clippy, rust-test

feat: generate geofence TypeScript types using ts-rs
  CLAUDE.md
  src/geofence.rs
  src/ts_export.rs
  web/src/lib/components/GeofenceEditor.svelte
  web/src/lib/types/generated/AircraftGeofence.ts
  web/src/lib/types/generated/CreateGeofenceRequest.ts
  web/src/lib/types/generated/Geofence.ts
  web/src/lib/types/generated/GeofenceDetailResponse.ts
  web/src/lib/types/generated/GeofenceExitEvent.ts
  web/src/lib/types/generated/GeofenceExitEventsResponse.ts
  web/src/lib/types/generated/GeofenceLayer.ts
  web/src/lib/types/generated/GeofenceListResponse.ts
  web/src/lib/types/generated/GeofenceSubscriber.ts
  web/src/lib/types/generated/GeofenceWithCounts.ts
  web/src/lib/types/generated/UpdateGeofenceRequest.ts
  web/src/lib/types/index.ts
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

Remove all NATS JetStream references
  .env.example
  CLAUDE.md
  DOCKER-DEVELOPMENT.md
  README.md
  docker-compose.dev.yml
  docker-compose.yml
  docs/BEAST-Integration.md
  infrastructure/DEPLOYMENT.md
  infrastructure/NATS-JETSTREAM-MONITORING.md
  infrastructure/grafana-README.md
  infrastructure/prometheus-jobs/nats.yml
  infrastructure/prometheus-nats-exporter.service
  migrations/README_DEDUPLICATION_MIGRATIONS.md
  scripts/provision
  src/beast/client.rs
  src/beast/mod.rs
  src/main.rs
  src/sbs/mod.rs
Due: rust-fmt, rust-clippy, rust-test

Fix ingest dashboard queue segment metrics
  infrastructure/grafana-dashboard-ingest.json
Due: none

Remove completed TimescaleDB migration plan document
  TIMESCALEDB_MIGRATION_PLAN.md
Due: none

Remove completed Grafana TODO tracking documents
  infrastructure/GRAFANA-TODO-0-OVERVIEW.md
  infrastructure/GRAFANA-TODO-1-ANALYTICS.md
  infrastructure/GRAFANA-TODO-2-CODE-CHANGES.md
  infrastructure/GRAFANA-TODO-3-DASHBOARD-FIXES.md
  infrastructure/GRAFANA-TODO-4-REORGANIZATION.md
Due: none

Replace inline type definitions with standard wrapper types
  web/src/lib/components/FixesList.svelte
  web/src/routes/clubs/[id]/admin/fees/+page.svelte
  web/src/routes/clubs/[id]/admin/users/+page.svelte
  web/src/routes/receivers/[id]/+page.svelte
  web/src/routes/receivers/coverage/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Standardize API response types across frontend
  src/actions/users.rs
  web/src/routes/clubs/[id]/admin/users/+page.svelte
  web/src/routes/clubs/[id]/pilots/+page.svelte
  web/src/routes/flights/[id]/+page.svelte
  web/src/routes/flights/[id]/map/+page.svelte
  web/src/routes/receivers/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

Remove built dashboards from repo; build during deployment
  .gitignore
  CLAUDE.md
  infrastructure/dashboards/definitions/ingest.json
  infrastructure/dashboards/panels/ingest/ads-b-frames-published-vs-dropped.json
  infrastructure/grafana-README.md
  infrastructure/grafana-dashboard-analytics.json
  infrastructure/grafana-dashboard-coverage.json
  infrastructure/grafana-dashboard-ingest.json
  infrastructure/grafana-dashboard-nats.json
  infrastructure/grafana-dashboard-run-elevation.json
  infrastructure/grafana-dashboard-run-geocoding.json
  infrastructure/grafana-dashboard-run.json
  infrastructure/grafana-dashboard-web.json
  scripts/deploy
  scripts/provision
Due: none

Update aircraft status badges: add ADSBX DB, remove Tracked/Identified
  web/src/lib/components/AircraftStatusModal.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Use encodeURIComponent for SVG data URLs
  web/src/lib/utils/aircraftIcons.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

Add error handling for Grafana dashboard build in deploy scripts
  scripts/deploy
  scripts/provision
Due: none

Path conditions:
  web-install-deps: any of: ^web/(package\.json|package-lock\.json)$
  web-format: any of: ^web/.*\.(js|ts|svelte)$
  web-lint: any of: ^web/.*\.(js|ts|svelte)$
  web-type-check: any of: ^web/.*\.(js|ts|svelte)$
  web-test: any of: ^web/.*\.(js|ts|svelte)$
  web-build: any of: ^web/.*\.(js|ts|svelte)$
  rust-fmt: any of: \.rs$
  rust-clippy: any of: \.rs$
  rust-test: any of: \.rs$
  cargo-audit: any of: ^(Cargo\.toml|Cargo\.lock)$
