Repository hut8/soar: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-install-deps, web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test, cargo-audit

web-install-deps:
  name: Install web dependencies
  entry: bash -c 'cd web && npm ci'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-format:
  name: Auto-fix web formatting (Prettier)
  entry: bash -c 'cd web && npm run format'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-lint:
  name: Run web linter (ESLint + Prettier check)
  entry: bash -c 'cd web && npm run lint'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-type-check:
  name: Run web type checking
  entry: bash -c 'cd web && npm run check'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-test:
  name: Run web tests (Playwright E2E)
  entry: bash -c 'cd web && npm test'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

web-build:
  name: Build web project
  entry: bash -c 'cd web && npm run build'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

rust-fmt:
  name: Auto-fix Rust formatting
  entry: cargo fmt
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

rust-clippy:
  name: Run Clippy
  entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo clippy --all-targets --all-features -- -D warnings'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

rust-test:
  name: Run Rust tests
  entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo test'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

cargo-audit:
  name: Run security audit
  entry: cargo audit
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

Shrink control buttons and replace location emoji with icon
  web/src/routes/operations/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Fix queue drain corruption and improve logging
  Cargo.lock
  Cargo.toml
  src/main.rs
  src/persistent_queue.rs
Due: rust-fmt, rust-clippy, rust-test, cargo-audit

Fix LogTracer conflict by using tracing-subscriber's built-in feature
  Cargo.lock
  Cargo.toml
  src/main.rs
Due: rust-fmt, rust-clippy, rust-test, cargo-audit

Add connection status display showing ADSB/OGN sources in Live badge
  src/actions/fixes.rs
  src/commands/ingest.rs
  src/connection_status.rs
  src/lib.rs
  src/live_fixes.rs
  web/src/lib/components/RadarLoader.svelte
  web/src/lib/services/FixFeed.ts
  web/src/lib/stores/websocket-status.ts
  web/src/routes/+layout.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

Improve data load report email with better metrics and deferred column
  src/commands/load_data/adsb_exchange.rs
  src/commands/load_data/aircraft_registrations.rs
  src/commands/load_data/device_linking.rs
  src/commands/load_data/devices_receivers.rs
  src/commands/load_data/mod.rs
  src/commands/load_data/receiver_geocoding.rs
  src/email_reporter.rs
  src/receiver_repo.rs
Due: rust-fmt, rust-clippy, rust-test

Drop stale engine_type_adsb and num_engines columns
  migrations/2026-01-23-200000-0000_drop_stale_adsb_columns/down.sql
  migrations/2026-01-23-200000-0000_drop_stale_adsb_columns/up.sql
Due: none

Fix map overlay settings not updating until pan/zoom
  web/src/routes/operations/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Replace raw SQL with Diesel DSL for coordinate filtering
  src/receiver_repo.rs
Due: rust-fmt, rust-clippy, rust-test

Consolidate aircraft_type_ogn into aircraft_category
  migrations/2026-01-23-210000-0001_add_aircraft_category_values/down.sql
  migrations/2026-01-23-210000-0001_add_aircraft_category_values/up.sql
  migrations/2026-01-23-210000-0002_migrate_aircraft_type_ogn/down.sql
  migrations/2026-01-23-210000-0002_migrate_aircraft_type_ogn/up.sql
  src/actions/aircraft.rs
  src/actions/clubs.rs
  src/actions/flights.rs
  src/actions/views/aircraft.rs
  src/actions/views/flight.rs
  src/aircraft.rs
  src/aircraft_repo.rs
  src/aircraft_types.rs
  src/commands/run.rs
  src/fix_processor.rs
  src/fixes_repo.rs
  src/flight_tracker/runway.rs
  src/flight_tracker/state_transitions.rs
  src/flight_tracker/towing.rs
  src/ogn_aprs_aircraft.rs
  src/schema.rs
  src/ts_export.rs
  web/src/lib/components/AircraftStatusModal.svelte
  web/src/lib/components/AircraftTile.svelte
  web/src/lib/components/FlightsList.svelte
  web/src/lib/components/WatchlistModal.svelte
  web/src/lib/components/cesium/TimelineController.svelte
  web/src/lib/formatters.ts
  web/src/lib/types/generated/Aircraft.ts
  web/src/lib/types/generated/AircraftCategory.ts
  web/src/lib/types/generated/AircraftView.ts
  web/src/lib/types/index.ts
  web/src/routes/aircraft/[id]/+page.svelte
  web/src/routes/clubs/[id]/+page.svelte
  web/src/routes/clubs/[id]/operations/+page.svelte
  web/src/routes/flights/[id]/+page.svelte
  web/src/routes/receivers/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

Fix envelope router discarding timestamps for Beast/SBS messages
  src/commands/run.rs
Due: rust-fmt, rust-clippy, rust-test

Enable ADS-B in production soar-run service
  infrastructure/systemd/soar-run.service
Due: none

Add MapLibre GL JS live page with layer managers
  web/.env.example
  web/src/lib/config.ts
  web/src/lib/services/maplibre/AirportLayerManager.ts
  web/src/lib/services/maplibre/AirspaceLayerManager.ts
  web/src/lib/services/maplibre/ReceiverLayerManager.ts
  web/src/lib/services/maplibre/index.ts
  web/src/routes/live/+page.svelte
  web/src/routes/live/+page.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

Fix: Move setProjection call inside map load handler
  web/src/routes/live/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Fix pprof log filter: use log=warn instead of pprof=warn
  src/main.rs
Due: rust-fmt, rust-clippy, rust-test

Add IGC file export for flight tracks
  src/actions/flights.rs
  src/email.rs
  src/flight_tracker/flight_lifecycle.rs
  src/flights.rs
  src/igc.rs
  src/lib.rs
  src/web.rs
Due: rust-fmt, rust-clippy, rust-test

Add debug logging for aircraft and map styles
  web/src/routes/live/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Fix potential panics in KML handler header parsing
  src/actions/flights.rs
Due: rust-fmt, rust-clippy, rust-test

Use free tile sources instead of MapTiler
  web/src/routes/live/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Fix aircraft fetch to use correct AircraftSearchResponse type
  web/src/routes/live/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Fix button styling for projection and style toggles
  web/src/routes/live/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Add IGC download button to flight detail page
  web/src/routes/flights/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Fix button rounding on projection and style toggles
  web/src/routes/live/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Improve aircraft label readability
  web/src/routes/live/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Add unique constraint on aircraft.registration with deduplication
  migrations/2026-01-25-000000-0000_deduplicate_aircraft_registration/down.sql
  migrations/2026-01-25-000000-0000_deduplicate_aircraft_registration/up.sql
  src/aircraft.rs
  src/aircraft_registrations.rs
  src/commands/load_data/adsb_exchange.rs
Due: rust-fmt, rust-clippy, rust-test

Remove redundant UPDATE statement (empty string IS NOT NULL)
  migrations/2026-01-25-000000-0000_deduplicate_aircraft_registration/up.sql
Due: none

Rename dump-unified-ddb to dump-aircraft-dbs and add ADS-B Exchange data
  src/aircraft.rs
  src/commands/dump_aircraft_dbs.rs
  src/commands/dump_unified_ddb.rs
  src/commands/mod.rs
  src/main.rs
Due: rust-fmt, rust-clippy, rust-test

Fix test and address review comments
  src/aircraft.rs
  src/commands/dump_aircraft_dbs.rs
Due: rust-fmt, rust-clippy, rust-test

Simplify layer managers and improve FlightsList altitude display
  web/src/lib/components/FlightsList.svelte
  web/src/lib/services/maplibre/AirportLayerManager.ts
  web/src/lib/services/maplibre/AirspaceLayerManager.ts
  web/src/lib/services/maplibre/ReceiverLayerManager.ts
  web/src/lib/services/maplibre/RunwayLayerManager.ts
  web/src/lib/services/maplibre/index.ts
  web/src/routes/live/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Fix soft 404 issues for SEO on detail and list pages
  web/src/routes/aircraft/+page.svelte
  web/src/routes/aircraft/[id]/+page.svelte
  web/src/routes/airports/+page.svelte
  web/src/routes/airports/[id]/+page.svelte
  web/src/routes/clubs/+page.svelte
  web/src/routes/clubs/[id]/+page.svelte
  web/src/routes/receivers/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Fix TimescaleDB decompression limit in aircraft deduplication migration
  migrations/2026-01-25-000000-0000_deduplicate_aircraft_registration/up.sql
Due: none

Fix: batch by received_at (partition column), not timestamp
  migrations/2026-01-25-000000-0000_deduplicate_aircraft_registration/up.sql
Due: none

Improve flight completion emails and add signup notifications
  src/actions/auth.rs
  src/email.rs
  src/flight_tracker/flight_lifecycle.rs
Due: rust-fmt, rust-clippy, rust-test

Add cluster marker support to live page
  web/src/routes/live/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Use Svelte 5 runes syntax for reactive statements
  web/src/routes/aircraft/[id]/+page.svelte
  web/src/routes/airports/[id]/+page.svelte
  web/src/routes/clubs/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Consolidate email env vars to FROM_EMAIL and EMAIL_TO
  src/commands/load_data/mod.rs
  src/email.rs
  src/email_reporter.rs
  src/migration_email_reporter.rs
Due: rust-fmt, rust-clippy, rust-test

Drop redundant location_geog columns and enable Pelias forward geocoding
  docs/pelias-deployment.md
  infrastructure/systemd/pelias-api.service
  infrastructure/systemd/pelias-libpostal.service
  infrastructure/systemd/pelias-pip.service
  infrastructure/systemd/pelias-placeholder.service
  migrations/2026-01-25-200000-0000_drop_redundant_location_geog_columns/down.sql
  migrations/2026-01-25-200000-0000_drop_redundant_location_geog_columns/up.sql
  scripts/provision-pelias
  src/geocoding/mod.rs
  src/geocoding/pelias.rs
  src/schema.rs
Due: rust-fmt, rust-clippy, rust-test

Address Copilot review feedback
  migrations/2026-01-25-200000-0000_drop_redundant_location_geog_columns/up.sql
  src/geocoding/pelias.rs
Due: rust-fmt, rust-clippy, rust-test

Change user location marker to orange
  web/src/routes/live/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Improve airport label readability on satellite tiles
  web/src/lib/services/maplibre/AirportLayerManager.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

Revert Svelte 5 runes to $: syntax for SEO reactive statements
  web/src/routes/aircraft/[id]/+page.svelte
  web/src/routes/airports/[id]/+page.svelte
  web/src/routes/clubs/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Path conditions:
  web-install-deps: any of: ^web/(package\.json|package-lock\.json)$
  web-format: any of: ^web/.*\.(js|ts|svelte)$
  web-lint: any of: ^web/.*\.(js|ts|svelte)$
  web-type-check: any of: ^web/.*\.(js|ts|svelte)$
  web-test: any of: ^web/.*\.(js|ts|svelte)$
  web-build: any of: ^web/.*\.(js|ts|svelte)$
  rust-fmt: any of: \.rs$
  rust-clippy: any of: \.rs$
  rust-test: any of: \.rs$
  cargo-audit: any of: ^(Cargo\.toml|Cargo\.lock)$
