Repository hut8/soar: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-install-deps, web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test, cargo-audit

.pre-commit-config.yaml:

repos:
  # Frontend/SvelteKit checks (matching CI test-sveltekit job)
  - repo: local
    hooks:
      - id: web-install-deps
        name: Install web dependencies
        entry: bash -c 'cd web && npm ci'
        language: system
        files: ^web/(package\.json|package-lock\.json)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

      - id: web-format
        name: Auto-fix web formatting (Prettier)
        entry: bash -c 'cd web && npm run format'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

      - id: web-lint
        name: Run web linter (ESLint + Prettier check)
        entry: bash -c 'cd web && npm run lint'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

      - id: web-type-check
        name: Run web type checking
        entry: bash -c 'cd web && npm run check'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

      - id: web-test
        name: Run web tests (Playwright E2E)
        entry: bash -c 'cd web && npm test'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-push, manual]

      - id: web-build
        name: Build web project
        entry: bash -c 'cd web && npm run build'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-push, manual]

  # Rust formatting (matching CI check)
  - repo: local
    hooks:
      - id: rust-fmt
        name: Auto-fix Rust formatting
        entry: cargo fmt
        language: system
        files: \.rs$
        pass_filenames: false
        stages: [pre-commit, pre-push]

  # Rust linting (matching CI clippy check)
  - repo: local
    hooks:
      - id: rust-clippy
        name: Run Clippy
        entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo clippy --all-targets --all-features -- -D warnings'
        language: system
        files: \.rs$
        pass_filenames: false
        stages: [pre-commit, pre-push]

  # Rust tests (matching CI test run)
  - repo: local
    hooks:
      - id: rust-test
        name: Run Rust tests
        entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo test'
        language: system
        files: \.rs$
        pass_filenames: false
        stages: [pre-push, manual]

  # Security audit (matching CI security-audit job)
  - repo: local
    hooks:
      - id: cargo-audit
        name: Run security audit
        entry: cargo audit
        language: system
        files: ^(Cargo\.toml|Cargo\.lock)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
        stages: [pre-commit, pre-push]
      - id: end-of-file-fixer
        stages: [pre-commit, pre-push]
      - id: check-yaml
        stages: [pre-commit, pre-push]
      - id: check-toml
        stages: [pre-commit, pre-push]
      - id: check-json
        stages: [pre-commit, pre-push]
      - id: check-merge-conflict
        stages: [pre-commit, pre-push]
      - id: check-added-large-files
        args: ["--maxkb=1000"]
        stages: [pre-commit, pre-push]

# Performance optimizations
default_stages: [pre-commit]
fail_fast: false

# CI configuration
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit.com hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ""
  autoupdate_commit_msg: "[pre-commit.ci] pre-commit autoupdate"
  autoupdate_schedule: weekly
  skip: []
  submodules: false

ci: add TimescaleDB to PostgreSQL Docker image for CI
  .github/postgis-partman.Dockerfile
Due: none

feat: implement systemd migration service with email and Sentry notifications
  infrastructure/MIGRATION-SYSTEM.md
  infrastructure/soar-deploy
  infrastructure/soar-migration-runner
  infrastructure/soar-migration-status
  infrastructure/systemd/soar-migrate@.service
  scripts/provision
Due: none

fix: coverage map tooltips now work correctly in dark mode
  web/src/routes/receivers/coverage/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

chore: point dev backend to staging instead of production
  web/src/lib/api/server.ts
  web/src/lib/services/FixFeed.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: use 'soar migrate' subcommand instead of diesel CLI
  infrastructure/MIGRATION-SYSTEM.md
  infrastructure/soar-migration-runner
Due: none

feat: add email notifications on migration success
  infrastructure/MIGRATION-SYSTEM.md
  infrastructure/soar-migration-runner
Due: none

fix: coverage hexagons now load correctly for all zoom levels
  src/coverage_repo.rs
Due: rust-fmt, rust-clippy, rust-test

fix: correct environment file loading in migration service
  infrastructure/MIGRATION-SYSTEM.md
  infrastructure/systemd/soar-migrate@.service
  scripts/provision
Due: none

refactor: use /etc/soar/env-production for production instead of symlink
  infrastructure/MIGRATION-SYSTEM.md
  infrastructure/soar-deploy
  infrastructure/soar-migration-status
  infrastructure/systemd/soar-aggregate-coverage.service
  infrastructure/systemd/soar-archive.service
  infrastructure/systemd/soar-ingest-adsb.service
  infrastructure/systemd/soar-ingest-ogn.service
  infrastructure/systemd/soar-migrate@.service
  infrastructure/systemd/soar-pull-data.service
  infrastructure/systemd/soar-run.service
  infrastructure/systemd/soar-sitemap.service
  infrastructure/systemd/soar-web.service
  scripts/provision
Due: none

feat: add receiver icons to coverage map
  web/src/routes/receivers/coverage/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: use correct WorkingDirectory in migration service
  infrastructure/systemd/soar-migrate@.service
Due: none

fix: remove systemd timeout and fix misleading comment
  infrastructure/MIGRATION-SYSTEM.md
  infrastructure/systemd/soar-migrate@.service
  scripts/provision
Due: none

fix: ensure receivers are actually fetched and displayed on map
  web/src/routes/receivers/coverage/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: change operations page aircraft time window from 1 hour to 15 minutes
  src/actions/aircraft_search.rs
Due: rust-fmt, rust-clippy, rust-test

fix: use Tailwind classes for tooltip instead of hardcoded colors
  web/src/routes/receivers/coverage/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

feat: move migration email/Sentry notifications into Rust command
  infrastructure/MIGRATION-SYSTEM.md
  infrastructure/soar-migration-runner
  src/main.rs
  src/migration_email_reporter.rs
Due: rust-fmt, rust-clippy, rust-test

refactor: remove migration wrapper scripts, call Rust binary directly
  infrastructure/MIGRATION-SYSTEM.md
  infrastructure/soar-deploy
  infrastructure/soar-migration-runner
  infrastructure/soar-migration-status
  infrastructure/systemd/soar-migrate@.service
  scripts/provision
Due: none

fix: install soar-migrate@.service during deployment
  infrastructure/soar-deploy
Due: none

fix: use explicit transactions for receiver inserts in raw_messages tests
  src/raw_messages_repo.rs
Due: rust-fmt, rust-clippy, rust-test

fix: use H3 polyfill for coverage map bounding box queries and show all receivers
  Cargo.lock
  Cargo.toml
  src/actions/receivers.rs
  src/coverage_repo.rs
  src/receiver_repo.rs
Due: rust-fmt, rust-clippy, rust-test, cargo-audit

fix: resolve localStorage quota error from undefined aircraftId
  src/fixes.rs
  web/src/lib/services/AircraftRegistry.ts
  web/src/lib/services/FixFeed.ts
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

fix: add helper function with delay to ensure receiver insert visibility
  src/raw_messages_repo.rs
Due: rust-fmt, rust-clippy, rust-test

fix: use single transaction for raw_messages tests to prevent FK violations
  src/raw_messages_repo.rs
Due: rust-fmt, rust-clippy, rust-test

Potential fix for code scanning alert no. 9: Use of externally-controlled format string
  web/src/lib/services/AircraftRegistry.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: use TRUNCATE CASCADE to avoid deadlocks in test cleanup
  src/raw_messages_repo.rs
Due: rust-fmt, rust-clippy, rust-test

fix: TRUNCATE tables in dependency order to prevent deadlocks
  src/raw_messages_repo.rs
Due: rust-fmt, rust-clippy, rust-test

fix: install migration service template before running migrations
  infrastructure/soar-deploy
Due: none

fix: use h3_postgis extension for efficient coverage bbox filtering
  src/coverage_repo.rs
Due: rust-fmt, rust-clippy, rust-test

ci: add postgresql-17-h3 extension to CI Docker image and test setup
  .github/postgis-partman.Dockerfile
  .github/workflows/ci.yml
Due: none

fix: improve Grafana datasource cleanup to prevent UID conflicts
  infrastructure/soar-deploy
Due: none

fix: update frontend API response handling for standardized format
  web/src/lib/services/AircraftRegistry.ts
  web/src/routes/clubs/+page.svelte
  web/src/routes/flights/+page.svelte
  web/src/routes/operations/+page.svelte
  web/src/routes/receivers/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: update remaining frontend API response handling
  web/src/lib/components/PilotSelectionModal.svelte
  web/src/lib/components/WatchlistModal.svelte
  web/src/lib/services/FixFeed.ts
  web/src/lib/stores/watchlist.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: correct OGN ingest disconnection alert query structure
  infrastructure/grafana-provisioning/alerting/alert-rules-production.yml
  infrastructure/grafana-provisioning/alerting/alert-rules-staging.yml
Due: none

feat: add h3 extensions to database migrations
  .github/workflows/ci.yml
  migrations/2025-12-26-000000-0000_enable_h3_extensions/down.sql
  migrations/2025-12-26-000000-0000_enable_h3_extensions/up.sql
Due: none

perf: use PostgreSQL h3 extension for coverage aggregation
  src/commands/aggregate_coverage.rs
Due: rust-fmt, rust-clippy, rust-test

fix: wrap watchlist API responses in standard format
  src/actions/watchlist.rs
Due: rust-fmt, rust-clippy, rust-test

fix: wrap airport and fix endpoints with standard response types
  src/actions/airports.rs
  src/actions/fixes.rs
  web/src/lib/components/cesium/AirportLayer.svelte
  web/src/lib/components/cesium/FlightPathLayer.svelte
  web/src/lib/components/cesium/TimelineController.svelte
  web/src/routes/flights/[id]/+page.ts
  web/src/routes/flights/[id]/map/+page.ts
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

fix: wrap aircraft model endpoint with DataResponse
  src/actions/aircraft.rs
Due: rust-fmt, rust-clippy, rust-test
