Repository hut8/soar: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-install-deps, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test, cargo-audit, cargo-outdated

web-install-deps:
  name: Install web dependencies
  entry: bash -c 'cd web && npm ci'
  language: system
  pass_filenames: false

web-lint:
  name: Run web linter (ESLint + Prettier)
  entry: bash -c 'cd web && npm run lint'
  language: system
  pass_filenames: false

web-type-check:
  name: Run web type checking
  entry: bash -c 'cd web && npm run check'
  language: system
  pass_filenames: false

web-test:
  name: Run web tests (Playwright E2E)
  entry: bash -c 'cd web && npm test'
  language: system
  pass_filenames: false

web-build:
  name: Build web project
  entry: bash -c 'cd web && npm run build'
  language: system
  pass_filenames: false

rust-fmt:
  name: Check Rust formatting
  entry: cargo fmt --check
  language: system
  pass_filenames: false

rust-clippy:
  name: Run Clippy
  entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo clippy --all-targets --all-features -- -D warnings'
  language: system
  pass_filenames: false

rust-test:
  name: Run Rust tests
  entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo test --verbose'
  language: system
  pass_filenames: false

cargo-audit:
  name: Run security audit
  entry: cargo audit
  language: system
  pass_filenames: false

cargo-outdated:
  name: Check for outdated dependencies
  entry: bash -c 'cargo outdated --exit-code 1 || echo "Some dependencies are outdated (non-critical)"'
  language: system
  pass_filenames: false

fix: modal positioning, label opacity, and coordinate data reactivity
  web/src/lib/components/AircraftStatusModal.svelte
  web/src/lib/components/WatchlistModal.svelte
  web/src/routes/operations/+page.svelte
Due: web-lint, web-type-check, web-test, web-build

debug: add comprehensive logging for coordinate data switch
  web/src/lib/components/SettingsModal.svelte
  web/src/routes/operations/+page.svelte
Due: web-lint, web-type-check, web-test, web-build

fix: update AircraftModel interface to match backend data structure
  web/src/lib/components/AircraftStatusModal.svelte
  web/src/lib/components/SettingsModal.svelte
  web/src/lib/types/index.ts
  web/src/routes/devices/[id]/+page.svelte
  web/src/routes/operations/+page.svelte
Due: web-lint, web-type-check, web-test, web-build

fix: coordinate data switch reactivity by replacing entire settings object
  web/src/routes/operations/+page.svelte
Due: web-lint, web-type-check, web-test, web-build

feat: implement aircraft trails with progressive transparency
  web/src/routes/operations/+page.svelte
Due: web-lint, web-type-check, web-test, web-build

Remove use of raw SQL for devices by club
  src/actions/devices.rs
  src/device_repo.rs
Due: rust-fmt, rust-clippy, rust-test

refactor: move search endpoints to domain-specific modules
  src/actions/airports.rs
  src/actions/clubs.rs
  src/actions/flights.rs
  src/actions/mod.rs
  src/actions/search.rs
Due: rust-fmt, rust-clippy, rust-test

refactor: restructure runway data with high/low ends
  src/actions/views/airport.rs
  web/src/lib/types/index.ts
  web/src/routes/clubs/[id]/+page.svelte
  web/src/routes/operations/+page.svelte
Due: web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

Remove coordinates stuff from settings modal
  web/src/lib/components/SettingsModal.svelte
Due: web-lint, web-type-check, web-test, web-build

refactor: optimize $effect usage in operations page
  web/src/routes/operations/+page.svelte
Due: web-lint, web-type-check, web-test, web-build

fix: watchlist duplicate key and add device page link
  web/src/lib/components/AircraftStatusModal.svelte
  web/src/lib/components/WatchlistModal.svelte
Due: web-lint, web-type-check, web-test, web-build

refactor: reorganize device and flight endpoints
  src/actions/devices.rs
  src/actions/flights.rs
  src/fixes.rs
  src/web.rs
  web/src/lib/types/index.ts
  web/src/routes/devices/[id]/+page.svelte
Due: web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

feat: improve device detail page display
  web/src/routes/devices/[id]/+page.svelte
Due: web-lint, web-type-check, web-test, web-build

feat: add sitemap with devices page
  migrations/2025-09-30-212230-0000_add_is_active_to_fixes/down.sql
  migrations/2025-09-30-212230-0000_add_is_active_to_fixes/up.sql
  web/src/routes/sitemap.xml/+server.ts
  web/static/robots.txt
Due: web-lint, web-type-check, web-test, web-build

feat: add is_active field to fixes table
  src/fixes.rs
  src/fixes_repo.rs
  src/flight_detection_processor.rs
  src/schema.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add performance indexes for fixes table
  migrations/2025-09-30-214720-0000_add_fixes_performance_indexes/down.sql
  migrations/2025-09-30-214720-0000_add_fixes_performance_indexes/up.sql
Due: none

test: add integration tests for elevation functionality
  tests/elevation_test.rs
Due: rust-fmt, rust-clippy, rust-test

fix: resolve tile boundary bug in elevation lookup
  src/elevation.rs
  tests/elevation_test.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add altitude offset columns to flights table
  migrations/2025-09-30-214720-0000_add_fixes_performance_indexes/up.sql
  src/flights.rs
  src/flights_repo.rs
  src/schema.rs
Due: rust-fmt, rust-clippy, rust-test

feat: calculate and store altitude offsets at takeoff and landing
  src/flight_detection_processor.rs
  src/flights_repo.rs
  tests/elevation_test.rs
Due: rust-fmt, rust-clippy, rust-test

fix: wrap blocking elevation lookup in spawn_blocking
  src/flight_detection_processor.rs
Due: rust-fmt, rust-clippy, rust-test

feat: improve airport marker visibility on operations map
  web/src/routes/operations/+page.svelte
Due: web-lint, web-type-check, web-test, web-build

feat: add airport modal and compass direction indicator
  web/src/lib/components/AircraftStatusModal.svelte
  web/src/lib/components/AirportModal.svelte
  web/src/routes/operations/+page.svelte
Due: web-lint, web-type-check, web-test, web-build

demote this one log message to debug
  src/nats_publisher.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add info logging for altitude offset calculations
  src/flight_detection_processor.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add flights page showing recent 100 completed flights
  src/actions/flights.rs
  src/flights_repo.rs
  src/web.rs
  web/src/routes/flights/+page.svelte
Due: web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

refactor: replace raw SQL with Diesel query builder in locations_repo
  src/locations_repo.rs
Due: rust-fmt, rust-clippy, rust-test

refactor: replace raw SQL with Diesel query builder in multiple repos
  src/faa/aircraft_model_repo.rs
  src/locations_repo.rs
  src/receiver_status_repo.rs
  src/sitemap.rs
Due: rust-fmt, rust-clippy, rust-test

refactor: remove device ID display from device details page
  web/src/routes/devices/[id]/+page.svelte
Due: web-lint, web-type-check, web-test, web-build

feat: add device links to aircraft on clubs page
  src/actions/views/aircraft.rs
  web/src/routes/clubs/[id]/+page.svelte
Due: web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

refactor: simplify deployment to single sudo command
  .github/workflows/ci.yml
  infrastructure/DEPLOYMENT.md
  infrastructure/soar-deploy
  infrastructure/sudoers.d/soar
Due: none

feat: add airport search and detail pages with improved UI
  web/src/lib/components/AirportModal.svelte
  web/src/routes/airports/+page.svelte
  web/src/routes/airports/[id]/+page.svelte
Due: web-lint, web-type-check, web-test, web-build

feat: add computed fields to device and flight APIs with pagination
  src/actions/devices.rs
  src/actions/flights.rs
  src/actions/views/aircraft.rs
  src/actions/views/flight.rs
  src/actions/views/mod.rs
  src/aircraft_registrations_repo.rs
  web/src/routes/devices/+page.svelte
Due: web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

refactor: use Selectable trait and add check_for_backend attribute
  src/airports_repo.rs
  src/device_repo.rs
  src/devices.rs
  src/flights.rs
  src/receiver_statuses.rs
Due: rust-fmt, rust-clippy, rust-test

Check in "loading store for status line"
  web/src/lib/stores/loading.ts
Due: web-lint, web-type-check, web-test, web-build

fix: make elevation tests async with tokio::test
  src/aprs_client.rs
  src/elevation.rs
  src/fix_processor.rs
  src/flight_tracker.rs
  src/lib.rs
  tests/elevation_test.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add device pages to sitemap generation
  src/sitemap.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add airports page to sitemap static pages
  src/sitemap.rs
Due: rust-fmt, rust-clippy, rust-test

feat: implement daily log file archival with zstd compression
  .env.example
  src/aprs_client.rs
  src/instance_lock.rs
  src/lib.rs
  src/main.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add instance locking and FLIGHT_STATE_PATH configuration
  Cargo.lock
  Cargo.toml
Due: cargo-audit, cargo-outdated

Path conditions:
  web-install-deps: any of: ^web/(package\.json|package-lock\.json)$
  web-lint: any of: ^web/.*\.(js|ts|svelte)$
  web-type-check: any of: ^web/.*\.(js|ts|svelte)$
  web-test: any of: ^web/.*\.(js|ts|svelte)$
  web-build: any of: ^web/.*\.(js|ts|svelte)$
  rust-fmt: any of: \.rs$
  rust-clippy: any of: \.rs$
  rust-test: any of: \.rs$
  cargo-audit: any of: ^(Cargo\.toml|Cargo\.lock)$
  cargo-outdated: any of: ^(Cargo\.toml|Cargo\.lock)$
