Repository hut8/soar: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-install-deps, web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test, cargo-audit

.pre-commit-config.yaml:

repos:
  # Frontend/SvelteKit checks (matching CI test-sveltekit job)
  - repo: local
    hooks:
      - id: web-install-deps
        name: Install web dependencies
        entry: bash -c 'cd web && npm ci'
        language: system
        files: ^web/(package\.json|package-lock\.json)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

      - id: web-format
        name: Auto-fix web formatting (Prettier)
        entry: bash -c 'cd web && npm run format'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

      - id: web-lint
        name: Run web linter (ESLint + Prettier check)
        entry: bash -c 'cd web && npm run lint'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

      - id: web-type-check
        name: Run web type checking
        entry: bash -c 'cd web && npm run check'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

      - id: web-test
        name: Run web tests (Playwright E2E)
        entry: bash -c 'cd web && npm test'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-push, manual]

      - id: web-build
        name: Build web project
        entry: bash -c 'cd web && npm run build'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-push, manual]

  # Rust formatting (matching CI check)
  - repo: local
    hooks:
      - id: rust-fmt
        name: Auto-fix Rust formatting
        entry: cargo fmt
        language: system
        files: \.rs$
        pass_filenames: false
        stages: [pre-commit, pre-push]

  # Rust linting (matching CI clippy check)
  - repo: local
    hooks:
      - id: rust-clippy
        name: Run Clippy
        entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo clippy --all-targets --all-features -- -D warnings'
        language: system
        files: \.rs$
        pass_filenames: false
        stages: [pre-commit, pre-push]

  # Rust tests (matching CI test run)
  - repo: local
    hooks:
      - id: rust-test
        name: Run Rust tests
        entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo test'
        language: system
        files: \.rs$
        pass_filenames: false
        stages: [pre-push, manual]

  # Security audit (matching CI security-audit job)
  - repo: local
    hooks:
      - id: cargo-audit
        name: Run security audit
        entry: cargo audit
        language: system
        files: ^(Cargo\.toml|Cargo\.lock)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
        stages: [pre-commit, pre-push]
      - id: end-of-file-fixer
        stages: [pre-commit, pre-push]
      - id: check-yaml
        stages: [pre-commit, pre-push]
      - id: check-toml
        stages: [pre-commit, pre-push]
      - id: check-json
        stages: [pre-commit, pre-push]
      - id: check-merge-conflict
        stages: [pre-commit, pre-push]
      - id: check-added-large-files
        args: ["--maxkb=1000"]
        stages: [pre-commit, pre-push]

# Performance optimizations
default_stages: [pre-commit]
fail_fast: false

# CI configuration
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit.com hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ""
  autoupdate_commit_msg: "[pre-commit.ci] pre-commit autoupdate"
  autoupdate_schedule: weekly
  skip: []
  submodules: false

feat: add aircraft processing latency panel and fix uptime bug
  infrastructure/grafana-dashboard-run.json
Due: none

perf: split slow deduplication migrations into manageable steps
  migrations/2025-11-04-212029-0000_add_aprs_messages_deduplication.OLD/down.sql
  migrations/2025-11-04-212029-0000_add_aprs_messages_deduplication.OLD/up.sql
  migrations/2025-11-04-212102-0000_add_fixes_deduplication.OLD/down.sql
  migrations/2025-11-04-212102-0000_add_fixes_deduplication.OLD/up.sql
  migrations/2025-11-05-052305-0000_add_aprs_messages_hash_column/down.sql
  migrations/2025-11-05-052305-0000_add_aprs_messages_hash_column/up.sql
  migrations/2025-11-05-052311-0000_backfill_aprs_messages_hashes/down.sql
  migrations/2025-11-05-052311-0000_backfill_aprs_messages_hashes/up.sql
  migrations/2025-11-05-052318-0000_set_aprs_messages_hash_not_null/down.sql
  migrations/2025-11-05-052318-0000_set_aprs_messages_hash_not_null/up.sql
  migrations/2025-11-05-052332-0000_create_aprs_messages_unique_index/down.sql
  migrations/2025-11-05-052332-0000_create_aprs_messages_unique_index/up.sql
  migrations/2025-11-05-052501-0000_create_fixes_unique_index/down.sql
  migrations/2025-11-05-052501-0000_create_fixes_unique_index/up.sql
  migrations/README_DEDUPLICATION_MIGRATIONS.md
  migrations/delete_duplicate_aprs_messages.sql
  migrations/delete_duplicate_fixes.sql
  migrations/find_duplicate_aprs_messages.sql
  migrations/find_duplicate_fixes.sql
Due: none

refactor: simplify to fast-forward deduplication (no backfill)
  migrations/2025-11-05-052311-0000_backfill_aprs_messages_hashes/down.sql
  migrations/2025-11-05-052311-0000_backfill_aprs_messages_hashes/up.sql
  migrations/2025-11-05-052318-0000_set_aprs_messages_hash_not_null/down.sql
  migrations/2025-11-05-052318-0000_set_aprs_messages_hash_not_null/up.sql
  migrations/2025-11-05-052332-0000_create_aprs_messages_unique_index/down.sql
  migrations/2025-11-05-052332-0000_create_aprs_messages_unique_index/up.sql
  migrations/2025-11-05-052501-0000_create_fixes_unique_index/down.sql
  migrations/2025-11-05-052501-0000_create_fixes_unique_index/up.sql
  migrations/README_DEDUPLICATION_MIGRATIONS.md
  migrations/delete_duplicate_aprs_messages.sql
  migrations/delete_duplicate_fixes.sql
  migrations/find_duplicate_aprs_messages.sql
  migrations/find_duplicate_fixes.sql
Due: none

fix: move .OLD migrations to .archived/ directory
  migrations/.archived/2025-11-04-212029-0000_add_aprs_messages_deduplication.OLD/down.sql
  migrations/.archived/2025-11-04-212029-0000_add_aprs_messages_deduplication.OLD/up.sql
  migrations/.archived/2025-11-04-212102-0000_add_fixes_deduplication.OLD/down.sql
  migrations/.archived/2025-11-04-212102-0000_add_fixes_deduplication.OLD/up.sql
  migrations/2025-11-05-052305-0000_add_aprs_messages_hash_column/up.sql
Due: none

fix: make raw_message_hash optional in Rust structs
  src/aprs_messages_repo.rs
  src/schema.rs
Due: rust-fmt, rust-clippy, rust-test

fix: ACK unparseable messages and increase max_ack_pending
  src/aprs_jetstream_consumer.rs
  src/commands/run.rs
Due: rust-fmt, rust-clippy, rust-test

fix: ACK unparseable messages and increase max_ack_pending (#282)
  src/aprs_jetstream_consumer.rs
  src/commands/run.rs
Due: rust-fmt, rust-clippy, rust-test

refactor: revert to immediate ACK with graceful shutdown
  src/commands/run.rs
Due: rust-fmt, rust-clippy, rust-test

refactor: revert to immediate ACK with graceful shutdown (#283)
  src/commands/run.rs
Due: rust-fmt, rust-clippy, rust-test

fix: prettier formatting
  web/src/lib/components/SettingsModal.svelte
  web/src/lib/components/WatchlistModal.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: prettier formatting
  web/src/routes/receivers/+page.svelte
  web/src/routes/receivers/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: add explicit background and dark mode to pilot selection modal
  web/src/lib/components/PilotSelectionModal.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

perf: add jetstream intake queue and increase throughput
  infrastructure/grafana-dashboard-run.json
  src/aprs_jetstream_consumer.rs
  src/commands/run.rs
  src/metrics.rs
  src/queue_config.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add P95 metrics for all aircraft processing components
  infrastructure/grafana-dashboard-run.json
Due: none

perf: improve message processing throughput with intake queue (#285)
  infrastructure/grafana-dashboard-run.json
  src/aprs_jetstream_consumer.rs
  src/commands/run.rs
  src/metrics.rs
  src/queue_config.rs
Due: rust-fmt, rust-clippy, rust-test

perf: increase aircraft workers from 20 to 80
  src/commands/run.rs
Due: rust-fmt, rust-clippy, rust-test

perf: increase aircraft workers from 20 to 80 (#287)
  src/commands/run.rs
Due: rust-fmt, rust-clippy, rust-test

config: increase JetStream message limit to 100M and remove byte/age limits
  src/commands/ingest_aprs.rs
Due: rust-fmt, rust-clippy, rust-test

fix: update data sources, fix Svelte 5 components, and improve operations page
  web/src/lib/components/SettingsModal.svelte
  web/src/lib/components/WatchlistModal.svelte
  web/src/routes/clubs/[id]/operations/+page.svelte
  web/src/routes/info/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Increase JetStream message limit to 100M and remove byte/age limits (#288)
  src/commands/ingest_aprs.rs
Due: rust-fmt, rust-clippy, rust-test

refactor: convert JetStream Processing Lag to timeseries chart
  infrastructure/grafana-dashboard-run.json
Due: none

docs: add comprehensive data processing flow diagram to README
  README.md
Due: none

feat: add message processing rate metrics and fix error metrics initialization
  infrastructure/grafana-dashboard-run.json
  src/commands/run.rs
  src/metrics.rs
Due: rust-fmt, rust-clippy, rust-test

fix: revert broken Svelte component changes in modals
  web/src/lib/components/SettingsModal.svelte
  web/src/lib/components/WatchlistModal.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

feat: improve receiver search near me functionality
  src/receiver_repo.rs
  web/src/routes/receivers/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

docs: improve data processing flow diagram in README
  README.md
Due: none

fix: switch to implicit ACK and improve queue handling
  soar-run.service
  src/aprs_jetstream_consumer.rs
  src/commands/run.rs
  src/queue_config.rs
Due: rust-fmt, rust-clippy, rust-test

refactor: simplify to single JetStream reader with natural backpressure
  src/commands/run.rs
  src/queue_config.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add comprehensive E2E testing infrastructure with Playwright
  CLAUDE.md
  web/e2e/README.md
  web/e2e/auth/login.test.ts
  web/e2e/auth/logout.test.ts
  web/e2e/auth/register.test.ts
  web/e2e/demo.test.ts
  web/e2e/devices/device-detail.test.ts
  web/e2e/devices/device-list.test.ts
  web/e2e/fixtures/auth.fixture.ts
  web/e2e/fixtures/data.fixture.ts
  web/e2e/utils/auth.ts
  web/e2e/utils/navigation.ts
  web/playwright.config.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: add proper ARIA roles to all modal components
  web/src/lib/components/AircraftStatusModal.svelte
  web/src/lib/components/AirportModal.svelte
  web/src/lib/components/PilotSelectionModal.svelte
  web/src/lib/components/SettingsModal.svelte
  web/src/lib/components/WatchlistModal.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: use specific heading levels in device list E2E test
  web/e2e/devices/device-list.test.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

perf: replace tokio::mpsc with flume for lock-free queue metrics
  Cargo.lock
  Cargo.toml
  src/agl_batch_writer.rs
  src/aprs_client.rs
  src/fix_processor.rs
  src/nats_publisher.rs
  src/packet_processors/router.rs
Due: rust-fmt, rust-clippy, rust-test, cargo-audit

fix: complete flume conversion for all worker loops
  src/commands/run.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add JetStream intake queue for graceful shutdown
  src/commands/run.rs
  src/queue_config.rs
Due: rust-fmt, rust-clippy, rust-test

chore: refactor archive.rs to eliminate duplication and add schema dump
  src/aprs_messages_repo.rs
  src/commands/archive.rs
  src/commands/archive/aprs_messages.rs
  src/commands/archive/archiver.rs
  src/commands/archive/fixes.rs
  src/commands/archive/flights.rs
  src/commands/archive/mod.rs
  src/commands/archive/receiver_statuses.rs
  src/main.rs
Due: rust-fmt, rust-clippy, rust-test

refactor: reduce flight creation logs to debug level
  src/flight_tracker/flight_lifecycle.rs
  src/flight_tracker/state_transitions.rs
  src/flights.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add missing metrics to Grafana dashboard and fix metric naming
  infrastructure/grafana-dashboard-run.json
  src/commands/run.rs
Due: rust-fmt, rust-clippy, rust-test

fix: remove obsolete raw message queue from dashboard
  infrastructure/grafana-dashboard-run.json
Due: none

perf: parallelize PacketRouter with internal worker pool
  src/commands/run.rs
  src/packet_processors/generic.rs
  src/packet_processors/router.rs
Due: rust-fmt, rust-clippy, rust-test

fix(a11y): add keyboard handlers to modal backdrops in profile page
  web/src/routes/profile/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build
