Repository hut8/soar: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-install-deps, web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test, cargo-audit

web-install-deps:
  name: Install web dependencies
  entry: bash -c 'cd web && npm ci'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-format:
  name: Auto-fix web formatting (Prettier)
  entry: bash -c 'cd web && npm run format'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-lint:
  name: Run web linter (ESLint + Prettier check)
  entry: bash -c 'cd web && npm run lint'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-type-check:
  name: Run web type checking
  entry: bash -c 'cd web && npm run check'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-test:
  name: Run web tests (Playwright E2E)
  entry: bash -c 'cd web && npm test'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

web-build:
  name: Build web project
  entry: bash -c 'cd web && npm run build'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

rust-fmt:
  name: Auto-fix Rust formatting
  entry: cargo fmt
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

rust-clippy:
  name: Run Clippy
  entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo clippy --all-targets --all-features -- -D warnings'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

rust-test:
  name: Run Rust tests
  entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo test'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

cargo-audit:
  name: Run security audit
  entry: cargo audit
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

Address Copilot review feedback
  src/aircraft.rs
  src/aircraft_repo.rs
  web/src/lib/formatters.ts
  web/src/routes/live/+page.svelte
  web/src/routes/operations/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

Fix partial unique index incompatibility with Diesel on_conflict
  migrations/2026-01-30-000000-0000_replace_address_with_typed_columns/up.sql
  web/src/routes/aircraft/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Remove aircraft issues E2E test and update stale screenshots
  web/e2e/aircraft/aircraft-issues.test.ts
  web/e2e/aircraft/aircraft-issues.test.ts-snapshots/aircraft-issues-mobile-chromium-linux.png
  web/e2e/aircraft/aircraft-issues.test.ts-snapshots/aircraft-issues-page-chromium-linux.png
  web/e2e/aircraft/aircraft-list.test.ts-snapshots/aircraft-card-chromium-linux.png
  web/e2e/aircraft/aircraft-list.test.ts-snapshots/aircraft-detail-from-list-chromium-linux.png
  web/e2e/aircraft/aircraft-list.test.ts-snapshots/aircraft-list-authenticatedPage-chromium-linux.png
  web/e2e/aircraft/aircraft-list.test.ts-snapshots/aircraft-search-error-empty-chromium-linux.png
  web/e2e/aircraft/aircraft-list.test.ts-snapshots/aircraft-search-no-results-chromium-linux.png
  web/e2e/aircraft/aircraft-list.test.ts-snapshots/aircraft-search-results-chromium-linux.png
Due: web-format, web-lint, web-type-check, web-test, web-build

Update aircraft list E2E screenshot baselines
  web/e2e/aircraft/aircraft-list.test.ts-snapshots/aircraft-card-chromium-linux.png
  web/e2e/aircraft/aircraft-list.test.ts-snapshots/aircraft-detail-from-list-chromium-linux.png
  web/e2e/aircraft/aircraft-list.test.ts-snapshots/aircraft-list-authenticatedPage-chromium-linux.png
  web/e2e/aircraft/aircraft-list.test.ts-snapshots/aircraft-search-error-empty-chromium-linux.png
  web/e2e/aircraft/aircraft-list.test.ts-snapshots/aircraft-search-no-results-chromium-linux.png
  web/e2e/aircraft/aircraft-list.test.ts-snapshots/aircraft-search-results-chromium-linux.png
Due: none

Fix OGN ingest rate always showing 0.0/s
  src/aprs_client.rs
  src/commands/ingest.rs
Due: rust-fmt, rust-clippy, rust-test

Fix migration: delete aircraft with address=0 and all dependents
  migrations/2026-01-30-000000-0000_replace_address_with_typed_columns/up.sql
Due: none

Add data-migrations infrastructure for bulk hypertable operations
  scripts/data-migrations/001_cleanup_address_zero_aircraft.py
  scripts/data-migrations/README.md
Due: none

Extract shared helpers into _lib.py for data migrations
  scripts/data-migrations/001_cleanup_address_zero_aircraft.py
  scripts/data-migrations/_lib.py
Due: none

Fix incorrect script name in data-migrations README
  scripts/data-migrations/README.md
Due: none

Fix FIFO ordering and crash safety in persistent queue spillover
  src/persistent_queue.rs
Due: rust-fmt, rust-clippy, rust-test

Address PR review: improve flush_memory_to_disk robustness
  src/persistent_queue.rs
Due: rust-fmt, rust-clippy, rust-test

Fix ingest dashboard "Total (queued)" to sum APRS + Beast rates
  infrastructure/dashboards/panels/ingest/messages-queued-per-second.json
Due: none

Show login warning when unauthenticated users click watchlist button
  web/src/lib/components/AircraftStatusModal.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Fix pelias placeholder port mapping (4100:4100 -> 4100:3000)
  infrastructure/systemd/pelias-placeholder.service
Due: none

Add spurious flight statistics section to daily archive email
  src/archive_email_reporter.rs
  src/commands/archive/mod.rs
  src/flights_repo.rs
Due: rust-fmt, rust-clippy, rust-test

Add icon halo and fix SDF edges for live map aircraft markers
  web/src/lib/utils/aircraftIcons.ts
  web/src/routes/live/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Merge aircraft by registration instead of creating duplicates
  migrations/2026-02-03-155349-0000_add_pending_registration_to_aircraft/down.sql
  migrations/2026-02-03-155349-0000_add_pending_registration_to_aircraft/metadata.toml
  migrations/2026-02-03-155349-0000_add_pending_registration_to_aircraft/up.sql
  src/aircraft.rs
  src/aircraft_repo.rs
  src/commands/load_data/mod.rs
  src/email_reporter.rs
  src/fixes_repo.rs
  src/schema.rs
Due: rust-fmt, rust-clippy, rust-test

Fix crash on live page when navigating away during aircraft updates
  web/src/routes/live/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Improve aircraft icon selection using ADS-B emitter category
  web/src/lib/utils/aircraftIcons.ts
  web/src/routes/live/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Split migration: ALTER TABLE in transaction, index CONCURRENTLY separate
  migrations/2026-02-03-155349-0000_add_pending_registration_to_aircraft/down.sql
  migrations/2026-02-03-155349-0000_add_pending_registration_to_aircraft/up.sql
  migrations/2026-02-03-155349-0001_add_pending_registration_index/down.sql
  migrations/2026-02-03-155349-0001_add_pending_registration_index/metadata.toml
  migrations/2026-02-03-155349-0001_add_pending_registration_index/up.sql
Due: none

Add visual feedback for geolocation on clubs page
  web/src/routes/clubs/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Fix missing location_id in airport search SQL queries
  src/airports_repo.rs
Due: rust-fmt, rust-clippy, rust-test

Bump bytes to 1.11.1 to fix RUSTSEC-2026-0007
  Cargo.lock
  Cargo.toml
Due: cargo-audit

Show distance column on clubs page for location searches
  web/src/routes/clubs/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Add modelData enrichment to aircraft API and rename device to aircraft
  src/actions/aircraft_search.rs
  src/actions/views/aircraft.rs
  src/ts_export.rs
  src/web.rs
  web/src/lib/components/cesium/TimelineController.svelte
  web/src/lib/types/generated/Aircraft.ts
  web/src/lib/types/generated/AircraftView.ts
  web/src/lib/types/generated/ModelDataView.ts
  web/src/lib/types/index.ts
  web/src/routes/aircraft/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

Use Manufacturer column instead of Aircraft_Manufacturer from CSV
  src/commands/load_data/aircraft_types.rs
Due: rust-fmt, rust-clippy, rust-test

Replace AR aircraft marker with crosshair reticle
  web/src/lib/components/ar/AircraftMarker.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Refactor spurious flight queries to use Diesel query builder
  src/flights_repo.rs
  src/schema.rs
Due: rust-fmt, rust-clippy, rust-test

Move manual Diesel schema extensions to schema_patch.rs
  src/lib.rs
  src/schema.rs
  src/schema_patch.rs
Due: rust-fmt, rust-clippy, rust-test

Add foreign key on spurious_flights.aircraft_id, remove schema_patch.rs
  migrations/2026-02-04-000000-0000_add_spurious_flights_fk/down.sql
  migrations/2026-02-04-000000-0000_add_spurious_flights_fk/up.sql
  src/flights_repo.rs
  src/lib.rs
  src/schema.rs
  src/schema_patch.rs
Due: rust-fmt, rust-clippy, rust-test

Upgrade ts-rs from 11.1 to 12.0.1
  Cargo.lock
  Cargo.toml
  src/actions/views/aircraft.rs
  src/ts_export.rs
  web/src/lib/types/generated/Aircraft.ts
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test, cargo-audit

Use native cargo build for x64 musl, move cross build to manual workflow
  .github/workflows/build-cross-x64.yml
  .github/workflows/ci.yml
Due: none

Fix spurious_flights FK migration by cleaning orphaned rows
  migrations/2026-02-04-000000-0000_add_spurious_flights_fk/up.sql
  src/aircraft_repo.rs
Due: rust-fmt, rust-clippy, rust-test

update rs1090
  Cargo.lock
  Cargo.toml
  src/adsb_accumulator.rs
Due: rust-fmt, rust-clippy, rust-test, cargo-audit

Reduce spurious flights by rejecting bad altitude data and fixing duration display
  src/actions/views/flight.rs
  src/beast/adsb_to_fix.rs
  src/fixes.rs
Due: rust-fmt, rust-clippy, rust-test

Address Copilot review feedback
  src/beast/adsb_to_fix.rs
  src/fixes.rs
Due: rust-fmt, rust-clippy, rust-test

Increase altitude threshold to 100,000 ft
  src/fixes.rs
Due: rust-fmt, rust-clippy, rust-test

Skip heuristic spurious flight detection for ADS-B/SBS sources
  src/flight_tracker/flight_lifecycle.rs
Due: rust-fmt, rust-clippy, rust-test

Path conditions:
  web-install-deps: any of: ^web/(package\.json|package-lock\.json)$
  web-format: any of: ^web/.*\.(js|ts|svelte)$
  web-lint: any of: ^web/.*\.(js|ts|svelte)$
  web-type-check: any of: ^web/.*\.(js|ts|svelte)$
  web-test: any of: ^web/.*\.(js|ts|svelte)$
  web-build: any of: ^web/.*\.(js|ts|svelte)$
  rust-fmt: any of: \.rs$
  rust-clippy: any of: \.rs$
  rust-test: any of: \.rs$
  cargo-audit: any of: ^(Cargo\.toml|Cargo\.lock)$
