Repository hut8/soar: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-install-deps, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test, cargo-audit, cargo-outdated

.pre-commit-config.yaml:

repos:
  # Frontend/SvelteKit checks (matching CI test-sveltekit job)
  - repo: local
    hooks:
      - id: web-install-deps
        name: Install web dependencies
        entry: bash -c 'cd web && npm ci'
        language: system
        files: ^web/(package\.json|package-lock\.json)$
        pass_filenames: false

      - id: web-lint
        name: Run web linter (ESLint + Prettier)
        entry: bash -c 'cd web && npm run lint'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false

      - id: web-type-check
        name: Run web type checking
        entry: bash -c 'cd web && npm run check'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false

      - id: web-test
        name: Run web tests (Playwright E2E)
        entry: bash -c 'cd web && npm test'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false

      - id: web-build
        name: Build web project
        entry: bash -c 'cd web && npm run build'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false

  # Rust formatting (matching CI check)
  - repo: local
    hooks:
      - id: rust-fmt
        name: Check Rust formatting
        entry: cargo fmt --check
        language: system
        files: \.rs$
        pass_filenames: false

  # Rust linting (matching CI clippy check)
  - repo: local
    hooks:
      - id: rust-clippy
        name: Run Clippy
        entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo clippy --all-targets --all-features -- -D warnings'
        language: system
        files: \.rs$
        pass_filenames: false

  # Rust tests (matching CI test run)
  - repo: local
    hooks:
      - id: rust-test
        name: Run Rust tests
        entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo test --verbose'
        language: system
        files: \.rs$
        pass_filenames: false

  # Security audit (matching CI security-audit job)
  - repo: local
    hooks:
      - id: cargo-audit
        name: Run security audit
        entry: cargo audit
        language: system
        files: ^(Cargo\.toml|Cargo\.lock)$
        pass_filenames: false

      - id: cargo-outdated
        name: Check for outdated dependencies
        entry: bash -c 'cargo outdated --exit-code 1 || echo "Some dependencies are outdated (non-critical)"'
        language: system
        files: ^(Cargo\.toml|Cargo\.lock)$
        pass_filenames: false

  # General file checks
  - repo: pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']

# Performance optimizations
default_stages: [pre-commit]
fail_fast: false

# CI configuration
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit.com hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ''
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: weekly
  skip: []
  submodules: false

Update paths
  soar-run.service
Due: none

feat: implement flight tracker state persistence and restart capability
  src/fix_processor.rs
  src/flight_tracker.rs
  src/main.rs
Due: rust-fmt, rust-clippy, rust-test

refactor: convert elevation module to use ElevationDB struct
  .env.example
  src/elevation.rs
  src/flight_tracker.rs
  src/main.rs
  tests/elevation_test.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add database migration for altitude offset columns
  migrations/2025-10-02-044656-0000_add_altitude_offset_columns_to_flights/down.sql
  migrations/2025-10-02-044656-0000_add_altitude_offset_columns_to_flights/up.sql
Due: none

fix: resolve deploy directory conflict in CI workflow
  .github/workflows/ci.yml
Due: none

perf: optimize CI workflow for 50-70% faster builds
  .cargo/config.toml
  .github/workflows/ci.yml
Due: none

fix: resolve deployment failures with GDAL library and missing directories
  .github/workflows/ci.yml
  soar-deploy
Due: none

Add aprs filters
  src/aprs_filters.rs
  src/lib.rs
Due: rust-fmt, rust-clippy, rust-test

cargo fmt
  src/aprs_filters.rs
Due: rust-fmt, rust-clippy, rust-test

fix: remove .cargo/config.toml to fix local builds
  .cargo/config.toml
  .github/workflows/ci.yml
Due: none

fix: update cargo-audit and cargo-outdated to fix time crate compilation error
  .github/workflows/ci.yml
Due: none

fix: make altitude offset migration idempotent with IF NOT EXISTS
  migrations/2025-10-02-044656-0000_add_altitude_offset_columns_to_flights/down.sql
  migrations/2025-10-02-044656-0000_add_altitude_offset_columns_to_flights/up.sql
Due: none

fix: make systemd ReadWritePaths optional to prevent NAMESPACE errors
  soar-deploy
  soar-pull-data.service
  soar-run.service
  soar-sitemap.service
  soar-web.service
Due: none

refactor: consolidate all paths to /var/soar, remove /var/lib/soar
  .env.example
  deploy
  provision
  soar-deploy
  soar-pull-data.service
  soar-sitemap.service
  soar-web.service
Due: none

fix: pin CI to ubuntu-22.04 and improve GDAL version handling
  .github/workflows/ci.yml
  soar-deploy
Due: none

no more rustc/sccache
  .github/workflows/ci.yml
Due: none

try running npm ci
  .github/workflows/ci.yml
Due: none

Re-add node/npm ci to rust tests
  .github/workflows/ci.yml
Due: none

last known working state of cargo-audit
  .github/workflows/ci.yml
Due: none

fix: resolve type mismatches and test failures
  src/airports_repo.rs
  src/aprs_filters.rs
  web/src/routes/devices/[id]/+page.svelte
Due: web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

Remove operation to copy deployment script
  .github/workflows/ci.yml
Due: none

simplify systemd files; shellcheck fixes
  soar-deploy
  soar-pull-data.service
  soar-run.service
  soar-sitemap.service
  soar-web.service
Due: none

Fix "text file busy" error
  soar-deploy
Due: none

fix: don't enable/start timer-controlled services directly
  soar-deploy
Due: none

fix: explicitly disable and stop timer-controlled services
  soar-deploy
Due: none

fix: only disable timer-controlled services, don't stop them
  soar-deploy
Due: none

fix: prevent duplicate flight completions via race condition
  src/flight_tracker.rs
Due: rust-fmt, rust-clippy, rust-test

feat: log error for large altitude offsets (>500 ft)
  src/flight_tracker.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add pagination support to device fixes and flights endpoints
  src/actions/devices.rs
  src/fixes_repo.rs
  src/flights_repo.rs
Due: rust-fmt, rust-clippy, rust-test

feat: improve fixes display on device details page
  web/src/routes/devices/[id]/+page.svelte
Due: web-lint, web-type-check, web-test, web-build

fix: prevent duplicate flight creation at takeoff via race condition
  src/flight_tracker.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add async altitude AGL calculation with per-tile download locking
  Cargo.lock
  Cargo.toml
  migrations/2025-10-02-215452-0000_add_altitude_agl_to_fixes/down.sql
  migrations/2025-10-02-215452-0000_add_altitude_agl_to_fixes/up.sql
  src/elevation.rs
  src/fix_processor.rs
  src/fixes.rs
  src/fixes_repo.rs
  src/flight_tracker.rs
  src/schema.rs
Due: rust-fmt, rust-clippy, rust-test, cargo-audit, cargo-outdated

refactor: replace DashMap with dedicated TileDownloader to eliminate deadlock risk
  Cargo.lock
  Cargo.toml
  src/elevation.rs
  src/lib.rs
  src/tile_downloader.rs
Due: rust-fmt, rust-clippy, rust-test, cargo-audit, cargo-outdated

refactor: update WatchlistModal layout to match devices search page
  web/src/lib/components/WatchlistModal.svelte
Due: web-lint, web-type-check, web-test, web-build

fix: add icon color to operations page map buttons
  web/src/routes/operations/+page.svelte
Due: web-lint, web-type-check, web-test, web-build

fix: compass rose now rotates smoothly across 0°/360° boundary
  web/src/routes/operations/+page.svelte
Due: web-lint, web-type-check, web-test, web-build

feat: show relative time in Recent Position Fixes table
  web/src/routes/devices/[id]/+page.svelte
Due: web-lint, web-type-check, web-test, web-build

fix: display device registration number in Aircraft Registration section
  web/src/routes/devices/[id]/+page.svelte
Due: web-lint, web-type-check, web-test, web-build

fix: persist area tracker state and fix DeviceRegistry boolean handling
  web/src/lib/services/DeviceRegistry.ts
  web/src/routes/operations/+page.svelte
Due: web-lint, web-type-check, web-test, web-build

feat: add loading indicator to app bar
  web/src/lib/api/server.ts
  web/src/lib/components/LoadingBar.svelte
  web/src/routes/+layout.svelte
Due: web-lint, web-type-check, web-test, web-build
