Repository hut8/soar: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-install-deps, web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test, cargo-audit

web-install-deps:
  name: Install web dependencies
  entry: bash -c 'cd web && npm ci'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-format:
  name: Auto-fix web formatting (Prettier)
  entry: bash -c 'cd web && npm run format'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-lint:
  name: Run web linter (ESLint + Prettier check)
  entry: bash -c 'cd web && npm run lint'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-type-check:
  name: Run web type checking
  entry: bash -c 'cd web && npm run check'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-test:
  name: Run web tests (Playwright E2E)
  entry: bash -c 'cd web && npm test'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

web-build:
  name: Build web project
  entry: bash -c 'cd web && npm run build'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

rust-fmt:
  name: Auto-fix Rust formatting
  entry: cargo fmt
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

rust-clippy:
  name: Run Clippy
  entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo clippy --all-targets --all-features -- -D warnings'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

rust-test:
  name: Run Rust tests
  entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo test'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

cargo-audit:
  name: Run security audit
  entry: cargo audit
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

Fix UI issues after Skeleton v4 upgrade (#310)
  web/src/lib/components/ClubSelector.svelte
  web/src/lib/components/LoadingBar.svelte
  web/src/routes/operations/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

feat: show 10 most recently active devices on devices page load (#311)
  src/actions/devices.rs
  src/device_repo.rs
  web/src/routes/devices/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

perf: Optimize device upsert to avoid no-op updates on every fix
  src/device_repo.rs
  src/fix_processor.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add altitude-based gradient visualization to flight paths
  src/flights.rs
  web/src/routes/flights/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

perf: Include all packet fields in device insert for new devices
  CLAUDE.md
  src/device_repo.rs
  src/fix_processor.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add altitude-based gradient visualization to flight paths (#313)
  src/flights.rs
  web/src/routes/flights/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

fix: altitude chart now switches to light/dark mode properly
  web/src/routes/flights/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: altitude chart now switches to light/dark mode properly (#314)
  web/src/routes/flights/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: loading bar now covers full AppBar height
  web/src/lib/components/LoadingBar.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: loading bar now covers full AppBar height (#315)
  web/src/lib/components/LoadingBar.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

perf: Make elevation queue non-blocking and increase capacity
  CLAUDE.md
  Cargo.toml
  src/commands/run.rs
  src/fix_processor.rs
  src/main.rs
  src/queue_config.rs
Due: rust-fmt, rust-clippy, rust-test, cargo-audit

fix: Don't log error/warning when Google Maps geocoding returns no results
  src/geocoding.rs
Due: rust-fmt, rust-clippy, rust-test

perf: Update all device fields atomically in single upsert
  src/device_repo.rs
  src/fix_processor.rs
Due: rust-fmt, rust-clippy, rust-test

perf: Optimize device upsert to avoid no-op updates on every fix (#312)
  CLAUDE.md
  Cargo.toml
  src/commands/run.rs
  src/device_repo.rs
  src/fix_processor.rs
  src/geocoding.rs
  src/main.rs
  src/queue_config.rs
Due: rust-fmt, rust-clippy, rust-test, cargo-audit

fix: remove gap between AppBar and operations map
  web/src/routes/operations/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: remove gap between AppBar and operations map (#316)
  web/src/routes/operations/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

refactor: Extract device tile into reusable component
  web/src/lib/components/DeviceTile.svelte
  web/src/routes/devices/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

refactor: Extract device tile into reusable component (#317)
  web/src/lib/components/DeviceTile.svelte
  web/src/routes/devices/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

refactor: Make Fix receiver_id and aprs_message_id required
  migrations/2025-11-08-021934-0000_make_fix_ids_required/down.sql
  migrations/2025-11-08-021934-0000_make_fix_ids_required/up.sql
  src/fix_processor.rs
  src/fixes.rs
  src/fixes_repo.rs
  src/flight_tracker/aircraft_tracker.rs
  src/schema.rs
Due: rust-fmt, rust-clippy, rust-test

refactor: introduce FlightProcessorContext to reduce parameter count
  REFACTOR_TOO_MANY_ARGS.md
  make-worktree
  src/flight_tracker/flight_lifecycle.rs
  src/flight_tracker/mod.rs
  src/flight_tracker/state_transitions.rs
Due: rust-fmt, rust-clippy, rust-test

refactor: introduce FlightProcessorContext to reduce parameter count (#319)
  REFACTOR_TOO_MANY_ARGS.md
  make-worktree
  src/flight_tracker/flight_lifecycle.rs
  src/flight_tracker/mod.rs
  src/flight_tracker/state_transitions.rs
Due: rust-fmt, rust-clippy, rust-test

fix: Remove white dot markers, show only directional arrows
  web/src/routes/flights/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: Improve fix marker popup styling and add missing data
  web/src/lib/types/index.ts
  web/src/routes/flights/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: Always show flight duration from created_at to last fix
  web/src/lib/components/FlightsList.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Fix: Show directional arrows instead of white dots on flight map (#320)
  web/src/lib/components/FlightsList.svelte
  web/src/lib/types/index.ts
  web/src/routes/flights/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

perf: speed up worktree creation with sccache
  make-worktree
Due: none

refactor: replace manual KML generation with kml crate
  Cargo.lock
  Cargo.toml
  src/flights.rs
Due: rust-fmt, rust-clippy, rust-test, cargo-audit

perf: optimize operations page performance with debouncing and reduced API calls
  src/actions/devices.rs
  web/src/lib/services/DeviceRegistry.ts
  web/src/routes/operations/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

feat: add backend toggle and improve KML markers
  src/flights.rs
  web/src/lib/api/server.ts
  web/src/lib/services/FixFeed.ts
  web/src/lib/stores/backend.ts
  web/src/routes/+layout.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

feat: improve KML aircraft identifiers and disable extrusion
  src/actions/flights.rs
  src/flights.rs
Due: rust-fmt, rust-clippy, rust-test

refactor: replace manual KML generation with kml crate (#321)
  Cargo.lock
  Cargo.toml
  src/actions/flights.rs
  src/flights.rs
  web/src/lib/api/server.ts
  web/src/lib/services/FixFeed.ts
  web/src/lib/stores/backend.ts
  web/src/routes/+layout.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test, cargo-audit

perf: optimize operations page performance with debouncing and reduced API calls (#322)
  make-worktree
  src/actions/devices.rs
  web/src/lib/services/DeviceRegistry.ts
  web/src/routes/operations/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

fix: Exit immediately on shutdown instead of retrying reconnection
  src/aprs_client.rs
  src/aprs_jetstream_publisher.rs
Due: rust-fmt, rust-clippy, rust-test

fix: Exit immediately on Ctrl+C without graceful shutdown
  src/aprs_client.rs
  src/commands/ingest_aprs.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add full-screen flight map with smaller directional arrows
  web/src/routes/flights/[id]/+page.svelte
  web/src/routes/flights/[id]/map/+layout.svelte
  web/src/routes/flights/[id]/map/+page.svelte
  web/src/routes/flights/[id]/map/+page.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

Fix: Exit immediately on Ctrl+C without reconnection loop (#323)
  src/aprs_jetstream_publisher.rs
  src/commands/ingest_aprs.rs
Due: rust-fmt, rust-clippy, rust-test

perf: eliminate redundant fix queries in flight completion
  src/actions/flights.rs
  src/flight_tracker/flight_lifecycle.rs
  src/flights.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add device title display and backend aircraft type filtering
  src/actions/devices.rs
  src/device_repo.rs
  web/src/lib/components/DeviceTile.svelte
  web/src/lib/formatters.ts
  web/src/routes/devices/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

Path conditions:
  web-install-deps: any of: ^web/(package\.json|package-lock\.json)$
  web-format: any of: ^web/.*\.(js|ts|svelte)$
  web-lint: any of: ^web/.*\.(js|ts|svelte)$
  web-type-check: any of: ^web/.*\.(js|ts|svelte)$
  web-test: any of: ^web/.*\.(js|ts|svelte)$
  web-build: any of: ^web/.*\.(js|ts|svelte)$
  rust-fmt: any of: \.rs$
  rust-clippy: any of: \.rs$
  rust-test: any of: \.rs$
  cargo-audit: any of: ^(Cargo\.toml|Cargo\.lock)$
