Repository hut8/soar: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-install-deps, web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test, cargo-audit

web-install-deps:
  name: Install web dependencies
  entry: bash -c 'cd web && npm ci'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-format:
  name: Auto-fix web formatting (Prettier)
  entry: bash -c 'cd web && npm run format'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-lint:
  name: Run web linter (ESLint + Prettier check)
  entry: bash -c 'cd web && npm run lint'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-type-check:
  name: Run web type checking
  entry: bash -c 'cd web && npm run check'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-test:
  name: Run web tests (Playwright E2E)
  entry: bash -c 'cd web && npm test'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

web-build:
  name: Build web project
  entry: bash -c 'cd web && npm run build'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

rust-fmt:
  name: Auto-fix Rust formatting
  entry: cargo fmt
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

rust-clippy:
  name: Run Clippy
  entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo clippy --all-targets --all-features -- -D warnings'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

rust-test:
  name: Run Rust tests
  entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo test'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

cargo-audit:
  name: Run security audit
  entry: cargo audit
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

Increase Beast/SBS workers to 200 for 30k msg/sec traffic
  src/commands/run.rs
Due: rust-fmt, rust-clippy, rust-test

Fix: Skip reverse geocoding for invalid (0,0) coordinates
  src/flight_tracker/location.rs
Due: rust-fmt, rust-clippy, rust-test

Fix: Prevent creating fixes with invalid (0,0) coordinates from incomplete CPR
  src/beast/adsb_to_fix.rs
  src/flight_tracker/location.rs
Due: rust-fmt, rust-clippy, rust-test

Fix: Update tests to expect errors when position data unavailable
  src/beast/adsb_to_fix.rs
Due: rust-fmt, rust-clippy, rust-test

Add periodic ADS-B stats reporting and enable tokio console for staging
  infrastructure/systemd/soar-run-staging.service
  src/beast/client.rs
  src/commands/ingest_adsb.rs
  src/sbs/client.rs
  src/socket_client.rs
Due: rust-fmt, rust-clippy, rust-test

feat: Add SBS message decoding and processing
  src/commands/run.rs
  src/raw_messages_repo.rs
  src/sbs/decoder.rs
  src/sbs/mod.rs
  src/sbs/sbs_to_fix.rs
Due: rust-fmt, rust-clippy, rust-test

Remove graceful shutdown from ingest services
  src/aprs_client.rs
  src/beast/client.rs
  src/commands/ingest_adsb.rs
  src/commands/ingest_ogn.rs
  src/sbs/client.rs
  web/package-lock.json
Due: web-install-deps, rust-fmt, rust-clippy, rust-test

feat: Add SBS message decoding and processing
  src/raw_messages_repo.rs
  src/sbs/client.rs
  src/sbs/decoder.rs
  src/sbs/mod.rs
  src/sbs/sbs_to_fix.rs
Due: rust-fmt, rust-clippy, rust-test

Add OpenTelemetry infrastructure for distributed tracing
  .github/workflows/ci.yml
  .gitignore
  Cargo.lock
  Cargo.toml
  docker-compose.observability.yml
  docs/archive/sentry-debug-symbols.md
  infrastructure/OPENTELEMETRY.md
  infrastructure/docker-compose.observability.yml
  infrastructure/examples/etc-soar-env.template
  infrastructure/grafana-provisioning/datasources/loki.yaml
  infrastructure/grafana-provisioning/datasources/tempo.yaml
  infrastructure/tempo.yaml
  scripts/archive/upload-debug-symbols.sh
  src/actions/auth.rs
  src/actions/users.rs
  src/aprs_client.rs
  src/beast/client.rs
  src/commands/ingest_adsb.rs
  src/commands/ingest_ogn.rs
  src/commands/load_data/mod.rs
  src/commands/pull_airspaces.rs
  src/commands/pull_data.rs
  src/commands/run.rs
  src/flight_tracker/flight_lifecycle.rs
  src/geocoding/nominatim.rs
  src/main.rs
  src/metrics.rs
  src/telemetry.rs
  src/web.rs
  web/package-lock.json
Due: web-install-deps, rust-fmt, rust-clippy, rust-test, cargo-audit

Fix integer overflow in coverage aggregation for large H3 cells
  migrations/2026-01-06-221024-0000_change_coverage_fix_count_to_bigint/down.sql
  migrations/2026-01-06-221024-0000_change_coverage_fix_count_to_bigint/up.sql
  schema.sql
  src/commands/aggregate_coverage.rs
  src/coverage.rs
  src/coverage_repo.rs
  src/schema.rs
Due: rust-fmt, rust-clippy, rust-test

Upgrade OpenTelemetry to v0.31 and implement working tracer initialization
  Cargo.lock
  Cargo.toml
  src/telemetry.rs
Due: rust-fmt, rust-clippy, rust-test, cargo-audit

Fix formatting: remove extra blank lines in aprs_client.rs
  src/aprs_client.rs
Due: rust-fmt, rust-clippy, rust-test

Change pre-commit hook to use cargo fmt --check
  .pre-commit-config.yaml
Due: none

Fix Grafana datasource URLs and update documentation
  infrastructure/OPENTELEMETRY.md
  infrastructure/grafana-provisioning/datasources/loki.yaml
  infrastructure/grafana-provisioning/datasources/tempo.yaml
Due: none

CRITICAL: Integrate OpenTelemetry layer for error tracking
  Cargo.lock
  Cargo.toml
  src/main.rs
Due: rust-fmt, rust-clippy, rust-test, cargo-audit

Configure log export via tracing-opentelemetry layer
  src/main.rs
  src/telemetry.rs
Due: rust-fmt, rust-clippy, rust-test

Fix Grafana datasource file permissions for deployment
  infrastructure/soar-deploy
Due: none

Move via to source_metadata and make raw_messages.receiver_id nullable
  migrations/2026-01-07-015150-0000_move_via_to_source_metadata/down.sql
  migrations/2026-01-07-015150-0000_move_via_to_source_metadata/up.sql
  migrations/2026-01-07-015850-0000_make_raw_messages_receiver_id_nullable/down.sql
  migrations/2026-01-07-015850-0000_make_raw_messages_receiver_id_nullable/up.sql
  src/beast/adsb_to_fix.rs
  src/beast_consumer_task.rs
  src/commands/archive/raw_messages.rs
  src/commands/run.rs
  src/commands/seed_test_data.rs
  src/fixes.rs
  src/fixes_repo.rs
  src/flight_tracker/aircraft_tracker.rs
  src/flight_tracker/mod.rs
  src/raw_messages_repo.rs
  src/schema.rs
Due: rust-fmt, rust-clippy, rust-test

Move aprs_type to source_metadata
  migrations/2026-01-07-021621-0000_move_aprs_type_to_source_metadata/down.sql
  migrations/2026-01-07-021621-0000_move_aprs_type_to_source_metadata/up.sql
  src/actions/receivers.rs
  src/beast/adsb_to_fix.rs
  src/commands/seed_test_data.rs
  src/fixes.rs
  src/fixes_repo.rs
  src/flight_tracker/aircraft_tracker.rs
  src/flight_tracker/mod.rs
  src/schema.rs
Due: rust-fmt, rust-clippy, rust-test

Fix socket path for development and tokio-console for production builds
  .github/workflows/ci.yml
  src/commands/ingest_adsb.rs
  src/commands/ingest_ogn.rs
  src/commands/run.rs
  src/lib.rs
Due: rust-fmt, rust-clippy, rust-test

Fix chunk metadata lookup in migration
  migrations/2026-01-07-015150-0000_move_via_to_source_metadata/up.sql
Due: none

Drop via column without data migration
  migrations/2026-01-07-015150-0000_move_via_to_source_metadata/up.sql
Due: none

Remove timestamps from log output to avoid duplication with journald
  src/main.rs
Due: rust-fmt, rust-clippy, rust-test

Remove worker-lifetime spans to fix TRACE_TOO_LARGE errors
  src/commands/run.rs
  src/packet_processors/router.rs
Due: rust-fmt, rust-clippy, rust-test

Add diagnostic metrics for queue jam debugging
  infrastructure/grafana-dashboard-run.json
  src/commands/run.rs
  src/fix_processor.rs
  src/metrics.rs
  src/nats_publisher.rs
  src/packet_processors/router.rs
Due: rust-fmt, rust-clippy, rust-test

Update NATS dashboard to use renamed fix publisher metrics
  infrastructure/grafana-dashboard-nats.json
Due: none

Remove RuntimeDirectory from ingest services to fix socket reconnection
  infrastructure/systemd/soar-ingest-adsb-staging.service
  infrastructure/systemd/soar-ingest-adsb.service
  infrastructure/systemd/soar-ingest-ogn-staging.service
  infrastructure/systemd/soar-ingest-ogn.service
Due: none

Add router processed_total metric to dashboard
  infrastructure/grafana-dashboard-run.json
Due: none

Fix duplicate refId in Packet Queue panel
  infrastructure/grafana-dashboard-run.json
Due: none

Change NATS Publisher Queue Depth to timeseries panel
  infrastructure/grafana-dashboard-run.json
Due: none

Improve queue throughput and reduce trace sizes
  infrastructure/systemd/soar-run-staging.service
  src/flight_tracker/flight_lifecycle.rs
  src/main.rs
  src/telemetry.rs
Due: rust-fmt, rust-clippy, rust-test

Remove .instrument() from long-running background tasks
  src/aprs_client.rs
  src/commands/ingest_adsb.rs
  src/commands/ingest_ogn.rs
  src/commands/run.rs
  src/flight_tracker/mod.rs
  src/nats_publisher.rs
Due: rust-fmt, rust-clippy, rust-test

Add backpressure handling when disk queue is at capacity
  src/aprs_client.rs
  src/beast/client.rs
  src/persistent_queue.rs
  src/sbs/client.rs
Due: rust-fmt, rust-clippy, rust-test

Consolidate ingest dashboards into unified dashboard
  infrastructure/grafana-dashboard-ingest-adsb.json
  infrastructure/grafana-dashboard-ingest-ogn.json
  infrastructure/grafana-dashboard-ingest.json
Due: none

Fix legend labels in OGN Socket Processing Errors panel
  infrastructure/grafana-dashboard-run.json
Due: none

Temporarily disable per-device NATS publishing
  src/nats_publisher.rs
Due: rust-fmt, rust-clippy, rust-test

Remove analytics triggers from flights table
  docs/flight-analytics.md
  migrations/2026-01-08-230945-0000_remove_analytics_triggers/down.sql
  migrations/2026-01-08-230945-0000_remove_analytics_triggers/up.sql
Due: none

Add NATS event logging and disable Beast input for staging
  infrastructure/systemd/soar-ingest-staging.service
  src/nats_publisher.rs
Due: rust-fmt, rust-clippy, rust-test

Add precise NATS publish latency metric
  infrastructure/grafana-dashboard-run.json
  src/nats_publisher.rs
Due: rust-fmt, rust-clippy, rust-test

Remove Router Queue Health panel and reduce envelope queue size
  infrastructure/grafana-dashboard-run.json
  src/commands/run.rs
Due: rust-fmt, rust-clippy, rust-test

Path conditions:
  web-install-deps: any of: ^web/(package\.json|package-lock\.json)$
  web-format: any of: ^web/.*\.(js|ts|svelte)$
  web-lint: any of: ^web/.*\.(js|ts|svelte)$
  web-type-check: any of: ^web/.*\.(js|ts|svelte)$
  web-test: any of: ^web/.*\.(js|ts|svelte)$
  web-build: any of: ^web/.*\.(js|ts|svelte)$
  rust-fmt: any of: \.rs$
  rust-clippy: any of: \.rs$
  rust-test: any of: \.rs$
  cargo-audit: any of: ^(Cargo\.toml|Cargo\.lock)$
