Repository hut8/soar: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-install-deps, web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test, cargo-audit

web-install-deps:
  name: Install web dependencies
  entry: bash -c 'cd web && npm ci'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-format:
  name: Auto-fix web formatting (Prettier)
  entry: bash -c 'cd web && npm run format'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-lint:
  name: Run web linter (ESLint + Prettier check)
  entry: bash -c 'cd web && npm run lint'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-type-check:
  name: Run web type checking
  entry: bash -c 'cd web && npm run check'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-test:
  name: Run web tests (Playwright E2E)
  entry: bash -c 'cd web && npm test'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

web-build:
  name: Build web project
  entry: bash -c 'cd web && npm run build'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

rust-fmt:
  name: Auto-fix Rust formatting
  entry: cargo fmt
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

rust-clippy:
  name: Run Clippy
  entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo clippy --all-targets --all-features -- -D warnings'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

rust-test:
  name: Run Rust tests
  entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo test'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

cargo-audit:
  name: Run security audit
  entry: cargo audit
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

fix: resolve aircraft_model field name conflict in API response
  src/actions/devices.rs
  src/actions/views/aircraft.rs
  web/src/lib/types/index.ts
  web/src/routes/operations/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

fix: correct compass and direction arrow behavior on mobile devices
  web/src/lib/components/AircraftStatusModal.svelte
  web/src/routes/operations/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

feat: improve aircraft markers and include flight info in websocket fixes
  src/fix_processor.rs
  src/fixes.rs
  src/flight_tracker/mod.rs
  src/live_fixes.rs
  src/nats_publisher.rs
  web/src/lib/types/index.ts
  web/src/routes/operations/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

feat: increase elevation workers from 4 to 8 with shared cache
  src/main.rs
Due: rust-fmt, rust-clippy, rust-test

fix: aircraft status modal arrow rotation across 0° boundary
  web/src/lib/components/AircraftStatusModal.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Revert grafana-dashboard.json to working version from ad3a0ca
  infrastructure/grafana-dashboard.json
Due: none

feat: rebuild Grafana dashboard with comprehensive metrics coverage
  infrastructure/grafana-dashboard.json
Due: none

fix: correct APRS processing and elevation duration metrics to use summary quantiles
  infrastructure/grafana-dashboard.json
Due: none

fix: correct elevation lookup breakdown panel to use summary quantiles
  infrastructure/grafana-dashboard.json
Due: none

fix: remove unused file
  grafana/soar-dashboard.json
Due: none

feat: add continuous flight tracker metrics
  src/flight_tracker/mod.rs
  src/flight_tracker/utils.rs
Due: rust-fmt, rust-clippy, rust-test

feat: update Grafana dashboard for new flight tracker metrics
  infrastructure/grafana-dashboard.json
Due: none

fix: correct data load report 'Total in DB' calculations
  src/loader/device_linking.rs
  src/loader/home_base_linking.rs
Due: rust-fmt, rust-clippy, rust-test

feat: implement AGL altitude backfill system with metrics
  infrastructure/grafana-dashboard.json
  migrations/2025-10-27-024849-0000_drop_unparsed_data_rename_altitude_agl_add_valid/down.sql
  migrations/2025-10-27-024849-0000_drop_unparsed_data_rename_altitude_agl_add_valid/up.sql
  src/actions/flights.rs
  src/agl_backfill.rs
  src/fixes.rs
  src/fixes_repo.rs
  src/flight_tracker/altitude.rs
  src/flight_tracker/flight_lifecycle.rs
  src/flight_tracker/state_transitions.rs
  src/lib.rs
  src/main.rs
  src/schema.rs
Due: rust-fmt, rust-clippy, rust-test

fix: populate aircraft_type_ogn and other cached fields in bounding box queries
  src/fixes_repo.rs
Due: rust-fmt, rust-clippy, rust-test

minor refactor
  src/agl_backfill.rs
Due: rust-fmt, rust-clippy, rust-test

feat: enhance profile page with club management and account settings
  web/src/lib/services/DeviceRegistry.ts
  web/src/routes/+layout.svelte
  web/src/routes/profile/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: correct invalid preset-filled-primary CSS classes
  web/src/routes/flights/+page.svelte
  web/src/routes/forgot-password/+page.svelte
  web/src/routes/login/+page.svelte
  web/src/routes/register/+page.svelte
  web/src/routes/reset-password/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: improve watchlist modal dark mode and address type labels
  web/src/lib/components/ClubSelector.svelte
  web/src/lib/components/WatchlistModal.svelte
  web/src/lib/formatters.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

feat: enhance aircraft status modal with AGL, bearing, and distance
  web/src/lib/components/AircraftStatusModal.svelte
  web/src/lib/geography.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: make altitude_agl migration idempotent and use index rename
  migrations/2025-10-27-024849-0000_drop_unparsed_data_rename_altitude_agl_add_valid/down.sql
  migrations/2025-10-27-024849-0000_drop_unparsed_data_rename_altitude_agl_add_valid/up.sql
  migrations/2025-10-27-054904-0000_add_idx_fixes_altitude_agl_valid/down.sql
  migrations/2025-10-27-054904-0000_add_idx_fixes_altitude_agl_valid/up.sql
Due: none

fix: remove CONCURRENTLY from index operations in migration
  migrations/2025-10-27-054904-0000_add_idx_fixes_altitude_agl_valid/down.sql
  migrations/2025-10-27-054904-0000_add_idx_fixes_altitude_agl_valid/up.sql
Due: none

feat: redesign loading indicator to cover entire app bar
  web/src/lib/components/LoadingBar.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

add make-worktree script
  make-worktree
Due: none

feat: enhance make-worktree with colors and auto-cd
  make-worktree
Due: none

feat: add tracker_device_type field and fix conditional updates
  migrations/2025-10-27-042834-0000_add_tracker_device_type_to_devices/down.sql
  migrations/2025-10-27-042834-0000_add_tracker_device_type_to_devices/up.sql
  src/device_repo.rs
  src/devices.rs
  src/fix_processor.rs
  src/fixes_repo.rs
  src/schema.rs
Due: rust-fmt, rust-clippy, rust-test

fix: update DeviceRow to include all device fields after rebase
  src/fixes_repo.rs
Due: rust-fmt, rust-clippy, rust-test

fix: remove blocking UPDATE from migration and enhance make-worktree
  make-worktree
  migrations/2025-10-27-024849-0000_drop_unparsed_data_rename_altitude_agl_add_valid/up.sql
Due: none

feat: improve AGL backfill metrics and performance
  src/agl_backfill.rs
  src/elevation.rs
  src/fixes_repo.rs
  src/main.rs
  src/metrics.rs
Due: rust-fmt, rust-clippy, rust-test

fix: simplify default elevation data path
  .env.example
  src/elevation.rs
  src/main.rs
Due: rust-fmt, rust-clippy, rust-test

fix: improve AircraftStatusModal dark mode and functionality
  web/src/lib/components/AircraftStatusModal.svelte
  web/src/lib/components/LoadingBar.svelte
  web/src/lib/services/DeviceRegistry.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: display transponder code as 6-digit hex
  web/src/lib/components/AircraftStatusModal.svelte
  web/src/lib/formatters.ts
  web/src/lib/types/index.ts
  web/src/routes/devices/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

feat: add registration date fields to aircraft details
  web/src/lib/components/AircraftStatusModal.svelte
  web/src/routes/devices/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

refactor: reorganize device details page header
  web/src/routes/devices/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

refactor: remove is_tow_plane column from aircraft_registrations
  migrations/2025-10-27-203104-0000_drop_is_tow_plane_from_aircraft_registrations/down.sql
  migrations/2025-10-27-203104-0000_drop_is_tow_plane_from_aircraft_registrations/up.sql
  src/aircraft_registrations.rs
  src/aircraft_registrations_repo.rs
  src/fix_processor.rs
  src/schema.rs
Due: rust-fmt, rust-clippy, rust-test

feat: improve flight history table and add production backend flag
  web/src/lib/api/server.ts
  web/src/routes/devices/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

refactor: remove unused towing detection code
  src/flight_tracker/aircraft_tracker.rs
  src/flight_tracker/towing.rs
Due: rust-fmt, rust-clippy, rust-test

fix: display airport info in device flight table
  src/actions/devices.rs
  web/src/routes/devices/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

feat: implement initial towing detection system
  src/flight_tracker/aircraft_tracker.rs
  src/flight_tracker/mod.rs
  src/flight_tracker/state_transitions.rs
  src/flight_tracker/towing.rs
Due: rust-fmt, rust-clippy, rust-test

Path conditions:
  web-install-deps: any of: ^web/(package\.json|package-lock\.json)$
  web-format: any of: ^web/.*\.(js|ts|svelte)$
  web-lint: any of: ^web/.*\.(js|ts|svelte)$
  web-type-check: any of: ^web/.*\.(js|ts|svelte)$
  web-test: any of: ^web/.*\.(js|ts|svelte)$
  web-build: any of: ^web/.*\.(js|ts|svelte)$
  rust-fmt: any of: \.rs$
  rust-clippy: any of: \.rs$
  rust-test: any of: \.rs$
  cargo-audit: any of: ^(Cargo\.toml|Cargo\.lock)$
