Repository hut8/soar: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-install-deps, web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test, cargo-audit

web-install-deps:
  name: Install web dependencies
  entry: bash -c 'cd web && npm ci'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-format:
  name: Auto-fix web formatting (Prettier)
  entry: bash -c 'cd web && npm run format'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-lint:
  name: Run web linter (ESLint + Prettier check)
  entry: bash -c 'cd web && npm run lint'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-type-check:
  name: Run web type checking
  entry: bash -c 'cd web && npm run check'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-test:
  name: Run web tests (Playwright E2E)
  entry: bash -c 'cd web && npm test'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

web-build:
  name: Build web project
  entry: bash -c 'cd web && npm run build'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

rust-fmt:
  name: Auto-fix Rust formatting
  entry: cargo fmt
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

rust-clippy:
  name: Run Clippy
  entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo clippy --all-targets --all-features -- -D warnings'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

rust-test:
  name: Run Rust tests
  entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo test'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

cargo-audit:
  name: Run security audit
  entry: cargo audit
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

test: add comprehensive pilot invitation workflow tests
  tests/pilot_invitation_workflow_test.rs
  web/tsconfig.json
Due: rust-fmt, rust-clippy, rust-test

refactor: clean up pilots module to only handle flight-user linking
  src/actions/pilots.rs
  src/lib.rs
  src/pilots.rs
  src/pilots_repo.rs
  src/web.rs
Due: rust-fmt, rust-clippy, rust-test

fix: update seed-test-data for nullable email and pilot fields
  src/commands/seed_test_data.rs
Due: rust-fmt, rust-clippy, rust-test

test: improve database and elevation test setup
  .github/workflows/ci.yml
  src/raw_messages_repo.rs
  src/schema.rs
  tests/graceful_shutdown_test.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add systemd target support and improve deployment
  .github/workflows/ci.yml
  infrastructure/soar-deploy
  infrastructure/systemd/soar-staging.target
  infrastructure/systemd/soar.target
  src/geocoding.rs
Due: rust-fmt, rust-clippy, rust-test

test: enable pilot invitation workflow integration tests
  tests/pilot_invitation_workflow_test.rs
Due: rust-fmt, rust-clippy, rust-test

fix: resolve foreign key constraint violations in pilot integration tests
  tests/pilot_invitation_workflow_test.rs
Due: rust-fmt, rust-clippy, rust-test

fix: remove overly restrictive auth consistency check constraint
  migrations/2025-12-18-194857-0000_make_users_auth_nullable/down.sql
  migrations/2025-12-18-194857-0000_make_users_auth_nullable/up.sql
Due: none

feat: improve Photon geocoding precision and add monitoring
  infrastructure/grafana-dashboard-run.json
  src/flight_tracker/location.rs
  src/geocoding.rs
  src/metrics.rs
Due: rust-fmt, rust-clippy, rust-test

fix: exclude soft-deleted users from get_by_id query
  src/users_repo.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add progressive radius retry for Photon geocoding
  infrastructure/grafana-dashboard-run.json
  src/geocoding.rs
  src/metrics.rs
Due: rust-fmt, rust-clippy, rust-test

refactor: standardize naming to ingest-{source} pattern
  CLAUDE.md
  README.md
  infrastructure/DEPLOYMENT.md
  infrastructure/STAGING-SETUP.md
  infrastructure/grafana-README.md
  infrastructure/grafana-dashboard-ingest-adsb.json
  infrastructure/grafana-dashboard-ingest-ogn.json
  infrastructure/grafana-dashboard-nats.json
  infrastructure/prometheus-jobs/README.md
  infrastructure/prometheus-jobs/soar-ingest-adsb-staging.yml
  infrastructure/prometheus-jobs/soar-ingest-adsb.yml
  infrastructure/prometheus-jobs/soar-ingest-ogn-staging.yml
  infrastructure/prometheus-jobs/soar-ingest-ogn.yml
  infrastructure/soar-deploy
  infrastructure/systemd/soar-ingest-adsb-staging.service
  infrastructure/systemd/soar-ingest-adsb.service
  infrastructure/systemd/soar-ingest-ogn-staging.service
  infrastructure/systemd/soar-ingest-ogn.service
  infrastructure/systemd/soar-staging.target
  infrastructure/systemd/soar.target
  infrastructure/uninstall
  scripts/deploy
Due: none

feat: add automatic cleanup of obsolete config files in soar-deploy
  infrastructure/soar-deploy
Due: none

refactor: reorganize geocoding module into provider-specific files
  src/geocoding.rs
  src/geocoding/google_maps.rs
  src/geocoding/mod.rs
  src/geocoding/nominatim.rs
  src/geocoding/photon.rs
Due: rust-fmt, rust-clippy, rust-test

docs: add Pelias deployment guide for reverse geocoding
  docs/pelias-deployment.md
Due: none

feat: add Pelias reverse geocoding client (city-level only)
  src/geocoding/mod.rs
  src/geocoding/pelias.rs
Due: rust-fmt, rust-clippy, rust-test

docs: add PELIAS_BASE_URL to .env.example
  .env.example
Due: none

fix: make soar-deploy cleanup check non-fatal
  infrastructure/soar-deploy
Due: none

fix: prevent soar-deploy from exiting when counting obsolete files
  infrastructure/soar-deploy
Due: none

perf: optimize archival process with non-blocking partition detachment
  src/commands/archive/aprs_messages.rs
  src/commands/archive/archiver.rs
  src/commands/archive/fixes.rs
Due: rust-fmt, rust-clippy, rust-test

fix: handle special characters in email display names
  src/email.rs
Due: rust-fmt, rust-clippy, rust-test

docs: update Pelias deployment guide with Elasticsearch/OpenSearch deb packages
  docs/pelias-deployment.md
Due: none

feat: auto-login users after email verification
  src/actions/auth.rs
  web/src/lib/api/auth.ts
  web/src/routes/verify-email/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

feat: add Caddy reverse proxy configs for Pelias geocoding service
  infrastructure/caddy/pelias.glider.flights.conf
  infrastructure/caddy/pelias.staging.glider.flights.conf
  scripts/provision
Due: none

fix: add edge case handling for interrupted partition detachment
  src/commands/archive/aprs_messages.rs
  src/commands/archive/archiver.rs
  src/commands/archive/fixes.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add automated Pelias/OpenSearch provisioning script
  docs/pelias-deployment.md
  scripts/provision-opensearch
Due: none

refactor: simplify provision-opensearch to only install OpenSearch and add Caddy
  docs/pelias-deployment.md
  scripts/provision-opensearch
Due: none

test: add comprehensive test cases for Pelias geocoding client
  src/geocoding/pelias.rs
  src/geocoding/test_data/pelias_london.json
  src/geocoding/test_data/pelias_nyc.json
  src/geocoding/test_data/pelias_sf.json
  src/geocoding/test_data/pelias_tokyo.json
Due: rust-fmt, rust-clippy, rust-test

feat: add Grafana alerting system with email notifications
  .gitignore
  CLAUDE.md
  infrastructure/GRAFANA-ALERTING.md
  infrastructure/grafana-provisioning/alerting/alert-rules.yml
  infrastructure/grafana-provisioning/alerting/contact-points.yml.template
  infrastructure/grafana-provisioning/alerting/notification-policies.yml
  infrastructure/soar-deploy
  infrastructure/systemd/grafana-server.service.d-smtp.conf.template
Due: none

test: add Pelias test case for central London coordinates
  src/geocoding/pelias.rs
  src/geocoding/test_data/pelias_london_center.json
Due: rust-fmt, rust-clippy, rust-test

fix: add environment filtering to alerts for staging/production isolation
  infrastructure/grafana-provisioning/alerting/alert-rules.yml
Due: none

feat: enable ADS-B processing on staging
  infrastructure/systemd/soar-run-staging.service
Due: none

feat: add flight detection testing framework
  Cargo.lock
  Cargo.toml
  docs/FLIGHT-DETECTION-TESTING.md
  scripts/dump-flight-messages.sh
  src/lib.rs
  src/message_sources.rs
  tests/data/flights/README.md
  tests/flight_detection_test.rs
Due: rust-fmt, rust-clippy, rust-test, cargo-audit

fix: rename aprs_messages to raw_messages and fix partman issues
  infrastructure/systemd/partman-maintenance-staging.service
  infrastructure/systemd/partman-maintenance.service
  scripts/PARTITION_MIGRATION_GUIDE.md
  scripts/migrate-default-partition.sql
  scripts/migrate-raw-messages-default-partition.sql
  src/commands/archive/archiver.rs
  src/commands/archive/mod.rs
  src/commands/archive/raw_messages.rs
Due: rust-fmt, rust-clippy, rust-test

fix: update partition migration scripts after staging testing
  scripts/PARTITION_MIGRATION_GUIDE.md
  scripts/migrate-default-partition.sql
  scripts/migrate-raw-messages-default-partition.sql
Due: none

feat: enhance dump script with interactive test generation
  docs/FLIGHT-DETECTION-TESTING.md
  scripts/dump-flight-messages.sh
  tests/data/flights/README.md
Due: none

docs: add environment variable configuration for Pelias
  docs/pelias-deployment.md
Due: none

perf: reduce connection pool size and add generalized partition fix script
  scripts/PARTITION_MIGRATION_GUIDE.md
  scripts/archive/README.md
  scripts/archive/migrate-default-partition.sql
  scripts/archive/migrate-raw-messages-default-partition.sql
  scripts/fix-partitioned-table.sh
  src/main.rs
Due: rust-fmt, rust-clippy, rust-test

feat: simplify test generation with process_messages_from_source helper
  README.md
  docs/FLIGHT-DETECTION-TESTING.md
  scripts/dump-flight-messages
  src/message_sources.rs
  tests/data/flights/README.md
Due: rust-fmt, rust-clippy, rust-test

Path conditions:
  web-install-deps: any of: ^web/(package\.json|package-lock\.json)$
  web-format: any of: ^web/.*\.(js|ts|svelte)$
  web-lint: any of: ^web/.*\.(js|ts|svelte)$
  web-type-check: any of: ^web/.*\.(js|ts|svelte)$
  web-test: any of: ^web/.*\.(js|ts|svelte)$
  web-build: any of: ^web/.*\.(js|ts|svelte)$
  rust-fmt: any of: \.rs$
  rust-clippy: any of: \.rs$
  rust-test: any of: \.rs$
  cargo-audit: any of: ^(Cargo\.toml|Cargo\.lock)$
