Repository hut8/soar: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-install-deps, web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test, cargo-audit

web-install-deps:
  name: Install web dependencies
  entry: bash -c 'cd web && npm ci'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-format:
  name: Auto-fix web formatting (Prettier)
  entry: bash -c 'cd web && npm run format'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-lint:
  name: Run web linter (ESLint + Prettier check)
  entry: bash -c 'cd web && npm run lint'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-type-check:
  name: Run web type checking
  entry: bash -c 'cd web && npm run check'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-test:
  name: Run web tests (Playwright E2E)
  entry: bash -c 'cd web && npm test'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

web-build:
  name: Build web project
  entry: bash -c 'cd web && npm run build'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

rust-fmt:
  name: Auto-fix Rust formatting
  entry: cargo fmt
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

rust-clippy:
  name: Run Clippy
  entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo clippy --all-targets --all-features -- -D warnings'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

rust-test:
  name: Run Rust tests
  entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo test'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

cargo-audit:
  name: Run security audit
  entry: cargo audit
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

fix: add datasource object to Grafana alert reduce operations
  infrastructure/grafana-provisioning/alerting/alert-rules-production.yml
  infrastructure/grafana-provisioning/alerting/alert-rules-staging.yml
Due: none

fix: correct Prometheus datasource UID capitalization
  infrastructure/grafana-provisioning/alerting/alert-rules-production.yml
  infrastructure/grafana-provisioning/alerting/alert-rules-staging.yml
  infrastructure/grafana-provisioning/alerting/alert-rules.yml
  infrastructure/grafana-provisioning/datasources/prometheus.yaml
Due: none

fix: revert Prometheus datasource UID to lowercase
  infrastructure/grafana-dashboard-ingest-adsb.json
  infrastructure/grafana-dashboard-ingest-ogn.json
  infrastructure/grafana-dashboard-nats.json
  infrastructure/grafana-dashboard-run.json
  infrastructure/grafana-dashboard-web.json
  infrastructure/grafana-provisioning/alerting/alert-rules-production.yml
  infrastructure/grafana-provisioning/alerting/alert-rules-staging.yml
  infrastructure/grafana-provisioning/alerting/alert-rules.yml
  infrastructure/grafana-provisioning/datasources/prometheus.yaml
Due: none

Potential fix for code scanning alert no. 11: Use of externally-controlled format string
  web/src/lib/services/AircraftRegistry.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

Potential fix for code scanning alert no. 1: Workflow does not contain permissions
  .github/workflows/ci.yml
Due: none

fix: reorganize soar-run dashboard and remove dead metrics
  infrastructure/grafana-dashboard-ingest-adsb.json
  infrastructure/grafana-dashboard-run.json
  src/metrics.rs
Due: rust-fmt, rust-clippy, rust-test

Update dependabot.yml
  .github/dependabot.yml
Due: none

refactor: convert aircraft API to camelCase and improve data flow
  migrations/2025-12-24-191422-0000_fix_registration_empty_strings/down.sql
  migrations/2025-12-24-191422-0000_fix_registration_empty_strings/up.sql
  migrations/2025-12-24-192406-0000_add_current_fix_to_aircraft/down.sql
  migrations/2025-12-24-192406-0000_add_current_fix_to_aircraft/up.sql
  src/actions/aircraft.rs
  src/actions/clubs.rs
  src/actions/flights.rs
  src/actions/views/aircraft.rs
  src/aircraft.rs
  src/aircraft_repo.rs
  src/fixes_repo.rs
  src/flights.rs
  src/schema.rs
  web/src/lib/cesium/entities.ts
  web/src/lib/components/AircraftLink.svelte
  web/src/lib/components/AircraftTile.svelte
  web/src/lib/components/WatchlistModal.svelte
  web/src/lib/components/cesium/AircraftLayer.svelte
  web/src/lib/components/cesium/TimelineController.svelte
  web/src/lib/formatters.ts
  web/src/lib/services/AircraftRegistry.ts
  web/src/lib/types/index.ts
  web/src/routes/aircraft/[id]/+page.svelte
  web/src/routes/aircraft/issues/+page.svelte
  web/src/routes/flights/[id]/+page.svelte
  web/src/routes/operations/+page.svelte
  web/src/routes/receivers/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

feat: complete aircraft data flow improvements
  web/src/lib/components/AircraftStatusModal.svelte
  web/src/lib/components/cesium/AircraftLayer.svelte
  web/src/lib/services/AircraftRegistry.ts
  web/src/routes/aircraft/+page.svelte
  web/src/routes/aircraft/[id]/+page.svelte
  web/src/routes/flights/[id]/+page.svelte
  web/src/routes/flights/[id]/+page.ts
  web/src/routes/operations/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: populate aircraft lat/lon for bounding box queries
  migrations/2025-12-25-052348-0000_backfill_aircraft_lat_lon/down.sql
  migrations/2025-12-25-052348-0000_backfill_aircraft_lat_lon/up.sql
  src/actions/devices.rs
  src/fixes_repo.rs
Due: rust-fmt, rust-clippy, rust-test

perf: optimize aircraft lat/lon backfill migration
  migrations/2025-12-25-052348-0000_backfill_aircraft_lat_lon/up.sql
Due: none

fix: resolve pull-data failures for aircraft types and ADS-B Exchange
  src/commands/load_data/adsb_exchange.rs
  src/commands/load_data/aircraft_types.rs
Due: rust-fmt, rust-clippy, rust-test

fix: use camelCase field names in AircraftStatusModal
  web/src/lib/components/AircraftStatusModal.svelte
  web/src/lib/formatters.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

perf: enable gzip and zstd compression in Caddy for all services
  infrastructure/Caddyfile.production
  infrastructure/Caddyfile.staging
  infrastructure/caddy/glider.flights.conf
  infrastructure/caddy/grafana.glider.flights.conf
  infrastructure/caddy/grafana.staging.glider.flights.conf
  infrastructure/caddy/pelias.glider.flights.conf
  infrastructure/caddy/pelias.staging.glider.flights.conf
  infrastructure/caddy/photon.glider.flights.conf
  infrastructure/caddy/staging.glider.flights.conf
Due: none

feat: split run dashboard into focused sub-dashboards
  CLAUDE.md
  infrastructure/grafana-README.md
  infrastructure/grafana-dashboard-run-core.json
  infrastructure/grafana-dashboard-run-elevation.json
  infrastructure/grafana-dashboard-run-flights.json
  infrastructure/grafana-dashboard-run-geocoding.json
  infrastructure/grafana-dashboard-run-ingestion.json
  infrastructure/grafana-dashboard-run-routing.json
  infrastructure/grafana-dashboard-run.json
  scripts/reorganize-dashboard.js
  scripts/split-dashboard.js
Due: none

docs: update CLAUDE.md with server access and database info
  CLAUDE.md
  web/package-lock.json
Due: web-install-deps

fix: recalculate is_active field after AGL calculation
  src/fix_processor.rs
  src/flight_tracker/mod.rs
  src/flight_tracker/state_transitions.rs
  tests/data/flights/no-active-fixes-should-not-create-flight.txt
  tests/flight_detection_test.rs
Due: rust-fmt, rust-clippy, rust-test

docs: streamline CLAUDE.md by removing redundant content
  CLAUDE.md
Due: none

feat: add H3 coverage map backend for receiver visualization
  Cargo.lock
  Cargo.toml
  migrations/2025-12-26-095142-0000_create_receiver_coverage_h3/down.sql
  migrations/2025-12-26-095142-0000_create_receiver_coverage_h3/up.sql
  schema.sql
  src/actions/aggregate_coverage.rs
  src/actions/coverage.rs
  src/actions/mod.rs
  src/coverage.rs
  src/coverage_cache.rs
  src/coverage_repo.rs
  src/lib.rs
  src/main.rs
  src/metrics.rs
  src/schema.rs
  src/web.rs
Due: rust-fmt, rust-clippy, rust-test, cargo-audit

feat: add systemd timers for daily coverage aggregation
  infrastructure/systemd/soar-aggregate-coverage-staging.service
  infrastructure/systemd/soar-aggregate-coverage-staging.timer
  infrastructure/systemd/soar-aggregate-coverage.service
  infrastructure/systemd/soar-aggregate-coverage.timer
Due: none

feat: add API consistency foundation and analytics migration
  src/actions/aircraft.rs
  src/actions/analytics.rs
  src/actions/mod.rs
  src/actions/views/aircraft.rs
  src/actions/views/airport.rs
  src/actions/views/club.rs
  src/actions/views/flight.rs
  src/analytics.rs
Due: rust-fmt, rust-clippy, rust-test

fix: add Prometheus scrape-configs for backward compatibility with old prometheus.yml
  infrastructure/prometheus-scrape-configs/README.md
  infrastructure/prometheus-scrape-configs/soar-aprs-ingest-staging.yml
  infrastructure/prometheus-scrape-configs/soar-aprs-ingest.yml
  infrastructure/prometheus-scrape-configs/soar-run-staging.yml
  infrastructure/prometheus-scrape-configs/soar-run.yml
  infrastructure/prometheus-scrape-configs/soar-web-staging.yml
  infrastructure/prometheus-scrape-configs/soar-web.yml
  infrastructure/soar-deploy
  scripts/deploy
Due: none

feat: add area tracker limit config and improve API parameter names
  src/actions/devices.rs
  src/actions/fixes.rs
  web/src/lib/services/FixFeed.ts
  web/src/routes/operations/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

feat: wrap responses in airports and clubs endpoints
  src/actions/airports.rs
  src/actions/clubs.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add MapLibre-based coverage map frontend
  web/package-lock.json
  web/package.json
  web/src/routes/receivers/coverage/+page.svelte
  web/src/routes/receivers/coverage/+page.ts
Due: web-install-deps, web-format, web-lint, web-type-check, web-test, web-build

feat: wrap responses in pilots and aircraft endpoints
  src/actions/aircraft.rs
  src/actions/pilots.rs
Due: rust-fmt, rust-clippy, rust-test

docs: add receiver coverage map to README
  README.md
Due: none

fix: remove redundant source command from systemd service
  infrastructure/systemd/soar-aggregate-coverage-staging.service
Due: none

refactor(api): update receivers.rs to use generic response wrappers
  src/actions/receivers.rs
Due: rust-fmt, rust-clippy, rust-test

fix: display device address and raw packets in receiver fixes
  src/actions/receivers.rs
  src/fixes.rs
  src/fixes_repo.rs
  web/src/routes/receivers/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

fix: improve Grafana dashboards and metrics for ingest-ogn and run services
  infrastructure/grafana-dashboard-ingest-ogn.json
  infrastructure/grafana-dashboard-run-flights.json
  src/aprs_nats_publisher.rs
  src/metrics.rs
Due: rust-fmt, rust-clippy, rust-test

feat: auto-detect date range for coverage aggregation
  infrastructure/systemd/soar-aggregate-coverage-staging.service
  infrastructure/systemd/soar-aggregate-coverage.service
  src/actions/aggregate_coverage.rs
  src/main.rs
Due: rust-fmt, rust-clippy, rust-test

refactor(api): update devices.rs to use generic response wrappers
  src/actions/devices.rs
Due: rust-fmt, rust-clippy, rust-test

fix: resolve test failures due to database foreign key constraints
  src/raw_messages_repo.rs
  tests/flight_detection_test.rs
  tests/pilot_invitation_workflow_test.rs
Due: rust-fmt, rust-clippy, rust-test

refactor(api): update flights.rs to use generic response wrappers
  src/actions/flights.rs
Due: rust-fmt, rust-clippy, rust-test

refactor: replace 'Device' with 'Aircraft' and link to aircraft detail pages
  src/actions/receivers.rs
  src/fixes.rs
  src/fixes_repo.rs
  web/src/routes/receivers/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

refactor: move aggregate_coverage to commands directory and extract TypeScript types
  src/actions/mod.rs
  src/commands/aggregate_coverage.rs
  src/commands/mod.rs
  src/main.rs
  web/src/lib/types/index.ts
  web/src/routes/receivers/coverage/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

feat: add Grafana dashboard for coverage map metrics
  infrastructure/grafana-dashboard-coverage.json
Due: none

fix: filter test assertions by timestamp to isolate test data
  tests/flight_detection_test.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add navigation links between receiver list and coverage map
  web/src/routes/receivers/+page.svelte
  web/src/routes/receivers/coverage/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Path conditions:
  web-install-deps: any of: ^web/(package\.json|package-lock\.json)$
  web-format: any of: ^web/.*\.(js|ts|svelte)$
  web-lint: any of: ^web/.*\.(js|ts|svelte)$
  web-type-check: any of: ^web/.*\.(js|ts|svelte)$
  web-test: any of: ^web/.*\.(js|ts|svelte)$
  web-build: any of: ^web/.*\.(js|ts|svelte)$
  rust-fmt: any of: \.rs$
  rust-clippy: any of: \.rs$
  rust-test: any of: \.rs$
  cargo-audit: any of: ^(Cargo\.toml|Cargo\.lock)$
