Repository hut8/soar: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-install-deps, web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test, cargo-audit

.pre-commit-config.yaml:

repos:
  # Frontend/SvelteKit checks (matching CI test-sveltekit job)
  - repo: local
    hooks:
      - id: web-install-deps
        name: Install web dependencies
        entry: bash -c 'cd web && npm ci'
        language: system
        files: ^web/(package\.json|package-lock\.json)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

      - id: web-format
        name: Auto-fix web formatting (Prettier)
        entry: bash -c 'cd web && npm run format'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

      - id: web-lint
        name: Run web linter (ESLint + Prettier check)
        entry: bash -c 'cd web && npm run lint'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

      - id: web-type-check
        name: Run web type checking
        entry: bash -c 'cd web && npm run check'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

      - id: web-test
        name: Run web tests (Playwright E2E)
        entry: bash -c 'cd web && npm test'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-push, manual]

      - id: web-build
        name: Build web project
        entry: bash -c 'cd web && npm run build'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-push, manual]

  # Rust formatting (matching CI check)
  - repo: local
    hooks:
      - id: rust-fmt
        name: Auto-fix Rust formatting
        entry: cargo fmt
        language: system
        files: \.rs$
        pass_filenames: false
        stages: [pre-commit, pre-push]

  # Rust linting (matching CI clippy check)
  - repo: local
    hooks:
      - id: rust-clippy
        name: Run Clippy
        entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo clippy --all-targets --all-features -- -D warnings'
        language: system
        files: \.rs$
        pass_filenames: false
        stages: [pre-commit, pre-push]

  # Rust tests (matching CI test run)
  - repo: local
    hooks:
      - id: rust-test
        name: Run Rust tests
        entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo test'
        language: system
        files: \.rs$
        pass_filenames: false
        stages: [pre-push, manual]

  # Security audit (matching CI security-audit job)
  - repo: local
    hooks:
      - id: cargo-audit
        name: Run security audit
        entry: cargo audit
        language: system
        files: ^(Cargo\.toml|Cargo\.lock)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
        stages: [pre-commit, pre-push]
      - id: end-of-file-fixer
        stages: [pre-commit, pre-push]
      - id: check-yaml
        stages: [pre-commit, pre-push]
      - id: check-toml
        stages: [pre-commit, pre-push]
      - id: check-json
        stages: [pre-commit, pre-push]
      - id: check-merge-conflict
        stages: [pre-commit, pre-push]
      - id: check-added-large-files
        args: ["--maxkb=1000"]
        stages: [pre-commit, pre-push]

# Performance optimizations
default_stages: [pre-commit]
fail_fast: false

# CI configuration
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit.com hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ""
  autoupdate_commit_msg: "[pre-commit.ci] pre-commit autoupdate"
  autoupdate_schedule: weekly
  skip: []
  submodules: false

Wrap all remaining blocking DB methods in spawn_blocking
  src/aircraft_repo.rs
  src/receiver_status_repo.rs
Due: rust-fmt, rust-clippy, rust-test

Fix deadlock: DashMap shard lock held across await in state_transitions
  src/flight_tracker/mod.rs
  src/flight_tracker/state_transitions.rs
  src/flights_repo.rs
Due: rust-fmt, rust-clippy, rust-test

Update ogn-parser to v0.3.15 (UTF-8 safe position comment parsing)
  Cargo.lock
Due: cargo-audit

Show ∞ for drain ETA when write rate is effectively zero
  src/commands/ingest.rs
Due: rust-fmt, rust-clippy, rust-test

Update ogn-parser to v0.3.16 (eliminate all unsafe string slicing)
  Cargo.lock
Due: cargo-audit

Remove ingest capacity limits and clean up envelope-era dead code
  src/aprs_client.rs
  src/beast/client.rs
  src/commands/ingest.rs
  src/persistent_queue.rs
  src/sbs/client.rs
Due: rust-fmt, rust-clippy, rust-test

Fix health state tracking and queue send reliability
  src/aprs_client.rs
  src/beast/client.rs
  src/sbs/client.rs
Due: rust-fmt, rust-clippy, rust-test

Update ogn-parser to v0.3.17 (clippy::string_slice deny) and add tokio tasks audit
  Cargo.lock
  Cargo.toml
  docs/tokio-tasks.md
Due: cargo-audit

Use envelope timestamps instead of Utc::now() throughout flight processing
  src/fix_processor.rs
  src/flight_tracker/flight_lifecycle.rs
  src/flight_tracker/mod.rs
  src/flight_tracker/towing.rs
  src/flights.rs
  src/flights_repo.rs
Due: rust-fmt, rust-clippy, rust-test

Replace unreachable Utc::now() fallback with expect()
  src/flights_repo.rs
Due: rust-fmt, rust-clippy, rust-test

Restructure bbox update to avoid expect() in spawn_blocking
  src/flights_repo.rs
Due: rust-fmt, rust-clippy, rust-test

Fix Pyroscope CPU profile scraping timeouts for soar-run-staging
  infrastructure/alloy-config.alloy.template
Due: none

Fix profiling timeouts under load and reuse Pelias HTTP connections
  src/commands/run/mod.rs
  src/flight_tracker/location.rs
  src/metrics.rs
Due: rust-fmt, rust-clippy, rust-test

Update stale 30-second profiling duration references to 5 seconds
  infrastructure/PYROSCOPE.md
  infrastructure/alloy-config.alloy.template
Due: none

Add processing lag gauge and replace queue warnings with periodic stats
  infrastructure/dashboards/definitions/run.json
  infrastructure/dashboards/panels/run/message-routing-rates.json
  infrastructure/dashboards/panels/run/processing-lag.json
  src/aprs_client.rs
  src/archive_service.rs
  src/beast/client.rs
  src/commands/run/constants.rs
  src/commands/run/mod.rs
  src/commands/run/monitoring.rs
  src/metrics.rs
  src/nats_publisher.rs
  src/packet_processors/router.rs
  src/sbs/client.rs
Due: rust-fmt, rust-clippy, rust-test

Fix pprof 404s and isolate profiling targets by environment
  infrastructure/alloy-config.alloy.template
  infrastructure/soar-deploy
  src/metrics.rs
Due: rust-fmt, rust-clippy, rust-test

Deploy prometheus defaults to enable remote-write-receiver for Tempo
  infrastructure/prometheus-defaults
  infrastructure/prometheus-systemd-override.conf
  infrastructure/soar-deploy
  scripts/deploy
Due: none

Update rand to 0.10 and zip to 8.0
  Cargo.lock
  Cargo.toml
  src/commands/pull_data.rs
  src/fetch_receivers.rs
  src/users_repo.rs
  tests/common/mod.rs
Due: rust-fmt, rust-clippy, rust-test, cargo-audit

Optimize gen_token to avoid discarding samples
  src/fetch_receivers.rs
Due: rust-fmt, rust-clippy, rust-test

Fix check_landing_near_last_fix constraint violation during startup enrichment
  src/flight_tracker/flight_lifecycle.rs
  src/flights_repo.rs
Due: rust-fmt, rust-clippy, rust-test

Add processing rate ratio and catchup ETA metrics with dashboard panels
  infrastructure/dashboards/definitions/run.json
  infrastructure/dashboards/panels/run/processing-catchup-eta.json
  infrastructure/dashboards/panels/run/processing-rate-ratio.json
  src/commands/run/monitoring.rs
  src/metrics.rs
Due: rust-fmt, rust-clippy, rust-test

Fix callsign mismatch bug in flight coalescing
  src/flight_tracker/state_transitions.rs
  src/flights_repo.rs
Due: rust-fmt, rust-clippy, rust-test

Address review feedback on callsign mismatch fix
  src/flight_tracker/state_transitions.rs
  src/flights_repo.rs
Due: rust-fmt, rust-clippy, rust-test

Fix deadlock in raw_messages_repo tests by removing TRUNCATE cleanup
  src/raw_messages_repo.rs
Due: rust-fmt, rust-clippy, rust-test

Fix race condition in duplicate aircraft merge
  migrations/2026-02-22-000000-0000_validate_fixes_fk_constraints/down.sql
  migrations/2026-02-22-000000-0000_validate_fixes_fk_constraints/metadata.toml
  migrations/2026-02-22-000000-0000_validate_fixes_fk_constraints/up.sql
  src/aircraft_repo.rs
Due: rust-fmt, rust-clippy, rust-test

Use full UUID in test callsigns to prevent uniqueness collisions
  src/raw_messages_repo.rs
Due: rust-fmt, rust-clippy, rust-test

Add packet flow documentation for APRS, Beast, and SBS
  docs/packet-flow.md
Due: none

Use file_serial instead of serial for cross-process test locking
  Cargo.lock
  Cargo.toml
  src/raw_messages_repo.rs
Due: rust-fmt, rust-clippy, rust-test, cargo-audit

Eliminate PacketRouter and intermediate queues from APRS processing
  docs/packet-flow.md
  docs/tokio-tasks.md
  src/aprs_client.rs
  src/commands/run/aprs.rs
  src/commands/run/constants.rs
  src/commands/run/mod.rs
  src/commands/run/monitoring.rs
  src/commands/run/shutdown.rs
  src/commands/run/tests.rs
  src/commands/run/workers.rs
  src/fix_processor.rs
  src/lib.rs
  src/message_sources.rs
  src/ogn/generic_processor.rs
  src/ogn/mod.rs
  src/ogn/packet_context.rs
  src/ogn/receiver_position.rs
  src/ogn/receiver_status.rs
  src/ogn/server_status.rs
  src/packet_processors/aircraft.rs
  src/packet_processors/mod.rs
  src/packet_processors/position.rs
  src/packet_processors/router.rs
  tests/flight_detection_test.rs
Due: rust-fmt, rust-clippy, rust-test

Extract shared OGN processing, simplify stats rate, reduce metrics contention
  src/commands/run/aprs.rs
  src/commands/run/monitoring.rs
  src/commands/run/workers.rs
  src/message_sources.rs
  src/ogn/mod.rs
  src/ogn/processing.rs
Due: rust-fmt, rust-clippy, rust-test

Replace EWMA with simple count/elapsed rate in ingest stats logging
  src/commands/ingest.rs
Due: rust-fmt, rust-clippy, rust-test

Remove opencode workflow
  .github/workflows/opencode.yml
Due: none

Skip FK validation on fixes (unsupported on TimescaleDB columnstore)
  migrations/2026-02-22-000000-0000_validate_fixes_fk_constraints/up.sql
Due: none

Optimize CI pipeline: parallelize all jobs and use debug builds for E2E
  .github/soar-ci.Dockerfile
  .github/workflows/build-ci-image.yml
  .github/workflows/ci.yml
Due: none

Remove no-op FK validation migration
  migrations/2026-02-22-000000-0000_validate_fixes_fk_constraints/down.sql
  migrations/2026-02-22-000000-0000_validate_fixes_fk_constraints/metadata.toml
  migrations/2026-02-22-000000-0000_validate_fixes_fk_constraints/up.sql
Due: none

Use custom CI container image with services for PostgreSQL/Mailpit
  .github/workflows/ci.yml
Due: none

Add 5s timeout to NATS publish operations
  infrastructure/dashboards/panels/nats/nats-publishing-errors.json
  infrastructure/dashboards/panels/nats/total-publishing-errors-last-hour.json
  infrastructure/dashboards/panels/run/nats-fix-publishing-rate.json
  src/nats_publisher.rs
Due: rust-fmt, rust-clippy, rust-test

Add timeout to NATS queue send to prevent pipeline stall
  infrastructure/dashboards/panels/nats/nats-publishing-errors.json
  infrastructure/dashboards/panels/nats/total-publishing-errors-last-hour.json
  infrastructure/dashboards/panels/run/nats-fix-publishing-rate.json
  src/nats_publisher.rs
Due: rust-fmt, rust-clippy, rust-test

Add file command to CI container image
  .github/soar-ci.Dockerfile
Due: none
