Repository hut8/soar: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-install-deps, web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test, cargo-audit

.pre-commit-config.yaml:

repos:
  # Frontend/SvelteKit checks (matching CI test-sveltekit job)
  - repo: local
    hooks:
      - id: web-install-deps
        name: Install web dependencies
        entry: bash -c 'cd web && npm ci'
        language: system
        files: ^web/(package\.json|package-lock\.json)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

      - id: web-format
        name: Auto-fix web formatting (Prettier)
        entry: bash -c 'cd web && npm run format'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

      - id: web-lint
        name: Run web linter (ESLint + Prettier check)
        entry: bash -c 'cd web && npm run lint'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

      - id: web-type-check
        name: Run web type checking
        entry: bash -c 'cd web && npm run check'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

      - id: web-test
        name: Run web tests (Playwright E2E)
        entry: bash -c 'cd web && npm test'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-push, manual]

      - id: web-build
        name: Build web project
        entry: bash -c 'cd web && npm run build'
        language: system
        files: ^web/.*\.(js|ts|svelte)$
        pass_filenames: false
        stages: [pre-push, manual]

  # Rust formatting (matching CI check)
  - repo: local
    hooks:
      - id: rust-fmt
        name: Auto-fix Rust formatting
        entry: cargo fmt
        language: system
        files: \.rs$
        pass_filenames: false
        stages: [pre-commit, pre-push]

  # Rust linting (matching CI clippy check)
  - repo: local
    hooks:
      - id: rust-clippy
        name: Run Clippy
        entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo clippy --all-targets --all-features -- -D warnings'
        language: system
        files: \.rs$
        pass_filenames: false
        stages: [pre-commit, pre-push]

  # Rust tests (matching CI test run)
  - repo: local
    hooks:
      - id: rust-test
        name: Run Rust tests
        entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo test'
        language: system
        files: \.rs$
        pass_filenames: false
        stages: [pre-push, manual]

  # Security audit (matching CI security-audit job)
  - repo: local
    hooks:
      - id: cargo-audit
        name: Run security audit
        entry: cargo audit
        language: system
        files: ^(Cargo\.toml|Cargo\.lock)$
        pass_filenames: false
        stages: [pre-commit, pre-push]

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
        stages: [pre-commit, pre-push]
      - id: end-of-file-fixer
        stages: [pre-commit, pre-push]
      - id: check-yaml
        stages: [pre-commit, pre-push]
      - id: check-toml
        stages: [pre-commit, pre-push]
      - id: check-json
        stages: [pre-commit, pre-push]
      - id: check-merge-conflict
        stages: [pre-commit, pre-push]
      - id: check-added-large-files
        args: ["--maxkb=1000"]
        stages: [pre-commit, pre-push]

# Performance optimizations
default_stages: [pre-commit]
fail_fast: false

# CI configuration
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit.com hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ""
  autoupdate_commit_msg: "[pre-commit.ci] pre-commit autoupdate"
  autoupdate_schedule: weekly
  skip: []
  submodules: false

Compact AR/spotter range controls and fix flight map + horizon bugs
  web/src/lib/components/ar/ARControls.svelte
  web/src/lib/components/ar/RangeModal.svelte
  web/src/lib/components/spotter/SpotterControls.svelte
  web/src/routes/flights/[id]/+page.svelte
  web/src/routes/spotter/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Add accessibility attributes to RangeModal
  web/src/lib/components/ar/RangeModal.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Fix aircraft status modal z-index on AR/spotter pages
  web/src/lib/components/AircraftStatusModal.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Add low-pass filter to AR device orientation for smoother markers
  web/src/lib/services/arTracker.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

Move dialog ARIA attributes from backdrop to modal panel
  web/src/lib/components/ar/RangeModal.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Address PR review feedback and fix CI
  src/actions/club_join_requests.rs
  src/actions/views/club_join_request.rs
  src/club_join_requests.rs
  src/club_join_requests_repo.rs
  src/ts_export.rs
  web/src/lib/types/generated/ClubJoinRequestView.ts
  web/src/routes/clubs/[id]/+page.svelte
  web/src/routes/clubs/[id]/admin/join-requests/+page.svelte
  web/src/routes/clubs/[id]/admin/join-requests/+page.ts
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

Fix GeofenceEditor crash by loading Cesium script dynamically
  web/src/lib/components/GeofenceEditor.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Pin status badges and action buttons to bottom of aircraft tiles
  web/src/lib/components/AircraftTile.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Fix tail number backfill missing NULL registrations
  src/commands/load_data/aircraft_backfill.rs
Due: rust-fmt, rust-clippy, rust-test

Add club admin role and join request email notifications
  diesel-guard.toml
  migrations/2026-03-04-200000-0000_add_is_club_admin/down.sql
  migrations/2026-03-04-200000-0000_add_is_club_admin/up.sql
  src/actions/club_join_requests.rs
  src/actions/users.rs
  src/actions/views/user.rs
  src/lib.rs
  src/notifications.rs
  src/schema.rs
  src/users.rs
  src/users_repo.rs
  web/src/lib/types/generated/UserView.ts
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

Revert diesel-guard.toml start_after change
  diesel-guard.toml
Due: none

Address review: deduplicate Cesium script loads, fix viewer leak
  web/src/lib/components/GeofenceEditor.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Suppress redundant fixes from AllCallReply messages
  src/adsb_accumulator.rs
Due: rust-fmt, rust-clippy, rust-test

Address review: optimize duplicate checks and handle race conditions
  src/commands/load_data/aircraft_backfill.rs
Due: rust-fmt, rust-clippy, rust-test

Add safety-assured comments to club_join_requests migration
  migrations/2026-03-04-000001-0000_club_join_requests/up.sql
Due: none

Address review: extract suppression helper, rename metric, fix docs
  src/adsb_accumulator.rs
Due: rust-fmt, rust-clippy, rust-test

Address review: fix comment, allow retry on load failure, guard lifecycle race
  web/src/lib/components/GeofenceEditor.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Address Copilot review feedback
  src/actions/club_join_requests.rs
  src/club_join_requests_repo.rs
  src/notifications.rs
Due: rust-fmt, rust-clippy, rust-test

Add endpoint to set/remove club admin status
  src/actions/club_join_requests.rs
  src/web.rs
Due: rust-fmt, rust-clippy, rust-test

Fix receiver list returning snake_case JSON instead of camelCase
  src/actions/receivers.rs
  src/actions/views/receiver.rs
  src/receiver_repo.rs
Due: rust-fmt, rust-clippy, rust-test

Improve front page layout and receiver marker visibility
  web/src/lib/services/maplibre/ReceiverLayerManager.ts
  web/src/routes/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Add aggregate stats to receiver modal on live page
  web/src/lib/components/ReceiverModal.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Add climb/descent arrow indicators to aircraft on live map
  web/src/routes/live/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Raise receiver per_page cap to 500 for map bounding box queries
  src/actions/receivers.rs
  web/src/lib/services/maplibre/ReceiverLayerManager.ts
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

Add paraglider icon and sort receiver list by most recently heard
  src/receiver_repo.rs
  web/src/lib/utils/aircraftIcons.ts
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

Replace paraglider icon with parachute-style SVG
  web/src/lib/utils/aircraftIcons.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

Add FAA NASR airspace import for authoritative US airspace data
  Cargo.lock
  Cargo.toml
  migrations/2026-03-05-000000-0000_add_airspace_source/down.sql
  migrations/2026-03-05-000000-0000_add_airspace_source/up.sql
  migrations/2026-03-05-000001-0000_add_airspace_source_indexes/down.sql
  migrations/2026-03-05-000001-0000_add_airspace_source_indexes/metadata.toml
  migrations/2026-03-05-000001-0000_add_airspace_source_indexes/up.sql
  src/airspace.rs
  src/airspaces_repo.rs
  src/commands/pull_airspaces.rs
  src/commands/pull_data.rs
  src/faa_nasr.rs
  src/lib.rs
  src/schema.rs
Due: rust-fmt, rust-clippy, rust-test, cargo-audit

Fix club enrollment: auto-approve first member, refresh stale user data
  src/actions/club_join_requests.rs
  web/src/routes/+layout.svelte
  web/src/routes/+page.svelte
  web/src/routes/clubs/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

Fix geofence pages crashing with "500 An error occurred"
  web/src/lib/cesium/geofenceEntities.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

Merge index creation into main migration
  migrations/2026-03-05-000000-0000_add_airspace_source/down.sql
  migrations/2026-03-05-000000-0000_add_airspace_source/up.sql
  migrations/2026-03-05-000001-0000_add_airspace_source_indexes/down.sql
  migrations/2026-03-05-000001-0000_add_airspace_source_indexes/metadata.toml
  migrations/2026-03-05-000001-0000_add_airspace_source_indexes/up.sql
Due: none

Fix club search layout shift, use AircraftTile on club detail, delay live loading indicator
  web/src/routes/clubs/+page.svelte
  web/src/routes/clubs/[id]/+page.svelte
  web/src/routes/live/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Redesign club section with tab navigation, members page, and aircraft status board
  web/src/lib/components/club/AircraftStatusBoard.svelte
  web/src/lib/components/club/AircraftStatusCard.svelte
  web/src/lib/components/club/PilotAssignmentEditor.svelte
  web/src/routes/clubs/[id]/+layout.svelte
  web/src/routes/clubs/[id]/+layout.ts
  web/src/routes/clubs/[id]/+page.svelte
  web/src/routes/clubs/[id]/members/+page.svelte
  web/src/routes/clubs/[id]/members/+page.ts
  web/src/routes/clubs/[id]/operations/+page.svelte
  web/src/routes/clubs/[id]/pilots/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Remove redundant +layout.ts — SSR is disabled globally in root layout
  web/src/routes/clubs/[id]/+layout.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

Address review: make auto-approve transactional, guard auth refresh
  src/actions/club_join_requests.rs
  src/club_join_requests_repo.rs
  web/src/routes/+layout.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

Add airport picker to geofence editor and fix center marker clipping
  web/src/lib/cesium/geofenceEntities.ts
  web/src/lib/components/AirportSelector.svelte
  web/src/lib/components/GeofenceEditor.svelte
  web/src/routes/clubs/[id]/+page.svelte
  web/src/routes/geofences/new/+page.svelte
  web/src/routes/geofences/new/+page.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

Address Copilot review feedback
  migrations/2026-03-05-000000-0000_add_airspace_source/down.sql
  src/airspaces_repo.rs
  src/commands/pull_data.rs
  web/src/lib/types/index.ts
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

Use fetch ID to discard stale aircraft viewport responses
  web/src/routes/live/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Address review: memoize layer colors and add E2E test
  web/e2e/geofences/geofence-new.test.ts
  web/src/lib/cesium/geofenceEntities.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

Address Copilot review comments
  web/e2e/clubs/club-detail.test.ts
  web/e2e/clubs/club-members.test.ts
  web/e2e/clubs/club-pilots.test.ts
  web/e2e/clubs/club-pilots.test.ts-snapshots/club-pilots-page-chromium-linux.png
  web/src/lib/components/club/AircraftStatusBoard.svelte
  web/src/lib/components/club/PilotAssignmentEditor.svelte
  web/src/routes/clubs/[id]/+layout.svelte
  web/src/routes/clubs/[id]/members/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Replace manual TypeScript interfaces with ts-rs generated types and fix flight continuation bug
  src/actions/flights.rs
  src/actions/receivers.rs
  src/actions/views/auth.rs
  src/actions/views/mod.rs
  src/actions/views/raw_message.rs
  src/actions/views/receiver_status.rs
  src/aircraft_images.rs
  src/flight_tracker/state_transitions.rs
  src/flights_repo.rs
  src/ts_export.rs
  web/src/lib/api/auth.ts
  web/src/lib/components/SettingsModal.svelte
  web/src/lib/components/cesium/FlightPathLayer.svelte
  web/src/lib/types/generated/AircraftFixCount.ts
  web/src/lib/types/generated/AircraftImage.ts
  web/src/lib/types/generated/AircraftImageCollection.ts
  web/src/lib/types/generated/AircraftImageSource.ts
  web/src/lib/types/generated/AprsTypeCount.ts
  web/src/lib/types/generated/FlightGap.ts
  web/src/lib/types/generated/LoginResponse.ts
  web/src/lib/types/generated/RawMessageView.ts
  web/src/lib/types/generated/ReceiverAggregateStatsResponse.ts
  web/src/lib/types/generated/ReceiverStatisticsResponse.ts
  web/src/lib/types/generated/ReceiverStatusView.ts
  web/src/lib/types/index.ts
  web/src/routes/aircraft/[id]/+page.svelte
  web/src/routes/clubs/[id]/+page.svelte
  web/src/routes/flights/[id]/+page.svelte
  web/src/routes/receivers/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test
