Repository hut8/soar: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-install-deps, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test, cargo-audit, cargo-outdated

web-install-deps:
  name: Install web dependencies
  entry: bash -c 'cd web && npm ci'
  language: system
  pass_filenames: false

web-lint:
  name: Run web linter (ESLint + Prettier)
  entry: bash -c 'cd web && npm run lint'
  language: system
  pass_filenames: false

web-type-check:
  name: Run web type checking
  entry: bash -c 'cd web && npm run check'
  language: system
  pass_filenames: false

web-test:
  name: Run web tests (Playwright E2E)
  entry: bash -c 'cd web && npm test'
  language: system
  pass_filenames: false

web-build:
  name: Build web project
  entry: bash -c 'cd web && npm run build'
  language: system
  pass_filenames: false

rust-fmt:
  name: Check Rust formatting
  entry: cargo fmt --check
  language: system
  pass_filenames: false

rust-clippy:
  name: Run Clippy
  entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo clippy --all-targets --all-features -- -D warnings'
  language: system
  pass_filenames: false

rust-test:
  name: Run Rust tests
  entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo test --verbose'
  language: system
  pass_filenames: false

cargo-audit:
  name: Run security audit
  entry: cargo audit
  language: system
  pass_filenames: false

cargo-outdated:
  name: Check for outdated dependencies
  entry: bash -c 'cargo outdated --exit-code 1 || echo "Some dependencies are outdated (non-critical)"'
  language: system
  pass_filenames: false

Improve logging
  src/fixes_repo.rs
Due: rust-fmt, rust-clippy, rust-test

Improve layout on mobile
  web/src/routes/+layout.svelte
  web/src/routes/devices/+page.svelte
Due: web-lint, web-type-check, web-test, web-build

Remove old pre-commit
  pre-commit
Due: none

pre-commit and layout improvements; eslint
  .pre-commit-config.yaml
  web/src/app.css
  web/src/lib/components/ClubSelector.svelte
  web/src/lib/components/WatchlistModal.svelte
  web/src/lib/services/DeviceRegistry.ts
  web/src/lib/services/FixFeed.ts
  web/src/lib/stores/watchlist.ts
  web/src/lib/types/index.ts
  web/src/routes/+layout.svelte
  web/src/routes/devices/+page.svelte
  web/src/routes/operations/+page.svelte
Due: web-lint, web-type-check, web-test, web-build

Add sitemap generator
  Cargo.lock
  Cargo.toml
Due: cargo-audit, cargo-outdated

refactor: eliminate websocket duplication and add watchlist deduplication
  Cargo.lock
  Cargo.toml
Due: cargo-audit, cargo-outdated

refactor: eliminate websocket duplication and add watchlist deduplication
  web/src/lib/stores/watchlist.ts
Due: web-lint, web-type-check, web-test, web-build

fix: add bounding box validation and debouncing for airport search
  web/src/routes/operations/+page.svelte
Due: web-lint, web-type-check, web-test, web-build

docs: add critical rules for commits and database usage
  CLAUDE.md
Due: none

Cargo fmt
  src/actions/airports.rs
  src/actions/devices.rs
  src/actions/fixes.rs
  src/actions/flights.rs
  src/actions/search.rs
  src/aircraft_registrations.rs
  src/aircraft_types.rs
  src/aprs_client.rs
  src/devices.rs
  src/fix_processor.rs
  src/fixes_repo.rs
  src/flight_detection_processor.rs
  src/flights.rs
  src/lib.rs
  src/live_fixes.rs
  src/main.rs
  src/nats_publisher.rs
  src/web.rs
Due: rust-fmt, rust-clippy, rust-test

Better websocket/nats identification
  src/actions/fixes.rs
  src/live_fixes.rs
  src/nats_publisher.rs
Due: rust-fmt, rust-clippy, rust-test

docs: emphasize cargo fmt requirement for Rust files
  CLAUDE.md
Due: none

Add sitemap generation functionality
  .env.example
  src/actions/airports.rs
  src/actions/devices.rs
  src/actions/fixes.rs
  src/actions/flights.rs
  src/actions/search.rs
  src/aircraft_registrations.rs
  src/aircraft_types.rs
  src/aprs_client.rs
  src/devices.rs
  src/fix_processor.rs
  src/fixes_repo.rs
  src/flight_detection_processor.rs
  src/flights.rs
  src/lib.rs
  src/live_fixes.rs
  src/main.rs
  src/nats_publisher.rs
  src/sitemap.rs
  src/web.rs
  static/robots.txt
Due: rust-fmt, rust-clippy, rust-test

Add systemd service/timer and deployment automation
  deploy
  provision
  soar-sitemap.service
  soar-sitemap.timer
Due: none

add claude settings
  .claude/settings.json
Due: none

Change sitemap storage path from /tmp to /var
  .env.example
  deploy
  soar-sitemap.service
  src/main.rs
  src/web.rs
Due: rust-fmt, rust-clippy, rust-test

Restore WebSocket debugging features and area limit increase
  web/src/lib/stores/watchlist.ts
  web/src/routes/+layout.svelte
  web/src/routes/operations/+page.svelte
Due: web-lint, web-type-check, web-test, web-build

Add immediate fix pushing for new WebSocket subscriptions
  src/actions/fixes.rs
Due: rust-fmt, rust-clippy, rust-test

fix: stop message handlers when no active receivers for area/device subscriptions
  src/live_fixes.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add toast notification for disabled area tracker button
  web/src/lib/toaster.ts
  web/src/routes/+layout.svelte
  web/src/routes/operations/+page.svelte
Due: web-lint, web-type-check, web-test, web-build

feat: add fallback URL support for device database endpoint
  src/devices.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add persistent map bounds for operations page
  web/src/routes/operations/+page.svelte
Due: web-lint, web-type-check, web-test, web-build

Add dayjs
  web/package-lock.json
  web/package.json
Due: web-install-deps

feat: add from_ddb column to devices table
  migrations/2025-09-29-044933-0000_add_from_ddb_to_devices/down.sql
  migrations/2025-09-29-044933-0000_add_from_ddb_to_devices/up.sql
  src/device_repo.rs
  src/devices.rs
  src/schema.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add relative time display and transparency for old aircraft fixes
  web/src/routes/operations/+page.svelte
Due: web-lint, web-type-check, web-test, web-build

feat: parallelize CI pipeline for faster builds
  .github/workflows/ci.yml
Due: none

feat: add AircraftStatusModal with aircraft registration and model details
  web/src/lib/components/AircraftStatusModal.svelte
  web/src/lib/types/index.ts
  web/src/routes/operations/+page.svelte
Due: web-lint, web-type-check, web-test, web-build

Add more invalid samples
  invalid-samples
Due: none

Expand devices page
  web/src/routes/devices/[id]/+page.svelte
Due: web-lint, web-type-check, web-test, web-build

Fix formatting of aircraft IDs, remove deprecated methods
  src/fixes.rs
  src/live_fixes.rs
Due: rust-fmt, rust-clippy, rust-test

Commit extra claude memory
  CLAUDE.md
Due: none

feat: add coordinate data display and fix WebSocket status panel
  web/src/lib/components/AircraftStatusModal.svelte
  web/src/lib/components/SettingsModal.svelte
  web/src/lib/services/DeviceRegistry.ts
  web/src/lib/services/FixFeed.ts
  web/src/routes/+layout.svelte
  web/src/routes/operations/+page.svelte
Due: web-lint, web-type-check, web-test, web-build

feat: optimize WebSocket performance with spatial queries and typed messages
  src/actions/fixes.rs
  src/faa/aircraft_model_repo.rs
  src/faa/aircraft_models.rs
  src/fixes_repo.rs
  src/live_fixes.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add hybrid REST + WebSocket bounding box search with performance optimizations
  migrations/2025-09-29-184024-0000_add_fixes_indexes/down.sql
  migrations/2025-09-29-184024-0000_add_fixes_indexes/up.sql
  src/actions/fixes.rs
  src/actions/search.rs
  src/aircraft_registrations_repo.rs
  src/faa/aircraft_model_repo.rs
  src/fixes_repo.rs
  web/src/lib/services/FixFeed.ts
  web/src/routes/operations/+page.svelte
Due: web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

add instrumentation
  CLAUDE.md
  src/actions/fixes.rs
  src/aircraft_registrations_repo.rs
  src/aprs_client.rs
  src/faa/aircraft_model_repo.rs
  src/fixes_repo.rs
Due: rust-fmt, rust-clippy, rust-test

refactor: remove initial data send from WebSocket subscriptions
  src/actions/fixes.rs
Due: rust-fmt, rust-clippy, rust-test

fix: ensure all watchlist devices subscribe by waiting for WebSocket connection
  web/src/lib/services/FixFeed.ts
Due: web-lint, web-type-check, web-test, web-build

feat: bring overlapping aircraft markers to front on hover
  web/src/routes/operations/+page.svelte
Due: web-lint, web-type-check, web-test, web-build

Path conditions:
  web-install-deps: any of: ^web/(package\.json|package-lock\.json)$
  web-lint: any of: ^web/.*\.(js|ts|svelte)$
  web-type-check: any of: ^web/.*\.(js|ts|svelte)$
  web-test: any of: ^web/.*\.(js|ts|svelte)$
  web-build: any of: ^web/.*\.(js|ts|svelte)$
  rust-fmt: any of: \.rs$
  rust-clippy: any of: \.rs$
  rust-test: any of: \.rs$
  cargo-audit: any of: ^(Cargo\.toml|Cargo\.lock)$
  cargo-outdated: any of: ^(Cargo\.toml|Cargo\.lock)$
