Repository hut8/soar: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-install-deps, web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test, cargo-audit

web-install-deps:
  name: Install web dependencies
  entry: bash -c 'cd web && npm ci'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-format:
  name: Auto-fix web formatting (Prettier)
  entry: bash -c 'cd web && npm run format'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-lint:
  name: Run web linter (ESLint + Prettier check)
  entry: bash -c 'cd web && npm run lint'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-type-check:
  name: Run web type checking
  entry: bash -c 'cd web && npm run check'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

web-test:
  name: Run web tests (Playwright E2E)
  entry: bash -c 'cd web && npm test'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

web-build:
  name: Build web project
  entry: bash -c 'cd web && npm run build'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

rust-fmt:
  name: Auto-fix Rust formatting
  entry: cargo fmt
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

rust-clippy:
  name: Run Clippy
  entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo clippy --all-targets --all-features -- -D warnings'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

rust-test:
  name: Run Rust tests
  entry: bash -c 'export DATABASE_URL="${DATABASE_URL:-postgres://postgres:postgres@localhost:5432/soar_test}" && cargo test'
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

cargo-audit:
  name: Run security audit
  entry: cargo audit
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

refactor: remove county_mail_code and simplify location queries
  migrations/2025-10-22-063846-0000_remove_county_mail_code_and_simplify_location_queries/down.sql
  migrations/2025-10-22-063846-0000_remove_county_mail_code_and_simplify_location_queries/up.sql
  src/actions/views/club.rs
  src/aircraft_registrations_repo.rs
  src/clubs.rs
  src/clubs_repo.rs
  src/flight_location_processor.rs
  src/flight_tracker/location.rs
  src/locations.rs
  src/locations_repo.rs
  src/schema.rs
  web/src/lib/types/index.ts
Due: web-format, web-lint, web-type-check, web-test, web-build, rust-fmt, rust-clippy, rust-test

fix: handle NULL address fields in geolocation-only location lookups
  src/locations_repo.rs
Due: rust-fmt, rust-clippy, rust-test

refactor: migrate receivers to use PostGIS geography column and enforce NOT NULL receiver_id
  migrations/2025-10-22-170948-0000_add_location_to_receivers_and_make_receiver_id_not_null/down.sql
  migrations/2025-10-22-170948-0000_add_location_to_receivers_and_make_receiver_id_not_null/up.sql
  src/aprs_messages_repo.rs
  src/fix_processor.rs
  src/main.rs
  src/packet_processors/receiver_position.rs
  src/packet_processors/receiver_status.rs
  src/receiver_repo.rs
  src/receivers.rs
  src/schema.rs
Due: rust-fmt, rust-clippy, rust-test

refactor: update flight detection timeout logic and add last_fix_at tracking
  migrations/2025-10-22-174500-0000_add_last_fix_at_to_flights/down.sql
  migrations/2025-10-22-174500-0000_add_last_fix_at_to_flights/up.sql
  src/flight_tracker/flight_lifecycle.rs
  src/flight_tracker/mod.rs
  src/flight_tracker/state_transitions.rs
  src/flights.rs
  src/flights_repo.rs
  src/schema.rs
Due: rust-fmt, rust-clippy, rust-test

refactor: simplify last_fix_at updates by removing unnecessary tokio::spawn
  src/flight_tracker/state_transitions.rs
Due: rust-fmt, rust-clippy, rust-test

fix: use error! instead of warn! for critical flight tracking failures
  src/flight_tracker/flight_lifecycle.rs
  src/flight_tracker/state_transitions.rs
Due: rust-fmt, rust-clippy, rust-test

feat: add tokio-console instrumentation for async task visibility
  src/aprs_client.rs
  src/fix_processor.rs
  src/flight_tracker/mod.rs
  src/live_fixes.rs
  src/main.rs
  src/nats_publisher.rs
Due: rust-fmt, rust-clippy, rust-test

fix: add missing error! macro import and remove unused import
  src/flight_tracker/flight_lifecycle.rs
  src/flight_tracker/state_transitions.rs
Due: rust-fmt, rust-clippy, rust-test

refactor: DRY up repeated database updates and reduce duplicate UPDATEs
  src/flight_tracker/flight_lifecycle.rs
  src/flight_tracker/state_transitions.rs
  src/flights_repo.rs
Due: rust-fmt, rust-clippy, rust-test

fix: restore runway inference tracking that was accidentally lost
  src/flight_tracker/flight_lifecycle.rs
Due: rust-fmt, rust-clippy, rust-test

refactor: eliminate duplicate UPDATE query branches in update_flight_landing
  src/flights_repo.rs
Due: rust-fmt, rust-clippy, rust-test

fix: separate console output and tokio-console trace filtering
  src/fix_processor.rs
  src/main.rs
Due: rust-fmt, rust-clippy, rust-test

feat: refine active state definition for fixes without altitude data
  src/flight_tracker/aircraft_tracker.rs
  src/flight_tracker/state_transitions.rs
Due: rust-fmt, rust-clippy, rust-test

refactor: remove duplicate should_be_active method (dead code)
  src/flight_tracker/aircraft_tracker.rs
  src/flight_tracker/state_transitions.rs
Due: rust-fmt, rust-clippy, rust-test

perf: add GDAL Dataset cache to eliminate repeated file opens
  src/elevation.rs
Due: rust-fmt, rust-clippy, rust-test

chore: update systemd service documentation and disable archive timer
  soar-archive.service
  soar-pull-data.service
  soar-run.service
  soar-sitemap.service
  soar-web.service
  soar.target
Due: none

refactor: centralize receiver identification and APRS message insertion
  src/aprs_client.rs
  src/fix_processor.rs
  src/lib.rs
  src/main.rs
  src/packet_processors/aircraft.rs
  src/packet_processors/generic.rs
  src/packet_processors/mod.rs
  src/packet_processors/position.rs
  src/packet_processors/receiver_position.rs
  src/packet_processors/receiver_status.rs
  src/packet_processors/router.rs
Due: rust-fmt, rust-clippy, rust-test

feat: configure GDAL with larger cache settings for elevation database
  src/elevation.rs
Due: rust-fmt, rust-clippy, rust-test

docs: add branch protection rules to prevent direct commits to main
  CLAUDE.md
Due: none

feat: remove VARCHAR length limits from devices table
  migrations/2025-10-23-180736-0000_remove_devices_varchar_length_limits/down.sql
  migrations/2025-10-23-180736-0000_remove_devices_varchar_length_limits/up.sql
  src/schema.rs
Due: rust-fmt, rust-clippy, rust-test

fix: correct airports upsert to use ident instead of id
  src/airports_repo.rs
Due: rust-fmt, rust-clippy, rust-test

feat: redesign front page with 6-column grid layout
  web/src/routes/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: use 'Unknown' for devices without registration instead of refusing to persist
  web/src/lib/services/DeviceRegistry.ts
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: persist null registration and display 'Unknown' in UI
  web/src/lib/services/DeviceRegistry.ts
  web/src/routes/airports/[id]/+page.svelte
  web/src/routes/devices/+page.svelte
  web/src/routes/devices/[id]/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

feat: add elevation-service systemd integration
  README.md
  infrastructure/elevation-service.service
  provision
Due: none

docs: add elevation data download instructions
  README.md
Due: none

feat: replace GDAL elevation with HTTP elevation-service
  Cargo.lock
  Cargo.toml
  src/elevation.rs
  src/lib.rs
  src/main.rs
  src/tile_downloader.rs
Due: rust-fmt, rust-clippy, rust-test, cargo-audit

feat: add elevation service metrics to Grafana dashboard
  infrastructure/grafana-dashboard.json
Due: none

remove unnecessary async
  src/fix_processor.rs
Due: rust-fmt, rust-clippy, rust-test

docs: correct elevation data path and size
  README.md
Due: none

fix: dont fail in ci if data not available
  tests/elevation_test.rs
Due: rust-fmt, rust-clippy, rust-test

fix: remove unnecessary tokio::spawn calls to prevent task accumulation
  src/fix_processor.rs
  src/flight_tracker/state_transitions.rs
  src/main.rs
  src/nats_publisher.rs
Due: rust-fmt, rust-clippy, rust-test

refactor: simplify process_aprs_packet by removing unnecessary async move wrapper
  src/fix_processor.rs
Due: rust-fmt, rust-clippy, rust-test

fix: skip elevation tests when service unavailable in CI
  tests/elevation_test.rs
Due: rust-fmt, rust-clippy, rust-test

fix: skip all elevation tests when service unavailable
  tests/elevation_test.rs
Due: rust-fmt, rust-clippy, rust-test

fix: add coordinate validation to elevation lookup
  src/elevation.rs
Due: rust-fmt, rust-clippy, rust-test

refactor: rename elevation_egm2008 to elevation_at
  src/elevation.rs
  src/flight_tracker/altitude.rs
  tests/elevation_test.rs
Due: rust-fmt, rust-clippy, rust-test

feat: link devices to clubs and aircraft during pull-data
  src/loader/device_linking.rs
  src/loader/mod.rs
Due: rust-fmt, rust-clippy, rust-test

fix: space out homepage navigation tiles to fill viewport
  web/src/routes/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

fix: increase spacing between homepage navigation tiles
  web/src/routes/+page.svelte
Due: web-format, web-lint, web-type-check, web-test, web-build

Path conditions:
  web-install-deps: any of: ^web/(package\.json|package-lock\.json)$
  web-format: any of: ^web/.*\.(js|ts|svelte)$
  web-lint: any of: ^web/.*\.(js|ts|svelte)$
  web-type-check: any of: ^web/.*\.(js|ts|svelte)$
  web-test: any of: ^web/.*\.(js|ts|svelte)$
  web-build: any of: ^web/.*\.(js|ts|svelte)$
  rust-fmt: any of: \.rs$
  rust-clippy: any of: \.rs$
  rust-test: any of: \.rs$
  cargo-audit: any of: ^(Cargo\.toml|Cargo\.lock)$
